Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref: Convert SentryDispatchSourceWrapper to Swift (#6151)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestDispatchFactory.swift
  SentryTestUtils/TestDispatchSourceWrapper.swift
  Sources/Sentry/SentryDispatchFactory.m
  Sources/Sentry/SentryDispatchSourceWrapper.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/include/SentryDispatchFactory.h
  Sources/Sentry/include/SentryDispatchSourceProviderProtocol.h
  Sources/Sentry/include/SentryDispatchSourceWrapper.h
  Sources/Swift/Helper/SentryDispatchSourceWrapper.swift
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
  Tests/SentryTests/Networking/SentryDispatchFactoryTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Move deserialization to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Sources/Sentry/include/SentryHttpTransport.h
  Sources/Sentry/include/SentryMigrateSessionInit.h
  Sources/Sentry/include/SentrySerialization.h
  Sources/Sentry/include/SentrySystemEventBreadcrumbs.h
  Sources/Swift/Helper/DataDesrialization.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/DataSentryTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/FileManagerTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Networking/SentryTransportFactoryTests.swift
  Tests/SentryTests/Networking/SentryTransportInitializerTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

Add test plan
  Plans/Sentry_TestServer.xctestplan
  Plans/SwiftUITestSample_Envelope.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryTestServerTests.xcscheme
  SentryTestServerTests/SentryNetworkTrackerIntegrationTestServerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

add test plan to xcodebuild script
  scripts/sentry-xcodebuild.sh
Due: none

chore: Change API stability back to 16.4
  .github/workflows/api-stability.yml
Due: none

add unit-tests-with-test-server
  .github/workflows/test.yml
Due: none

fix test plan
  scripts/sentry-xcodebuild.sh
Due: none

skip code coverage
  .github/workflows/test.yml
Due: none

PR feedback
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Swift/Helper/DataDeserialization.swift
  Tests/Perf/metrics-test.yml
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift

fix
  .github/workflows/test.yml
Due: none

set objectVersion back to 55
  Sentry.xcodeproj/project.pbxproj
Due: none

fix
  Sentry.xcodeproj/project.pbxproj
Due: none

ref: Move deserialization to Swift (#6162)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Sources/Sentry/include/SentryHttpTransport.h
  Sources/Sentry/include/SentryMigrateSessionInit.h
  Sources/Sentry/include/SentrySerialization.h
  Sources/Sentry/include/SentrySystemEventBreadcrumbs.h
  Sources/Swift/Helper/DataDeserialization.swift
  Tests/Perf/metrics-test.yml
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/DataSentryTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/FileManagerTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Networking/SentryTransportFactoryTests.swift
  Tests/SentryTests/Networking/SentryTransportInitializerTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

fix
  .github/workflows/test.yml
  Sentry.xcodeproj/xcshareddata/xcschemes/Sentry.xcscheme
Due: none

add test plan
  scripts/sentry-xcodebuild.sh
Due: none

undo changes
  Plans/Sentry_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
Due: none

adding plan again
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/Sentry.xcscheme
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

fix
  scripts/sentry-xcodebuild.sh
Due: none

fix fix fix
  Plans/Sentry_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/Sentry.xcscheme
Due: none

skip test plan
  scripts/sentry-xcodebuild.sh
Due: none

fix gain
  scripts/sentry-xcodebuild.sh
Due: none

move testGetRequest_CompareSentryTraceHeader
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

migrate more tests
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

add matrix
  .github/workflows/test.yml
Due: none

comment
  .github/workflows/test.yml
Due: none

stupic cursor
  .github/workflows/test.yml
Due: none

fix: Potential app launch hang caused by the SDK
  CHANGELOG.md
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFields.h
Due: format-markdown

remove more occurrences
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitorContext.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
Due: none

ref: ANRIntegration depContainer thread inspector
  Sources/Sentry/SentryANRTrackingIntegration.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

test: Improve testResumeAndPauseAppHangTracking
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

fix: Potential app launch hang caused by the SDK (#6181)
  CHANGELOG.md
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitorContext.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFields.h
Due: format-markdown

Cursor feedback
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

chore: Refine sed command for binaryTarget removal
  .github/actions/prepare-package.swift/action.yml
Due: none

ref: Envelope deserialization to Swift
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/SentryEnvelopeItemHeader.h
  Sources/Sentry/SentryAttachment.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/SentryAttachment+Private.h
  Sources/Sentry/include/SentrySerialization.h
  Sources/Swift/Helper/DataDeserialization.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentryMigrateSessionInitTests.m
  Tests/SentryTests/Helper/SentrySerializationNilTests.m
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ci: Explain why no unit tests on macCatalyst 26 (#6175)
  .github/workflows/test.yml
Due: none

test: Improve testResumeAndPauseAppHangTracking (#6184)
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

test: Enable logs for sample apps
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/ErrorsViewController.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

ref: ANRIntegration depContainer thread inspector (#6182)
  Sources/Sentry/SentryANRTrackingIntegration.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
