Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

docs: fix README to match sample code (no Sentry-Swift.h import)
  Samples/iOS-ObjectiveCpp-NoModules/README.md
Due: format-markdown

fix(profiling): Remove DEBUG from launch profiling guard
  .swiftlint.yml
  Sources/Sentry/SentryProfiler.mm
  develop-docs/OBJC-LOAD-AND-LINKING.md
Due: format-markdown

Fixes
  Sources/Swift/Core/Tools/SentrySDKLog.swift
Due: format-swift

fix(profiling): Silence launch profiling logs in sandboxed environments
  SentryTestUtils/Headers/SentryFileManager+Test.h
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/include/SentryFileManagerHelper.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationObjCTests.m
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
  develop-docs/OBJC-LOAD-AND-LINKING.md
Due: format-swift, format-markdown

update changelog
  CHANGELOG.md
Due: format-markdown

fix: Capture instance and class method `[NSApplication _crashOnException]` exceptions
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryUncaughtNSExceptions.m
  Sources/Sentry/include/SentryCrashExceptionApplicationHelper.h
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Sentry/include/SentryUncaughtNSExceptions.h
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryUncaughtNSExceptionsTests.swift
  Tests/SentryTests/SentryCrashExceptionApplicationTests.swift
Due: format-swift

chore(core): Update C++ rationale in SDK history with Indragie's feedback
  develop-docs/SDK_HISTORY.md
Due: format-markdown

chore(core): Add SDK history doc (#7505)
  develop-docs/README.md
  develop-docs/SDK_HISTORY.md
Due: format-markdown

feat: Add iOS-ObjectiveCpp-NoModules sample reproducing #4543 (#7433)
  .gitignore
  Makefile
  Samples/iOS-ObjectiveCpp-NoModules/README.md
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.xcconfig
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.yml
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/AppDelegate.h
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/Info.plist
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/ViewController.h
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/ViewController.mm
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.entitlements
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules/main.mm
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-markdown

add cl entry
  CHANGELOG.md
Due: format-markdown

fix(test): Use unique temp directory per test class
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationObjCTests.m
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
Due: format-swift

Making `setOutput` in `SentrySDKLog.swift` public to make it possible to forward logs to the JS console (#7444)
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/PrivateSentrySDKOnly.h
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
  sdk_api.json
Due: format-swift

fix: Address PR review feedback
  .gitignore
  Samples/macOS-CLI/.gitignore
  Samples/macOS-CLI/Package.swift
  Sources/Sentry/SentryFileManagerHelper.m
Due: format-swift

Add tests
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

chore(ci): Update CI configurations to use runner concurrency groups
  .github/workflows/fast-pr-checks.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

fix: Don't report NSException subclasses as C++ exceptions (#7420)
  CHANGELOG.md
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_CppException_Tests.mm
Due: format-markdown

Re add run_on_cirrus_labs
  .github/workflows/fast-pr-checks.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

Add window.makeKeyAndVisible() so the window is active and the view hierarchy is established
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

Writing/style fixes
  CHANGELOG.md
  Sources/Swift/HangTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift, format-markdown

ref(ci): Use `low-priority` label for CI unless running on main or release branches
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

Add new tests
  Sources/Swift/HangTracker.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift

fix: Use different fallback for when MetricKit does not have file path
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
Due: format-swift, format-markdown

PR feedback
  CHANGELOG.md
  Tests/Resources/MetricKitCallstacks/per-thread-nil-package.json
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift, format-markdown, format-json

docs(phase-03): complete phase execution
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03-objc-isolation/03-VERIFICATION.md
Due: format-markdown

docs(04-verification): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-verification/04-01-PLAN.md
Due: format-markdown

docs(04-verification): create verification phase plan
  .planning/phases/04-verification/04-01-PLAN.md
Due: format-markdown

plan(phase-5): add documentation plan for SentryCrashBridge facade pattern
  .planning/ROADMAP.md
  .planning/phases/05-documentation/05-01-PLAN.md
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
Due: format-swift, format-markdown

Remove planning docs
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  .planning/config.json
  .planning/phases/01-facade-design-implementation/01-01-PLAN.md
  .planning/phases/01-facade-design-implementation/01-01-SUMMARY.md
  .planning/phases/01-facade-design-implementation/01-02-PLAN.md
  .planning/phases/01-facade-design-implementation/01-02-SUMMARY.md
  .planning/phases/01-facade-design-implementation/01-RESEARCH.md
  .planning/phases/01-facade-design-implementation/01-VERIFICATION.md
  .planning/phases/02-swift-isolation/02-01-PLAN.md
  .planning/phases/02-swift-isolation/02-01-SUMMARY.md
  .planning/phases/02-swift-isolation/02-02-PLAN.md
  .planning/phases/02-swift-isolation/02-02-SUMMARY.md
  .planning/phases/02-swift-isolation/02-RESEARCH.md
  .planning/phases/02-swift-isolation/02-VERIFICATION.md
  .planning/phases/03-objc-isolation/03-01-PLAN.md
  .planning/phases/03-objc-isolation/03-01-SUMMARY.md
  .planning/phases/03-objc-isolation/03-02-PLAN.md
  .planning/phases/03-objc-isolation/03-02-SUMMARY.md
  .planning/phases/03-objc-isolation/03-03-PLAN.md
  .planning/phases/03-objc-isolation/03-03-SUMMARY.md
  .planning/phases/03-objc-isolation/03-RESEARCH.md
  .planning/phases/03-objc-isolation/03-VERIFICATION.md
  .planning/phases/04-verification/04-01-PLAN.md
  .planning/phases/05-documentation/05-01-PLAN.md
Due: format-markdown, format-json

Linting add back #if os(iOS) || os(tvOS)
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

fix: Use different fallback for when MetricKit does not have file path (#7473)
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Tests/Resources/MetricKitCallstacks/per-thread-nil-package.json
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift, format-markdown, format-json

Access view to ensure it's loaded (triggers loadView() if view is nil)
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

refactor(SentryDependencyContainer): implement lazy initialization for crashWrapper and extraContextProvider
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
Due: format-swift

Some more tests
  Sources/Swift/HangTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift

Add more tests
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

fix: Preserve NSException reason over unrelated crash_info_message
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

docs: Add changelog entry for crash_info_message fix
  CHANGELOG.md
Due: format-markdown

fix: Also exclude user-reported exceptions from crash_info_message override
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

fix: address PR feedback for launch profiling config
  Samples/macOS-CLI/Makefile
  Sources/Sentry/SentryFileManagerHelper.m
Due: none

fix: ensure launch profile config directory exists in test helper
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
