Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

chore: Remove v2 perf option from v9 sdk
  CHANGELOG-v9.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ViewLifecycleUITests.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

Fix CI
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

chore: Remove v2 perf option from v9 sdk (#6332)
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  CHANGELOG-v9.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ViewLifecycleUITests.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

Remove enable tracing flag from V9
  CHANGELOG-v9.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

chore: Remove more deprecated APIs in V9
  CHANGELOG-v9.md
  CHANGELOG.md
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentryDsn.h
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/SentryDsn.m
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/Networking/SentryDsnTests.m
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift, format-markdown

ci: Only run test server on macOS
  .github/workflows/test.yml
Due: none

fix comment
  .github/workflows/test.yml
Due: none

WIP
  CHANGELOG.md
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-markdown

Move example to iOS-Swift app
  Samples/iOS-Swift/iOS-Swift.yml
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/ContentView.swift
Due: format-swift

Structured Logs: Move options out of experimental
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

bump depolyment targets for senryswiftlog target
  Sentry.xcodeproj/project.pbxproj
Due: none

add cl entry
  CHANGELOG.md
Due: format-markdown

chore: Some decodable updates for V9
  CHANGELOG-v9.md
  CHANGELOG.md
  Sources/Sentry/SentryUser.m
  Sources/Swift/Protocol/Codable/SentryUserCodable.swift
  Tests/SentryTests/Persistence/SentryScopePersistentStoreTests.swift
  Tests/SentryTests/Protocol/SentryUserTests.swift
Due: format-swift, format-markdown

re-gen public api def
  sdk_api.json
Due: none

WIP
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

fix(session-replay): Update rendering method for fast view renderering
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

pr review
  .github/workflows/test.yml
Due: none

chore: Some decodable updates for V9 (#6357)
  CHANGELOG-v9.md
  CHANGELOG.md
  Sources/Sentry/SentryUser.m
  Sources/Swift/Protocol/Codable/SentryUserCodable.swift
  Tests/SentryTests/Persistence/SentryScopePersistentStoreTests.swift
  Tests/SentryTests/Protocol/SentryUserTests.swift
Due: format-swift, format-markdown

chore: Remove more v9 codable
  Sources/Swift/Protocol/Codable/SentryEventCodable.swift
Due: format-swift

Add missing import
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

chore: Remove more codable v9 checks
  Sources/Sentry/Public/SentryThread.h
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryGeo.m
  Sources/Sentry/SentryThread.mm
  Sources/Swift/Protocol/Codable/SentryBreadcrumbCodable.swift
  Sources/Swift/Protocol/Codable/SentryEventCodable.swift
  Sources/Swift/Protocol/Codable/SentryExceptionCodable.swift
  Sources/Swift/Protocol/Codable/SentryFrameCodable.swift
  Sources/Swift/Protocol/Codable/SentryGeoCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismMetaCodable.swift
  Sources/Swift/Protocol/Codable/SentryMessage.swift
  Sources/Swift/Protocol/Codable/SentryNSErrorCodable.swift
  Sources/Swift/Protocol/Codable/SentryRequestCodable.swift
  Sources/Swift/Protocol/Codable/SentryStacktraceCodable.swift
  Sources/Swift/Protocol/Codable/SentryThreadCodable.swift
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
  Tests/SentryTests/Protocol/SentryDebugMetaTests.swift
  Tests/SentryTests/Protocol/SentryExceptionTests.swift
  Tests/SentryTests/Protocol/SentryFrameTests.swift
  Tests/SentryTests/Protocol/SentryGeoTests.swift
  Tests/SentryTests/Protocol/SentryMechanismMetaTests.swift
  Tests/SentryTests/Protocol/SentryMechanismTests.swift
  Tests/SentryTests/Protocol/SentryMessageTests.swift
  Tests/SentryTests/Protocol/SentryNSErrorTests.swift
  Tests/SentryTests/Protocol/SentryRequestTests.swift
  Tests/SentryTests/Protocol/SentryStacktraceTests.swift
  Tests/SentryTests/Protocol/SentryThreadTests.swift
Due: format-swift

ci: Only run test server on macOS (#6350)
  .github/workflows/test.yml
Due: none

Fix typo
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

fix(session-replay): Update rendering method for fast view rendering (#6360)
  CHANGELOG.md
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
Due: format-swift, format-markdown

chore: Use final where possible
  CHANGELOG.md
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Core/Integrations/Performance/SentryProfileOptions.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackThemeConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Protocol/Codable/SentryEventDecoder.swift
  Sources/Swift/SentryExperimentalOptions.swift
  sdk_api.json
Due: format-swift, format-markdown

chore: Remove more codable v9 checks (#6363)
  Sources/Sentry/Public/SentryThread.h
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryGeo.m
  Sources/Sentry/SentryThread.mm
  Sources/Swift/Protocol/Codable/SentryBreadcrumbCodable.swift
  Sources/Swift/Protocol/Codable/SentryEventCodable.swift
  Sources/Swift/Protocol/Codable/SentryExceptionCodable.swift
  Sources/Swift/Protocol/Codable/SentryFrameCodable.swift
  Sources/Swift/Protocol/Codable/SentryGeoCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismMetaCodable.swift
  Sources/Swift/Protocol/Codable/SentryMessage.swift
  Sources/Swift/Protocol/Codable/SentryNSErrorCodable.swift
  Sources/Swift/Protocol/Codable/SentryRequestCodable.swift
  Sources/Swift/Protocol/Codable/SentryStacktraceCodable.swift
  Sources/Swift/Protocol/Codable/SentryThreadCodable.swift
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
  Tests/SentryTests/Protocol/SentryDebugMetaTests.swift
  Tests/SentryTests/Protocol/SentryExceptionTests.swift
  Tests/SentryTests/Protocol/SentryFrameTests.swift
  Tests/SentryTests/Protocol/SentryGeoTests.swift
  Tests/SentryTests/Protocol/SentryMechanismMetaTests.swift
  Tests/SentryTests/Protocol/SentryMechanismTests.swift
  Tests/SentryTests/Protocol/SentryMessageTests.swift
  Tests/SentryTests/Protocol/SentryNSErrorTests.swift
  Tests/SentryTests/Protocol/SentryRequestTests.swift
  Tests/SentryTests/Protocol/SentryStacktraceTests.swift
  Tests/SentryTests/Protocol/SentryThreadTests.swift
Due: format-swift

PR comments
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Fix linter
  CHANGELOG.md
Due: format-markdown

test: Disable flaky test SentrySDKInternalTests.testResumeAndPauseAppHangTracking()
  Plans/Sentry_Base.xctestplan
Due: none

chore: Add tests for SentryCrashContext
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext_Apple.h
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: none

fix: Crashed thread is included in the thread list, and fix memory deallocation
  CHANGELOG.md
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: format-markdown

Undo changes
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
Due: none

fix: Fix thread deallocation
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
Due: none

chore: Use final where possible (#6365)
  CHANGELOG.md
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Core/Integrations/Performance/SentryProfileOptions.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackThemeConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Protocol/Codable/SentryEventDecoder.swift
  Sources/Swift/SentryExperimentalOptions.swift
  sdk_api.json
Due: format-swift, format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
