Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix(ci): quote IOS_DEVICE_NAME / IOS_SIMULATOR_OS in xcodebuild calls
  .github/workflows/build.yml
Due: none

Simplify listenersCount calculation in SentryFramesTracker
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
Due: format-swift

fix(ci): match latest installed runtime for the selected Xcode SDK
  scripts/ci-select-xcode.sh
Due: none

chore(api): Regenerate sdk_api.json
  sdk_api.json
Due: none

fix(ci): ensure swiftc command does not abort script on first launch delay
  scripts/ci-select-xcode.sh
Due: none

Fix RN
  .github/workflows/test-cross-platform.yml
Due: none

Undo swiftc
  scripts/ci-select-xcode.sh
Due: none

fix(ci): enhance simulator OS resolution to handle null versions
  scripts/ci-select-xcode.sh
Due: none

More logs
  scripts/ci-select-xcode.sh
Due: none

chore: Fix sdk_api.json
  sdk_api.json
Due: none

Apply suggestions from code review
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
Due: format-swift

Fix device name selection
  scripts/ci-select-xcode.sh
Due: none

feat(network-details): Introduce new swizzling to capture response bodies for session replay (#7584)
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
  sdk_api.json
Due: format-swift

fix: race in SentryFramesTracker listeners (#7839)
  CHANGELOG.md
  SentryTestUtils/Sources/TestNSNotificationCenterWrapper.swift
  SentryTestUtils/Sources/WeakReference.swift
  SentryTestUtilsTests/Sources/TestNSNotificationCenterWrapperTests.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Sources/Swift/Helper/WeakReference.swift
Due: format-swift, format-markdown

feat(metrics)!: Promote experimental options to be generally available (#7843)
  AGENTS.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentryAttributeContent.swift
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
Due: format-swift, format-markdown

chore: Fix sdk_api.json (#7849)
  sdk_api.json
Due: none

ref: Address CWE-676 use of potentially dangerous functions
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentrySessionReplaySyncC.c
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFixer.c
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/SentryCrash/Recording/Tools/SentryCrashObjC.c
  Sources/SentryCrash/Recording/Tools/SentryCrashSysCtl.c
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashReportStore_Tests.m
Due: format-swift

ref: Expand CWE-676 comments and add malformed-filename test
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentrySessionReplaySyncC.c
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFixer.c
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/SentryCrash/Recording/Tools/SentryCrashObjC.c
  Sources/SentryCrash/Recording/Tools/SentryCrashSysCtl.c
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashReportStore_Tests.m
Due: format-swift

ref(SentryObjC): Route SDK control flow through bridge
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/SentryMetricsApiImpl.m
  Sources/SentryObjC/SentrySDK.m
  Sources/SentryObjCBridge/SentryObjCBridge.swift
  Sources/SentryObjCTypes/Public/SentryObjCBridging.h
  Sources/SentryObjCTypes/Public/SentryObjCTypes.h
  develop-docs/SENTRY-OBJC.md
Due: format-swift, format-markdown

fix(scripts): include main SDK headers on extract-objc-api.sh -I path
  scripts/extract-objc-api.sh
  sdk_api_objc.json
Due: none

review-feedback: remove if/else
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

review-comment: Correctly handle utf-8 truncation within multi-byte boundaries
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

feat(network-details): Handle non-text body content types
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

review-comment: document maxBodySize constant
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

review-comment: Fix form-urlencoded percent-decoding fallback
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

feat(network-details): Extract headers
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsHeaderTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

fix: Guard UTType usage with macOS 11 availability check
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

review-comment: Extract charset from Content-Type header
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

review-comment: Use correct contentType when json decoding fails
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

feat(network-details): Extract network bodies
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

review-comment: Use XCTUnwrap and Data(_:) in body tests
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

review-comment: Don't use URLComponent to parse application/x-www-form-urlencoded
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

cleanup changelog
  CHANGELOG.md
Due: format-markdown

feat(network-details): Implement header and body extraction (#7585)
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsHeaderTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

ref: decouple VC swizzling from BinaryImageCache (#7821)
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

fix(SentryObjC): Make re-exported headers standalone
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryAttachment.h
  Sources/Sentry/Public/SentryBreadcrumb.h
  Sources/Sentry/Public/SentryDebugMeta.h
  Sources/Sentry/Public/SentryError.h
  Sources/Sentry/Public/SentryEvent.h
  Sources/Sentry/Public/SentryException.h
  Sources/Sentry/Public/SentryFrame.h
  Sources/Sentry/Public/SentryGeo.h
  Sources/Sentry/Public/SentryHttpStatusCodeRange.h
  Sources/Sentry/Public/SentryMeasurementUnit.h
  Sources/Sentry/Public/SentryMechanism.h
  Sources/Sentry/Public/SentryMechanismContext.h
  Sources/Sentry/Public/SentryMessage.h
  Sources/Sentry/Public/SentryNSError.h
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Sentry/Public/SentryRequest.h
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/Public/SentrySerializable.h
  Sources/Sentry/Public/SentrySpanContext.h
  Sources/Sentry/Public/SentrySpanProtocol.h
  Sources/Sentry/Public/SentryStacktrace.h
  Sources/Sentry/Public/SentryThread.h
  Sources/Sentry/Public/SentryTraceContext.h
  Sources/Sentry/Public/SentryTraceHeader.h
  Sources/Sentry/Public/SentryTransactionContext.h
  Sources/Sentry/Public/SentryUser.h
  Sources/SentryObjC/Public/SentryDefines.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentrySpan.h
  scripts/extract-objc-api.sh
  sdk_api_objc.json
Due: none

Added warning to changelog
  CHANGELOG.md
Due: format-markdown

Use main branch for RN
  .github/workflows/test-cross-platform.yml
Due: none

Run generate api
  sdk_api.json
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
