Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ci: add workflow to mirror 3rd-party integrations
  .github/workflows/mirror-3rd-party-integrations.yml
Due: none

docs: fix repository URLs in 3rd-party integration READMEs
  3rd-party-integrations/SentryCocoaLumberjack/README.md
  3rd-party-integrations/SentryPulse/README.md
  3rd-party-integrations/SentrySwiftLog/README.md
  3rd-party-integrations/SentrySwiftyBeaver/README.md
Due: format-markdown

ci: exclude SentryDistribution from unrelated workflow filters (#8630)
  .github/file-filters.yml
  .github/workflows/test.yml
Due: none

test: Stabilize network envelope baselines
  Tests/SentryTests/Integrations/Performance/Network/NetworkEnvelopeBaseline.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

test: Mark ObjC profiling test as flaky
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

impr: Stream envelopes to disk
  CHANGELOG.md
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/include/SentryFileManagerHelper.h
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Helper/SentrySerializationSwift.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift, format-markdown

docs: Reference envelope streaming PR
  CHANGELOG.md
Due: format-markdown

fix: treat KSCrash alreadyInstalled error as success
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
Due: format-swift

fix: remove KSCrashInstallations import from test target to break dep cycle
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

chore: abstract KSCrash to protocols so testutils doesn't need to import it
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/KSCrashInstallerTests.swift
  Tests/SentryTests/Integrations/KSCrash/TestSentryKSCrashIntegration.swift
Due: format-swift

ref: rework the API to nest related types
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

feat: install KSCrash with production-safe monitors in SentryKSCrashIntegration
  SentryTestUtils/Sources/TestKSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

build: bump macOS deployment target to 10.15 for test targets only
  Tests/Configuration/SentryTests.xcconfig
Due: none

test(kscrash): rename tests to follow project naming convention
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

chore: correctly disable arm64e for mac catalyst builds
  Sources/Configuration/SentryKSCrash.xcconfig
Due: none

test(kscrash): revert Swift Testing conversion back to XCTest
  Tests/AGENTS.md
  Tests/Configuration/SentryTests.xcconfig
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift, format-markdown

changelog: add changelog for feature
  CHANGELOG_V10.md
Due: format-markdown

fix(kscrash): expose productionSafeMonitors as UInt to fix test build
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: update to use swift testing because the future is now
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift, format-markdown

feat: separate 'fatalDetected' into 'crashHandlerDetectedCrash'
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix: use CFBundleName instead of CFBundleIdentifier
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift

chore: mirror SentryCrash install path configuration
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

chore: remove unused membership exception
  Sentry.xcodeproj/project.pbxproj
Due: none

chore: wire into SentrySDK's crash status reporting
  Sources/Sentry/SentrySDKInternal.m
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

chore: sanitize file path in same way as SentryCrash (also fix name in tests)
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: reset state after tests
  SentryTestUtils/Sources/ClearTestState.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

chore: extract install path to helper function to centralize path building logic
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: don't clear test state on setup & tear down
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

ref: extract installer to local variable
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift

chore: track installed status at the crash subsystem level
  Sources/Sentry/include/SentryCrash.h
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
Due: format-swift

lint: disable the rule (fixed in a follow up PR) as the semantics of internal imports are different than @_implementationOnly
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift

lint: appease the linting god for the rules hath changed under me
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
Due: format-swift

ref: extract the query & queryable types out of the SentryKSCrash nest
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Query.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+QueryTests.swift
Due: format-swift

chore: add structure for uninstalling (to be implemented in a later PR)
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

feat: Add SentryKSCrash+Query to expose crash handler state (swift) to ObjC (SDKInternal)
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Query.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

test: add test to cover setting fatalDetected
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: update tests to use new SentryKSCrash & SDKInternal API
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashQuery.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

tests: fix and add coverage
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+QueryTests.swift
Due: format-swift

chore: add back missing spi annotations
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Query.swift
Due: format-swift

chore: add readonly attribute to property
  Sources/Sentry/include/SentrySDK+Private.h
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+QueryTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
