Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref: Use SentrySpan protocol in app start spans
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
Due: none

test: Add standalone app start span building tests
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

fix: Mark app start measurement as read in standalone path
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

ref: Pass app start measurement via tracer configuration
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTracerConfiguration.h
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

test: Assert span names and operations in standalone test
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

test: Improve standalone app start global measurement test
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

feat: Guard standalone app start transaction on SDK enabled
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

feat: Add changelog entry for standalone app start tracing
  CHANGELOG.md
Due: format-markdown

ref: Reference SentryAppStartMeasurementProvider in comment
  Sources/Sentry/include/SentryTracerConfiguration.h
Due: none

ref: Log error for unknown app start type
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

ref: Move SDK enabled guard to top of handle method
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

fix: Remove trailing commas unsupported by CI Swift version
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
Due: format-swift

ref: Log error for unknown app start type in span builder
  Sources/Sentry/SentryBuildAppStartSpans.m
Due: none

ref: Clarify markAsRead comment as safeguard
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
Due: none

test: Add integration tests for standalone app start
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

test: Add tests for AppStartMeasurementHandler
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

ref: Simplify unknown app start type log message
  Sources/Sentry/SentryBuildAppStartSpans.m
Due: none

ref: Extract AppStartMeasurementHandler into own file
  Sources/Swift/Integrations/AppStartTracking/AppStartMeasurementHandler.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

ref: Split sentryBuildAppStartSpans into two methods
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

ref: Simplify unknown app start type log in Swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

fix: Add visionOS to platform guards in clearTestState
  SentryTestUtils/Sources/ClearTestState.swift
Due: format-swift

test: Add span validation for standalone app start
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

fix: Fix flaky tests by restoring clearTestState and using serialized data
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

test: Add missing import for _SentryPrivate
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

test: Replace clearTestState with targeted cleanup
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

ref: address PR review comments
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartMeasurementHandlerTests.swift
Due: format-swift

feat: Track standalone app start tracing in enabled features
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

build: update public API after adding experimental option
  sdk_api.json
Due: none

ref: Extract getAppStartMeasurement into SentryAppStartMeasurementProvider (#7655)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryTracer+Test.h
  Tests/ThreadSanitizer.sup
Due: format-swift

revert: Remove thread safety changes extracted to PR #7672
  Sources/Sentry/SentryNSExceptionCaptureHelper.m
Due: none

fix(objc): Address critical review bot feedback
  .github/file-filters.yml
  Makefile
  Sources/SentryObjC/Public/SentryObjCMetricsApi.h
  Sources/SentryObjC/SentryObjCMetricsApi.m
  Sources/Swift/Protocol/SentryAttributeContent.swift
Due: format-swift

ref(samples): Restructure iOS-ObjectiveC sample (#7650)
  Plans/iOS-ObjectiveC_Base.xctestplan
  Samples/iOS-ObjectiveC/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC/App/Configurations/iOS-ObjectiveC.entitlements
  Samples/iOS-ObjectiveC/App/Configurations/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Tongariro.jpg
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.h
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.m
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.h
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.h
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/App/Sources/main.m
  Samples/iOS-ObjectiveC/UITests/Configurations/Info.plist
  Samples/iOS-ObjectiveC/UITests/Configurations/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/UITests/Resources/.gitkeep
  Samples/iOS-ObjectiveC/UITests/Sources/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  fastlane/Fastfile
Due: format-swift

ci: Skip macOS CLI check on release branches
  .github/workflows/build.yml
Due: none

ci: Skip macOS CLI check on release branches (#7673)
  .github/workflows/build.yml
Due: none

release: 9.7.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

update sdk json
  sdk_api.json
Due: none

update submodule
  CHANGELOG.md
Due: format-markdown

wip
  Makefile
  Package.swift
  Package@swift-6.1.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
