Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

chore: prohibit direct associated object access
  .swiftlint.yml
Due: none

style: remove double blank line in changelog
  CHANGELOG.md
Due: format-markdown

fix: cap view hierarchy serialization depth (#8292)
  CHANGELOG.md
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift, format-markdown

ref: Add Swift synchronized helper (#8504)
  Sources/Swift/Concurrency/Synchronized.swift
  Tests/SentryTests/Swift/Concurrency/SynchronizedTests.swift
Due: format-swift

feat: add typed associated object accessor
  Sources/Swift/Core/Helper/AssociatedObjectAccessor.swift
  Tests/SentryTests/Swift/Core/Helper/AssociatedObjectAccessorTests.swift
Due: format-swift

docs: Trim associated object accessor docs
  Sources/Swift/Core/Helper/AssociatedObjectAccessor.swift
Due: format-swift

ref: use typed associated objects for redaction
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Tests/SentryTests/ViewCapture/SentryRedactViewHelperTests.swift
Due: format-swift

fix: retain associated redaction values
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
Due: format-swift

test: Reproduce missing crash environment
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

fix: Persist environment in crash reports
  CHANGELOG.md
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
Due: format-swift, format-markdown

docs: Link crash environment changelog PR
  CHANGELOG.md
Due: format-markdown

feat: add typed associated object accessor (#8505)
  Sources/Swift/Core/Helper/AssociatedObjectAccessor.swift
  Tests/SentryTests/Swift/Core/Helper/AssociatedObjectAccessorTests.swift
Due: format-swift

chore: prohibit direct associated object access (#8508)
  .swiftlint.yml
Due: none

ref: use typed associated objects for redaction (#8507)
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Tests/SentryTests/ViewCapture/SentryRedactViewHelperTests.swift
Due: format-swift

fix: Persist environment in crash reports (#8511)
  CHANGELOG.md
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift, format-markdown

docs: Update CHANGELOG
  CHANGELOG.md
Due: format-markdown

docs: Update CHANGELOG (#8512)
  CHANGELOG.md
Due: format-markdown

release: 9.23.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

build: gate binary targets behind SDK_V10 env flag
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
Due: format-swift

chore: update Sentry binary targets to version 9.23.0
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
Due: format-swift

Remove unnecessary changes
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
Due: format-swift

refactor: clean up package script by removing binary products section
  scripts/prepare-package.sh
Due: none

refactor: streamline package script by removing binary targets section
  scripts/prepare-package.sh
Due: none

ci: verify no binary targets with SDK_V10 flag
  .github/workflows/build-v10.yml
Due: none

small fixes
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Samples/iOS-Swift/UITests/Sources/ProfilingUITests.swift
Due: format-swift

Keep @_implementationOnly for KSCrashInstallations (external dependency)
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
Due: format-swift

changelog
  CHANGELOG.md
Due: format-markdown

chore: remove unused imageIndexContainingAddress
  Sources/Sentry/include/SentryCrashDynamicLinker.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker+Test.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

ref: gate SubClassFinder to 64-bit archs
  HANDOFF-subclassfinder-fix.md
  REVIEW-PR-8457.md
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

ref: retype SpotlightTransport recordLostEvent to real enums
  SPOTLIGHT_TRANSPORT_SWIFT_CONVERSION.md
  Sources/Sentry/SentrySpotlightTransport.m
Due: format-markdown

ref: remove unused imageIndexContainingAddress (#8517)
  Sources/Sentry/include/SentryCrashDynamicLinker.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker+Test.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

docs: clarify SubClassFinder image-unload limitation
  HANDOFF-subclassfinder-fix.md
  REVIEW-PR-8457.md
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift, format-markdown

ref: convert SentrySpotlightTransport to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/include/SentrySpotlightTransport.h
  Sources/Swift/Networking/SentrySpotlightTransport.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: extract SentryImageClassProvider from wrapper
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Sources/Swift/Helper/SentryDefaultImageClassProvider.swift
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryImageClassProvider.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.h
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

docs: sync handoff and review with provider extraction
  HANDOFF-subclassfinder-fix.md
  REVIEW-PR-8457.md
Due: format-markdown

test: Reproduce broken manual trace propagation
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

fix: Propagate manually bound transaction trace
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

ref: remove unused imageIndexContainingAddress (#8517)
  .github/file-filters.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Helper/SentryTypedSwizzle.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Networking/URLSessionTask+AssociatedValues.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift
