Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

Rename `SentryExceptionWrapper` to `SentryNSExceptionWrapper`
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryNSExceptionWrapper.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/SentryNSExceptionWrapper.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

Fix a few SPM imports
  Sources/Sentry/SentryFeedbackAPI.m
  Sources/Sentry/include/SentrySwift.h
Due: none

Fix a few SPM imports (#5321)
  Sources/Sentry/SentryFeedbackAPI.m
  Sources/Sentry/include/SentrySwift.h
Due: none

Move sentry user access to include
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/SentryUserAccess.h
Due: none

Move sentry user access to include (#5323)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/SentryUserAccess.h
Due: none

Remove extra function
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
Due: format-swift

Commit API interface
  .github/workflows/api-stability.yml
  scripts/update-api.sh
  sdk_api.json
Due: format-json

Test change
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
Due: format-swift

PR feedback
  .github/workflows/api-stability.yml
  Makefile
  dprint.json
Due: format-json

Rebase
  sdk_api.json
Due: format-json

Commit API interface (#5311)
  .github/workflows/api-stability.yml
  Makefile
  dprint.json
  scripts/update-api.sh
  sdk_api.json
Due: format-json

Experimental options in Swift
  Sources/Sentry/Public/SentryEvent.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayEvent.swift
  sdk_api.json
Due: format-swift, format-json

remove trailing comma
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

fix errors after merge from main
  Makefile
  Sources/Sentry/include/SentrySwift.h
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessorTests.swift
Due: format-swift

fix conditional compiler flags
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift

chore: Makefile fix make format
  Makefile
Due: none

chore: Makefile fix make format (#5325)
  Makefile
Due: none

chore: Fix code formatting in SentrySwift.h
  Sources/Sentry/include/SentrySwift.h
Due: none

chore: Fix code formatting in SentrySwift.h (#5326)
  Sources/Sentry/include/SentrySwift.h
Due: none

fix testing of session tracker tests using autoreleasing
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestNSNotificationCenterWrapper.swift
  SentryTestUtilsTests/TestNSNotificationCenterWrapperTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
Due: format-swift

WIP
  Sources/Sentry/SentrySessionTracker.m
Due: none

refactor: Improve array element access and clean up session tracker tests
  SentryTestUtils/ArrayAccesses.swift
  Sources/Sentry/SentrySessionTracker.m
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

fix changelog
  CHANGELOG.md
Due: format-markdown

Move `captureCrashOnException` to SentrySDK+Private
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/include/SentrySDK+Private.h
Due: none

Rename `SentryNSExceptionWrapper` to `SentryUseNSExceptionCallstackWrapper`
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentryUseNSExceptionCallstackWrapper.m
  Sources/Sentry/include/SentryUseNSExceptionCallstackWrapper.h
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Improve `testCaptureSentryWrappedException` test to make sure stacktrace has the expected values
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

Add tests for `SentryUseNSExceptionCallstackWrapper`
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryUseNSExceptionCallstackWrapper.m
  Sources/Sentry/include/SentryUseNSExceptionCallstackWrapper.h
  Tests/SentryTests/Helper/SentryUseNSExceptionCallstackWrapperTests.swift
Due: format-swift

WIP: more wip
  SentryTestUtils/SentryLaunchProfiling+Tests.h
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/include/SentryProfiler+Private.h
Due: none

Add `SentryCrashExceptionApplicationHelper` to handle exception reporting and crashing logic + Test for the logic
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/SentryCrashExceptionApplicationHelper.h
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/include/SentryPrivate.h
  Tests/SentryTests/SentryCrashExceptionApplicationTests.swift
Due: format-swift

Exclude tests for non macos
  Tests/SentryTests/SentryCrashExceptionApplicationTests.swift
Due: format-swift

Move profiler header
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/SentryProfilerDefines.h
Due: none

Add thread info helper
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/SentryTransactionContext.m
  Sources/Sentry/ThreadInfoHelper.mm
  Sources/Sentry/include/ThreadInfoHelper.h
Due: none

Experimental options in Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/include/SentrySwift.h
  Sources/Swift/Helper/Options+Swift.swift
  sdk_api.json
Due: format-swift, format-json

Add more SPI
  Sources/Swift/Core/Helper/SentryBaggageSerialization.swift
  Sources/Swift/Core/Integrations/ANR/SentryANRTracker.swift
  Sources/Swift/Core/Integrations/ANR/SentryANRTrackerV2Delegate.swift
  Sources/Swift/Core/Integrations/ANR/SentryANRType.swift
  Sources/Swift/Core/SentryExperimentalOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayRecording.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Tests/SentryTests/Helper/SentryBaggageSerializationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1IntegrationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTypeTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationsIntegrationTests.swift
  sdk_api.json
Due: format-swift, format-json

Move profiler header (#5332)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/SentryProfilerDefines.h
Due: none

feat: Add context sanitization and new test for SentryScopeContextPersistentStore
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Persistence/SentryScopeContextPersistentStoreTests.swift
Due: format-swift

PR comments
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryThread.mm
  Sources/Sentry/SentryTransactionContext.m
  Sources/Sentry/ThreadInfoHelper.mm
  Sources/Sentry/include/SentryThread+Private.h
Due: none

add more context to deserialization validation logic
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
Due: format-swift

remove SentryDependencyContainer.createForTesting
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift

fix import of sanitize dictionary
  Sources/Sentry/include/SentryNSDictionarySanitize.h
  Sources/Sentry/include/SentryPrivate.h
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
