Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix test
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
Due: format-swift

fix fix fix
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
Due: format-swift

fix again
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
Due: format-swift

fix overflow
  Sources/Sentry/SentryDispatchFactory.m
  Sources/Sentry/include/SentryDispatchSourceProviderProtocol.h
  Sources/Swift/Helper/SentryDispatchSourceWrapper.swift
Due: format-swift

code review
  SentryTestUtils/TestDispatchSourceWrapper.swift
Due: format-swift

fix cursor feedback
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

build failure
  SentryTestUtils/TestDispatchFactory.swift
Due: format-swift

build failure
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
Due: format-swift

again fix
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

feat: Enhance SentryMsgPackSerializer with error handling and additional serialization tests
  Tests/SentryTests/SentryMsgPackSerializerTests.swift
Due: format-swift

refactor: Remove SentryMsgPackSerializer and migrate to Swift implementation
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryMsgPackSerializer.m
  Sources/Sentry/include/SentryMsgPackSerializer.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/MsgPack/Data+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/NSData+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/NSURL+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/SentryMsgPackSerializer.swift
  Sources/Swift/Tools/MsgPack/SentryMsgPackSerializerError.swift
  Sources/Swift/Tools/MsgPack/SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/URL+SentryStreamable.swift
  Tests/SentryTests/SentryMsgPackSerializerTests.swift
Due: format-swift

fix: Update keyData handling in SentryMsgPackSerializer to use try for error propagation
  Sources/Swift/Tools/MsgPack/SentryMsgPackSerializer.swift
Due: format-swift

fix again
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

remove catalyst
  .github/workflows/test.yml
Due: none

release: 8.56.0
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

chore: Add changes from alpha releases to v8.56.0 changelog
  CHANGELOG.md
Due: format-markdown

chore: Add changes from alpha releases to v8.56.0 changelog (#6166)
  CHANGELOG.md
Due: format-markdown

ci: Run unit tests on macOS and tvOS 26 (#6136)
  .github/workflows/test.yml
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  scripts/ci-select-xcode.sh
Due: format-swift

use NSInteger in metric profiler
  Sources/Sentry/SentryMetricProfiler.m
Due: none

one more
  Sources/Sentry/SentryMetricProfiler.m
Due: none

Update Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
Due: format-swift

Spelling
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

Debugging
  scripts/update-api.sh
Due: none

chore: Update API stability xcode
  .github/workflows/api-stability.yml
Due: none

Testing
  .github/workflows/api-stability.yml
  scripts/assemble-xcframework.sh
Due: none

Debugging
  .github/workflows/api-stability.yml
  scripts/build-xcframework-slice.sh
  scripts/update-api.sh
Due: none

Remove debugging
  scripts/assemble-xcframework.sh
  scripts/build-xcframework-slice.sh
  scripts/update-api.sh
Due: none

Update json
  sdk_api.json
  sdk_api_V9.json
Due: none

PR comment foxes
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

chore: Update API stability xcode (#6168)
  .github/workflows/api-stability.yml
  sdk_api.json
  sdk_api_V9.json
Due: none

feat(V9): Make performance V2 the default in V9
  CHANGELOG-v9.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift, format-markdown

Bump size to 955KB
  Tests/Perf/metrics-test.yml
Due: none

feat(V9): Make performance V2 the default in V9 (#6008)
  CHANGELOG-v9.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift, format-markdown

ref: Use a callback for SentryFileManager
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryHttpTransport.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/TestFileManagerDelegate.swift
Due: format-swift

Fix tests
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

ref: Use a callback for SentryFileManager (#6171)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryHttpTransport.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/TestFileManagerDelegate.swift
Due: format-swift

ci: Explain why no unit tests on macCatalyst 26
  .github/workflows/test.yml
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
