Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

feat: install KSCrash with production-safe monitors in SentryKSCrashIntegration
  SentryTestUtils/Sources/TestKSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

fix: remove KSCrashInstallations import from test target to break dep cycle
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

chore: abstract KSCrash to protocols so testutils doesn't need to import it
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/KSCrashInstallerTests.swift
  Tests/SentryTests/Integrations/KSCrash/TestSentryKSCrashIntegration.swift
Due: format-swift

fix: treat KSCrash alreadyInstalled error as success
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
Due: format-swift

ref: rework the API to nest related types
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: update to use swift testing because the future is now
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift, format-markdown

changelog: add changelog for feature
  CHANGELOG_V10.md
Due: format-markdown

chore: correctly disable arm64e for mac catalyst builds
  Sources/Configuration/SentryKSCrash.xcconfig
Due: none

build: bump macOS deployment target to 10.15 for test targets only
  Tests/Configuration/SentryTests.xcconfig
Due: none

test(kscrash): revert Swift Testing conversion back to XCTest
  Tests/AGENTS.md
  Tests/Configuration/SentryTests.xcconfig
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift, format-markdown

test(kscrash): rename tests to follow project naming convention
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

fix(kscrash): expose productionSafeMonitors as UInt to fix test build
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

chore: mirror SentryCrash install path configuration
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

chore: remove unused membership exception
  Sentry.xcodeproj/project.pbxproj
Due: none

chore: wire into SentrySDK's crash status reporting
  Sources/Sentry/SentrySDKInternal.m
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

feat: separate 'fatalDetected' into 'crashHandlerDetectedCrash'
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix: use CFBundleName instead of CFBundleIdentifier
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift

chore: sanitize file path in same way as SentryCrash (also fix name in tests)
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

feat: process pending KSCrash reports
  CHANGELOG_V10.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCrashReportProcessor.m
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/include/SentryCrashReportProcessor.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilter.swift
  Tests/SentryTests/CrashReporting/SentryCrashReportProcessorTests.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashReportSinkTests.swift
Due: format-swift, format-markdown

Rename SentryCrashReportProcessor to SentryStoredCrashReportProcessor
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryStoredCrashReportProcessor.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilter.swift
  Tests/SentryTests/CrashReporting/SentryStoredCrashReportProcessorTests.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  scripts/check-sentrycrash-imports.sh
Due: format-swift

ref: Add typed Swift swizzling
  AGENTS.md
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod+URLSessionTask.swift
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod.swift
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+URLSessionTask.swift
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleTests.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodTests.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodURLSessionTaskTests.swift
  develop-docs/AGENTS.md
  develop-docs/README.md
  develop-docs/SWIZZLING.md
Due: format-swift, format-markdown

fix: log instead of trap on swizzle receiver mismatch
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+URLSessionTask.swift
Due: format-swift

docs: explain swizzling @available-gated view controllers
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
Due: format-swift

docs: track gated-class behavior and provider extraction
  HANDOFF-subclassfinder-fix.md
  REVIEW-PR-8457.md
Due: format-markdown

ref: convert SentrySpotlightTransport to Swift (#8521)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/include/SentrySpotlightTransport.h
  Sources/Swift/Networking/SentrySpotlightTransport.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

test(kscrash): expand crash E2E migration coverage
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
Due: format-swift

fix: Build network tracker with SPM
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
Due: format-swift

fix: forward original on void/state swizzle mismatch
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+URLSessionTask.swift
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleTests.swift
Due: format-swift

test: add SubClassFinder #8152 regression fixture
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

test: split URLSessionTask swizzle tests into own file
  Tests/SentryTests/Helper/SentryTypedSwizzleTests.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleURLSessionTasksTests.swift
Due: format-swift

ci: Rename label ready-to-merge to run-full-ci
  .github/dependabot.yml
  .github/workflows/build-v10-with-kscrash.yml
  .github/workflows/build-v10.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/run-full-ci-workflow.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-v10-with-kscrash.yml
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/xcode27-test.yml
  AGENTS.md
  develop-docs/AGENTS.md
  develop-docs/CI.md
Due: format-markdown

feat(data-collection): add filtering for headers and cookies in v10 (#8460)
  CHANGELOG_V10.md
  Sources/Sentry/Public/SentryRequest.h
  Sources/Sentry/SentryNetworkTracker.m
  Sources/SentryObjC/Public/SentryObjCRequest.h
  Sources/SentryObjCCompat/SentryObjCRequest.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizationResultObjC.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizerObjC.swift
  Sources/Swift/Protocol/Codable/SentryRequestCodable.swift
  Tests/SentryObjCTests/SentryObjCRequestTests.m
  Tests/SentryTests/HTTPHeaderSanitizerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Protocol/SentryRequestTests.swift
  Tests/SentryTests/Protocol/TestData.swift
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

test: reset state after tests
  SentryTestUtils/Sources/ClearTestState.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ci: remove Homebrew cache and let it auto-update
  .github/actions/cache-homebrew/action.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/size-analysis.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

fix: Remove coordinates from UI tap breadcrumbs
  CHANGELOG.md
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift, format-markdown

docs: Fix changelog PR reference
  CHANGELOG.md
Due: format-markdown

fix: Propagate manually bound transaction trace (#8522)
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

impr: Cover window breadcrumb, rename helper, add tests
  CHANGELOG.md
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift, format-markdown

ref: Mark getUIViewDescription as @_spi(Private)
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

test: Note security risk, drop redundant YES/NO checks
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift
