Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

chore: Remove duplicated lines (#6433)
  Sentry.podspec
Due: none

test: Disable test parallelization (#6436)
  Plans/Sentry_Base.xctestplan
Due: none

ref: Begin moving dependencies to Swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryTracer.h
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistWrapper.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistWrapperProvider.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentChecker.swift
Due: format-swift

ref: Convert SentryCrash to swift (#6438)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/SentryCrashInstallationReporter.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryUncaughtNSExceptions.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryCrashReportFilter.h
  Sources/Sentry/include/SentryCrashReportWriter.h
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/SentryCrash/Installations/SentryCrashInstallation+Private.h
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashReportTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryUncaughtNSExceptionsTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
  Tests/SentryTests/SentryCrashExceptionApplicationTests.swift
Due: format-swift

ref: Begin moving dependencies to Swift (#6442)
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryTracer.h
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistWrapper.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistWrapperProvider.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentChecker.swift
Due: format-swift

chore: Convert SentryFramesTracker to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestFramesTracker.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentryFramesTrackingIntegration.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/SentryFramesTracker.h
  Sources/Sentry/include/SentryContinuousProfiler.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryDelayedFramesTrackerWrapper.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Tests/SentryProfilerTests/SentryProfileTestFixture.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV2Tests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTracker+TestInit.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentrySpanTests.swift
Due: format-swift

Move slowFrameThreshold into SentryFramesTracker
  SentryTestUtils/TestDisplayLinkWrapper.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

ref: Convert ExtraContextProvider to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryExtraContextProvider.h
  Sources/Sentry/SentryExtraContextProvider.m
  Sources/Sentry/include/SentryCrashIntegration.h
  Sources/Sentry/include/SentryDeviceContextKeys.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryExtraContextProvider.swift
  Tests/SentryTests/Helper/SentryExtraContextProviderTests.swift
  Tests/SentryTests/SentryCrash/TestSentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix build in SPM
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
Due: none

Fix build in macOS
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
Due: none

ref: Convert ExtraContextProvider to Swift (#6445)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryExtraContextProvider.h
  Sources/Sentry/SentryExtraContextProvider.m
  Sources/Sentry/include/SentryCrashIntegration.h
  Sources/Sentry/include/SentryDeviceContextKeys.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryExtraContextProvider.swift
  Tests/SentryTests/Helper/SentryExtraContextProviderTests.swift
  Tests/SentryTests/SentryCrash/TestSentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix SPM build
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
Due: none

fix: Incorrect nullability in some dependencies
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryFileManagerHelper.h
  Sources/Sentry/include/SentryWatchdogTerminationBreadcrumbProcessor.h
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessor.swift
Due: format-swift

Updatye RN branch
  .github/workflows/test-cross-platform.yml
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
Due: format-swift

Fix merge issue
  Sources/Sentry/SentryDependencyContainer.m
Due: none

fix: Incorrect nullability in some dependencies (#6448)
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryFileManagerHelper.h
  Sources/Sentry/include/SentryWatchdogTerminationBreadcrumbProcessor.h
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessor.swift
Due: format-swift

Add comment
  .github/workflows/test.yml
Due: none

chore: Convert SentryFramesTracker to Swift (#6447)
  .github/workflows/test-cross-platform.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestDisplayLinkWrapper.swift
  SentryTestUtils/TestFramesTracker.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentryFramesTrackingIntegration.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/SentryFramesTracker.h
  Sources/Sentry/include/SentryContinuousProfiler.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryDelayedFramesTrackerWrapper.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Tests/SentryProfilerTests/SentryProfileTestFixture.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV2Tests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTracker+TestInit.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

ref: Refactor performance tracker swift version
  Sources/Sentry/SentryDefaultUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultUIViewControllerPerformanceTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Performance/SentryUIViewControllerPerformanceTracker.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

Save a screenshot on error
  .github/workflows/test.yml
Due: none

ref: Refactor performance tracker swift version (#6450)
  Sources/Sentry/SentryDefaultUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultUIViewControllerPerformanceTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Performance/SentryUIViewControllerPerformanceTracker.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

tests: Boot iOS26 simulator before running tests (#6435)
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  scripts/ci-boot-simulator.sh
  scripts/sentry-xcodebuild.sh
Due: none

ref: Refactor app state manager to not use protocol
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryWatchdogTerminationLogic.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/SentryAppState.swift
  Sources/Swift/SentryAppStateManager.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Helper/SentryAppStateTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

ref: Refactor app state manager to not use protocol (#6452)
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryWatchdogTerminationLogic.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/SentryAppState.swift
  Sources/Swift/SentryAppStateManager.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Helper/SentryAppStateTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

ci: Remove extra sample app builds from v8
  .github/workflows/build.yml
Due: none

build failure
  Samples/iOS-Swift/iOS-Swift-UITests/ViewLifecycleUITests.swift
Due: format-swift

fix on macos
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

fixes
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

fix frames tracker tests
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryOptions+Private.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

fix enabled features buider tests
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

update option
  Sources/Sentry/Public/SentryOptions.h
Due: none

ci: Remove extra sample app builds from v8 (#6456)
  .github/workflows/build.yml
Due: none

ref: Remove v9 checks for debug image provider
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestDebugImageProvider.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryDebugImageProvider.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDebugImageProviderInternal.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/SentryDebugImageProviderInternal.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/SentryCrash/SentryDebugImageProvider.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProvider+TestInit.h
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashBinaryImageProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

Fix multiple attachments support for feedback
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

ref: Remove v9 checks for debug image provider (#6454)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestDebugImageProvider.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryDebugImageProvider.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDebugImageProviderInternal.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/SentryDebugImageProviderInternal.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/SentryCrash/SentryDebugImageProvider.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProvider+TestInit.h
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashBinaryImageProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
Due: format-swift

fix compilation for macOS
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+EdgeCases.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+ReactNative.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SpecialViews.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+UIKit.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

chore: Retry booting simulator up to 5 times
  scripts/ci-boot-simulator.sh
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
