Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Convert `SentryAppStartTrackingIntegration` to swift (#7311)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackerHelper.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryAppStartMeasurement+Private.h
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryAppStartTrackerHelper.h
  Sources/Sentry/include/SentryAppStartTrackingIntegration.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: ObjC Integration cleanup (#7320)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryBaseIntegration.h
  Sources/Sentry/include/SentryFileIOTrackingIntegration.h
  Sources/Sentry/include/SentryIntegrationProtocol.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/SentryBaseIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  develop-docs/ARCHITECTURE.md
  develop-docs/CONVERTING_INTEGRATION_TO_SWIFT.md
Due: format-swift, format-markdown

refactor: Update SentryAttribute to use a generic array type
  Sources/Swift/Protocol/SentryAttribute.swift
  Sources/Swift/Protocol/SentryAttributeContent.swift
  Tests/SentryTests/Protocol/SentryAttributeTests.swift
  Tests/SentryTests/Protocol/SentryAttributeValueTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

docs: Update parameter description in SentryScope.h to include support for arrays
  Sources/Sentry/Public/SentryScope.h
Due: none

chore: Delete `SentryIntegrationProtocol.h`
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryReplayApi.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryIntegrationProtocol.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryTestIntegration.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Use `#import "SentrySwift.h"`
  Tests/SentryTests/Integrations/SentryCrash/SentryTestIntegration.h
Due: none

chore: Delete `SentryIntegrationProtocol.h` (#7327)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryReplayApi.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryIntegrationProtocol.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryTestIntegration.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

early return pattern
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException_StackCursor.m
Due: none

require at least one flallback stack frame
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_NSException_StackCursor_Tests.m
Due: none

fix cl
  CHANGELOG.md
Due: format-markdown

handle malloc failure in prod
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException_StackCursor.m
Due: none

remove duplicated docs
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException_StackCursor.m
Due: none

Expose metrics API to Objective-C
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetrics.swift
Due: format-swift

Update comments
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetrics.swift
Due: format-swift

Add counter increment
  Sources/Swift/Integrations/Metrics/SentryMetrics.swift
Due: format-swift

test: add tests for custom type array conversion
  Tests/SentryTests/Protocol/SentryAttributeValuableTests.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Fix missing docs
  Sources/Swift/Integrations/Metrics/SentryMetrics.swift
Due: format-swift

test: add tests for custom type array conversion (#7337)
  Tests/SentryTests/Protocol/SentryAttributeValuableTests.swift
Due: format-swift

fix: Distinguish concurrent crashes from recrash
  Sources/Sentry/include/SentryCrashMonitor.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_MachException.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
  Sources/SentryCrash/Recording/SentryCrashC.c
  Tests/SentryTests/Recording/SentryCrashCTests.swift
Due: format-swift

add cl entry
  CHANGELOG.md
Due: format-markdown

ref: Remove unnecessary @objcMembers and @objc annotations (#7305)
  Sources/Swift/Core/Integrations/ANR/SentryANRTrackerV2Delegate.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryDefaultViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Sources/Swift/Protocol/SentryLog.swift
Due: format-swift

chore: Update GA workflow to use reat native branch with v9
  .github/workflows/test-cross-platform.yml
Due: none

chore: Update GA workflow to use reat native branch with v9 (#7342)
  .github/workflows/test-cross-platform.yml
Due: none

ref: Fix AppKit linkage when building for macOS and NO_UIKIT is enabled
  Sources/Sentry/Public/SentryCrashExceptionApplication.h
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryUncaughtNSExceptions.m
  Sources/Sentry/include/SentryCrashExceptionApplicationHelper.h
  Sources/Sentry/include/SentryUncaughtNSExceptions.h
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/Perf/test-app-plain/test-app-plain/test_app_plainApp.swift
  Tests/Perf/test-app-sentry/test-app-sentry/test_app_sentryApp.swift
Due: format-swift

chore: Check AppKit linkage macOS
  .github/file-filters.yml
  .github/workflows/build.yml
  scripts/check-ui-framework-linkage.sh
  scripts/check-uikit-linkage.sh
Due: none

Fix typo
  .github/workflows/build.yml
Due: none

cleanup
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

code review
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
Due: format-swift

ref: Extract beforeSend from telemetry buffers
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferConfig.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
Due: format-swift

fix: Expose SentryOptionsInternal for hybrid SDKs
  Sources/Sentry/include/SentryPrivate.h
Due: none

fix
  Sources/Sentry/include/SentryPrivate.h
Due: none

chore: iPhone 16 Pro default in xcodebuild.sh
  scripts/sentry-xcodebuild.sh
Due: none

ref: Extract enabled check from LogBuffer
  Sources/Sentry/SentryClient.m
  Sources/Swift/Tools/SentryLogBuffer.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
Due: format-swift

Remove unused options parameter from SentryLogBuffer
  Sources/Sentry/SentryClient.m
  Sources/Swift/Tools/SentryLogBuffer.swift
Due: format-swift

ref: Extract scope logic from telemetry buffers (#7314)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferConfig.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferMetadata.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryItem.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeMetadata.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

ci: skip code signing for dependabot PRs
  .github/dependabot.yml
  .github/workflows/benchmarking.yml
  .github/workflows/testflight.yml
  fastlane/Fastfile
Due: none

chore: iPhone 16 Pro default in xcodebuild.sh (#7348)
  scripts/sentry-xcodebuild.sh
Due: none

backup
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDefaultTelemetryProcessorTransport.m
  Sources/Sentry/include/SentryClient+Logs.h
  Sources/Sentry/include/SentryDefaultTelemetryProcessorTransport.h
  Sources/Swift/Tools/SentryLogBuffer.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
Due: format-swift

apply feedback and fixes
  .github/workflows/benchmarking.yml
  .github/workflows/testflight.yml
  fastlane/Fastfile
Due: none
