Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

keep sample app in workspace; simplify make task
  Makefile
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

use simplified make task
  Makefile
Due: none

add new proj to workspace
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

fix broken source path and add new proj to workspace
  Samples/iOS13-Swift-UITests/Info.plist
  Samples/iOS13-Swift-UITests/LaunchUITest.swift
  Samples/iOS13-Swift.yml
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-swift

ci: add ui test run on macos 15 / xcode 16.3 (#5125)
  .github/workflows/ui-tests.yml
Due: none

put back fastfile references
  fastlane/Fastfile
Due: none

put back fastfile reference
  fastlane/Fastfile
Due: none

simplify ci call to make and build
  .github/workflows/build.yml
Due: none

refactor(session-replay): add separate method to get video info with more logging (#5132)
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift, format-markdown

fix(ci): add existence check for Benchmarking tab bar item
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
Due: none

fix(ci): change failing saucelabs step to marked as failed
  .github/workflows/benchmarking.yml
Due: none

revert out-of-scope changes
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests/LaunchUITests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcodeproj/project.pbxproj
Due: format-swift

fix: Race conditions in ANRTrackerV1
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackerV1.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1IntegrationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1Tests.swift
Due: format-swift, format-markdown

revert out-of-scope changes
  Samples/iOS-SwiftUI/iOS-SwiftUI/ContentView.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/DelayedFullDisplayView.swift
Due: format-swift

changelog
  CHANGELOG.md
Due: format-markdown

fix(ci): add existence check for Benchmarking tab bar item (#5135)
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
Due: none

fix merge error
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
Due: format-swift

small fixes
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
Due: format-swift, format-markdown

fix tests on macos
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1IntegrationTests.swift
Due: format-swift

small reverts
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
Due: format-swift

add always chekc to retry
  .github/workflows/benchmarking.yml
Due: none

remove test code
  .github/workflows/benchmarking.yml
Due: none

fix(ci): Change failing SauceLabs run step to be marked as failed (#5136)
  .github/workflows/benchmarking.yml
Due: none

fixes after merge
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-Swift/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift/iOS-SwiftClip/AppDelegate.swift
  Samples/iOS-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift

update changelog, fix tests
  CHANGELOG.md
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift, format-markdown

fix: Race condition in ANRTrackerV1 (#5137)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackerV1.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1IntegrationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1Tests.swift
Due: format-swift, format-markdown

fix enabled features flag to include tvOS
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

chore(session-replay): GA of better session replay view renderer V2 (#5054)
  CHANGELOG.md
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift/iOS-SwiftClip/AppDelegate.swift
  Samples/iOS-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryScreenshot.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Tools/ViewCapture/SentryMaskRendererV2.swift
  Sources/Swift/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Tools/ViewCapture/SentryViewRendererV2.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
Due: format-swift, format-markdown

fix(profiling): use correct rate limit key for UI profiling (#5131)
  CHANGELOG.md
  Sources/Sentry/SentryDataCategoryMapper.m
Due: format-markdown

replace accidentally removed xcodegen install step
  .github/workflows/build.yml
Due: none

xcodegen for iOS-Swift release build step
  .github/workflows/build.yml
Due: none

update version to match
  Samples/Shared/Config/Versioning.xcconfig
Due: none

meta: update contributing readme to point to test plans for skipping
  CONTRIBUTING.md
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Sentry.xcodeproj/xcshareddata/xcschemes/Sentry.xcscheme
  develop-docs/disabling_tests_xcode_scheme.png
  develop-docs/disabling_tests_xcode_test_plan.png
  develop-docs/disabling_tests_xcode_tests_navigator.png
Due: format-markdown

add back test plans, and declare launch args/env vars
  Plans/iOS-Benchmarking_Base.xctestplan
  Plans/iOS-Swift_Base.xctestplan
  Samples/iOS-Swift.yml
Due: none

set some other helpful options
  Samples/SessionReplay-CameraTest/project.yml
Due: none
