Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref: Extract client event sending (#9196)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+EventSending.h
  Sources/Sentry/SentryClient+EventSending.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

ref: Extract client event preparation
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+EventPreparation.h
  Sources/Sentry/SentryClient+EventPreparation.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

ref(scripts): Standardize xcframework tooling (#9206)
  .github/actions/setup-xcode/action.yml
  .github/file-filters.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/build-xcframework-variant-slices.yml
  scripts/assemble-xcframework-sentryobjc.sh
  scripts/assemble-xcframework.sh
  scripts/build-dynamic-framework-sentryobjc.sh
  scripts/build-static-library-sentryobjc.sh
  scripts/build-xcframework-sentryobjc.sh
  scripts/build-xcframework-slice.sh
  scripts/build-xcframework-v10.sh
  scripts/build-xcframework-variant.sh
  scripts/check-changelog.sh
  scripts/check-objc-banned-pattern.sh
  scripts/ci-collect-sentrytests-metadata.sh
  scripts/ci-select-xcode.sh
  scripts/compress-xcframework.sh
  scripts/extract-objc-api.sh
  scripts/extract-objc-compat-api.sh
  scripts/extract-swift-api.sh
  scripts/generate-objc-compat-api-diff.sh
  scripts/generate-testapp-v10.sh
  scripts/remove-architectures.sh
  scripts/set-xcodegen-compiler-flags.sh
  scripts/set-xcodegen-package-traits.sh
  scripts/swap-xcodegen-product-name.sh
  scripts/update-api.sh
  scripts/validate-xcframework-architectures.sh
  scripts/validate-xcframework-format.sh
  scripts/validate-xcframework-info-plist.sh
  scripts/validate-xcframework-sentryobjc-static.sh
  scripts/validate-xcframework-symbols.sh
  scripts/validate-xcframework.sh
  scripts/verify-v10-sentrycrash-framework.sh
  scripts/verify-v10-sentrycrash-objects.sh
  scripts/verify-v10-sentrycrash-source-contract.sh
  scripts/xcframework-utils.sh
Due: none

ref(scripts): Share XCFramework assembly
  .github/workflows/release.yml
  Makefile
  develop-docs/BUILD.md
  develop-docs/SENTRY-OBJC-BUILD.md
  scripts/AGENTS.md
  scripts/assemble-xcframework-sentryobjc.sh
  scripts/assemble-xcframework.sh
  scripts/validate-xcframework.sh
Due: format-markdown

test: isolate macOS exception option checks (#9252)
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

ref: Extract client event preparation (#9198)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+EventPreparation.h
  Sources/Sentry/SentryClient+EventPreparation.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

ref: Extract client sessions and crashes
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+SessionsAndCrashes.h
  Sources/Sentry/SentryClient+SessionsAndCrashes.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

exclude incomplete wrapper architectures
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  CHANGELOG.md
  scripts/build-static-library-sentryobjc.sh
  scripts/test-sentryobjc-archive-architectures.sh
Due: format-markdown

ref: Extract client sessions and crashes (#9200)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+SessionsAndCrashes.h
  Sources/Sentry/SentryClient+SessionsAndCrashes.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

ref: Extract client event capture
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+EventCapture.h
  Sources/Sentry/SentryClient+EventCapture.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryClient.h
Due: none

ref(scripts): Share XCFramework assembly (#9211)
  .github/workflows/release.yml
  Makefile
  develop-docs/BUILD.md
  develop-docs/SENTRY-OBJC-BUILD.md
  scripts/AGENTS.md
  scripts/assemble-xcframework-sentryobjc.sh
  scripts/assemble-xcframework.sh
  scripts/validate-xcframework.sh
Due: format-markdown

scope V9 adapter imports to recorder sources
  CHANGELOG.md
  CHANGELOG_V10.md
  Sources/Sentry/include/SentrySwift.h
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/SentryCrash.m
  scripts/test-spm-crash-backend-selection.swift
Due: format-swift, format-markdown

ref: Extract client event capture (#9202)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient+EventCapture.h
  Sources/Sentry/SentryClient+EventCapture.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryClient.h
Due: none

let test-app dependencies forward V9/V10 selection without adding default V9 to V10 builds
  .github/file-filters.yml
  CHANGELOG_V10.md
  TestApps/SentrySampleShared/Package.swift
  scripts/test-spm-crash-backend-selection.swift
Due: format-swift, format-markdown

honor NoUIFramework in V9 recorder
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  CHANGELOG.md
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  scripts/test-spm-v9-no-ui-framework.swift
Due: format-swift, format-markdown

chore: reduce exception value length
  Sources/Sentry/SentryCrashReportConverter.m
Due: none

test: Add huge NSException button
  TestApps/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  TestApps/macOS-Swift/App/Sources/ViewController.swift
Due: format-swift

preserve V9 crash wrapper overrides
  CHANGELOG.md
  CHANGELOG_V10.md
  Sources/SentryCrashV9Swift/SentryCrashV9Dependencies.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  scripts/test-spm-crash-backend-selection.swift
Due: format-swift, format-markdown

test: update to be less tautological
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/include/SentryCrashReportConverter.h
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

test: add a hugh NSException button to macOS-swift test app
  Sentry.xcworkspace/contents.xcworkspacedata
  TestApps/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  TestApps/iOS-ObjectiveC/App/Sources/AppDelegate.m
  TestApps/iOS-ObjectiveC/App/Sources/RaiseUncaughtNSException.h
  TestApps/iOS-ObjectiveC/App/Sources/RaiseUncaughtNSException.m
  TestApps/iOS-ObjectiveC/App/Sources/ViewController.m
Due: none

docs: Add PR number to NSException changelog
  CHANGELOG.md
Due: format-markdown

docs: Move NSException changelog to Unreleased
  CHANGELOG.md
Due: format-markdown

chore: Drop missing NSException workspace ref
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

audit V10 archives at the actual build path
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  scripts/test-v10-archive-audit-path.sh
  scripts/verify-v10-sentrycrash-objects.sh
Due: none

excludes accidentally discovered resources from the V9 recorder
  .github/file-filters.yml
  .github/workflows/test.yml
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  scripts/test-spm-v9-resource-exclusion.sh
Due: format-swift

pass DerivedData to ordinary archive commands too
  scripts/build-xcframework-slice.sh
  scripts/test-v10-archive-audit-path.sh
Due: none

feat:expand NSException value size (#9256)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/include/SentryCrashReportConverter.h
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.h
  TestApps/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  TestApps/iOS-ObjectiveC/App/Sources/AppDelegate.m
  TestApps/iOS-ObjectiveC/App/Sources/RaiseUncaughtNSException.h
  TestApps/iOS-ObjectiveC/App/Sources/RaiseUncaughtNSException.m
  TestApps/iOS-ObjectiveC/App/Sources/ViewController.m
  TestApps/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  TestApps/macOS-Swift/App/Sources/ViewController.swift
  Tests/SentryTests/SentryCrash/SentryCrashReportFixer_Tests.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-swift, format-markdown

fix(metrickit): Use diagnostic app and OS versions
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Helper/SentryReleaseName.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Helper/SentryReleaseNameTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

feat(metrickit): Add diagnostic report option
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+CallStackTreeProviding.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+DiagnosticReport.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+Options.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

fix: align feedback validation with specification
  CHANGELOG.md
  Sources/Sentry/SentryClient+ReplayAndFeedback.m
  Sources/Sentry/SentryId+Private.h
  Sources/Sentry/SentryId.m
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackValidator.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/SentryClientTests.swift
  sentry-spec-compliance.json
Due: format-swift, format-markdown, format-json

feat: add breadcrumb text extraction option
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: add changelog entry for #9010
  CHANGELOG.md
Due: format-markdown

fix: make breadcrumb text extraction experimental
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentryOptionsTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ref: Convert SentrySampling to Swift (#9244)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfileConfiguration.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/include/SentrySampling.h
  Sources/Swift/Core/SentrySampling.swift
  Tests/SentryTests/Transaction/SentrySamplingTests.swift
Due: format-swift

fix: crash-time hang reading scene window
  CHANGELOG.md
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Tests/SentryTests/MockUIScene.h
  Tests/SentryTests/MockUIScene.m
  Tests/SentryTests/SentryUIApplicationTests.swift
Due: format-swift, format-markdown

test: fix misleading prewarmed app start test name
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

fix: avoid formatting disabled watchdog logs
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessorTests.swift
Due: format-swift

docs: note watchdog logging fix
  CHANGELOG.md
Due: format-markdown

fix: defer suppressed SDK log messages
  CHANGELOG.md
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessor.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessorTests.swift
Due: format-swift, format-markdown

ref: Convert app start span builder to Swift (#9214)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentrySpanInternal.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
  Sources/Sentry/include/SentrySpanInternal.h
  Sources/Swift/Integrations/AppStartTracking/SentryBuildAppStartSpans.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
