Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Convert `SentryDateUtil` to Swift (#6307)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDateUtil.m
  Sources/Sentry/SentryDefaultRateLimits.m
  Sources/Sentry/include/SentryDateUtil.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryDateUtil.swift
  Tests/SentryTests/Helper/SentryDateUtilTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

PR feedback
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestClient.swift
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCoreDataTracker.m
  Sources/Sentry/SentryCoreDataTrackingIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryCoreDataTracker.h
  Sources/Sentry/include/SentryDefaultThreadInspector.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Swift/SentryCrash/SentryThreadInspector.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryCrash/SentryDefaultThreadInspectorTests.swift
  Tests/SentryTests/SentryCrash/TestThreadInspector.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore(ci): Change analyze target in Makefile to log path to result (#6304)
  .gitignore
  Makefile
Due: none

Add shared scheme
  Sentry.xcodeproj/xcshareddata/xcschemes/SentrySwiftLog.xcscheme
Due: none

fix old target names
  Sentry.xcodeproj/project.pbxproj
  Tests/SentrySwiftLogTests/SentryLogHandlerTests.swift
Due: format-swift

format
  Tests/SentrySwiftLogTests/SentryLogHandlerTests.swift
Due: format-swift

chore: Cleanup interface for SentryScreenFrames without UIKit
  Sources/Sentry/SentryScreenFrames.m
  Sources/Sentry/include/HybridPublic/SentryScreenFrames.h
Due: none

Fix method renamed
  Sources/Swift/Networking/DefaultRateLimits.swift
Due: format-swift

ref: Create thread inspector Swift protocol (#6273)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestClient.swift
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCoreDataTracker.m
  Sources/Sentry/SentryCoreDataTrackingIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryCoreDataTracker.h
  Sources/Sentry/include/SentryDefaultThreadInspector.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Sentry/include/SentryProfileTimeseries.h
  Sources/Swift/SentryCrash/SentryThreadInspecting.swift
  Sources/Swift/SentryCrash/SentryThreadInspector.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryCrash/SentryDefaultThreadInspectorTests.swift
  Tests/SentryTests/SentryCrash/TestThreadInspector.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Code cleanup
  Sources/Swift/Networking/DefaultRateLimits.swift
Due: format-swift

Add missing `@_spi(Private)` to `RateLimits`
  Sources/Swift/Networking/RateLimits.swift
Due: format-swift

Fix tests
  Tests/SentryTests/Networking/TestRateLimits.swift
Due: format-swift

ref: Convert `SentryDefaultLimits` to Swift (#6285)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultRateLimits.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/include/SentryDefaultRateLimits.h
  Sources/Sentry/include/SentryEnvelopeRateLimit.h
  Sources/Sentry/include/SentryHttpTransport.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryRateLimits.h
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/RateLimits.swift
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestRateLimits.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Migrate AppStateManager to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryWatchdogTerminationLogic.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/SentryAppStateManager.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ci: Add v8.x branch to workflows
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

chore: Explain v8 branch
  develop-docs/DECISIONS.md
  develop-docs/RELEASE.md
Due: format-markdown

fix: add v8.x to CodeQL workflow push branches to match other workflows
  .github/workflows/codeql-analysis.yml
Due: none

WIP
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

ref: Migrate AppStateManager to Swift (#6309)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryWatchdogTerminationLogic.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/SentryAppStateManager.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore: Fix numbering in support version considerations
  develop-docs/DECISIONS.md
Due: format-markdown

Update API file to be v9 only
  .github/workflows/api-stability.yml
  Makefile
  scripts/update-api.sh
  sdk_api.json
Due: none

ci: Add v8.x branch to workflows (#6321)
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

chore: Explain v8 branch (#6323)
  develop-docs/DECISIONS.md
  develop-docs/RELEASE.md
Due: format-markdown

Update API file to be v9 only (#6314)
  .github/workflows/api-stability.yml
  Makefile
  scripts/update-api.sh
  sdk_api.json
Due: none

ref: Remove user feedback
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/ContentView.swift
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/ViewController.swift
  Samples/tvOS-Swift/tvOS-Swift/ContentView.swift
  Samples/visionOS-Swift/visionOS-Swift/ContentView.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestTransportAdapter.swift
  Sources/Sentry/Public/SentryClient.h
  Sources/Sentry/Public/SentryHub.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Sentry/include/SentryTransportAdapter.h
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedback.swift
  Sources/Swift/Tools/SentryEnvelope.swift
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentryUserFeedbackTests.swift
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ref: Remove user feedback (#6319)
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/ContentView.swift
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/ViewController.swift
  Samples/tvOS-Swift/tvOS-Swift/ContentView.swift
  Samples/visionOS-Swift/visionOS-Swift/ContentView.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestTransportAdapter.swift
  Sources/Sentry/Public/SentryClient.h
  Sources/Sentry/Public/SentryHub.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Sentry/include/SentryTransportAdapter.h
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedback.swift
  Sources/Swift/Tools/SentryEnvelope.swift
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentryUserFeedbackTests.swift
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

chore: Rename versions file
  .github/workflows/api-stability.yml
  scripts/update-api.sh
  sdk_api.json
Due: none

chore: Remove hang tracker sdk v9 checks
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

WIP
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
Due: format-swift

backup
  CHANGELOG.md
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Tests/SentryTests/SentryOptionsTest.m
Due: format-markdown

ref: Move trace propagation to its own class
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentryTracePropagation.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore: Add DistributionSample to .gitignore
  .gitignore
Due: none

chore: Add DistributionSample to .gitignore (#6340)
  .gitignore
Due: none

WIP
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

Convert `SentryScreenFrames` to Swift (#6094)
  .github/workflows/test-cross-platform.yml
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestFramesTracker.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.h
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentryScreenFrames.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/HybridPublic/SentryScreenFrames.h
  Sources/Sentry/include/SentryProfileTimeseries.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Tests/SentryProfilerTests/SentryProfilerTests.mm
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

chore: `dispatchAsyncOnMainQueue` to `dispatchAsyncOnMainQueueIfNotMainThread` (#6132)
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfilerState.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySubClassFinder.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

chore: Fix numbering in support version considerations (#6328)
  develop-docs/DECISIONS.md
Due: format-markdown

chore: Rename versions file (#6330)
  .github/workflows/api-stability.yml
  scripts/update-api.sh
  sdk_api.json
Due: none

Removes redundant V9 builds
  .github/workflows/build.yml
Due: none
