Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

Add on PR
  .github/workflows/test_runner.yml
Due: none

Use group 10
  .github/workflows/test_runner.yml
Due: none

Remove other images
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-issue-for-unreferenced-pr.yml
  .github/workflows/danger.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release-comment-issues.yml
  .github/workflows/release-upload-xcframework.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/test_runner.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

Attempt many group ids
  .github/workflows/test_runner.yml
Due: none

try other groups
  .github/workflows/test_runner.yml
Due: none

ref: Remove test deprecation warnings
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentryTransactionContext.h
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

test: Adjust data count range in SpotlightTests
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
Due: format-swift

test: Move profilingStartAndCollect to flaky plan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

test: Move terminateApp_RunsOnMainThread to flaky plan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

test: Move testRemoveImageFromBeginning to flaky plan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

ci: Increase timeout for iOS 26 unit tests
  .github/workflows/test.yml
Due: none

test: Move testRemoveImageFromBeginning to flaky plan (#6555)
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

chack for SENTRY_NO_UIKIT, check for nil replayid
  SentryTestUtils/TestHub.swift
  Sources/Sentry/SentryHub.m
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

ci: Increase timeout for iOS 26 unit tests (#6558)
  .github/workflows/test.yml
Due: none

introduce captureLog dispatcher, handle case where it’ll not work and log
  Sources/Swift/Helper/SentryLog+SPM.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
Due: format-swift

test: Adjust data count range in SpotlightTests (#6549)
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
Due: format-swift

fix
  Plans/Sentry_Flaky.xctestplan
Due: none

test: Move profilingStartAndCollect to flaky plan (#6551)
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

test: Move terminateApp_RunsOnMainThread to flaky plan (#6553)
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

ref: Remove test deprecation warnings (#6548)
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentryTransactionContext.h
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

fix: Resolve remaining nullability warnings; enabling them as errors
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAutoBreadcrumbTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDsn.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Sentry/SentryMsgPackSerializer.m
  Sources/Sentry/SentryNSURLSessionTaskSearch.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryStacktrace.m
  Sources/Sentry/SentrySwizzle.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTraceContext.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/SentryProfiledTracerConcurrency.h
  Sources/Sentry/include/SentrySampling.h
  Sources/Sentry/include/SentryScope+Private.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Sentry/include/SentryTracePropagation.h
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

apply formatting
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAutoBreadcrumbTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Sentry/SentryMsgPackSerializer.m
  Sources/Sentry/SentryNSURLSessionTaskSearch.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryStacktrace.m
  Sources/Sentry/SentrySwizzle.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTraceContext.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
Due: none

fix: Remove symbolication that causes deadlocks
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCrashStackEntryMapper.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryStacktraceBuilder.m
  Sources/Sentry/SentryUseNSExceptionCallstackWrapper.m
  Sources/Sentry/include/SentryCrashDynamicLinker.h
  Sources/Sentry/include/SentryDefaultThreadInspector.h
  Sources/Sentry/include/SentryStacktraceBuilder.h
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashStackCursor.c
  Sources/SentryCrash/Recording/Tools/SentryCrashStackCursor.h
  Sources/SentryCrash/Recording/Tools/SentryCrashSymbolicator.c
  Sources/SentryCrash/Recording/Tools/SentryCrashSymbolicator.h
Due: none

fix compilation for macOS
  Sources/Sentry/SentryUncaughtNSExceptions.m
Due: none

fix network baggage unwrapping
  Sources/Sentry/SentryTracePropagation.m
Due: none

Structured Logs: Add `SentrySwiftyBeaver` Integration
  .github/workflows/test.yml
  CHANGELOG.md
  Package.swift
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentrySwiftyBeaverTests.xcscheme
  Sources/SentrySwiftyBeaver/SentryDestination.swift
  Tests/SentrySwiftyBeaverTests/SentryDestinationTests.swift
Due: format-swift, format-markdown

add pr num
  CHANGELOG.md
Due: format-markdown

Ensure SesionReplay unreliable environment is not bypassed by SentryReplayApi
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/ClearTestState.swift
  Sources/Sentry/SentryReplayApi.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentrySessionReplayIntegration.h
  Sources/Swift/Helper/Dependencies.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  scripts/.swiftlint-version
Due: format-swift

chore: Remove UI tests for iOS 16
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  develop-docs/DECISIONS.md
Due: format-markdown

fix(session-replay): Add multiple masking improvements
  CHANGELOG.md
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactRegion.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactRegionType.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
  sdk_api.json
Due: format-swift, format-markdown

test(session-replay): Add masking tests for React Native views
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+ReactNative.swift
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTImageView_withMaskAllImagesDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTImageView_withMaskAllImagesEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTImageView_withMaskAllTextDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTParagraphComponent_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTParagraphComponent_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTParagraphComponent_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTTextView_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTTextView_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+ReactNative/testRedact_withRCTTextView_withMaskAllTextEnabled_shouldRedactView.1.png
Due: format-swift

test(session-replay): Add masking tests for edge cases
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+EdgeCases.swift
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+EdgeCases/testOpaqueRotatedView_coveringRoot_doesNotClearPreviousRedactions.1.png
Due: format-swift

test(session-replay): Add masking tests for UIKit views
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+UIKit.swift
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUIImageView_withMaskAllImagesDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUIImageView_withMaskAllImagesEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUIImageView_withMaskAllTextDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUILabel_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUILabel_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUILabel_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUILabel_withMaskAllTextEnabled_withTransparentForegroundColor_shouldNotUseTransparentColor.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextField_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextField_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextField_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextView_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextView_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testRedact_withUITextView_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+UIKit/testUIImageViewSmallImage_shouldNotRedact.1.png
Due: format-swift

add missing tests to satisfly coverage
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

fix: Update layer name to use view's debug description
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift

test: Fix region color assertion in SentryUIRedactBuilderTests
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
Due: format-swift

test(session-replay): Enhance edge case tests for animation masking
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+EdgeCases.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
