Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix: Preserve category-only objects
  Brewfile
  scripts/build-static-library-sentryobjc.sh
  scripts/validate-xcframework-sentryobjc-static.sh
Due: none

docs: add hint examples to changelog
  CHANGELOG.md
Due: format-markdown

fix(samples): set CFBundlePackageType for App Clip
  Samples/iOS-Swift/iOS-Swift.yml
Due: none

fix(ci): trigger TestFlight job for sample changes
  .github/file-filters.yml
Due: none

fix(samples): set CFBundlePackageType for App Clip (#8998)
  .github/file-filters.yml
  Samples/iOS-Swift/iOS-Swift.yml
Due: none

fix: Strip static SentryObjC debug maps (#8979)
  .github/file-filters.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/build-sentryobjc-slices.yml
  Brewfile
  CHANGELOG.md
  Makefile
  Samples/macOS-ObjectiveC-Static-CMake/.gitignore
  Samples/macOS-ObjectiveC-Static-CMake/CMakeLists.txt
  Samples/macOS-ObjectiveC-Static-CMake/Sources/main.m
  develop-docs/DECISIONS.md
  scripts/build-static-library-sentryobjc.sh
  scripts/build-xcframework-sentryobjc.sh
  scripts/validate-xcframework-format.sh
  scripts/validate-xcframework-sentryobjc-static.sh
  scripts/validate-xcframework.sh
Due: format-markdown

docs: Remove invalid CHANGELOG entry (#8996)
  CHANGELOG.md
Due: format-markdown

release: 9.28.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Swift/Helper/SentryMeta.swift
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

fix: improve feedback counter accessibility
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

fix: limit feedback message length
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

docs: add feedback limit changelog
  CHANGELOG.md
Due: format-markdown

test: harden feedback message limit handling
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

feat(breadcrumbs): extract child text for interactions
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

docs: add changelog entry for #8974
  CHANGELOG.md
Due: format-markdown

fix(breadcrumbs): avoid mutating buttons during text extraction
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

ref: make memory accesses explict for screenshot writer & sidecar path provider
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
Due: none

fix: restore atomic file writes for screenshots
  Sources/Swift/Core/Tools/ViewCapture/SentryScreenshotSource.swift
Due: format-swift

fix(breadcrumbs): bound child text traversal
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryChildTextExtractor.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

fix: move callbacks to C so they don't touch Swift
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

docs: remove outrageous hallucination
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
Due: none

fix(breadcrumbs): deduplicate configuration titles
  Sources/Swift/Integrations/Breadcrumbs/SentryChildTextExtractor.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerButtonTests.swift
Due: format-swift

fix: move binary image cache into BSS
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  scripts/.clang-format-version
Due: format-markdown

fix: Mark mach and signal crashes as synthetic
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown

update changelog PR id
  CHANGELOG.md
Due: format-markdown

move changlog entry to unreleased after main merge
  CHANGELOG.md
Due: format-markdown

fix: move binary image cache into BSS (#9003)
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
Due: format-markdown

fix: cleanup orphaned sentry attachments
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportStoreSender.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportStoreSenderTests.swift
Due: format-swift

fix(v10): return monitor ID from C
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

fix: drop crash-time debug log
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift

fix: keep NSURLSessionTask alive during swizzle
  CHANGELOG.md
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift, format-markdown

test: cover NSURLSessionTask swizzle lifetime
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

docs: warn against local pool in swizzle lifetime
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift

feat: add breadcrumb text extraction option
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: add changelog entry for #9010
  CHANGELOG.md
Due: format-markdown

test: deflake NSURLSessionTask leak assertion
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

feat: add mask-aware interaction breadcrumb labels
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

docs: add changelog entry for #9011
  CHANGELOG.md
Due: format-markdown

fix: preserve ancestor masks for excluded subtrees
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

feat: KSCrash report attachment monitor + crash-time screenshots (#8986)
  CHANGELOG_V10.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Core/Tools/ViewCapture/SentryScreenshotSource.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportStoreSender.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/CrashE2E.yml
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EnvelopeReader.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ScenarioEventAsserter.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportStoreSenderTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown
