Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

feat: Add iOSAppMac and MacCatalyst to app context (#5570)
  CHANGELOG.md
  SentryTestUtils/TestSentryNSProcessInfoWrapper.swift
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryNSProcessInfoWrapper.mm
  Sources/Sentry/include/SentryNSProcessInfoWrapper.h
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift, format-markdown

refactor: Add null-handling in client and options (#5739)
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentyOptionsInternal.m
Due: none

ci: set codecov flags (#5743)
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
Due: none

ci: Fix test race condition
  Tests/SentryTests/SentrySDKThreadTests.swift
Due: format-swift

ref: Deprecate integrations option
  CHANGELOG-v9.md
  CHANGELOG.md
  SentryTestUtils/TestOptions.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/Integrations/Performance/IO/DataSentryTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/FileManagerTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerSwiftHelpersTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionGeneratorTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

ci: Assert a UIWindowScene is available on sceneDidBecomeActive
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
Due: format-swift

refactor: Add null unwrapping to silence already handled nullability warnings
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/SentryCoreDataTracker.m
  Sources/Sentry/SentryCrashIntegrationSessionHandler.m
  Sources/Sentry/SentryDateUtil.m
  Sources/Sentry/SentryDebugImageProvider.m
  Sources/Sentry/SentryDefaultRateLimits.m
  Sources/Sentry/SentryDsn.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryGeo.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryRetryAfterHeaderParser.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUIEventTracker.m
  Sources/Sentry/SentryUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryUser.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
Due: none

test: Remove ExceptionCatcher from Sentry target (#5748)
  Sentry.xcodeproj/project.pbxproj
Due: none

ci: Fix flush timeout test
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

test: Update SentryHttpTransportFlushIntegrationTests to wait for the dispatch queue to complete before flushing
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

Add expectation after each envelope being stored
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

Increase wait timeout to 10s
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

Change `SentryLog` to NSObject, make public and remove the wrapper class.
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryDefines.h
  Sources/Swift/Protocol/MutableSentryLog.swift
  Sources/Swift/Protocol/MutableSentryLogLevel.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogAttribute.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Protocol/MutableSentryLogLevel.swift
  Tests/SentryTests/Protocol/MutableSentryLogTests.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
  Tests/SentryTests/Protocol/SentryLogLevelTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

make public api
  sdk_api.json
  sdk_api_V9.json
Due: none

ci: Fix flush timeout test (#5753)
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

ci: Assert a UIWindowScene is available on sceneDidBecomeActive (#5751)
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
Due: format-swift

don’t force unwrap value
  Sources/Swift/Protocol/SentryLogAttribute.swift
Due: format-swift

ci: Fix test race condition (#5750)
  Tests/SentryTests/SentrySDKThreadTests.swift
Due: format-swift

Wait for envelopes to be stored only after the loop
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

test: Update SentryHttpTransportFlushIntegrationTests to wait for the dispatch queue to complete before flushing (#5754)
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
Due: format-swift

Update step name
  .github/workflows/test.yml
Due: none

test: Initialize Dyld address before running tests for BinaryImageCache
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

better asserts
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

fix cl
  CHANGELOG.md
Due: format-markdown

comment out relevant view controllers
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

use test application
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

repro: For long SwiftUI TTID spans
  Samples/iOS-SwiftUI/iOS-SwiftUI/LoremIpsumView.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
Due: format-swift

Structured Logs: String templating for structured logs (#5643)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Protocol/SentryLogMessage.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Protocol/SentryLogMessageTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

fix: remove internal macro SENTRY_UNWRAP_NULLABLE from public header
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryNSDataUtils.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentryInternalDefines.h
Due: none

ci: Use expectation for test
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

fix: remove internal macro SENTRY_UNWRAP_NULLABLE from public header (#5759)
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryNSDataUtils.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentryInternalDefines.h
Due: none

release: 8.54.0
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

ref: Deprecate integrations option (#5749)
  CHANGELOG-v9.md
  CHANGELOG.md
  SentryTestUtils/TestOptions.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/Integrations/Performance/IO/DataSentryTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/FileManagerTracingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerSwiftHelpersTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionGeneratorTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

test: Initialize Dyld address before running tests for BinaryImageCache (#5755)
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

ci: Use versioned xcodegen file due to github 429 error
  .github/workflows/benchmarking.yml
  .github/workflows/ui-tests-common.yml
  scripts/xcodegen.rb
Due: none

ci: Use versioned xcodegen file due to github 429 error (#5761)
  .github/workflows/benchmarking.yml
  .github/workflows/ui-tests-common.yml
  scripts/xcodegen.rb
Due: none

ref: Remove SentryApplication forward declaration
  Sources/Sentry/include/SentryApplication.h
Due: none

split up start and finish
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

add logs
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift
