Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix: Fix stripped categories in static frameworks
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Swift/Helper/SentryApplication.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/Helper/SentryProcessInfo.swift
Due: format-swift, format-markdown

Lazy init systemInfo
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

fix: Fix stripped categories in static frameworks (#6125)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Helper/SentryApplication.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/Helper/SentryProcessInfo.swift
Due: format-swift, format-markdown

feat: Add SentryDistribution
  Makefile
  Package.swift
  Samples/DistributionSample/DistributionSample.xcconfig
  Samples/DistributionSample/DistributionSample.yml
  Samples/DistributionSample/DistributionSample/App.swift
  Samples/DistributionSample/DistributionSample/Constants.swift
  Samples/DistributionSample/DistributionSample/ContentView.swift
  Samples/DistributionSample/DistributionSample/Info.plist
  Samples/DistributionSample/DistributionSample/UpdateUtil.swift
  Sources/SentryDistribution/Distribution.swift
  Sources/SentryDistribution/Mach-O/BinaryParser.swift
  Sources/SentryDistribution/Models/CheckForUpdateParams.swift
  Sources/SentryDistribution/Models/ReleaseInfo.swift
  Sources/SentryDistribution/Models/UpdateCheckResponse.swift
  Sources/SentryDistribution/Network/URLSession+Distribute.swift
  Sources/SentryDistribution/Utils/Date+Parse.swift
  Sources/SentryDistributionTests/DistributionReleaseInfoTests.swift
Due: format-swift

Remove async queue requirement
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
  Tests/SentryTests/Networking/SentryReachabilityTests.m
  sdk_api.json
  sdk_api_V9.json
Due: format-swift

delete `DispatchAsyncOnMainQueue`
  CHANGELOG.md
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift, format-markdown

ref: Convert SentryDispatchSourceWrapper to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestDispatchFactory.swift
  SentryTestUtils/TestDispatchSourceWrapper.swift
  Sources/Sentry/SentryDispatchFactory.m
  Sources/Sentry/SentryDispatchSourceWrapper.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/include/SentryDispatchFactory.h
  Sources/Sentry/include/SentryDispatchSourceProviderProtocol.h
  Sources/Sentry/include/SentryDispatchSourceWrapper.h
  Sources/Swift/Helper/SentryDispatchSourceWrapper.swift
  Sources/Swift/SentryDispatchSourceWrapper.swift
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
  Tests/SentryTests/Networking/SentryDispatchFactoryTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

cleanup
  Sources/Swift/SentryDispatchSourceWrapper.swift
Due: format-swift

test: Remove duplicate bridging headers (#6144)
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

release: 8.56.0-alpha.2
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

ref: Remove unused memory pressure typdef
  Sources/Sentry/include/SentrySystemWrapper.h
Due: none

chore: Fix changelog
  CHANGELOG.md
Due: format-markdown

chore: Fix changelog (#6154)
  CHANGELOG.md
Due: format-markdown

use macos-26 runner
  .github/workflows/test.yml
  scripts/ci-select-xcode.sh
Due: none

fix ios
  .github/workflows/test.yml
Due: none

chore(ci): React-Native: Adds missing self to make capture semantics explicit
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift

KSCrash: enable debug logging
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentryAsyncSafeLog.h
Due: none

WIP: allow pre-generated crash event ID for hybrid SDKs
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.h
  Sources/SentryCrash/Recording/SentryCrash.h
  Sources/SentryCrash/Recording/SentryCrash.m
Due: none

Adds changelog
  CHANGELOG.md
Due: format-markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

chore(ci): React-Native: Adds missing self to make capture semantics explicit (#6156)
  CHANGELOG.md
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift, format-markdown

release: 8.56.0-alpha.3
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

Fix `SentryScreenFrames` copy method
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
Due: format-swift

ref: SentryFileManager to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryFileManager+Test.h
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfilerTestHelpers.m
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryAppStateManager.m
  Sources/Sentry/SentryAsyncLog.m
  Sources/Sentry/SentryAutoBreadcrumbTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegrationSessionHandler.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryLogC.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryWatchdogTerminationScopeObserver.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/include/SentryFileManagerHelper.h
  Sources/Sentry/include/SentryHttpTransport.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySystemEventBreadcrumbs.h
  Sources/Swift/Helper/SentryFileManager.swift
  Tests/SentryTests/SentryInterfacesTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

feat(V9): Make performance V2 the default in V9
  CHANGELOG-v9.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift, format-markdown

ref: Convert SentryViewHierarchyProvider to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryViewHierarchyIntegration.m
  Sources/Sentry/SentryViewHierarchyProvider.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryViewHierarchyProvider.h
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
Due: format-swift

Cleanup
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryViewHierarchyIntegration.m
  Sources/Sentry/SentryViewHierarchyProvider.m
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryViewHierarchyProvider.h
  Sources/Sentry/include/SentryViewHierarchyProviderHelper.h
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.h
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

feat(V9): Private functions in SentryDsn
  CHANGELOG-v9.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryDsn.h
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/include/SentryDsn+Private.h
  sdk_api_V9.json
Due: format-markdown

feat: Add Sentry libraries without UIKit/AppKit to SPM
  .github/actions/prepare-package.swift/action.yml
  Package.swift
  scripts/update-package-sha.sh
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Remove `Sentry-WithoutUIKitOrAppKit-WithARM64e` on PRs
  .github/actions/prepare-package.swift/action.yml
Due: none

Update verification scripts
  .github/workflows/version-bump-util.yml
  scripts/verify-package-sha.sh
Due: none

Fix tests
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.h
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

ref: Remove unused memory pressure typdef (#6152)
  Sources/Sentry/include/SentrySystemWrapper.h
Due: none

skip SR integration tests
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

fix
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

feat: Make Sentry-WithoutUIKitOrAppKit available with SPM (#6160)
  .github/actions/prepare-package.swift/action.yml
  .github/workflows/version-bump-util.yml
  CHANGELOG.md
  Package.swift
  scripts/update-package-sha.sh
  scripts/verify-package-sha.sh
Due: format-swift, format-markdown

macCatalyst
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

fix pbxproj
  Sentry.xcodeproj/project.pbxproj
Due: none
