Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

dont upload codecov
  .github/workflows/unit-test-common.yml
Due: none

bump to 18.5
  .github/workflows/test-3rd-party-integrations.yml
Due: none

bump rest to 18.5
  .github/workflows/test-3rd-party-integrations.yml
Due: none

Update artifact naming in unit test workflow to include scheme for better identification and no re-uploading atrifacts with same name
  .github/workflows/unit-test-common.yml
Due: none

fix: Crash in `SentryFramesTracker.removeListener` (#7155)
  CHANGELOG.md
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
Due: format-swift, format-markdown

use working dir in Run CI Diagnostics
  .github/workflows/unit-test-common.yml
Due: none

test: apply AAA pattern and DAMP to SentryByteCountFormatterTests
  Tests/SentryTests/Helper/SentryByteCountFormatterTests.swift
Due: format-swift

chore: add AAA pattern and DAMP guidance to AGENTS.md (#7223)
  AGENTS.md
Due: format-markdown

Update name groupings
  .github/workflows/test-3rd-party-integrations.yml
Due: none

fix: prevent workflow_dispatch runs from canceling each other
  .github/workflows/release.yml
Due: none

UPdate name job grouping
  .github/workflows/test-3rd-party-integrations.yml
Due: none

update naming
  .github/workflows/test-3rd-party-integrations.yml
Due: none

test: fix test server Swift 6 compatibility (#7228)
  test-server/Sources/App/configure.swift
  test-server/Sources/App/routes.swift
Due: format-swift

test: add stop-test-server to Makefile and clarify in AGENTS.md (#7216)
  AGENTS.md
  Makefile
  test-server/.gitignore
Due: format-markdown

fix: prevent workflow_dispatch runs from canceling each other (#7229)
  .github/workflows/release.yml
Due: none

ref: convert SentryViewHierarchyIntegration to Swift (#7157)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryViewHierarchyIntegration.m
  Sources/Sentry/include/SentryViewHierarchyIntegration.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTestHelper.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.h
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

fix: Fix SentryCrashInstallationReporterTests with expectations
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
Due: format-swift

Remove expectations
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/include/SentryBaseIntegration.h
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
Due: format-swift

chore: Run Unit tests on Cirrus Labs only
  .github/workflows/test.yml
Due: none

run fast on Cirrus Runners
  .github/workflows/fast-pr-checks.yml
Due: none

chore: Enable Cirrus Labs for iOS Sentry scheme in fast PR checks
  .github/workflows/fast-pr-checks.yml
Due: none

fix: Cleanup issues from SentryCrashIntegration conversion to Swift (#7231)
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/include/SentryBaseIntegration.h
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
Due: format-swift

ci: Run Unit tests on Cirrus Labs only (#7233)
  .github/workflows/fast-pr-checks.yml
  .github/workflows/test.yml
Due: none

test: apply AAA pattern and DAMP to SentryByteCountFormatterTests (#7221)
  Tests/SentryTests/Helper/SentryByteCountFormatterTests.swift
Due: format-swift

ref: rename Batcher to TelemetryBuffer (#7220)
  AGENTS.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Sources/Swift/Tools/TelemetryBuffer/InMemoryInternalTelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/InternalTelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferConfig.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferItem.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferMetadata.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferScope.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/TelemetryBuffer/InMemoryInternalTelemetryBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferScopeTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
Due: format-swift, format-markdown

ci: skip integration unit tests on release branches
  .github/workflows/test.yml
Due: none

ci: skip integration unit tests on release branches (#7237)
  .github/workflows/test.yml
Due: none

release: 9.2.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

chore: Fix incomplete comment
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
Due: format-swift

test: Fix SentryDestinationTests to handle array type for tags
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

Remove unsupported array comment
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

fix: prevent deadlock in SentryReachability by notifying observers outside the lock
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

Update 3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

test: Fix SentryDestinationTests to handle array type for tags (#7240)
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

initialize currentConnectivity in SentryReachability
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

ref: Migrate SentrySessionTests from Objective-C to Swift
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/SentrySessionTests.m
  Tests/SentryTests/SentrySessionTests.swift
Due: format-swift

ref: Migrate SentrySessionTests from Objective-C to Swift (#7243)
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/SentrySessionTests.m
  Tests/SentryTests/SentrySessionTests.swift
Due: format-swift

ref: Migrate SentrySession from Objective-C to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySessionInternal.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySessionInternal.h
  Sources/Swift/SentrySession.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Protocol/SentrySession+Equality.h
  Tests/SentryTests/Protocol/SentrySession+Equality.m
  Tests/SentryTests/SentrySessionTests.swift
  sdk_api.json
Due: format-swift

chore: Fix incomplete comment (#7239)
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
