Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

chore: Update Brew commands in Makefile to include 'brew update' before installations
  Makefile
Due: none

chore: Remove unused .nvmrc (#7540)
  .nvmrc
Due: none

apply formatting from clang-format v22.1.0
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryNoOpSpan.m
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryStacktraceBuilder.m
  Sources/Sentry/SentryThreadHandle.cpp
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Tests/SentryProfilerTests/SentryBacktraceTests.mm
  Tests/SentryProfilerTests/SentryProfilerTests.mm
  Tests/SentryTests/SentryOptionsTest.m
  scripts/.clang-format-version
Due: none

Apply suggestions from code review
  AGENTS.md
Due: format-markdown

Apply suggestions from code review
  Sources/Sentry/SentryCrashReportConverter.m
Due: none

chore: Remove unused local xcodegen Homebrew formula
  scripts/xcodegen.rb
Due: none

chore: Remove unused Docker files from test-server
  test-server/.dockerignore
  test-server/Dockerfile
  test-server/docker-compose.yml
Due: none

chore: Remove unused rest-client gem
  Gemfile
  Gemfile.lock
Due: none

chore: Remove unused local xcodegen Homebrew formula (#7544)
  scripts/xcodegen.rb
Due: none

ref(build): Split xcode-ci and build-sample into per-sample targets
  Makefile
  schema/xcodegen.schema.json
Due: format-json

fix: Address review feedback for build targets
  Makefile
  schema/xcodegen.schema.json
Due: format-json

chore: Remove unused rest-client gem (#7547)
  Gemfile
  Gemfile.lock
Due: none

style: Apply formatting with clang-format v22.1.0 (#7533)
  .github/workflows/lint-clang-formatting.yml
  Makefile
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryNoOpSpan.m
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryStacktraceBuilder.m
  Sources/Sentry/SentryThreadHandle.cpp
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Tests/SentryProfilerTests/SentryBacktraceTests.mm
  Tests/SentryProfilerTests/SentryProfilerTests.mm
  Tests/SentryTests/SentryCrashReportConverterTests.m
  Tests/SentryTests/SentryOptionsTest.m
  scripts/.clang-format-version
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Apply suggestion from @philprime
  CHANGELOG.md
Due: format-markdown

chore: Remove unused Docker files from test-server (#7545)
  test-server/.dockerignore
  test-server/Dockerfile
  test-server/docker-compose.yml
Due: none

chore: Remove unused .oclint config (#7542)
  .gitignore
  .oclint
  Sentry.xcodeproj/project.pbxproj
Due: none

ref: Replace [new] with [[alloc] init] in ObjC code (#7529)
  AGENTS.md
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryCoreDataTracker.m
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/SentryDateUtils.m
  Sources/Sentry/SentryDebugMeta.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDelayedFramesTracker.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryException.m
  Sources/Sentry/SentryFrame.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryMechanismContext.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryStacktrace.m
  Sources/Sentry/SentrySwizzle.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Sources/Sentry/UIViewController+Sentry.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Tests/SentryTests/Helper/SentrySwizzleTests.m
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/SentryCrash/SentryCrashReportStore_Tests.m
  Tests/SentryTests/SentryOptionsTest.m
Due: format-markdown

Apply suggestions from code review
  CHANGELOG.md
Due: format-markdown

fix: Fix optional chaining for window property access (#7508)
  CHANGELOG.md
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift, format-markdown

chore: Don't swiftlint generated sample code (#7524)
  .swiftlint.yml
  Makefile
Due: none

Add experimental option
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

fix: Preserve NSException reason over unrelated crash_info_message (#7515)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown

update public API
  sdk_api.json
Due: none

add changelog entry
  CHANGELOG.md
Due: format-markdown

update changelog
  CHANGELOG.md
Due: format-markdown

ref(build): Split xcode-ci and build-sample into per-sample targets (#7530)
  Makefile
  schema/xcodegen.schema.json
Due: format-json

ref: remove stale SentryPredicateDescriptor references from project
  Sentry.xcodeproj/project.pbxproj
Due: none

cleanup project
  Sentry.xcodeproj/project.pbxproj
Due: none

ref: Address CWE-676 use of potentially dangerous functions
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentrySessionReplaySyncC.c
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFixer.c
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/SentryCrash/Recording/Tools/SentryCrashObjC.c
  Sources/SentryCrash/Recording/Tools/SentryCrashSysCtl.c
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashReportStore_Tests.m
Due: format-swift

ref: Convert `SentrySample` to Swift (#7405)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfileDebugLoggerHelper.m
  Sources/Sentry/Profiling/SentryProfilerSampleCreation.m
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/Profiling/SentryProfilerState.mm
  Sources/Sentry/Profiling/SentrySample.m
  Sources/Sentry/SentryProfileTimeseries.m
  Sources/Sentry/include/SentryProfileDebugLoggerHelper.h
  Sources/Sentry/include/SentryProfilerSampleCreation.h
  Sources/Sentry/include/SentrySample.h
  Sources/Swift/Profiling/SentrySample.swift
Due: format-swift

feat: Add watchdog termination hang tracker using runloop observer (#7464)
  CHANGELOG.md
  Sources/Swift/HangTracker.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  sdk_api.json
Due: format-swift, format-markdown

ref(samples): Restructure SPM sample with App/Sources and App/Configuration
  Samples/SPM/App/Configuration/Info.plist
  Samples/SPM/App/Configuration/SPM.entitlements
  Samples/SPM/App/Configuration/SPM.xcconfig
  Samples/SPM/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/Contents.json
  Samples/SPM/App/Sources/ContentView.swift
  Samples/SPM/App/Sources/SPMTestApp.swift
  Samples/SPM/SPM.yml
Due: format-swift, format-json

ref(samples): Restructure SentrySampleShared with synced folders
  Samples/SentrySampleShared/SentrySampleShared.yml
Due: none

ref(samples): Restructure DistributionSample with App layout
  Samples/DistributionSample/App/Configuration/.gitkeep
  Samples/DistributionSample/App/Configuration/DistributionSample.xcconfig
  Samples/DistributionSample/App/Configuration/Info.plist
  Samples/DistributionSample/App/Resources/.gitkeep
  Samples/DistributionSample/App/Sources/App.swift
  Samples/DistributionSample/App/Sources/Constants.swift
  Samples/DistributionSample/App/Sources/ContentView.swift
  Samples/DistributionSample/App/Sources/UpdateUtil.swift
  Samples/DistributionSample/DistributionSample.yml
Due: format-swift

ref(samples): Restructure SDK-Size with App layout
  Samples/SDK-Size/App/Configuration/Info.plist
  Samples/SDK-Size/App/Configuration/SDK-Size.entitlements
  Samples/SDK-Size/App/Configuration/SDK-Size.xcconfig
  Samples/SDK-Size/App/Sources/App.swift
  Samples/SDK-Size/App/Sources/ContentView.swift
  Samples/SDK-Size/SDK-Size.yml
Due: format-swift

ref(samples): Restructure SessionReplay-CameraTest with Configuration and Resources
  Samples/SessionReplay-CameraTest/Configuration/Info.plist
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
Due: format-json

ref(samples): Restructure iOS-ObjectiveC with App and UITests
  Samples/iOS-ObjectiveC/App/Configuration/Info.plist
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.entitlements
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Tongariro.jpg
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.h
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.m
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.h
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.h
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/App/Sources/main.m
  Samples/iOS-ObjectiveC/UITests/Configuration/Info.plist
  Samples/iOS-ObjectiveC/UITests/Configuration/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/UITests/Resources/.gitkeep
  Samples/iOS-ObjectiveC/UITests/Sources/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: format-swift

ref(samples): Restructure iOS-Swift6 with App layout
  Samples/iOS-Swift6/App/Configuration/Info.plist
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.entitlements
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-Swift6/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift6/App/Sources/AppDelegate.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift6/App/Sources/ViewController.swift
  Samples/iOS-Swift6/UITests/Configuration/Info.plist
  Samples/iOS-Swift6/UITests/Configuration/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/UITests/Resources/.gitkeep
  Samples/iOS-Swift6/UITests/Sources/UITests.swift
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.yml
Due: format-swift
