Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Move trace propagation to its own class
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentryTracePropagation.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore: Remove V9 checks for decodable and segment
  CHANGELOG-v9.md
  CHANGELOG.md
  Sources/Sentry/Public/SentryBaggage.h
  Sources/Sentry/Public/SentryTraceContext.h
  Sources/Sentry/Public/SentryTransactionContext.h
  Sources/Sentry/Public/SentryUser.h
  Sources/Sentry/SentryBaggage.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTraceContext.m
  Sources/Sentry/SentryUser.m
  Sources/Swift/Protocol/Codable/SentryDebugMetaCodable.swift
  Sources/Swift/Protocol/Codable/SentryUserCodable.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentryUserTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
  Tests/SentryTests/Transaction/SentryBaggageTests.swift
  Tests/SentryTests/Transaction/SentryTraceContextTests.swift
  Tests/SentryTests/Transaction/SentryTransactionContextTests.swift
  sdk_api.json
Due: format-swift, format-markdown

fix: Wrong Frame Delay when becoming active
  CHANGELOG.md
  Sources/Sentry/SentryDelayedFramesTracker.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/include/SentryDelayedFramesTracker.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
Due: format-swift, format-markdown

ref: Move trace propagation to its own class (#6337)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentryTracePropagation.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

test: Extract isTargetTests to own test class
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryTracePropagationTests.swift
Due: format-swift

make thread safe
  Sources/Sentry/SentryDelayedFramesTracker.m
Due: none

test: Extract isTargetTests to own test class (#6352)
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryTracePropagationTests.swift
Due: format-swift

ref: Remove SentrySDK from trace propagation class
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryTracePropagation.h
Due: none

fix uiswitch masking
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+Common/testDefaultIgnoredControls_shouldNotRedactUISwitch.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+Common/testOptions_maskedViewClasses_shouldRedactCustomView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+Common/testOptions_maskedViewClasses_shouldRedactCustomView.2.png
Due: format-swift

add in SentryOptionsTest
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryTests/SentryOptionsTest.m
Due: none

add more assertions to SwiftUI redaction tests
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SwiftUI.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextDisabled_withMaskAllImagesDisabled_shouldRedactText.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextDisabled_withMaskAllImagesDisabled_shouldRedactText.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextDisabled_withMaskAllImagesEnabled_shouldRedactImage.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextDisabled_withMaskAllImagesEnabled_shouldRedactImage.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUILabel_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIList_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIList_withMaskAllTextDisabled_withMaskAllImagesDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIList_withMaskAllTextDisabled_withMaskAllImagesEnabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIList_withMaskAllTextDisabled_withMaskAllImagesEnabled_shouldNotRedactView.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIList_withMaskAllTextEnabled_shouldRedactView.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllImagesDisabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllImagesDisabled_shouldRedactView.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllTextDisabled_shouldNotRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllTextDisabled_shouldNotRedactView.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllTextEnabled_shouldRedactView.1.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testRedact_withSwiftUIText_withMaskAllTextEnabled_shouldRedactView.2.png
  Tests/SentryTests/ViewCapture/__Snapshots__/SentryUIRedactBuilderTests+SwiftUI/testSwiftUIListDecorationBackground_doesNotUnmaskNavigationBarContent_elaborateHierarchy.1.png
Due: format-swift

test: Disable flaky test SentrySDKInternalTests.testResumeAndPauseAppHangTracking() (#6371)
  Plans/Sentry_Base.xctestplan
Due: none

fix linting issues
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+ReactNative.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SpecialViews.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SwiftUI.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+UIKit.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

revert mask renderer scale 2
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskRendererV2.swift
Due: format-swift

Wait for threads to be finished before ending the test
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: none

Wait for thread to end with an expectation
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
  Tests/SentryTests/SentryCrash/TestThread.h
  Tests/SentryTests/SentryCrash/TestThread.m
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Improve tests
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

ref: Convert `SentryReachability` to Swift (#6019)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryReachability.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryReachability.h
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
  Tests/SentryTests/Networking/SentryReachabilityTests.m
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
Due: format-swift, format-markdown

Fix typo
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
Due: none

fix: Improve flaky tests at SentryDispatchQueueWrapperSwiftTests
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
Due: format-swift

chore: Remove debug meta decodable V9 checks
  Sources/Swift/Protocol/Codable/SentryDebugMetaCodable.swift
Due: format-swift

chore: Remove more deprecated APIs in V9 (#6346)
  CHANGELOG-v9.md
  CHANGELOG.md
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentryDsn.h
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/SentryDsn.m
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/Networking/SentryDsnTests.m
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift, format-markdown

Remove enable tracing flag from V9
  .github/workflows/test-cross-platform.yml
  CHANGELOG-v9.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

ref: Remove watchdog breadcrumb processor from dependency container
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift

Remove enable tracing flag from V9 (#6343)
  .github/workflows/test-cross-platform.yml
  CHANGELOG-v9.md
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentyOptionsInternal.m
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

chore: Remove profiling API deprecated in V9
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentrySampling.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

Use `env` vars instead of direct interpolation in `run` commands
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/ui-tests-common.yml
Due: none

feat(session-replay): Add prototype for CoreML-based masking
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcworkspace/contents.xcworkspacedata
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Swift/Core/Tools/ViewCapture/SentryMLRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskRendererV2.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskingModel.mlpackage/Data/com.apple.CoreML/FeatureDescriptions.json
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskingModel.mlpackage/Data/com.apple.CoreML/Metadata.json
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskingModel.mlpackage/Data/com.apple.CoreML/model.mlmodel
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskingModel.mlpackage/Data/com.apple.CoreML/weights/weight.bin
  Sources/Swift/Core/Tools/ViewCapture/SentryMaskingModel.mlpackage/Manifest.json
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactRegion.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryScreenshotSource.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilderProtocol.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
Due: format-swift, format-markdown, format-json

chore(ci): Use `env` vars instead of direct interpolation in `run` commands (#6388)
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/ui-tests-common.yml
Due: none

remove legacy extensions
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestStreamableObject.swift
  Sources/Swift/Tools/MsgPack/Data+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/NSData+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/NSURL+SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/SentryMsgPackSerializer.swift
  Sources/Swift/Tools/MsgPack/SentryStreamable.swift
  Sources/Swift/Tools/MsgPack/URL+SentryStreamable.swift
  Sources/Swift/Tools/SentryEnvelopeItem.swift
Due: format-swift

resolve conversion mistakes
  Sources/Swift/Tools/MsgPack/SentryMsgPackSerializer.swift
  Sources/Swift/Tools/MsgPack/URL+SentryStreamable.swift
Due: format-swift

Improve tests
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
Due: format-swift

ref: Remove watchdog breadcrumb processor from dependency container (#6384)
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift
