Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ci: remove Cirrus-only Compat test matrix entries
  .github/workflows/test.yml
Due: none

fix: include Replay cookies in payload
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
Due: format-swift

feat: Add SDK compliance manifest
  .gitignore
  AGENTS.md
  REVIEWS.md
  develop-docs/README.md
  develop-docs/SPEC_COMPLIANCE.md
  sentry-spec-compliance.json
Due: format-markdown, format-json

ci: remove Cirrus CI runners, use Bitrise only (#8675)
  .github/actionlint.yaml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/nightly-test.yml
  .github/workflows/release.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
Due: none

flush startup crash reports once
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportStoreSender.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportStoreSenderTests.swift
Due: format-swift

fix: don't reset the original terminate handler when the C++ exception monitor is disabled
  CHANGELOG.md
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: format-markdown

chore: Track feature flag API usage
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Options.swift
  Sources/Swift/Scope.swift
  Sources/Swift/Span.swift
  Tests/SentryTests/FeatureFlags/SentryOptionsSdkFeaturesTests.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix: clean KSCrash sidecars after cancellation
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportStoreSender.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportStoreSenderTests.swift
Due: format-swift

test: clean KSCrash reports before retry E2E
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
Due: format-swift

docs: add mirroring documentation
  develop-docs/MIRRORING.md
  develop-docs/README.md
Due: format-markdown

docs: add distribution channels and workflow to RELEASE.md
  develop-docs/RELEASE.md
Due: format-markdown

ci: Remove disabled changelog-preview workflow
  .github/workflows/changelog-preview.yml
Due: none

test: Assert main thread in UIViewController swizzling helper
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
Due: none

ref: Drop redundant main-thread asserts in lifecycle swizzlers
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
Due: none

fix: skip swizzling of background-thread VC inits
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

docs: add swizzling FAQ on how we relate to the NSHipster article
  develop-docs/SWIZZLING.md
Due: format-markdown

test: add VC swizzling crash fixtures to sample
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

feat: defer UIViewController swizzling to first init
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/SentryExperimentalOptions.swift
Due: format-swift

test: switch sample fixtures to deferred swizzling
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

test: cover deferred UIViewController swizzling
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

docs: changelog and public API for init swizzling
  CHANGELOG.md
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-markdown

docs: point changelog at the new PR number
  CHANGELOG.md
Due: format-markdown

ref: Convert watchdog breadcrumb processor
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryWatchdogTerminationBreadcrumbProcessor.h
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ci: Remove disabled changelog-preview workflow (#8683)
  .github/workflows/changelog-preview.yml
Due: none

fix: cancel pending KSCrash report processing (#8589)
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryStoredCrashReportProcessor.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilter.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportProcessingSession.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportStoreSender.swift
  Tests/SentryTests/CrashReporting/SentryStoredCrashReportProcessorTests.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportProcessingSessionTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportStoreSenderTests.swift
Due: format-swift

test(kscrash): cover per-report retry across launches (#8593)
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+KSCrashRetry.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ConfigArgumentParser.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner+KSCrashRetry.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/KSCrashRetryScenarioAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner+KSCrashRetry.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
Due: format-swift

fix: Construct watchdog breadcrumb mock
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
Due: format-swift

remove personal project setup gitignore
  .gitignore
Due: none

feat: Add SDK compliance manifest (#8677)
  AGENTS.md
  REVIEWS.md
  develop-docs/README.md
  develop-docs/SPEC_COMPLIANCE.md
  sentry-spec-compliance.json
Due: format-markdown, format-json

ref: Convert watchdog breadcrumb processor (#8688)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryWatchdogTerminationBreadcrumbProcessor.h
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

docs: clarify VC swizzling fixture comments
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

docs: trim VC swizzling fixture comments
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

docs: restore sample fixture comments from base
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

replace [Report]?, (any Error)? with Result<[Report], Error> + add debug logs to ReportProcessingSession liberally
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilter.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportProcessingSession.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
Due: format-swift

docs: add swizzling FAQ on how we relate to the NSHipster article (#8685)
  develop-docs/SWIZZLING.md
Due: format-markdown

test: add VC swizzling crash fixtures to sample (#8686)
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift

docs: note GH-1355 repro attempt and opt-in ship
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
Due: none

fix flaky tests
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/TelemetryProcessor/SentryDefaultTelemetryProcessorTests.swift
Due: format-swift

docs: explain Replay default deny list choice
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
