Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

Use objc_lookUpClass to avoid realizing OS-gated Swift classes
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
Due: format-swift

build: make Sentry-Dynamic mergeable metadata opt-in (MERGEABLE=1)
  scripts/build-xcframework-slice.sh
Due: none

WIP
  CHANGELOG_V10.md
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift, format-markdown

make span addFeatureFlag internal
  Sources/Swift/Span.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift

ci: publish junit report on re-runs
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

remove add feature flag api
  Sources/SentryObjC/Public/SentryObjCSpan.h
  Sources/SentryObjCCompat/SentryObjCSpan.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatFeatureFlagTests.swift
  Tests/SentryObjCTests/SentryObjCSpanTests.m
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: format-swift

feat: Add scope feature flag API (#8147)
  CHANGELOG.md
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ViewControllers/ScopeViewController.swift
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/SentryScope.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/SentryObjC/Public/SentryObjCScope.h
  Sources/Swift/FeatureFlags/SentryFeatureFlagBuffer.swift
  Sources/Swift/FeatureFlags/SentryFeatureFlagBufferWrapper.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Scope.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Span.swift
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferTests.swift
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferWrapperTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ci: skip junit publish when tests didn't run
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

ci: publish junit report on re-runs (#8344)
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

remove remove methods
  Sources/Swift/FeatureFlags/SentryFeatureFlagBuffer.swift
  Sources/Swift/FeatureFlags/SentryFeatureFlagBufferWrapper.swift
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferTests.swift
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferWrapperTests.swift
Due: format-swift

update test names
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferWrapperTests.swift
Due: format-swift

ci: Add file filter to Xcode 27 workflow
  .github/file-filters.yml
  .github/workflows/xcode27-test.yml
Due: none

fix: Rate limiting all data on lowercased header
  CHANGELOG.md
  Sources/Sentry/SentryDefaultRateLimits.m
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestResponseFactory.swift
Due: format-swift, format-markdown

release: 9.20.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

ci: skip simulator resolution in build-only and lint jobs
  .github/actions/setup-xcode/action.yml
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-sentryobjc-slices.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/testflight.yml
  .github/workflows/xcode27-test.yml
  scripts/ci-select-xcode.sh
Due: none

fix: snapshot currentHub under currentHubLock in span, startProfiler, stopProfiler
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
Due: format-markdown

chore(ci): Skip rbenv install if ruby version is cached
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

fix: Rate limiting all data on lowercased header (#8340)
  CHANGELOG.md
  Sources/Sentry/SentryDefaultRateLimits.m
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestResponseFactory.swift
Due: format-swift, format-markdown

fix: Adopt scene lifecycle in sample apps
  Samples/iOS-ObjectiveC-Dynamic/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveC-Static/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC-Static/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC-Static/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC-Static/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveC/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveCpp-NoModules/App/Configurations/Info.plist
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/SceneDelegate.mm
  Samples/iOS-Swift/App/Configurations/Info.plist
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift/App/Sources/Tools/TopViewControllerInspector.swift
Due: format-swift

chore: Align deinit handler of hang and runloop delay tracker
  Sources/Swift/Integrations/AppHangTracking/SentryAppHangTracker.swift
  Sources/Swift/Integrations/AppHangTracking/SentryRunLoopDelayTracker.swift
Due: format-swift

ci: cache Homebrew and skip auto-update in CI
  .github/actions/cache-homebrew/action.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/size-analysis.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  Makefile
Due: none

release: 8.58.4
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

migrate tvos
  Samples/tvOS-Swift/App/Configurations/Info.plist
  Samples/tvOS-Swift/App/Sources/AppDelegate.swift
  Samples/tvOS-Swift/App/Sources/SceneDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift/Sources/AppDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/SceneDelegate.swift
Due: format-swift

fix watchos
  Samples/watchOS-Swift/WatchApp/Resources/Base.lproj/Interface.storyboard
  Sources/Configuration/DeploymentTargets.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
Due: none

fix: snapshot currentHub under currentHubLock in span, startProfiler, stopProfiler (#8318)
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
Due: format-markdown

chore: Align deinit handler of hang and runloop delay tracker (#8352)
  Sources/Swift/Integrations/AppHangTracking/SentryAppHangTracker.swift
  Sources/Swift/Integrations/AppHangTracking/SentryRunLoopDelayTracker.swift
Due: format-swift

fix cl
  CHANGELOG.md
Due: format-markdown

update cl entry
  CHANGELOG.md
Due: format-markdown

test: Fix flaky dispatch source timer test
  Tests/SentryTests/Helper/SentryDispatchSourceWrapperTests.swift
Due: format-swift

Run `rbenv rehash` when using cached ruby version
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

chore(ci): Skip rbenv install if ruby version is cached (#8350)
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

cover the behavior bounds with more tests
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

move change log to unreleased
  CHANGELOG.md
Due: format-markdown

mirror the scene window to AppDelegate.window for shared sample helpers
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/SceneDelegate.swift
  Samples/XCFramework-Validation/XCFramework/AppDelegate.swift
  Samples/XCFramework-Validation/XCFramework/SceneDelegate.swift
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift/AppClip/Sources/AppDelegate.swift
  Samples/iOS-Swift/AppClip/Sources/SceneDelegate.swift
  Samples/iOS-Swift6/App/Sources/AppDelegate.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/tvOS-Swift/App/Sources/AppDelegate.swift
  Samples/tvOS-Swift/App/Sources/SceneDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/AppDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/SceneDelegate.swift
Due: format-swift

feat: Attach feature flag evaluations to active spans (#8158)
  CHANGELOG.md
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ViewControllers/ScopeViewController.swift
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpanInternal.m
  Sources/Sentry/include/SentrySpanInternal.h
  Sources/Swift/FeatureFlags/SentryFeatureFlagBufferWrapper.swift
  Sources/Swift/Span.swift
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferWrapperTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  Tests/SentryTests/Transaction/SentryTransactionTests.swift
Due: format-swift, format-markdown

chore: Cancel pending saucelabs jobs
  .github/workflows/benchmarking.yml
Due: none

feat: Add feature flag scope ObjC API (#8160)
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCHub.h
  Sources/SentryObjC/Public/SentryObjCSDK.h
  Sources/SentryObjC/Public/SentryObjCScope.h
  Sources/SentryObjCCompat/SentryObjCHub.swift
  Sources/SentryObjCCompat/SentryObjCSDK.swift
  Sources/SentryObjCCompat/SentryObjCScope.swift
  Tests/SentryObjCTests/SentryObjCHubTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  Tests/SentryObjCTests/SentryObjCScopeTests.m
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

Make sure job isn't empty
  .github/workflows/benchmarking.yml
Due: none
