Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Convert SentryEnvelopeItemType to Swift (#6102)
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/include/HybridPublic/SentryEnvelopeItemType.h
  Sources/Swift/Helper/SentryEnvelopeItemType.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentrySpanTests.swift
Due: format-swift

ref: Convert SentryEnvelopeItem to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestConstants.swift
  SentryTestUtils/TestFileManager.swift
  SentryTestUtils/TestHub.swift
  SentryTestUtils/TestTransport.swift
  SentryTestUtils/TestTransportAdapter.swift
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/HybridPublic/SentryEnvelope.h
  Sources/Sentry/include/SentryEnvelope+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryTraceProfilerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix(visionOS): Remove Interoperability mode for visionOS (#6077)
  .github/workflows/release.yml
  CHANGELOG.md
  Package.swift
  Package@swift-5.9.swift
  Samples/visionOS-SPM/.gitignore
  Samples/visionOS-SPM/Package.swift
  Samples/visionOS-SPM/Sources/visionOS-SPM/ContentView.swift
  Samples/visionOS-SPM/Sources/visionOS-SPM/main.swift
  Sources/Configuration/SDK.xcconfig
  Sources/SentryCppHelper/SentryCppHelper.swift
  Sources/Swift/Helper/SentryMobileProvisionParser.swift
  Utils/expected_package_diff.patch
Due: format-swift, format-markdown

Cleanup
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestConstants.swift
  SentryTestUtils/TestFileManager.swift
  SentryTestUtils/TestTransport.swift
  SentryTestUtils/TestTransportAdapter.swift
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

chore(ci): Remove Package.swift checks
  .github/file-filters.yml
  .github/workflows/check-package-diff.yml
  .github/workflows/release.yml
  Makefile
  Utils/VersionBump/main.swift
  Utils/expected_package_diff.patch
Due: format-swift

update test cases
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ErrorsViewController.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

add dynamic view init
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

feat: Add significant time change breadcrumb
  CHANGELOG.md
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
Due: format-swift, format-markdown

git commit -m "Fix duplicate redaction regions in mapRedactRegion method
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

chore(ci): Remove Package.swift checks (#6110)
  .github/file-filters.yml
  .github/workflows/check-package-diff.yml
  .github/workflows/release.yml
  Makefile
  Utils/VersionBump/main.swift
  Utils/expected_package_diff.patch
Due: format-swift

Use fixed branch
  .github/workflows/test-cross-platform.yml
Due: none

Delte 'Package@swift-5.9.swift'
  Package@swift-5.9.swift
Due: format-swift

fix(tests): Update dateProvider initialization in SentryTransportFactoryTests
  Tests/SentryTests/Networking/SentryTransportFactoryTests.swift
Due: format-swift

Update scripts/ci-install-xOS-26-platforms.sh
  scripts/ci-install-xOS-26-platforms.sh
Due: none

remove selecting xcode twice
  .github/workflows/test.yml
Due: none

let xcrun fail
  scripts/ci-install-xOS-26-platforms.sh
Due: none

Update Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
Due: none

Update Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
Due: format-swift

format code
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
Due: none

ref: Envelope item swift (#6073)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestConstants.swift
  SentryTestUtils/TestHub.swift
  SentryTestUtils/TestTransportAdapter.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/HybridPublic/SentryEnvelope.h
  Sources/Sentry/include/SentryEnvelope+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryTraceProfilerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Convert SentryEnvelope to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestConstants.swift
  SentryTestUtils/TestFileManager.swift
  SentryTestUtils/TestTransport.swift
  SentryTestUtils/TestTransportAdapter.swift
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/include/HybridPublic/SentryEnvelope.h
  Sources/Swift/Tools/SentryEnvelope.swift
  Tests/SentryTests/Helper/SentrySerializationNilTests.m
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

release: 8.56.0-alpha.0
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Package@swift-5.9.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

chore: Remove `Package@swift-5.9.swift` (#6121)
  Package@swift-5.9.swift
Due: format-swift

release: 8.56.0-alpha.1
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

Fix build
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryEnvelopeHeaderHelper.m
  Sources/Sentry/include/SentryEnvelopeHeaderHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelope.swift
Due: format-swift

ref: Convert SentryEnvelope to Swift (#6117)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestConstants.swift
  SentryTestUtils/TestFileManager.swift
  SentryTestUtils/TestTransport.swift
  SentryTestUtils/TestTransportAdapter.swift
  SentryTestUtilsTests/TestConstantTests.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeHeaderHelper.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Sentry/include/HybridPublic/SentryEnvelope.h
  Sources/Sentry/include/SentryEnvelopeHeaderHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelope.swift
  Tests/SentryTests/Helper/SentrySerializationNilTests.m
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportAdapterTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

Fix SauceLabs tests
  Sources/Sentry/include/SentrySwift.h
  Sources/Swift/Networking/SentryReachability.swift
  scripts/.swiftlint-version
Due: format-swift

feat: Add significant time change breadcrumb (#6112)
  CHANGELOG.md
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
Due: format-swift, format-markdown

fix comment
  .github/workflows/test.yml
Due: none

apply feedback from PR review
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift, format-markdown

chore(deps): bump actions/checkout from 4 to 5 (#6113)
  .github/workflows/release.yml
Due: none

ci: Run unit tests on iOS 26 (#6075)
  .github/workflows/test.yml
  CHANGELOG.md
  Tests/SentryTests/Helper/SentryDeviceTests.m
  Tests/SentryTests/Helper/SentryFileManagerTestExtension.swift
  Tests/SentryTests/Integrations/Performance/CoreData/TestCoreDataStack.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashReportTests.swift
  Tests/SentryTests/SentryClientTests.swift
  scripts/ci-create-simulator.sh
  scripts/ci-install-xOS-26-platforms.sh
Due: format-swift, format-markdown

WIP
  Sentry.xcodeproj/project.pbxproj
  Sources/SentrySwiftUI/SentryScreenshotMaskViewModifier.swift
  Sources/Swift/Core/Extensions/UIView+SentryScreenshots.swift
  Sources/Swift/Core/Extensions/UIView+SentrySessionReplay.swift
Due: format-swift

fix compilation on macos
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

fix defer try
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

add ui testing for iOS 26
  .github/workflows/ui-tests.yml
Due: none
