Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

chore: add SwiftLint rule for allHeaderFields (#8387)
  .swiftlint.yml
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
Due: format-swift

chore: harden allHeaderFields ObjC linter
  scripts/check-objc-banned-pattern.sh
Due: none

fix: capture Session Replay HTTP response bodies
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Networking/DefaultRateLimits.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

fix: reference PR number in changelog entry
  CHANGELOG.md
Due: format-markdown

chore: lint staged files in banned-pattern lint-staged
  Makefile
  scripts/check-objc-banned-pattern.sh
Due: none

ref: move HTTPURLResponse header extension to own file
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/HTTPURLResponse+Sentry.swift
Due: format-swift

chore: guard non-objc files in banned-pattern linter
  scripts/check-objc-banned-pattern.sh
Due: none

ref: bridge header lookup to ObjC via wrapper class
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Networking/HTTPURLResponse+Sentry.swift
  Tests/SentryTests/Networking/HTTPURLResponse+SentryTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
Due: format-swift

fix: suppress allHeaderFields lint in test mock
  .swiftlint.yml
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

docs: Fix changelog section
  CHANGELOG.md
Due: format-markdown

ref: Extract dictionary decoder
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Swift/DataCollection/SentryDataCollection+DatabaseOptions.swift
  Sources/Swift/DataCollection/SentryDataCollection+GraphQLCollectionOptions.swift
  Sources/Swift/DataCollection/SentryDataCollection+HttpHeaderCollectionOptions.swift
  Sources/Swift/DataCollection/SentryDataCollection+KeyValueCollectionBehavior.swift
  Sources/Swift/DataCollection/SentryDataCollection+Options.swift
  Sources/Swift/DataCollection/SentryDataCollection.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Sources/Swift/Tools/SentryDictionaryDecoder.swift
  Tests/SentryTests/SentryExperimentalOptionsTests.swift
  Tests/SentryTests/Swift/Tools/SentryDictionaryDecoderObjCTests.m
  Tests/SentryTests/Swift/Tools/SentryDictionaryDecoderTests.swift
Due: format-swift

chore: align banned-pattern linter usage text
  scripts/check-objc-banned-pattern.sh
Due: none

ref: Migrate UI event tracker to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryUIEventTracker.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryUIEventTracker.h
  Sources/Sentry/include/SentryUIEventTrackerMode.h
  Sources/Sentry/include/SentryUIEventTrackerTransactionMode.h
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTracker.swift
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTrackerMode.swift
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTrackerTransactionMode.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

align formatting
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

ref: Move options dictionary parsing to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryOptionsHelper.m
  Sources/Sentry/SentryOptionsInternal.h
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Sentry/include/SentryOptionsHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Networking/SentryDsnTests.m
  Tests/SentryTests/Networking/SentryTransportInitializerTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptions+Tests.h
  Tests/SentryTests/SentryOptionsDictionaryTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryTests.m
Due: format-swift

test: Fix V10 locale test guard
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

chore: add Objective-C linter for allHeaderFields (#8389)
  Makefile
  Sources/Sentry/SentryNetworkTracker.m
  scripts/check-objc-banned-pattern.sh
Due: none

docs: document HTTPHeaderReader, drop missing_docs disable
  Sources/Swift/Networking/HTTPURLResponse+Sentry.swift
Due: format-swift

docs: point ObjC lint message to new extension file
  Makefile
Due: none

test: drop contrived HTTPURLResponse subclass
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

test: assert content-type and body in response capture test
  CHANGELOG.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

cleanup
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCScope.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  scripts/ci-select-xcode.sh
Due: format-swift, format-markdown

test: make response content-type test a real regression test
  CHANGELOG.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

fix: Add userInfo context for unhandled NSExceptions (#8332)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-swift, format-markdown

ref: remove enableReplayNetworkDetailsCapturing
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/SentryNetworkTracker.m
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  develop-docs/DECISIONS.md
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

chore: add changelog entry for #8396
  CHANGELOG.md
Due: format-markdown

Run generate again
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_v10.json
Due: none

docs: add SDK distribution improvement investigation
  develop-docs/IMPROVE-SDK-DISTRIBUTION.md
Due: format-markdown

cleanup
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Swift/Helper/SentrySwizzleWrapper.swift
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTracker.swift
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTrackerMode.swift
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTrackerTransactionEventProcessor.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/UIEvents/SentryUIEventTrackerTests.swift
Due: format-swift

fix: Preserve UI event span handling
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentrySpanOperation.m
  Sources/Sentry/include/SentrySpanOperation.h
  Sources/Swift/Integrations/UIEventTracking/SentryUIEventTrackerTransactionEventProcessor.swift
  Tests/SentryTests/Integrations/UIEvents/SentryUIEventTrackerTests.swift
Due: format-swift

cleanup
  Sentry.xcodeproj/project.pbxproj
Due: none

fix: capture Session Replay HTTP response bodies (#8390)
  .swiftlint.yml
  CHANGELOG.md
  Makefile
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/HTTPURLResponse+Sentry.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Networking/HTTPURLResponse+SentryTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
Due: format-swift, format-markdown

test: Fix app hang tracking test flake
  Tests/SentryTests/Integrations/AppHangTracking/SentryHangTrackingIntegrationTests.swift
Due: format-swift

test: Stabilize custom URL protocol test
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

test: Fix app hang tracking test flake (#8402)
  Tests/SentryTests/Integrations/AppHangTracking/SentryHangTrackingIntegrationTests.swift
Due: format-swift

fix: Distinguish context line integers
  Sources/Swift/DataCollection/SentryDataCollection+Options.swift
  Tests/SentryTests/DataCollection/SentryDataCollectionOptionsTests.swift
Due: format-swift

test: Reset crash reporter after integration tests
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

feat: Add key-value filtering utility
  CHANGELOG.md
  Sources/Swift/DataCollection/SentryKeyValueFilter.swift
  Tests/SentryTests/DataCollection/SentryKeyValueFilterTests.swift
Due: format-swift, format-markdown

chore: Remove internal filter changelog entry
  CHANGELOG.md
Due: format-markdown

fix: Log actual error in SpotlightTransport
  CHANGELOG.md
  Sources/Sentry/SentrySpotlightTransport.m
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/Protocol/TestData.swift
Due: format-swift, format-markdown
