Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix: Disable app hang and watchdog termination tracking in Notification Service Extensions (#7818)
  CHANGELOG.md
  Samples/iOS-Swift/App/Configurations/Info.plist
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/NotificationsViewController.swift
  Samples/iOS-Swift/NotificationServiceExtension/Configurations/Info.plist
  Samples/iOS-Swift/NotificationServiceExtension/Configurations/iOS-Swift-NotificationServiceExtension.xcconfig
  Samples/iOS-Swift/NotificationServiceExtension/Resources/.gitkeep
  Samples/iOS-Swift/NotificationServiceExtension/Sources/NotificationService.swift
  Samples/iOS-Swift/iOS-Swift.yml
  Sources/Swift/Helper/SentryExtensionDetector.swift
  Sources/Swift/Helper/SentryExtensionType.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Tests/SentryTests/Helper/SentryExtensionTypeTests.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  fastlane/Fastfile
  sdk_api.json
Due: format-swift, format-markdown

ref: Add null guard to writeToLog for defensive safety
  Sources/Sentry/SentryAsyncSafeLog.c
Due: none

feat(SentryObjC): Add missing API surface for Options, SDK, and ExperimentalOptions
  Sources/SentryObjC/Public/SentryExperimentalOptions.h
  Sources/SentryObjC/Public/SentryFeedbackApi.h
  Sources/SentryObjC/Public/SentryLastRunStatus.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryOptions.h
  Sources/SentryObjC/Public/SentrySDK.h
  Sources/SentryObjC/SentrySDK.m
  Sources/SentryObjCBridge/SentryObjCBridge.swift
  Sources/SentryObjCTypes/Public/SentryObjCBridging.h
  scripts/extract-objc-api.sh
  sdk_api_objc.json
Due: format-swift

ref: Revert incomplete overflow guard in image renderer
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
Due: format-swift

ref: Remove session replay environment checker and related options (#7831)
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestSessionReplayEnvironmentChecker.swift
  SentryTestUtilsTests/Sources/TestSessionReplayEnvironmentCheckerTests.swift
  Sources/Sentry/SentryReplayApi.m
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistKey.swift
  Sources/Swift/Helper/InfoPlist/SentryXcodeVersion.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentChecker.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentCheckerProvider.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/InfoPlist/SentryInfoPlistKeyTests.swift
  Tests/SentryTests/Helper/InfoPlist/SentryInfoPlistWrapperTests.swift
  Tests/SentryTests/Helper/InfoPlist/SentryXcodeVersionTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayEnvironmentCheckerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/SentryHubTests.swift
  sdk_api.json
Due: format-swift, format-markdown

ref(ci): add step name to ci-diagnostics composite action usage
  .github/workflows/analyze-language-trends.yml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

fix(SentryObjC): Use ObjC deprecation attribute on crashedLastRun
  Sources/SentryObjC/Public/SentrySDK.h
Due: none

fix(SentryObjC): Register new public headers in Xcode project
  Sentry.xcodeproj/project.pbxproj
Due: none

fix: add calloc bounds check
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
Due: format-swift

ref: Address CWE-676 use of potentially dangerous functions (#7549)
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentrySessionReplaySyncC.c
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFixer.c
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/SentryCrash/Recording/Tools/SentryCrashObjC.c
  Sources/SentryCrash/Recording/Tools/SentryCrashSysCtl.c
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashReportStore_Tests.m
Due: format-swift

Add two more tests fro addImage() and registerAddedCallback()
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
Due: none

add entry to decision log
  develop-docs/DECISIONS.md
Due: format-markdown

perf(session-replay): Reduce capture stutters
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

ref(ci): consolidate ci-diagnostics into a composite action (#7848)
  .github/actions/ci-diagnostics/action.yml
  .github/workflows/analyze-language-trends.yml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

Add step name
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

review-comment: Capture request body size when body capture is disabled
  Sources/Sentry/SentryNetworkTracker.m
Due: none

review-comment: Synchronize access to shared network details data
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

review-comment: make format
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
Due: none

review-feedback: Document usage of objc_getAssociatedState key
  Sources/Sentry/SentryNetworkTracker.m
Due: none

review-comment: Only rely on bodyData.length for request size
  Sources/Sentry/SentryNetworkTracker.m
Due: none

chore(ci): Fix build failures on macos
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
Due: none

feat(network-details): Add request details capture
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

feat(network-details): Add response details capture
  Sources/Sentry/SentryNetworkTracker.m
Due: none

review-feedback: ensure same url for request and response
  Sources/Sentry/SentryNetworkTracker.m
Due: none

perf(session-replay): Use run loop captures
  Sources/Swift/Integrations/Performance/SentryDisplayLinkWrapper.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

feat(network-details): Hook up request/response capture in SentryNetworkTracker (#7588)
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

test(network-details): Add partial network detail tests for breadcrumb converter
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
Due: format-swift

review-feedback: comment on absence of data in envelope
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
Due: format-swift

chore(ci): Add SENTRY_TARGET_REPLAY_SUPPORTED guard to fix macos builds
  Sources/Sentry/SentryNetworkTracker.m
Due: none

feat(network-details): Add NetworkRequestData -> breadcrumb -> RRBWebEvent
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
Due: format-swift

review-comment: lock down partial-data serialization
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
Due: format-swift

test(network-details): Add integration tests for completion handler swizzling
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
Due: format-swift

feat(network-details): Add networkDetailHasUrls to RRWebOptionsEvent
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebOptionsEvent.swift
Due: format-swift

review-comment: Synchronize when serializing SentryNetworkDetails for breadcrumb
  Sources/Sentry/SentryNetworkTracker.m
Due: none

review-comment: Add test to verify breadcrumb has expected data
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

perf(session-replay): Skip tracking run loop captures
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

chore: Skip tests unles session replay is supported
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

Add action to file filters
  .github/file-filters.yml
Due: none

fix: Fix format string argument order in SentryCrashReportStore
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
Due: none

ref(session-replay): Simplify capture scheduler
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
