Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

feat(network-details): Extend SentryReplayOptions API
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsNetworkTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
Due: format-swift

feat(network-details): Run make generate-public-api
  sdk_api.json
Due: none

review-comment: Remove duplicate SentryReplayOptions.convertToUrlMatchables
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
Due: format-swift

feat(network-details): Extend SentryReplayOptions API with Session Replay Network Details configuration (#7580)
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Protocol/SentryUrlMatchable.swift
  Sources/Swift/Protocol/SentryUrlMatcher.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsNetworkTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  sdk_api.json
Due: format-swift

review-comment: Remove dead code
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
Due: format-swift

review-comment: reset UI after test runs
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
Due: format-swift

review-feedback: Move binary body creation to extension
  Samples/iOS-Swift/App/Sources/Data+RandomBytes.swift
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
Due: format-swift

review-comment: Move array extension to dedicated Tools folder
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
  Samples/iOS-Swift/App/Sources/Tools/ArrayExtensions.swift
Due: format-swift

review-feedback: Don't use force-unwrapping
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

review-comment: Don't replace URLSession with Data(contentsOf:)
  Samples/iOS-Swift/App/Sources/TransactionsViewController.swift
Due: format-swift

feat(network-details): [test-app] Add testing UI to iOS-Swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
  Samples/iOS-Swift/App/Sources/TransactionsViewController.swift
Due: format-swift

review-comment: Remove unused imports
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
Due: format-swift

review-comment: Don't enable session replay in sample app
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

review-feedback: run make format
  Samples/iOS-Swift/App/Sources/Data+RandomBytes.swift
  Samples/iOS-Swift/App/Sources/Tools/ArrayExtensions.swift
Due: format-swift

feat(network-details): [test-app] Add testing UI to iOS-Swift (#7581)
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/Data+RandomBytes.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/NetworkTestingViewController.swift
  Samples/iOS-Swift/App/Sources/Tools/ArrayExtensions.swift
Due: format-swift

review-comment: Link replay frontend constants for reference
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

feat(network-details): Add data holder class for network detail capture
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
Due: format-swift

review-comment: Don't serialize empty headers map
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

feat(network-details): Introduce data classes for extracting network details to session replay (#7582)
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
Due: format-swift

feat(metrics)!: Promote experimental options to be generally available
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentryAttributeContent.swift
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
Due: format-swift, format-markdown

docs(agents): Require make generate-public-api on API changes
  AGENTS.md
Due: format-markdown

Apply suggestion from @philprime
  CHANGELOG.md
Due: format-markdown

test(metrics): Add metrics options to undocumented list
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
Due: format-swift

fix(ci): Remove duplicate brew update from auto-update-tools.yml
  .github/workflows/auto-update-tools.yml
Due: none

fix(ci): Remove duplicate brew update from auto-update-tools.yml (#7844)
  .github/workflows/auto-update-tools.yml
Due: none

ref(SentryObjC): Drop @compatibility_alias
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Sources/SentryObjC/Public/PrivateSentrySDKOnly.h
  Sources/SentryObjC/Public/SentryAttribute.h
  Sources/SentryObjC/Public/SentryDefines.h
  Sources/SentryObjC/Public/SentryEnvelope.h
  Sources/SentryObjC/Public/SentryEnvelopeHeader.h
  Sources/SentryObjC/Public/SentryEnvelopeItem.h
  Sources/SentryObjC/Public/SentryExperimentalOptions.h
  Sources/SentryObjC/Public/SentryFeedback.h
  Sources/SentryObjC/Public/SentryLog.h
  Sources/SentryObjC/Public/SentryLogger.h
  Sources/SentryObjC/Public/SentryOptions.h
  Sources/SentryObjC/Public/SentryReplayOptions.h
  Sources/SentryObjC/Public/SentrySDK.h
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Protocol/SentryAttribute.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Sources/Swift/Tools/SentryEnvelope.swift
  Sources/Swift/Tools/SentryEnvelopeHeader.swift
  Sources/Swift/Tools/SentryEnvelopeItem.swift
  Sources/Swift/Tools/SentryLogger.swift
  develop-docs/SENTRY-OBJC.md
  sdk_api.json
  sdk_api_objc.json
Due: format-swift, format-markdown

ref(SentryObjCTypes): Conditional sibling imports
  Sources/SentryObjCTypes/Public/SentryObjCTypes.h
Due: none

ref(SentryObjC): Drop duplicate SentryGeo header
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryGeo.h
  Sources/SentryObjC/Public/SentryObjC.h
Due: none

ref(SentryObjC): Reuse main SDK pure-ObjC headers
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryAppStartMeasurement.h
  Sources/SentryObjC/Public/SentryAttachment.h
  Sources/SentryObjC/Public/SentryBaggage.h
  Sources/SentryObjC/Public/SentryBreadcrumb.h
  Sources/SentryObjC/Public/SentryDebugMeta.h
  Sources/SentryObjC/Public/SentryError.h
  Sources/SentryObjC/Public/SentryEvent.h
  Sources/SentryObjC/Public/SentryException.h
  Sources/SentryObjC/Public/SentryFrame.h
  Sources/SentryObjC/Public/SentryHttpStatusCodeRange.h
  Sources/SentryObjC/Public/SentryId.h
  Sources/SentryObjC/Public/SentryLevel.h
  Sources/SentryObjC/Public/SentryMeasurementUnit.h
  Sources/SentryObjC/Public/SentryMechanism.h
  Sources/SentryObjC/Public/SentryMechanismContext.h
  Sources/SentryObjC/Public/SentryMessage.h
  Sources/SentryObjC/Public/SentryNSError.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryReplayApi.h
  Sources/SentryObjC/Public/SentryRequest.h
  Sources/SentryObjC/Public/SentrySampleDecision.h
  Sources/SentryObjC/Public/SentrySamplingContext.h
  Sources/SentryObjC/Public/SentryScope.h
  Sources/SentryObjC/Public/SentrySerializable.h
  Sources/SentryObjC/Public/SentrySpanContext.h
  Sources/SentryObjC/Public/SentrySpanId.h
  Sources/SentryObjC/Public/SentrySpanStatus.h
  Sources/SentryObjC/Public/SentryStacktrace.h
  Sources/SentryObjC/Public/SentryThread.h
  Sources/SentryObjC/Public/SentryTraceContext.h
  Sources/SentryObjC/Public/SentryTraceHeader.h
  Sources/SentryObjC/Public/SentryTransactionContext.h
  Sources/SentryObjC/Public/SentryUser.h
Due: none

Use WeakReference
  SentryTestUtils/Sources/WeakReference.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Sources/Swift/Helper/WeakReference.swift
Due: format-swift

Fix tests
  SentryTestUtils/Sources/TestNSNotificationCenterWrapper.swift
  SentryTestUtilsTests/Sources/TestNSNotificationCenterWrapperTests.swift
  Sources/Swift/Helper/WeakReference.swift
Due: format-swift

feat(network-details): [swizzle] Gate swizzling based on SDKOptions#networkDetailHasUrls
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift

review-feedback: Remove redundant and possibly flakey tests
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
Due: format-swift

feat(network-details): Add (simplified) URLSession swizzling for response capture
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
Due: format-swift

fix(network-details): Gate swizzling with !SENTRY_NO_UI_FRAMEWORK
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift

ref(ci): consolidate ci-diagnostics into a composite action
  .github/actions/ci-diagnostics/action.yml
  .github/workflows/analyze-language-trends.yml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

ref(ci): setup-xcode composite action and Xcode major-only pinning
  .github/actions/setup-xcode/action.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/nightly-test.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-select-xcode.sh
Due: none

fix(ci): exclude beta/RC/GM Xcodes from version resolution
  scripts/ci-select-xcode.sh
Due: none

fix(network-details): make format
  Sources/Sentry/SentrySwizzleWrapperHelper.m
Due: none

Fix script path
  .github/workflows/test-cross-platform.yml
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
