Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

chore: Remove v9 changelog because it is now part of the default changelog
  CHANGELOG-v9.md
  CHANGELOG.md
Due: format-markdown

test(session-replay): Add masking tests for special views (#6571)
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SpecialViews.swift
Due: format-swift

chore: Remove v9 changelog because it is now part of the default changelog (#6637)
  CHANGELOG-v9.md
  CHANGELOG.md
Due: format-markdown

chore: Update public comments to Swift style (#6635)
  CHANGELOG.md
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryHub.swift
Due: format-swift, format-markdown

expose sentrylogger on Hub
  Sources/Sentry/Public/SentryHub.h
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Helper/SentryLog+SPM.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

add breaking changelog entry
  CHANGELOG.md
Due: format-markdown

update changelog
  CHANGELOG.md
Due: format-markdown

made masking stricter to properly handle translucent views
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+EdgeCases.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
  docs/opaque-masking.md
Due: format-swift, format-markdown

chore(ci): Change release workflow to macOS-15 runner and Xcode 16.2 (#6606)
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: format-markdown

feat: Add xcodegen template for Sentry.xcodeproj
  project.yml
Due: none

applied fixes
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/SentryMsgPackSerializerTests.swift
Due: format-swift

remove project.yml
  project.yml
Due: none

fix: Crash when user feedback block is nil
  CHANGELOG.md
  Sources/Sentry/SentryOptions.m
Due: format-markdown

ref: Cleanup SentryOptions implementation
  CHANGELOG.md
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  sdk_api.json
Due: format-markdown

use cast to exose logger
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryHub.h
  Sources/Swift/Helper/SentrySDK.swift
Due: format-swift

update test
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

chore(deps): Update Gems in Gemfile.lock
  Gemfile.lock
Due: none

update access to fw decalered log APIs
  SentryTestUtils/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryClient.h
  Sources/Swift/Helper/SentryLog+SPM.swift
  Sources/Swift/SentryClient.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

ci: Fix SwiftUITestSample bridging header path
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

fix: Update SwiftUITestSample bridging header import path
  TestSamples/SwiftUITestSample/SwiftUITestSample-Bridging-Header.h
Due: none

cleanup
  CHANGELOG.md
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

remove mention of logs in beta
  Sources/Swift/Tools/SentryLogger.swift
Due: format-swift

use _swiftLogger in hub swift
  Sources/Swift/SentryHub.swift
Due: format-swift

ci: Fix SwiftUITestSample bridging header path (#6650)
  TestSamples/SwiftUITestSample/SwiftUITestSample-Bridging-Header.h
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

chore(deps): Update Gems in Gemfile.lock (#6648)
  Gemfile.lock
Due: none

cleanup
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
Due: format-swift

remove redundant test
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

update public api
  sdk_api.json
Due: none

fix: Add SentryTestUtilsTests to file-filters and create rule to prevent future issues
  .cursor/rules/file-filters.mdc
  .github/file-filters.yml
Due: none

fix: No reason for NSException
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/Resources/NSExceptionWithoutReason.json
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown, format-json

init with nil
  Sources/Sentry/SentryCrashReportConverter.m
Due: none

ci: Increase timeout iOS 26 unit tests
  .github/workflows/test.yml
Due: none

undo changes
  Sources/Sentry/SentryCrashReportConverter.m
Due: none

add comments to package and decisions
  Package.swift
  develop-docs/DECISIONS.md
Due: format-swift, format-markdown

test: Add assertions to testNSException
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

test: Subset of binary images for NSExceptionTests
  Tests/Resources/NSException.json
  Tests/Resources/UnknownTypeException.json
Due: format-json
