Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

feat(V9): Make SentrySerializable non-public in V9
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/include/SentrySpan.h
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebEvent.swift
  Sources/Swift/SentryAppState.swift
Due: format-swift

chore(ci): Add required checks job for lint shellcheck (#6005)
  .github/file-filters.yml
  .github/workflows/lint-shellcheck-formatting.yml
Due: none

fixed tests
  SentryTestUtils/TestSentryViewPhotographer.swift
  SentryTestUtils/TestSentryViewRenderer.swift
  SentryTestUtils/WeakReference.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/SentryScreenshotSourceTests.swift
Due: format-swift

chore(ci): Add required checks job for test-cross-plattform (#6003)
  .github/file-filters.yml
  .github/workflows/test-cross-platform.yml
Due: none

fix(session-replay): Add masking for AVPlayerView (#5910)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/Sample.mp4
  Samples/iOS-Swift/iOS-Swift/ViewControllers/SentryVideoViewController.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift, format-markdown

Update .github/workflows/integration-test.yml
  .github/workflows/integration-test.yml
Due: none

WIP
  .github/file-filters.yml
  .github/workflows/integration-test.yml
Due: none

chore(ci): Add required checks for benchmarking (#5996)
  .github/file-filters.yml
  .github/workflows/benchmarking.yml
Due: none

add file filters to change paths
  .github/file-filters.yml
Due: none

Apply suggestions from code review
  Sources/Swift/Helper/SentryNSTimerFactory.swift
Due: format-swift

Revert unmutated variable to use let
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
Due: format-swift

ref: Convert `SentryNSTimerFactory` to Swift (#6015)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestSentryNSTimerFactory.swift
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/SentryNSTimerFactory.m
  Sources/Sentry/include/SentryNSTimerFactory.h
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Swift/Helper/SentryNSTimerFactory.swift
  Tests/SentryProfilerTests/SentryNSTimerFactoryTest.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Convert `SentryReachability` to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryReachability.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/SentryReachability.h
  Sources/Sentry/include/SentrySwift.h
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
  Tests/SentryTests/Networking/SentryReachabilityTests.m
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Migrate `SentryBinaryImageCache` to Swift (#5995)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryCrashStackEntryMapper.m
  Sources/Sentry/SentryDebugImageProvider.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
  Sources/Sentry/include/SentryBinaryImageCacheCallbacks.h
  Sources/Sentry/include/SentryCrashBinaryImageCache.h
  Sources/Sentry/include/SentryCrashDynamicLinker.h
  Sources/Sentry/include/SentryCrashUUIDConversion.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/SentryCrash/Recording/SentryBinaryImageCacheCallbacks.m
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/SentryBinaryImageCache+Private.h
  Tests/SentryTests/SentryBinaryImageCacheTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
  Tests/SentryTests/SentryCrash/SentryCrashStackEntryMapperTests.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Update SDK API
  sdk_api.json
  sdk_api_V9.json
Due: none

Update SentrySwift.h
  Sources/Sentry/include/SentrySwift.h
Due: none

Update SentryReachability
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

Remove unnecessary public signature
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

Fix compile error on Xcode 14
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/TestSentryReachability.swift
Due: format-swift

fix(ci): Fix brew not installing local formulas
  .github/workflows/benchmarking.yml
  .github/workflows/ui-tests-common.yml
Due: none

ref: Convert `SentryRandom` to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestRandom.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryRandom.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryRandom.h
  Sources/Swift/Helper/SentryRandom.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryTests/SentryClient+TestInit.h
Due: format-swift

Increase range to allow up to 1
  Sources/Swift/Helper/SentryRandom.swift
Due: format-swift

Use nil context
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

ref: Convert `SentryObjCRuntimeWrapper` and `SentryDefaultObjCRuntimeWrapper` to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultObjCRuntimeWrapper.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySubClassFinder.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/include/SentryDefaultObjCRuntimeWrapper.h
  Sources/Sentry/include/SentryObjCRuntimeWrapper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySubClassFinder.h
  Sources/Sentry/include/SentryUIViewControllerSwizzling.h
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Sources/Swift/Tools/LoadValidator.swift
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.h
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
  sdk_api_V9.json
Due: format-swift

ref: Enhance `LoadValidator` to include `objcRuntimeWrapper` parameter for SDK duplication checks
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Add Xcode 26 and iOS 26 support to CI workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

Add xcbeautify to ci
  .github/workflows/build.yml
  .github/workflows/test-cross-platform.yml
Due: none

Add platform installation script for Xcode 26 CI workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  scripts/ci-boot-simulator.sh
  scripts/ci-install-platforms.sh
  scripts/sentry-xcodebuild.sh
Due: none

Make TestNSManagedObjectContext Sendable for thread safety
  Tests/SentryTests/Integrations/Performance/CoreData/TestCoreDataStack.swift
Due: format-swift

refactoring
  .github/workflows/build.yml
  .github/workflows/test.yml
  scripts/ci-create-simulator.sh
Due: none

fix(ci): Fix brew not installing local formulas (#6021)
  .github/workflows/benchmarking.yml
  .github/workflows/ui-tests-common.yml
Due: none

WIP
  .github/workflows/build.yml
Due: none

chore(ci): Update lint-cocoapods-specs.yml to remove paths
  .github/workflows/lint-cocoapods-specs.yml
Due: none

Optimize UI tests critical workflow with conditional execution
  .github/file-filters.yml
  .github/workflows/ui-tests-critical.yml
Due: none

Add conditional package diff check workflow for PRs
  .github/file-filters.yml
  .github/workflows/check-package-diff.yml
Due: none

Add CodeQL analysis workflow with conditional file change detection
  .github/file-filters.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add conditional SwiftLint linting workflow with file change detection
  .github/file-filters.yml
  .github/workflows/lint-swiftlint-formatting.yml
Due: none

Add conditional Testflight workflow with file change detection
  .github/file-filters.yml
  .github/workflows/testflight.yml
Due: none

Optimize UI tests workflow with conditional execution and file filtering
  .github/file-filters.yml
  .github/workflows/ui-tests.yml
Due: none

Remove path restrictions from TestFlight workflow trigger
  .github/workflows/testflight.yml
Due: none
