Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Clarify replay compatibility handling
  Sources/Sentry/SentrySessionReplaySyncC.c
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

feat(replay): Add recording controls
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Sentry/SentryReplayApi.m
  Sources/SentryObjC/Public/SentryObjCInternalReplayApi.h
  Sources/SentryObjC/Public/SentryObjCReplayApi.h
  Sources/SentryObjCCompat/SentryObjCInternalReplayApi.swift
  Sources/SentryObjCCompat/SentryObjCReplayApi.swift
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryObjCTests/SentryObjCInternalReplayApiTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

ref(replay): Split flush capture path
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

build: Update Replay API snapshots
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: none

fix(replay): Refine manual controls
  CHANGELOG.md
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Sentry/SentryReplayApi.m
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
Due: format-swift, format-markdown

docs: Add Replay controls changelog
  CHANGELOG.md
Due: format-markdown

fix(replay): Correct paused control behavior
  CHANGELOG.md
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift, format-markdown

fix(replay): Preserve manual pause state
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

test: Avoid Catalyst app initialization
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
Due: format-swift

fix(replay): Resume after foreground reconnect
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

Apply suggestion from @itaybre
  CHANGELOG.md
Due: format-markdown

fix: Harden replay control handling
  Sources/Sentry/SentryReplayApi.m
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

fix(replay): Stop tracking touches while paused
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

docs: Add paused Replay fix changelog
  CHANGELOG.md
Due: format-markdown

style: fix pointer spacing in SentrySwizzleWrapperHelper.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
Due: none

fix: Dispatch replay connectivity to main
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

feat: Set app start vitals on standalone children (#8888)
  CHANGELOG.md
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartReportingStrategyTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryExtendedAppLaunchTests.swift
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift, format-markdown

fix: Preserve manual replay pause
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

feat(samples): Add replay controls
  Samples/iOS-Swift/App/Sources/ViewControllers/SRRedactSampleViewController.swift
  Samples/iOS-Swift/UITests/Sources/SessionReplayUITests.swift
Due: format-swift

fix(samples): add SENTRY_DISABLE_SENTRYCRASH_V10 to iOS-Swift targets
  Samples/iOS-Swift/iOS-Swift.yml
Due: none

fix(samples): disable replay in LaunchUITests to avoid iOS 27 crash
  Samples/iOS-Swift/UITests/Sources/LaunchUITests.swift
Due: format-swift

style: apply clang-format and swiftlint fixes
  Samples/iOS-Swift/UITests/Sources/LaunchUITests.swift
  Sources/Sentry/SentrySwizzleWrapperHelper.m
Due: format-swift

APPEASE THE LINTERS
  Sources/Sentry/SentrySwizzleWrapperHelper.m
Due: none

ref: Add SentryCurrentScopeStorage for thread-local scope (#8890)
  Sources/Swift/Helper/SentryCurrentScopeStorage.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryCurrentScopeStorageTests.swift
Due: format-swift

test: target exact simulator runtime
  .github/workflows/ui-tests-critical.yml
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  develop-docs/ANNUAL_OS_COMPATIBILITY.md
  scripts/ci-boot-simulator.sh
Due: format-markdown

docs: Address agent instruction feedback
  Samples/AGENTS.md
  scripts/AGENTS.md
Due: format-markdown

docs: improve annual OS playbook
  develop-docs/ANNUAL_OS_COMPATIBILITY.md
Due: format-markdown

docs: Refine agent instructions (#8861)
  .github/AGENTS.md
  AGENTS.md
  REVIEWS.md
  Samples/AGENTS.md
  Sources/AGENTS.md
  Tests/AGENTS.md
  develop-docs/AGENTS.md
  scripts/AGENTS.md
Due: format-markdown

build: Refine ObjC wrapper settings
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SentryObjC.xcconfig
  Sources/Configuration/SentryObjCCommon.xcconfig
  Sources/Configuration/SentryObjCCompat.xcconfig
  Sources/Configuration/SentryObjCCompatV10.xcconfig
  Sources/Configuration/SentryObjCV10.xcconfig
  Sources/Configuration/SentryObjCV10Common.xcconfig
Due: none

test: Align ObjC frame tracking default
  Tests/SentryObjCTests/SentryObjCInternalPerformanceApiIntegrationTests.m
Due: none

Fix build
  Sources/Sentry/SentryClient.m
Due: none

feat: Add maxFeatureFlags option (#8858)
  CHANGELOG.md
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/FeatureFlags/SentryFeatureFlagBuffer.swift
  Sources/Swift/FeatureFlags/SentryFeatureFlagBufferWrapper.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/FeatureFlags/SentryFeatureFlagBufferTests.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentryScopeSwiftTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ref: Add scope enrichment via thread-local currentScope (#8892)
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

ref: Centralize currentScope attribute merge
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

ref: Apply currentScope to metrics via thread-local storage (#8893)
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

test: Fix withCurrentScope tests after merge
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
Due: format-swift

ref: Remove leftover applyScopeAttributes method
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
Due: format-swift

feat: Expose withCurrentScope API via SentrySDK.internal.scope (#8894)
  Sources/SentryObjC/Public/SentryObjCInternalScopeApi.h
  Sources/SentryObjCCompat/SentryObjCInternalScopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalScopeApi.swift
  Tests/SentryObjCTests/SentryObjCInternalScopeApiIntegrationTests.m
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

fix(samples): replace PrivateSentrySDKOnly with Swift API for screen frames
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  scripts/.clang-format-version
Due: format-swift
