Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

test: skip NSException handler test under debugger
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
Due: format-swift

impr: log warning when bridge is nil in NSException monitor
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
Due: none

ref: replace KVC bridge injection with typed setBridgeObject:
  Sources/Sentry/include/SentryCrash.h
  Sources/Sentry/include/SentryCrashInstallation.h
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
Due: format-swift

chore: Remove `SentryDependencyContainer` uses in SentryCrash (#7514)
  Sources/Sentry/include/SentryCrash.h
  Sources/Sentry/include/SentryCrashInstallation.h
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationReporterTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashInstallationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

docs: Fix hallucinated commit hashes in SENTRYCRASH.md
  develop-docs/SENTRYCRASH.md
Due: format-markdown

docs: Fix inaccuracies in SENTRYCRASH.md
  develop-docs/SENTRYCRASH.md
Due: format-markdown

release: 9.8.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

docs: Split SENTRYCRASH.md into analysis and improvement plan
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_IMPROVEMENT_PLAN.md
Due: format-markdown

docs: Fix line number references in SentryCrash docs
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_IMPROVEMENT_PLAN.md
Due: format-markdown

docs: Add SentryCrash analysis and improvement plan document (#7528)
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_IMPROVEMENT_PLAN.md
Due: format-markdown

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: format-markdown

docs: initialize project
  .planning/PROJECT.md
Due: format-markdown

chore: move .planning/ to gitignore (local-only)
  .gitignore
  .planning/PROJECT.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: format-markdown

ci(01-02): add SentryCrash import ratchet script
  Makefile
  scripts/check-sentrycrash-imports.sh
Due: none

ci(01-02): wire SentryCrash import ratchet into PR checks
  .github/workflows/fast-pr-checks.yml
Due: none

ref: add SentryCrashReporter protocol
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

ref: migrate Swift consumers to protocol type
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/Helper/SentryExtraContextProvider.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashInstallationReporter.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/Integrations/SentryHangTrackingIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationLogic.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

ref(01-03): migrate ObjC consumers to protocol type, rename class
  SentryTestUtils/Headers/SentryHub+Test.h
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryANRTrackerV1.h
  Sources/Sentry/include/SentryANRTrackerV2.h
  Sources/Sentry/include/SentryCrashReportSink.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/SentryClient+TestInit.h
Due: format-swift

test(01-03): rewrite test double as protocol-based implementation
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

WIP
  .gitignore
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjCBridge/SentryObjCBridge.swift
  develop-docs/SENTRY-OBJC.md
  docs/superpowers/plans/2026-03-18-sentryobjc-xcframework.md
  docs/superpowers/specs/2026-03-18-sentryobjc-xcframework-design.md
  scripts/add-sentryobjc-target.rb
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-sentryobjc-standalone.sh
  scripts/build-xcframework-slice.sh
  scripts/build-xcframework-variant.sh
Due: format-swift, format-markdown

build: standalone SentryObjC xcframework via swiftc
  develop-docs/SENTRY-OBJC.md
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: format-markdown

feat: add new public headers for Sentry logging and envelope handling
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/PrivateSentrySDKOnly.h
  Sources/SentryObjC/Public/SentryAttribute.h
  Sources/SentryObjC/Public/SentryDefines.h
  Sources/SentryObjC/Public/SentryEnvelope.h
  Sources/SentryObjC/Public/SentryEnvelopeHeader.h
  Sources/SentryObjC/Public/SentryEnvelopeItem.h
  Sources/SentryObjC/Public/SentryFeedback.h
  Sources/SentryObjC/Public/SentryFeedbackSource.h
  Sources/SentryObjC/Public/SentryLog.h
  Sources/SentryObjC/Public/SentryLogLevel.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryOptions.h
Due: none

build: update framework handling in xcframework build script
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

ci: add SentryObjC xcframework to CI pipeline
  .github/workflows/assemble-xcframework-sentryobjc.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/release.yml
  develop-docs/SENTRY-OBJC.md
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-sentryobjc-standalone.sh
  scripts/generate_release_matrix.sh
Due: format-markdown

fix: catch indented imports and includes in ratchet
  scripts/check-sentrycrash-imports.sh
Due: none

reset in-memory self.lastInForeground sync on calling thread (main)
  Sources/Swift/Integrations/Session/SessionTracker.swift
Due: format-swift

fix cl
  CHANGELOG.md
Due: format-markdown

test: use test queue for profiling session
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

use TestSentryDispatchQueueWrapper
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

check if debugger is attached
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
Due: none

Fix script to cover imports with whitespaces
  scripts/check-sentrycrash-imports.sh
Due: none

Update SentryCrash import check script to focus on specific source directories
  scripts/check-sentrycrash-imports.sh
Due: none

Extract check to a new workflow
  .github/file-filters.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/lint-sentrycrash-imports.yml
Due: none

chore: pin GitHub Actions to full-length commit SHAs
  .github/actions/capture-screenshot/action.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create-issue-for-unreferenced-pr.yml
  .github/workflows/danger.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/ready-to-merge-workflow.yml
  .github/workflows/release-comment-issues.yml
  .github/workflows/release-upload-xcframework.yml
  .github/workflows/release.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
Due: none

fix: Per-instance unmaskView propagates to child views
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
Due: format-swift

make sure opaque view still produces clip out
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
Due: format-swift
