Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref: Add index page for GitHub Pages and document approach
  .github/workflows/analyze-language-trends.yml
  develop-docs/README.md
Due: format-markdown

ref: Move Pages index HTML to develop-docs/github-pages/
  .github/workflows/analyze-language-trends.yml
  develop-docs/github-pages/index.html
Due: none

docs: Explain why HTML template is kept inline
  scripts/analyze-languages.sh
Due: none

ref(logs): Move span_id from attributes to top-level field (#7467)
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryItem.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/Protocol/SentryMetricTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
  sdk_api.json
Due: format-swift

ref: Use ci-utils.sh logging and trigger on every push to main
  .github/workflows/analyze-language-trends.yml
  develop-docs/README.md
  scripts/analyze-languages.sh
Due: format-markdown

fix: Address PR feedback for SentrySystemWrapper
  Sources/Swift/Helper/SentrySystemWrapper.swift
Due: format-swift

chore(tests): Manually print failed test if xcbeautify fails to parse
  .github/workflows/unit-test-common.yml
Due: none

chore(tests): Manually print failed test if xcbeautify fails to parse (#7493)
  .github/workflows/unit-test-common.yml
Due: none

identify objc exceptions with type info
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  scripts/.clang-format-version
Due: none

adapt to feedback
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  scripts/.clang-format-version
Due: none

chore: Add MCP server config for team (#7490)
  .claude/settings.json
  .mcp.json
  .xcodebuildmcp/config.yaml
  AGENTS.md
Due: format-markdown, format-json

fix: Address PR review feedback for language trends workflow
  .github/workflows/analyze-language-trends.yml
  Makefile
  develop-docs/github-pages/index.html
  scripts/analyze-languages.sh
Due: none

fix: Only show crossover annotation when Swift was actually below Obj-C
  scripts/analyze-languages.sh
Due: none

ref: Improve comments, harden concurrency test
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
  Tests/SentryTests/TelemetryProcessor/SentryDefaultTelemetryProcessorTests.swift
Due: format-swift

chore(core): Bump xcodebuildmcp to 2.0.7
  .mcp.json
Due: format-json

chore(core): Bump xcodebuildmcp to 2.0.7 (#7504)
  .mcp.json
Due: format-json

ref: Use SENTRY_SWIFT_MIGRATION_ID for getTelemetryProcessor return type
  Sources/Sentry/include/SentryClient+Private.h
Due: none

use vtable pointer comparison against objc_ehtype_vtable+2. for obj-s obj check
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

add additional comments (itays feedback)
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

Auto-generated SDK API
  sdk_api.json
Due: none

update tests
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_CppException_Tests.mm
Due: none

ref(build): Split xcode-ci and build-sample into per-sample targets
  Makefile
  schema/xcodegen.schema.json
  scripts/xcodegen.rb
Due: format-json

ref(samples): Restructure SentrySampleShared with synced folders
  Samples/SentrySampleShared/SentrySampleShared.yml
Due: none

ref(samples): Restructure SPM sample with App/Sources and App/Configuration
  Samples/SPM/App/Configuration/Info.plist
  Samples/SPM/App/Configuration/SPM.entitlements
  Samples/SPM/App/Configuration/SPM.xcconfig
  Samples/SPM/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/Contents.json
  Samples/SPM/App/Sources/ContentView.swift
  Samples/SPM/App/Sources/SPMTestApp.swift
  Samples/SPM/SPM.yml
Due: format-swift, format-json

ref(samples): Restructure DistributionSample with App layout
  Samples/DistributionSample/App/Configuration/DistributionSample.xcconfig
  Samples/DistributionSample/App/Configuration/Info.plist
  Samples/DistributionSample/App/Resources/.gitkeep
  Samples/DistributionSample/App/Sources/App.swift
  Samples/DistributionSample/App/Sources/Constants.swift
  Samples/DistributionSample/App/Sources/ContentView.swift
  Samples/DistributionSample/App/Sources/UpdateUtil.swift
  Samples/DistributionSample/DistributionSample.yml
Due: format-swift

ref(samples): Restructure SDK-Size with App layout
  Samples/SDK-Size/App/Configuration/Info.plist
  Samples/SDK-Size/App/Configuration/SDK-Size.entitlements
  Samples/SDK-Size/App/Configuration/SDK-Size.xcconfig
  Samples/SDK-Size/App/Sources/App.swift
  Samples/SDK-Size/App/Sources/ContentView.swift
  Samples/SDK-Size/SDK-Size.yml
Due: format-swift

ref(samples): Restructure SessionReplay-CameraTest with Configuration and Resources
  Samples/SessionReplay-CameraTest/Configuration/Info.plist
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
Due: format-json

ref(samples): Restructure iOS-ObjectiveC with App and UITests
  Samples/iOS-ObjectiveC/App/Configuration/Info.plist
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.entitlements
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.h
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.m
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.h
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.h
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/App/Sources/main.m
  Samples/iOS-ObjectiveC/App/Tongariro.jpg
  Samples/iOS-ObjectiveC/UITests/Configuration/Info.plist
  Samples/iOS-ObjectiveC/UITests/Configuration/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/UITests/Sources/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: format-swift

ref(samples): Restructure iOS-Swift6 with App layout
  Samples/iOS-Swift6/App/Configuration/Info.plist
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.entitlements
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-Swift6/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift6/App/Sources/AppDelegate.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift6/App/Sources/ViewController.swift
  Samples/iOS-Swift6/UITests/Configuration/Info.plist
  Samples/iOS-Swift6/UITests/Configuration/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/UITests/Sources/UITests.swift
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.yml
Due: format-swift

ref(samples): Restructure iOS-SwiftUI with App and UITests
  Samples/iOS-SwiftUI/App/Configuration/Info.plist
  Samples/iOS-SwiftUI/App/Configuration/iOS-SwiftUI.entitlements
  Samples/iOS-SwiftUI/App/Configuration/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
  Samples/iOS-SwiftUI/App/Sources/FormScreen.swift
  Samples/iOS-SwiftUI/App/Sources/LoremIpsumView.swift
  Samples/iOS-SwiftUI/App/Sources/SwiftUIApp.swift
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentryDefines.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanProtocol.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanStatus.h
  Samples/iOS-SwiftUI/App/Sources/UIKitScreen.swift
  Samples/iOS-SwiftUI/App/Sources/bridging-headers.h
  Samples/iOS-SwiftUI/UITests/Configuration/Info.plist
  Samples/iOS-SwiftUI/UITests/Configuration/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/UITests/Sources/FeedbackUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/LaunchUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/UIApplicationSwizzleTests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure iOS-SwiftUI-SPM with App layout
  Samples/iOS-SwiftUI-SPM/Configuration/Entitlements.entitlements
  Samples/iOS-SwiftUI-SPM/Configuration/Info.plist
  Samples/iOS-SwiftUI-SPM/Configuration/watchOS-Info.plist
  Samples/iOS-SwiftUI-SPM/iOS-SwiftUI-SPM.yml
Due: none

ref(samples): Restructure iOS15-SwiftUI with Configuration and Resources
  Samples/iOS15-SwiftUI/Configuration/Info.plist
  Samples/iOS15-SwiftUI/Configuration/iOS15-SwiftUI.entitlements
  Samples/iOS15-SwiftUI/Configuration/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS15-SwiftUI/Sources/App.swift
  Samples/iOS15-SwiftUI/Sources/ContentView.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure macOS-Swift with App and UITests
  Samples/macOS-Swift/App/Configurations/Info.plist
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift.xcconfig
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/macOS-Swift/App/Resources/Tongariro.jpg
  Samples/macOS-Swift/App/Sources/AppDelegate.swift
  Samples/macOS-Swift/App/Sources/CppSample.cpp
  Samples/macOS-Swift/App/Sources/CppSample.hpp
  Samples/macOS-Swift/App/Sources/CppWrapper.h
  Samples/macOS-Swift/App/Sources/CppWrapper.mm
  Samples/macOS-Swift/App/Sources/DiskWriteException.swift
  Samples/macOS-Swift/App/Sources/MetadataViewController.swift
  Samples/macOS-Swift/App/Sources/MetricsViewController.swift
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.h
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.m
  Samples/macOS-Swift/App/Sources/RaiseNSExceptionInLayoutNSView.swift
  Samples/macOS-Swift/App/Sources/SwiftUIView.swift
  Samples/macOS-Swift/App/Sources/ViewController.swift
  Samples/macOS-Swift/App/Sources/macOS-Swift-Bridging-Header.h
  Samples/macOS-Swift/UITests/Sources/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.yml
Due: format-swift

ref(samples): Restructure macOS-SwiftUI with App layout
  Samples/macOS-SwiftUI/App/Configuration/Info.plist
  Samples/macOS-SwiftUI/App/Configuration/macOS-SwiftUI.entitlements
  Samples/macOS-SwiftUI/App/Configuration/macOS-SwiftUI.xcconfig
  Samples/macOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/macOS-SwiftUI/App/Sources/ContentView.swift
  Samples/macOS-SwiftUI/App/Sources/macOS_SwiftUIApp.swift
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI/Info.plist
Due: format-swift, format-json

ref(samples): Restructure macOS-SwiftUI-SPM with App layout
  Samples/macOS-SwiftUI-SPM/App/Resources/Entitlements.entitlements
  Samples/macOS-SwiftUI-SPM/App/Resources/Info.plist
  Samples/macOS-SwiftUI-SPM/App/Sources/ContentView.swift
  Samples/macOS-SwiftUI-SPM/App/Sources/MainApp.swift
  Samples/macOS-SwiftUI-SPM/macOS-SwiftUI-SPM.yml
Due: format-swift

ref(samples): Restructure tvOS-Swift with App, AppSBSwift, and UITests
  Samples/tvOS-Swift/App/Configurations/Info.plist
  Samples/tvOS-Swift/App/Configurations/tvOS-Swift.entitlements
  Samples/tvOS-Swift/App/Configurations/tvOS-Swift.xcconfig
  Samples/tvOS-Swift/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/tvOS-Swift/App/Resources/Tongariro.jpg
  Samples/tvOS-Swift/App/Sources/AppDelegate.swift
  Samples/tvOS-Swift/App/Sources/ContentView.swift
  Samples/tvOS-Swift/App/Sources/MetricsView.swift
  Samples/tvOS-Swift/AppSBSwift-UITests/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift-UITests/Configurations/tvOS-SBSwift-UITests.xcconfig
  Samples/tvOS-Swift/AppSBSwift-UITests/Sources/LaunchUITests.swift
  Samples/tvOS-Swift/AppSBSwift/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift/Configurations/tvOS-SBSwift.entitlements
  Samples/tvOS-Swift/AppSBSwift/Configurations/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/AppSBSwift/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/tvOS-Swift/AppSBSwift/Resources/Base.lproj/Main.storyboard
  Samples/tvOS-Swift/AppSBSwift/Resources/NibViewController.xib
  Samples/tvOS-Swift/AppSBSwift/Sources/ActionCell.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/AppDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/NibViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/SplitViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/TableViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/ViewController.swift
  Samples/tvOS-Swift/UITests/Configurations/Info.plist
  Samples/tvOS-Swift/UITests/Configurations/tvOS-Swift-UITests.xcconfig
  Samples/tvOS-Swift/UITests/Sources/LaunchUITests.swift
  Samples/tvOS-Swift/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.yml
Due: format-swift

ref(samples): Restructure tvOS-SwiftUI-SPM
  Samples/tvOS-SwiftUI-SPM/tvOS-SwiftUI-SPM.yml
Due: none

ref(samples): Restructure visionOS-Swift with App layout
  Samples/visionOS-Swift/App/Configuration/Info.plist
  Samples/visionOS-Swift/App/Configuration/visionOS-Swift.entitlements
  Samples/visionOS-Swift/App/Configuration/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/App/ContentView.swift
  Samples/visionOS-Swift/App/LoremIpsumView.swift
  Samples/visionOS-Swift/App/MetricsView.swift
  Samples/visionOS-Swift/App/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/visionOS-Swift/App/VisionOSSwiftApp.swift
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.yml
Due: format-swift, format-json

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
