Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

added more tests and factories
  Samples/Shared/feature-flags.yml
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotProviderFactory.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotOptionsTests.swift
  Tests/SentryTests/Integrations/Screenshot/TestSentryScreenshotProvider.swift
  Tests/SentryTests/Integrations/Screenshot/TestSentryScreenshotProviderFactory.swift
  Tests/SentryTests/SentryScreenshotProviderTests.swift
Due: format-swift

ci: Fix init script
  Makefile
Due: none

refactor: Rename SentryViewHierarchy to SentryViewHierarchyProvider
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryViewHierarchyIntegration.m
  Sources/Sentry/SentryViewHierarchyProvider.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryViewHierarchyProvider.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.h
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

ci: Fix init script (#5406)
  Makefile
Due: none

fix(replay): Redact SFSafariView
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift

Split tests to run pre test action to uninstall app
  .github/workflows/ui-tests-common.yml
  Plans/SwiftUITestSample_Crash.xctestplan
  Plans/SwiftUITestSample_Envelope.xctestplan
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/CrashTests.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/EnvelopeTests.swift
  fastlane/Fastfile
Due: format-swift

Create individual junit files
  .github/workflows/ui-tests-common.yml
  fastlane/Fastfile
Due: none

Undo changes
  fastlane/Fastfile
Due: none

add changelog and test
  CHANGELOG.md
  Tests/SentryTests/ViewCapture/UIRedactBuilderTests.swift
Due: format-swift, format-markdown

wip: refactoring; persisting TTFD with launch profile config; rehydrating all options from persistence; using the hydrated options instead of new options which may have changed
  SentryTestUtils/SentryLaunchProfiling+Tests.h
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryLaunchProfiling.h
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentryProfiler+Private.h
  Sources/Sentry/include/SentryTracerConfiguration.h
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

wip fixing broken tests; one was written like it was supposed to test trace profiles but was setting up continuous!
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryProfiler+Private.h
  Sources/Sentry/include/SentryTracerConfiguration.h
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

apply feedback from PR review
  Samples/macOS-Swift/Shared/Info.plist
  Sources/Sentry/SentrySessionTracker.m
Due: none

apply feedback from PR review
  Sources/Sentry/SentrySessionTracker.m
Due: none

apply feedback from PR review
  Sources/Sentry/include/SentryApplication.h
Due: none

add more comment context
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

add tests and support for authentication services
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
Due: format-swift, format-markdown

skip redaction tests for macOS catalyst
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

fix tests assertions for iOS 16 and iOS 17
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

Make hang triggering more deterministic
  Samples/iOS-Swift/iOS-Swift/Tools/TriggerAppHang.swift
Due: format-swift

Make hang triggering more deterministic (#5413)
  Samples/iOS-Swift/iOS-Swift/Tools/TriggerAppHang.swift
Due: format-swift

feat: manually add dyld image to cache and crashes symbolication
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
Due: none

Update tests
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

note on current task
  Sources/Sentry/SentryTracer.m
Due: none

changelog
  CHANGELOG.md
Due: format-markdown

Remove unnecesary `segmentBaseOfHeader`
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
Due: none

manually show debug menu in appropriate places; replace sdk init in swiftui apps; move sdk init back to app delegate in swift6 app
  Samples/SentrySampleShared/SentrySampleShared/SampleAppDebugMenu.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift6/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift6/iOS-Swift6/SceneDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS13-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
Due: format-swift

dedupe namespacing prefixes
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

no longer need this function to be public
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
Due: format-swift

Fix `testRemoveImageAddAgain` test
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

Dedup MachO code for 32 and 64 bit
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
Due: none

Initialize dyld header info on cache start
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

Fix warnings
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
Due: none

test: sample app feature flag improvements (#5202)
  Samples/SentrySampleShared/SentrySampleShared.xcconfig
  Samples/SentrySampleShared/SentrySampleShared/DSNDisplayViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/EnvironmentVariableTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/LaunchArgumentTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/SampleAppDebugMenu.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/SentrySampleShared/SentrySampleShared/Toasts.swift
  Samples/SentrySampleShared/SentrySampleShared/UIViewExtension.swift
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ErrorsViewController.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/BenchmarkingViewController.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
  Samples/iOS-Swift6/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift6/iOS-Swift6/SceneDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS13-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Samples/macOS-SwiftUI/macOS-SwiftUI/macOS_SwiftUIApp.swift
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift/Info.plist
Due: format-swift

fix(session-replay): Add redaction for SFSafariView (#5408)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
Due: format-swift, format-markdown

WIP
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Integrations/Screenshot/SentryScreenshotProviderFactory.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/Screenshot/TestSentryScreenshotProviderFactory.swift
Due: format-swift

remove screenshot provider factory
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestSentryViewPhotographer.swift
  SentryTestUtils/TestSentryViewRenderer.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryScreenshotIntegration.m
  Sources/Sentry/SentryScreenshotProvider.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryScreenshotIntegration.h
  Sources/Sentry/include/SentryScreenshotProvider.h
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotProviderFactory.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/Screenshot/TestSentryScreenshotProviderFactory.swift
  Tests/SentryTests/SentryScreenshotProviderTests.swift
Due: format-swift

fix conditional compiliation
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Remove logs
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
Due: none
