Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ci: Bump iOS 26 test runner to 26.4
  .github/workflows/test.yml
Due: none

fix: Handle extra length call in SentryInvalidJSONString (#7859)
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: format-swift

ci: Bump iOS 26 test runner to 26.4 (#7867)
  .github/workflows/test.yml
Due: none

Update develop-docs/DECISIONS.md
  develop-docs/DECISIONS.md
Due: format-markdown

fix: Prevent memory strings in stack overflow crash reports (#7841)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown

fix: use Swift-native platform check for replay bridge
  Sources/SentryObjCBridge/SentryObjCBridge.swift
Due: format-swift

ci: remove SentryObjCTypes.framework byproduct from slices
  .github/workflows/build-xcframework-variant-slices.yml
Due: none

ci: Skip workflows for fork PRs where secrets are unavailable
  .github/workflows/benchmarking.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/testflight.yml
Due: none

fix: match SentrySDK replay conditional for bridge
  Sources/SentryObjCBridge/SentryObjCBridge.swift
Due: format-swift

chore(workflow): Add @NinjaLikesCheez as a codeowner
  .github/CODEOWNERS
Due: none

ref: isolate SentryCrash behind SentryCrashReporter protocol (#7840)
  .github/workflows/fast-pr-checks.yml
  SentryTestUtils/Headers/SentryHub+Test.h
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryANRTrackerV1.h
  Sources/Sentry/include/SentryANRTrackerV2.h
  Sources/Sentry/include/SentryCrashReportSink.h
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/Helper/SentryExtraContextProvider.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashInstallationReporter.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/Integrations/SentryHangTrackingIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationLogic.swift
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

fix: remove nonexistent SentryObjCTypesTests from test plan
  Plans/Sentry_Base.xctestplan
Due: none

chore(workflow): Add @NinjaLikesCheez as a codeowner (#7870)
  .github/CODEOWNERS
Due: none

fix cl
  CHANGELOG.md
Due: format-markdown

ref: add replay network detail methods to protocol
  Sources/SentryObjCTypes/Public/SentryObjCBridging.h
Due: none

chore(dx): add .agents/skills to gitignore
  .gitignore
Due: none

chore(dx): add .agents/skills to gitignore (#7871)
  .gitignore
Due: none

ci: Skip workflows for fork PRs where secrets are unavailable (#7869)
  .github/workflows/benchmarking.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/testflight.yml
Due: none

fix: Init thread list vars before task_threads
  Sources/Sentry/SentryThreadHandle.cpp
Due: none

fix: Init vars and fix control flow in SentrySystemWrapper
  Sources/Sentry/SentrySystemWrapper.mm
  Tests/SentryProfilerTests/SentrySystemWrapperTests.swift
Due: format-swift

fix: Add depth limits to data sanitization and JSON encoder
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryNSDictionarySanitize.m
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Tests/SentryTests/Categories/SentryArrayTests.swift
  Tests/SentryTests/Categories/SentryNSDictionarySanitizeTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
Due: format-swift

fix: check container level before incrementing
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
Due: none

ci: extend release issue notification workflow
  .github/file-filters.yml
  .github/workflows/release-comment-issues.yml
Due: none

docs: align release issue workflow with dart reference
  .github/workflows/release-comment-issues.yml
  CONTRIBUTING.md
Due: format-markdown

ref: remove SentryArray class, consolidate sanitization
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryNSDictionarySanitize.m
  Sources/Sentry/include/SentryArray.h
  Sources/Sentry/include/SentryNSDictionarySanitize.h
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
  Tests/SentryTests/Categories/SentryArrayTests.swift
  Tests/SentryTests/Categories/SentryNSDictionarySanitizeTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

apply formatting
  .github/workflows/release-comment-issues.yml
Due: none

fix: Init vars before task_threads and vm_deallocate (#7858)
  Sources/Sentry/SentrySystemWrapper.mm
  Sources/Sentry/SentryThreadHandle.cpp
  Tests/SentryProfilerTests/SentrySystemWrapperTests.swift
Due: format-swift

fix: catch bare pre-release suffixes in issue notification guard
  .github/workflows/release-comment-issues.yml
Due: none

ref: further separate test-specific code from the BIC
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCacheState.h
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCache+Test.h
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTestHelper.h
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTestHelper.m
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

refactor SentryNSDictionarySanitize to SentrySanitizerUtils
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryFrame.m
  Sources/Sentry/SentryMechanism.m
  Sources/Sentry/SentryMechanismContext.m
  Sources/Sentry/SentryRequest.m
  Sources/Sentry/SentrySanitizerUtils.m
  Sources/Sentry/SentrySpanInternal.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUser.m
  Sources/Sentry/include/SentryNSDictionarySanitize.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySanitizerUtils.h
  Sources/Swift/Persistence/SentryScopePersistentStore+Helper.swift
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
  Tests/SentryTests/Categories/SentryArrayTests.swift
  Tests/SentryTests/Categories/SentryNSDictionarySanitize+Tests.m
  Tests/SentryTests/Categories/SentryNSDictionarySanitizeTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift, format-markdown

revert CHANGELOG
  CHANGELOG.md
Due: format-markdown

fix: initialize BinaryImageCache async to main thread (#7823)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/SentryCrashBinaryImageCache.h
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCacheState.h
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Tests/SentryTests/SentryBinaryImageCacheTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCache+Test.h
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTestHelper.h
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTestHelper.m
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
  develop-docs/DECISIONS.md
Due: format-swift, format-markdown

chore: Update file filters and workflow for UI tests
  .github/file-filters.yml
  .github/workflows/ui-tests.yml
Due: none

fix: Use JSON for runtime availability check
  scripts/ci-ensure-runtime-loaded.sh
Due: none

fix: Use major.minor for simctl device/runtime matching
  scripts/ci-boot-simulator.sh
  scripts/ci-create-simulator.sh
Due: none

fix: Strip hotfix version for fastlane device lookup
  .github/workflows/ui-tests-common.yml
Due: none

ref: Automatically select Device Name and OS based on Xcode and Platform for tests (#7846)
  .github/actions/resolve-test-destination/action.yml
  .github/actions/setup-xcode/action.yml
  .github/file-filters.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/nightly-test.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-boot-simulator.sh
  scripts/ci-create-simulator.sh
  scripts/ci-ensure-runtime-loaded.sh
  scripts/ci-select-xcode.sh
  scripts/resolve-test-destination.sh
Due: none

feat(feedback): Add new feedback form APIs
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
  Samples/iOS-SwiftUI/App/Sources/FeedbackScreen.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackAPI.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/SentrySwiftUI/SentryFeedbackFormModifier.swift
  Sources/Swift/SentrySwiftUI/SentryFeedbackFormRepresentable.swift
Due: format-swift

ci: extend release issue notification workflow (#7872)
  .github/file-filters.yml
  .github/workflows/release-comment-issues.yml
  CONTRIBUTING.md
Due: format-markdown

ref: rewrite SentrySanitizerUtils in Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySanitizerUtils.m
  Sources/Sentry/include/SentrySanitizerUtils.h
  Sources/Swift/Tools/SentrySanitizerUtils.swift
  Tests/SentryTests/Categories/SentryArrayTests.swift
  Tests/SentryTests/Categories/SentrySanitizerUtils+Tests.h
  Tests/SentryTests/Categories/SentrySanitizerUtils+Tests.m
  Tests/SentryTests/Categories/SentrySanitizerUtilsTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
