Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

test: Import tracker SPI in profiling tests
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationChangeTests.swift
Due: format-swift

chore(docs): move changes to unreleased (#9061)
  CHANGELOG.md
Due: format-markdown

chore(deps): update Ruby Gems to latest versions
  Gemfile.lock
Due: none

feat(samples): Add keyboard extension to iOS-Swift
  Samples/iOS-Swift/KeyboardExtension/Configurations/iOS-Swift-KeyboardExtension.xcconfig
  Samples/iOS-Swift/KeyboardExtension/Sources/KeyboardViewController.swift
  Samples/iOS-Swift/iOS-Swift.yml
  fastlane/Fastfile
Due: format-swift

build: Align keyboard versions for TestFlight
  .github/file-filters.yml
  fastlane/Fastfile
Due: none

chore(deps): update Ruby Gems to latest versions (#9065)
  Gemfile.lock
Due: none

ref: Remove unused Core Data process info (#9057)
  Sources/Swift/Integrations/CoreData/SentryCoreDataTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerTest.swift
Due: format-swift

ref: Migrate Core Data swizzling to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod+NSManagedObjectContext.swift
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod.swift
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+NSManagedObjectContext.swift
  Sources/Swift/Integrations/CoreData/SentryCoreDataTracker.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackerProxy.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleCoreDataTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodCoreDataTests.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodTests.swift
Due: format-swift

feat: KSCrash crash-time view hierarchy (#9018)
  CHANGELOG_V10.md
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

ref: Convert time-to-display tracker to Swift (#9059)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTimeToDisplayTracker.h
  Sources/Swift/Integrations/Performance/SentryTimeToDisplayTracker.swift
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationChangeTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

test: prove checkpoint survives capture crash
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeReplayAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReplayCheckpointTests.swift
Due: format-swift

chore(sample): remove unused MetricKit manager from iOS-Swift
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/Tools/MetricKitManager.swift
Due: format-swift

ref(metrickkit): add exception type and mechanism to enum
  Sources/Swift/Core/MetricKit/Event+MetricKit.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

ref(metrickkit): move CallStackProviding to namespace SentryMetricKit
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+CallStackTreeProviding.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
Due: format-swift

chore(metrickit): add SDK logging to manager
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
Due: format-swift

fix(metrickit): Decode frames without binary UUID
  Sources/Swift/Core/MetricKit/MXSample.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Tests/Resources/MetricKitCallstacks/real-hang-1.json
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift, format-json

feat(metrickit): Upload undecodable diagnostics
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
Due: format-swift

ref: Migrate Core Data swizzling to Swift (#9058)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod+NSManagedObjectContext.swift
  Sources/Swift/Core/Swizzling/SentrySwizzleMethod.swift
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+NSManagedObjectContext.swift
  Sources/Swift/Integrations/CoreData/SentryCoreDataTracker.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackerProxy.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryTypedSwizzleCoreDataTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodCoreDataTests.swift
  Tests/SentryTests/Swift/Core/Swizzling/SentrySwizzleMethodTests.swift
Due: format-swift

ref: Remove Core Data Objective-C exposure
  Sources/Sentry/include/SentrySwift.h
  Sources/Swift/Integrations/CoreData/SentryCoreDataTracker.swift
  Sources/Swift/Tools/SentryPredicateDescriptor.swift
Due: format-swift

test: make CrashE2E scenarios pass reliably
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner+KSCrashRetry.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/KSCrashRetryScenarioAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/KnownFailures.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner+KSCrashRetry.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
Due: format-swift

ci: run CrashE2E scenarios
  .github/file-filters.yml
  .github/workflows/test-crash-e2e.yml
  develop-docs/ANNUAL_OS_COMPATIBILITY.md
Due: format-markdown

ci: Raise CrashE2E iOS drain timeout
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
Due: format-swift

feat: KSCrash replay recovery checkpoints (#9038)
  CHANGELOG_V10.md
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeReplayAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReplayCheckpointTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

docs: replace reference to SentryCrashIntegrationSessionHandler
  Sources/Sentry/SentryHub.m
Due: none

test: verify memory introspection in CrashE2E
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MemoryIntrospectionAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/SigtermScenarioAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/StoredCrashReports.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

test: verify memory introspection in CrashE2E (#9053)
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MemoryIntrospectionAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/SigtermScenarioAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/StoredCrashReports.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

build: Add V10 SentryObjC build and KSCrash audit
  Makefile
  develop-docs/KSCRASH_DOWNSTREAM_AUDIT.md
  develop-docs/README.md
  develop-docs/SENTRY-OBJC-BUILD.md
  scripts/build-xcframework-sentryobjc.sh
Due: format-markdown

ref: Fix SwiftLint violations in CrashE2E
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EScopePopulation.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
Due: format-swift

feat: add breadcrumb text extraction option
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: add changelog entry for #9010
  CHANGELOG.md
Due: format-markdown

feat: add mask-aware interaction breadcrumb labels
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

fix: preserve ancestor masks for excluded subtrees
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

docs: add changelog entry for #9011
  CHANGELOG.md
Due: format-markdown

Update Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

fix: make breadcrumb text extraction experimental
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentryOptionsTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

fix: preserve interaction breadcrumb privacy
  CHANGELOG.md
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
Due: format-swift, format-markdown

fix: synchronize breadcrumb replay redaction
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

docs: replace reference to SentryCrashIntegrationSessionHandler (#9072)
  Sources/Sentry/SentryHub.m
Due: none

ref: Fix SwiftLint violations in CrashE2E (#9078)
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EScopePopulation.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
