Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

docs: Add command execution and editing guidelines
  AGENTS.md
Due: format-markdown

test: Add Arrange-Act-Assert markers to serialization tests
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayEventTests.swift
  Tests/SentryTests/Protocol/SentryDiscardedEventTests.swift
Due: format-swift

test: Add Arrange-Act-Assert markers to SentryDateUtilsTests
  Tests/SentryTests/Helper/SentryDateUtilsTests.swift
Due: format-swift

docs: Expand agent instructions with architecture, conventions, and PR workflow
  .github/AGENTS.md
  AGENTS.md
  REVIEWS.md
  Samples/AGENTS.md
  Sources/AGENTS.md
  Tests/AGENTS.md
  develop-docs/AGENTS.md
  scripts/AGENTS.md
Due: format-markdown

check private api at runtime
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/SentryUncaughtNSExceptions.m
  Tests/SentryTests/Integrations/SentryCrash/SentryUncaughtNSExceptionsTests.swift
Due: format-swift

no need to check, this will never be called if the method is removed
  Sources/Sentry/SentryCrashExceptionApplication.m
Due: none

add missing import
  Sources/Sentry/SentryUncaughtNSExceptions.m
Due: none

test: Split SentryLevelTests into one test method per level
  Tests/SentryTests/SentryLevelTests.swift
Due: format-swift

ref(samples): Restructure SPM sample with App/Sources and App/Configuration
  Samples/SPM/App/Configuration/Info.plist
  Samples/SPM/App/Configuration/SPM.entitlements
  Samples/SPM/App/Configuration/SPM.xcconfig
  Samples/SPM/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/Contents.json
  Samples/SPM/App/Sources/ContentView.swift
  Samples/SPM/App/Sources/SPMTestApp.swift
  Samples/SPM/SPM.yml
Due: format-swift, format-json

ref(samples): Restructure SDK-Size with App layout
  Samples/SDK-Size/App/Configuration/Info.plist
  Samples/SDK-Size/App/Configuration/SDK-Size.entitlements
  Samples/SDK-Size/App/Configuration/SDK-Size.xcconfig
  Samples/SDK-Size/App/Sources/App.swift
  Samples/SDK-Size/App/Sources/ContentView.swift
  Samples/SDK-Size/SDK-Size.yml
Due: format-swift

ref(samples): Restructure SessionReplay-CameraTest with Configuration and Resources
  Samples/SessionReplay-CameraTest/Configuration/Info.plist
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configuration/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
Due: format-json

ref(samples): Restructure iOS-ObjectiveC with App and UITests
  Samples/iOS-ObjectiveC/App/Configuration/Info.plist
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.entitlements
  Samples/iOS-ObjectiveC/App/Configuration/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Tongariro.jpg
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.h
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.m
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.h
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.h
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/App/Sources/main.m
  Samples/iOS-ObjectiveC/UITests/Configuration/Info.plist
  Samples/iOS-ObjectiveC/UITests/Configuration/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/UITests/Resources/.gitkeep
  Samples/iOS-ObjectiveC/UITests/Sources/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: format-swift

ref(samples): Restructure DistributionSample with App layout
  Samples/DistributionSample/App/Configuration/.gitkeep
  Samples/DistributionSample/App/Configuration/DistributionSample.xcconfig
  Samples/DistributionSample/App/Configuration/Info.plist
  Samples/DistributionSample/App/Resources/.gitkeep
  Samples/DistributionSample/App/Sources/App.swift
  Samples/DistributionSample/App/Sources/Constants.swift
  Samples/DistributionSample/App/Sources/ContentView.swift
  Samples/DistributionSample/App/Sources/UpdateUtil.swift
  Samples/DistributionSample/DistributionSample.yml
Due: format-swift

ref(samples): Restructure iOS-Swift6 with App layout
  Samples/iOS-Swift6/App/Configuration/Info.plist
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.entitlements
  Samples/iOS-Swift6/App/Configuration/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-Swift6/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift6/App/Sources/AppDelegate.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift6/App/Sources/ViewController.swift
  Samples/iOS-Swift6/UITests/Configuration/Info.plist
  Samples/iOS-Swift6/UITests/Configuration/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/UITests/Resources/.gitkeep
  Samples/iOS-Swift6/UITests/Sources/UITests.swift
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.yml
Due: format-swift

ref(samples): Restructure iOS-SwiftUI-SPM with App layout
  Samples/iOS-SwiftUI-SPM/Configuration/Entitlements.entitlements
  Samples/iOS-SwiftUI-SPM/Configuration/Info.plist
  Samples/iOS-SwiftUI-SPM/Configuration/watchOS-Info.plist
  Samples/iOS-SwiftUI-SPM/iOS-SwiftUI-SPM.yml
Due: none

ref(samples): Restructure iOS-SwiftUI with App and UITests
  Samples/iOS-SwiftUI/App/Configuration/Info.plist
  Samples/iOS-SwiftUI/App/Configuration/iOS-SwiftUI.entitlements
  Samples/iOS-SwiftUI/App/Configuration/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/App/Headers/iOS-SwiftUI-Bridging-Header.h
  Samples/iOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
  Samples/iOS-SwiftUI/App/Sources/FormScreen.swift
  Samples/iOS-SwiftUI/App/Sources/LoremIpsumView.swift
  Samples/iOS-SwiftUI/App/Sources/SwiftUIApp.swift
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentryDefines.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanProtocol.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanStatus.h
  Samples/iOS-SwiftUI/App/Sources/UIKitScreen.swift
  Samples/iOS-SwiftUI/UITests/Configuration/Info.plist
  Samples/iOS-SwiftUI/UITests/Configuration/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/UITests/Resources/.gitkeep
  Samples/iOS-SwiftUI/UITests/Sources/FeedbackUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/LaunchUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/UIApplicationSwizzleTests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure iOS15-SwiftUI with Configuration and Resources
  Samples/iOS15-SwiftUI/Configuration/Info.plist
  Samples/iOS15-SwiftUI/Configuration/iOS15-SwiftUI.entitlements
  Samples/iOS15-SwiftUI/Configuration/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS15-SwiftUI/Sources/App.swift
  Samples/iOS15-SwiftUI/Sources/ContentView.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure visionOS-Swift with App layout
  Samples/visionOS-Swift/App/Configuration/Info.plist
  Samples/visionOS-Swift/App/Configuration/visionOS-Swift.entitlements
  Samples/visionOS-Swift/App/Configuration/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/App/ContentView.swift
  Samples/visionOS-Swift/App/LoremIpsumView.swift
  Samples/visionOS-Swift/App/MetricsView.swift
  Samples/visionOS-Swift/App/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/visionOS-Swift/App/VisionOSSwiftApp.swift
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.yml
Due: format-swift, format-json

ref(samples): Restructure tvOS-SwiftUI-SPM
  Samples/tvOS-SwiftUI-SPM/tvOS-SwiftUI-SPM.yml
Due: none

ref(samples): Restructure macOS-SwiftUI with App layout
  Samples/macOS-SwiftUI/App/Configuration/Info.plist
  Samples/macOS-SwiftUI/App/Configuration/macOS-SwiftUI.entitlements
  Samples/macOS-SwiftUI/App/Configuration/macOS-SwiftUI.xcconfig
  Samples/macOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/macOS-SwiftUI/App/Sources/ContentView.swift
  Samples/macOS-SwiftUI/App/Sources/macOS_SwiftUIApp.swift
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI/Info.plist
Due: format-swift, format-json

ref(samples): Restructure macOS-SwiftUI-SPM with App layout
  Samples/macOS-SwiftUI-SPM/App/Resources/Entitlements.entitlements
  Samples/macOS-SwiftUI-SPM/App/Resources/Info.plist
  Samples/macOS-SwiftUI-SPM/App/Sources/ContentView.swift
  Samples/macOS-SwiftUI-SPM/App/Sources/MainApp.swift
  Samples/macOS-SwiftUI-SPM/macOS-SwiftUI-SPM.yml
Due: format-swift

ref(samples): Restructure macOS-Swift with App and UITests
  Samples/macOS-Swift/App/Configurations/Info.plist
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift.xcconfig
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/macOS-Swift/App/Resources/Tongariro.jpg
  Samples/macOS-Swift/App/Sources/AppDelegate.swift
  Samples/macOS-Swift/App/Sources/CppSample.cpp
  Samples/macOS-Swift/App/Sources/CppSample.hpp
  Samples/macOS-Swift/App/Sources/CppWrapper.h
  Samples/macOS-Swift/App/Sources/CppWrapper.mm
  Samples/macOS-Swift/App/Sources/DiskWriteException.swift
  Samples/macOS-Swift/App/Sources/MetadataViewController.swift
  Samples/macOS-Swift/App/Sources/MetricsViewController.swift
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.h
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.m
  Samples/macOS-Swift/App/Sources/RaiseNSExceptionInLayoutNSView.swift
  Samples/macOS-Swift/App/Sources/SwiftUIView.swift
  Samples/macOS-Swift/App/Sources/ViewController.swift
  Samples/macOS-Swift/App/Sources/macOS-Swift-Bridging-Header.h
  Samples/macOS-Swift/UITests/Resources/.gitkeep
  Samples/macOS-Swift/UITests/Sources/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.yml
Due: format-swift

ref(samples): Restructure tvOS-Swift with App, AppSBSwift, and UITests
  Samples/tvOS-Swift/App/Configurations/Info.plist
  Samples/tvOS-Swift/App/Configurations/tvOS-Swift.entitlements
  Samples/tvOS-Swift/App/Configurations/tvOS-Swift.xcconfig
  Samples/tvOS-Swift/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/tvOS-Swift/App/Resources/Tongariro.jpg
  Samples/tvOS-Swift/App/Sources/AppDelegate.swift
  Samples/tvOS-Swift/App/Sources/ContentView.swift
  Samples/tvOS-Swift/App/Sources/MetricsView.swift
  Samples/tvOS-Swift/AppSBSwift-UITests/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift-UITests/Configurations/tvOS-SBSwift-UITests.xcconfig
  Samples/tvOS-Swift/AppSBSwift-UITests/Sources/LaunchUITests.swift
  Samples/tvOS-Swift/AppSBSwift/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift/Configurations/tvOS-SBSwift.entitlements
  Samples/tvOS-Swift/AppSBSwift/Configurations/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/AppSBSwift/Resources/.gitkeep
  Samples/tvOS-Swift/AppSBSwift/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/tvOS-Swift/AppSBSwift/Resources/Base.lproj/Main.storyboard
  Samples/tvOS-Swift/AppSBSwift/Resources/NibViewController.xib
  Samples/tvOS-Swift/AppSBSwift/Sources/ActionCell.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/AppDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/NibViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/SplitViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/Controllers/TableViewController.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/ViewController.swift
  Samples/tvOS-Swift/UITests/Configurations/Info.plist
  Samples/tvOS-Swift/UITests/Configurations/tvOS-Swift-UITests.xcconfig
  Samples/tvOS-Swift/UITests/Sources/LaunchUITests.swift
  Samples/tvOS-Swift/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.yml
Due: format-swift

ref(samples): Restructure watchOS-Swift with Extension and WatchApp
  Samples/watchOS-Swift/.gitignore
  Samples/watchOS-Swift/Extension/Configuration/.gitkeep
  Samples/watchOS-Swift/Extension/Configuration/Info.plist
  Samples/watchOS-Swift/Extension/Configuration/watchOS-Swift-Extension.entitlements
  Samples/watchOS-Swift/Extension/Configuration/watchOS-Swift-Extension.xcconfig
  Samples/watchOS-Swift/Extension/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/watchOS-Swift/Extension/Resources/PushNotificationPayload.apns
  Samples/watchOS-Swift/Extension/Resources/Tongariro.jpg
  Samples/watchOS-Swift/Extension/Sources/ContentView.swift
  Samples/watchOS-Swift/Extension/Sources/ExtensionDelegate.swift
  Samples/watchOS-Swift/Extension/Sources/HostingController.swift
  Samples/watchOS-Swift/Extension/Sources/MetricsView.swift
  Samples/watchOS-Swift/Extension/Sources/NotificationController.swift
  Samples/watchOS-Swift/Extension/Sources/NotificationView.swift
  Samples/watchOS-Swift/WatchApp/Configuration/Info.plist
  Samples/watchOS-Swift/WatchApp/Configuration/watchOS-Swift-App.entitlements
  Samples/watchOS-Swift/WatchApp/Configuration/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/WatchApp/Resources/Base.lproj/Interface.storyboard
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: format-swift, format-json

ref(samples): Restructure visionOS-SwiftUI-SPM with App layout
  Samples/visionOS-SwiftUI-SPM/App/Resources/Info.plist
  Samples/visionOS-SwiftUI-SPM/App/Sources/ContentView.swift
  Samples/visionOS-SwiftUI-SPM/App/Sources/MainApp.swift
  Samples/visionOS-SwiftUI-SPM/visionOS-SwiftUI-SPM.yml
Due: format-swift

ref(samples): Restructure SwiftUITestSample and SwiftUICrashTest
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

feat(network-details): Extend SentryReplayOptions API
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsNetworkTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
Due: format-swift

feat(network-details): [test-app] Add testing UI to iOS-Swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

feat(network-details): Add data holder classes for network detail capture
  Sources/Sentry/SentryNetworkBody.m
  Sources/Sentry/SentryNetworkBodyWarning.m
  Sources/Sentry/SentryNetworkRequestData.m
  Sources/Sentry/SentryReplayNetworkRequestOrResponse.m
  Sources/Sentry/include/SentryNetworkBody.h
  Sources/Sentry/include/SentryNetworkBodyWarning.h
  Sources/Sentry/include/SentryNetworkRequestData.h
  Sources/Sentry/include/SentryReplayNetworkRequestOrResponse.h
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore: (network-details) Add new files to pbxproj
  Sentry.xcodeproj/project.pbxproj
Due: none

test: Add Arrange-Act-Assert for a few tests (#7564)
  Tests/SentryTests/Helper/SentryDateUtilsTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayEventTests.swift
  Tests/SentryTests/Protocol/SentryDiscardedEventTests.swift
Due: format-swift

test: Split SentryLevelTests into one test method per level (#7568)
  Tests/SentryTests/SentryLevelTests.swift
Due: format-swift

docs: Address PR review feedback on AGENTS.md files
  AGENTS.md
  REVIEWS.md
  Sources/AGENTS.md
  scripts/AGENTS.md
Due: format-markdown

ref(samples): Restructure iOS-SwiftUI project hierarchy
  Plans/iOS-SwiftUI_Base.xctestplan
  Samples/iOS-ObjectiveC/UITests/Configuration/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-Swift/Benchmarking/Configuration/iOS-Benchmarking.xcconfig
  Samples/iOS-Swift/UITests/Configuration/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift6/UITests/Configuration/iOS-Swift6-UITests.xcconfig
  Samples/iOS-SwiftUI/App/Configurations/Info.plist
  Samples/iOS-SwiftUI/App/Configurations/iOS-SwiftUI.entitlements
  Samples/iOS-SwiftUI/App/Configurations/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/UITests/Configurations/Info.plist
  Samples/iOS-SwiftUI/UITests/Configurations/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
  schema/xcodegen.schema.json
Due: format-json

test: Use XCTAssertGreaterThan for comparisons
  Tests/SentryTests/Integrations/ANR/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryCrash/SentryDefaultThreadInspectorTests.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
Due: format-swift

docs: Update shell script template to use ci-utils.sh logging
  scripts/AGENTS.md
Due: format-markdown

docs: Migrate AGENTS.md to nested per-directory files (#7563)
  .claude/skills
  .cursor/mcp.json
  .github/AGENTS.md
  .gitignore
  AGENTS.md
  BUGBOT.md
  CLAUDE.md
  REVIEWS.md
  Samples/AGENTS.md
  Sources/AGENTS.md
  Tests/AGENTS.md
  agents.lock
  agents.toml
  develop-docs/AGENTS.md
  scripts/AGENTS.md
Due: format-markdown, format-json

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
