Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ci: standardize Ruby setup to use .ruby-version
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/unit-test-common.yml
Due: none

remove install + create (like on main)
  .github/workflows/unit-test-common.yml
Due: none

revert SKIP_SWIFTLINT
  .github/workflows/test-3rd-party-integrations.yml
  Sentry.xcodeproj/project.pbxproj
  scripts/build-xcframework-slice.sh
Due: none

add simulatorAndmacOSOnly to build-xcframework-local.sh
  .github/workflows/test-3rd-party-integrations.yml
  scripts/build-xcframework-variant.sh
Due: none

use sed intead of swift package edit
  .github/workflows/test-3rd-party-integrations.yml
Due: none

include all related scripts to file filter
  .github/file-filters.yml
Due: none

minor improvements
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/unit-test-common.yml
  scripts/build-xcframework-slice.sh
  scripts/build-xcframework-variant.sh
  scripts/sentry-xcodebuild.sh
Due: none

remove unneeded scripts dir argument
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/unit-test-common.yml
Due: none

don’t install slather for som build
  .github/workflows/unit-test-common.yml
Due: none

only run spm tests, revert changes to shared tests workflow and build script
  .github/file-filters.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/unit-test-common.yml
  scripts/sentry-xcodebuild.sh
Due: none

use macOSOnly
  .github/workflows/test-3rd-party-integrations.yml
  scripts/build-xcframework-variant.sh
Due: none

Apply suggestions from code review
  THIRD_PARTY_NOTICES.md
Due: format-markdown

chore: Added 3rd party notices (#7399)
  THIRD_PARTY_NOTICES.md
Due: format-markdown

chore: Update Twitter follow badge link in README.md
  README.md
Due: format-markdown

Apply suggestion from @philprime
  .github/workflows/test-cross-platform.yml
Due: none

fix(ci): Use Ruby setup with .ruby-version (#7412)
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/unit-test-common.yml
Due: none

sleep 2 s if we have a concurrent crash while handling a crash
  Sources/Sentry/include/SentryCrashMonitor.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_MachException.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
  Tests/SentryTests/Recording/SentryCrashCTests.swift
Due: format-swift

chore: Update Twitter follow badge link in README.md (#7417)
  README.md
Due: format-markdown

move start into async call
  Tests/SentryTests/Recording/SentryCrashCTests.swift
Due: format-swift

chore(ci): Update sentry-fastlane-plugin to v2 (#7410)
  Gemfile.lock
  fastlane/Fastfile
Due: none

suspend env after notifying, align naming with KSCrash
  Sources/Sentry/include/SentryCrashMonitor.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_MachException.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
  Tests/SentryTests/Recording/SentryCrashCTests.swift
Due: format-swift

re-inline replyToMachExceptionMessage
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_MachException.c
Due: none

don’t early rertun so we don’t ahve duplicated raise path
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
Due: none

update cl
  CHANGELOG.md
Due: format-markdown

feat(ci): Add SentrySwiftUI to public API scripts
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  scripts/update-api.sh
  sdk_api_sentryswiftui.json
Due: none

fix: ensure both API diagnostic steps run regardless of failures
  .github/workflows/api-stability.yml
Due: none

fix: Handle NSException subclasses in C++ exception monitor (#1650)
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_CppException_Tests.mm
Due: none

rename
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

add cl entry
  CHANGELOG.md
Due: format-markdown

remove comments
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

update naming
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

fix: Cleanup SessionReplay when maximum duration reached
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

feat(ci): Add SentrySwiftUI to public API scripts (#7419)
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  scripts/update-api.sh
  sdk_api_sentryswiftui.json
Due: none

refactor: Add SentrySwiftUI source files to Sentry
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryTraceOrigin.m
  Sources/Sentry/include/SentryPerformanceTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTraceOrigin.h
  Sources/SentrySwiftUI/Dummy.swift
  Sources/SentrySwiftUI/SentrySpanOperation.swift
  Sources/SentrySwiftUI/SentryTraceOrigin.swift
  Sources/Swift/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/SentrySwiftUI/Preview/SentryReplayMaskPreview.swift
  Sources/Swift/SentrySwiftUI/Preview/SentryReplayMaskPreviewUIView.swift
  Sources/Swift/SentrySwiftUI/SentryReplayView.swift
  Sources/Swift/SentrySwiftUI/SentryTracedView.swift
Due: format-swift

refactor: Simplify SentrySwiftUI targets and remove unused files
  Package.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/SentrySwiftUI/Preview/SentryReplayMaskPreview.swift
  Sources/Swift/SentrySwiftUI/Preview/SentryReplayMaskPreviewUIView.swift
  Tests/SentrySwiftUITests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Integrations/Performance/SentryPerformanceTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentrySwiftUI/PreviewRedactOptionsTests.swift
  Tests/SentryTests/SentrySwiftUI/SentryRedactModifierTests.swift
  Tests/SentryTests/SentrySwiftUI/SentryTraceViewModelTest.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix: Resolve data race crash in monitorCachedData
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashCachedData.h
  Tests/SentryTests/SentryCrash/SentryCrashCachedData_Tests.m
  Tests/SentryTests/SentryCrash/TestThread.h
  Tests/SentryTests/SentryCrash/TestThread.m
Due: none

fix: Replace semaphore-based synchronization in SentryCrashCachedData with lock-free atomic exchange pattern, adopting the approach from KSCrash PR #733.
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashCachedData.h
  Tests/SentryTests/SentryCrash/SentryCrashCachedData_Tests.m
  Tests/SentryTests/SentryCrash/TestThread.h
  Tests/SentryTests/SentryCrash/TestThread.m
Due: none

align with KSCrash: remove comment
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
Due: none

fixes
  Sentry.xcodeproj/project.pbxproj
  Sources/SentrySwiftUI/SentrySwiftUIExports.swift
  Sources/Swift/SentrySwiftUI/SentrySpanOperation.swift
  Sources/Swift/SentrySwiftUI/SentryTraceOrigin.swift
  sdk_api.json
  sdk_api_sentryswiftui.json
Due: format-swift

more cleanup
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  .github/workflows/test.yml
  Plans/SentrySwiftUI_Base.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentrySwiftUI.xcscheme
  scripts/verify-sentryswiftui-api-compatibility.sh
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
