Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

feat: Add install_groups support (#7278)
  CHANGELOG.md
  Sources/SentryDistribution/Models/CheckForUpdateParams.swift
  Sources/SentryDistribution/Models/ReleaseInfo.swift
  Sources/SentryDistribution/Updater.swift
Due: format-swift, format-markdown

Merge fixes
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix visionOS tests
  SentryTestUtilsDynamic/Sources/ExternalUIViewController.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
Due: format-swift

Remove SentryDependencyContainer dependency
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

Fixes
  Sources/Swift/SentryCrash/SentryDebugImageProvider.swift
Due: format-swift

feat: Add SentryHttpStatusCodes enum for type-safe HTTP status code handling
  Sources/Swift/Networking/SentryHttpStatusCodes.swift
  Sources/Swift/Networking/SentryHttpTransportHttpStatusCodeLogger.swift
  Tests/SentryTests/Networking/SentryHttpTransportHttpStatusCodeLoggerTests.swift
Due: format-swift

refactor: Rename enum to SentryHttpStatusCode and extend usage in HTTP transport
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Networking/SentryHttpStatusCode.swift
  Sources/Swift/Networking/SentryHttpStatusCodes.swift
  Sources/Swift/Networking/SentryHttpTransportHttpStatusCodeLogger.swift
  Tests/SentryTests/Networking/SentryHttpStatusCodeTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportHttpStatusCodeLoggerTests.swift
Due: format-swift

polish
  Sources/Sentry/SentryHttpTransport.m
Due: none

cleanup
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

refactor: Use equality operators instead of rawValue in status code tests
  Tests/SentryTests/Networking/SentryHttpStatusCodeTests.swift
Due: format-swift

refactor: Swap comparison order to enum == int for better readability
  Tests/SentryTests/Networking/SentryHttpStatusCodeTests.swift
Due: format-swift

Update SentryDependencyContainer and SentrySystemEventBreadcrumbs for multi-platform support
  Sources/Swift/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbs.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

chore: Update public API baseline for SentryHttpStatusCode enum
  sdk_api.json
Due: none

refactor: Make equality operators internal instead of SPI
  Sources/Swift/Networking/SentryHttpStatusCode.swift
Due: format-swift

add cl entry
  CHANGELOG.md
Due: format-markdown

chore: Exclude 3rd-party-integrations build/packages from SwiftLint checks
  .swiftlint.yml
Due: none

test: Add tests for is_active app context field
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

chore: Exclude 3rd-party-integrations build/packages from SwiftLint checks (#7292)
  .swiftlint.yml
Due: none

feat: Transport logs error message for HTTP 413 responses (#7261)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Networking/SentryHttpStatusCode.swift
  Sources/Swift/Networking/SentryHttpTransportHttpStatusCodeLogger.swift
  Tests/SentryTests/Networking/SentryHttpStatusCodeTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportHttpStatusCodeLoggerTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  sdk_api.json
Due: format-swift, format-markdown

refactor: Extract app context enrichment to SentryEventContextEnricher protocol
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  SentryTestUtils/Sources/TestEventContextEnricher.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Helper/SentryEventContextEnricher.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

refactor: Move eventContextEnricher to internal class extension
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
Due: none

refactor: Rename enrichEventContext to enrichWithAppState
  SentryTestUtils/Sources/TestEventContextEnricher.swift
  Sources/Sentry/SentryClient.m
  Sources/Swift/Helper/SentryEventContextEnricher.swift
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

refactor: Replace coalescing operator with explicit if-let for app context
  Sources/Swift/Helper/SentryEventContextEnricher.swift
Due: format-swift

refactor: Make enrichWithAppState parameter non-optional
  SentryTestUtils/Sources/TestEventContextEnricher.swift
  Sources/Swift/Helper/SentryEventContextEnricher.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

refactor: Simplify appContext creation and add test files to Xcode project
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Helper/SentryEventContextEnricher.swift
Due: format-swift

ref: convert AutoBreadcrumbTrackingIntegration to Swift (#7158)
  Samples/iOS-Swift/iOS-Swift/Tools/SentryExposure.h
  Samples/iOS-Swift/iOS-Swift/ViewControllers/InfoForBreadcrumbController.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryAutoBreadcrumbTrackingIntegration.m
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Sources/Sentry/include/SentryAutoBreadcrumbTrackingIntegration.h
  Sources/Sentry/include/SentryBreadcrumbTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Sentry/include/SentrySystemEventBreadcrumbs.h
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbDelegate.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbs.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration+Test.h
  Tests/SentryTests/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTestDelegate.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
  Tests/SentryTests/SentryCrash/SentryUIDeviceWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryTests.m
Due: format-swift

fix tests
  SentryTestUtils/Sources/TestEventContextEnricher.swift
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

undo changes in breadcrumb tracker
  Sources/Sentry/SentryBreadcrumbTracker.m
Due: none

fixes
  CHANGELOG.md
  Sources/Swift/Helper/SentryEventContextEnricher.swift
Due: format-swift, format-markdown

feat: Add validation and warning for invalid app context type
  Sources/Swift/Helper/SentryEventContextEnricher.swift
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
Due: format-swift

fixes
  Sources/Swift/Helper/SentryEventContextEnricher.swift
Due: format-swift

test: Remove redundant testEnrichEventContext_MultipleCallsWithDifferentStates
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
Due: format-swift

fix: Define SentryDefaultEventContextEnricherTests class on macOS
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
Due: format-swift

refactor: Unify SentryDefaultEventContextEnricherTests class definition
  Tests/SentryTests/Helper/SentryDefaultEventContextEnricherTests.swift
Due: format-swift

Fixes in project.pbxproj
  Sentry.xcodeproj/project.pbxproj
Due: none

Fix build on non UIKit builds
  Sources/Sentry/SentrySDKInternal.m
Due: none

Make `unswizzle` only available for tests
  Sources/Sentry/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
Due: none

Update headers
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

Fix duplicate file
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
Due: none

test: add macOS-CLI sample to reproduce sandbox profiling issue
  Package.swift
  Samples/macOS-CLI/.gitignore
  Samples/macOS-CLI/Makefile
  Samples/macOS-CLI/Package.swift
  Samples/macOS-CLI/Sources/cli-with-binary/CLI.swift
  Samples/macOS-CLI/Sources/cli-with-spm/CLI.swift
  Samples/macOS-CLI/sandbox.sb
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
