Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

WIP
  Samples/iOS-Swift/iOS-Swift-IntentExtension/Sources/IntentHandler.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-IntentExtension.xcscheme
Due: format-swift

docs: Move v9 changelog changes from v8.57.2 to unreleased (#6709)
  CHANGELOG.md
Due: format-markdown

ci: Fix testflight upload
  .github/workflows/testflight.yml
Due: none

add more tests
  Tests/SentryTests/Helper/SentryExtensionDetectorTests.swift
  Tests/SentryTests/Helper/SentryExtensionTypeTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

ci: Fix testflight upload (#6711)
  .github/workflows/testflight.yml
Due: none

chore: Add fast workflow for in progress PRs (#6682)
  .github/workflows/fast-pr-checks.yml
Due: none

cleanup
  CHANGELOG.md
  Samples/iOS-Swift/IntentsUIExtension/Base.lproj/MainInterface.storyboard
  Samples/iOS-Swift/IntentsUIExtension/Info.plist
  Samples/iOS-Swift/IntentsUIExtension/IntentViewController.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Benchmarking.xcscheme
  Sources/Sentry/SentryBaseIntegration.m
  fastlane/Matchfile
  sdk_api.json
Due: format-swift, format-markdown

tests: Remove debug print statement from SentryUIRedactBuilderTests (#6679)
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
Due: format-swift

cleanup
  Samples/iOS-Swift/iOS-Swift-ActionExtension/Sources/ActionViewController.swift
  Samples/iOS-Swift/iOS-Swift-IntentExtension/Sources/IntentHandler.swift
  Samples/iOS-Swift/iOS-Swift-ShareExtension.xcconfig
  Samples/iOS-Swift/iOS-Swift-ShareExtension/Sources/ShareViewController.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-ActionExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-IntentExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-ShareExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

removed local changes
  .gitignore
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Benchmarking.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-ActionExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-IntentExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-ShareExtension.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
Due: none

removed project files
  .gitignore
  Samples/iOS-SwiftUI-Widgets/Shared/Headers/SentryExposure.h
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.pbxproj
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets.xcscheme
Due: none

revert to no-op init
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

Implement any change to trigger all jobs
  Sources/Sentry/include/NSLocale+Sentry.h
Due: none

Test another change
  Sources/Sentry/include/NSLocale+Sentry.h
Due: none

Structured Logs: Add log APIs to `Hub` and `Client` (#6518)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryLog+SPM.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
Due: format-swift, format-markdown

3rd change
  Sources/Sentry/include/NSLocale+Sentry.h
Due: none

Another change
  Sources/Sentry/include/NSLocale+Sentry.h
Due: none

Print some debug information
  .github/workflows/release.yml
Due: none

wip
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/LiveActivityConfiguration.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidget.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidgetControl.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.yml
Due: format-swift

chore: Update workflow to fetch labels using github API
  .github/workflows/build.yml
  .github/workflows/ready-to-merge-workflow.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  develop-docs/CI.md
Due: format-markdown

chore: Ensure simctl's dyld shared cache is updated
  .github/workflows/ui-tests-common.yml
Due: none

Add simctl check for unit tests too
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

Add unit-test-common.yml to unit test file filter
  .github/file-filters.yml
Due: none

Run dyld shared cache update after selecting xcode
  .github/workflows/ui-tests-common.yml
Due: none

Skip for xcode 15
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

Run all UI tests
  .github/workflows/ui-tests-common.yml
Due: none

refactored live activity widget into separate target
  .gitignore
  Samples/iOS-Swift/iOS-Swift/iOS-Swift.entitlements
  Samples/iOS-SwiftUI-Widgets/Shared/Data/LiveActivityAttributes.swift
  Samples/iOS-SwiftUI-Widgets/Shared/Headers/iOS-Swift-Widget-Bridging-Header.h
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity.xcconfig
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Assets.xcassets/Contents.json
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Assets.xcassets/WidgetBackground.colorset/Contents.json
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Entitlements.entitlements
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Info.plist
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Sources/LiveActivityBundle.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Sources/LiveActivityConfiguration.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Sources/LiveActivityWidget.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Resources/Entitlements.entitlements
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidget.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidgetBundle.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidgetControl.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcconfig
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.pbxproj
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-LiveActivity.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-WidgetControl.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-WidgetExtension.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.yml
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Resources/Info.plist
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Sources/ContentView.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Sources/LiveActivityView.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Sources/LiveActivityViewModel.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Sources/MainApp.swift
Due: format-swift, format-json

fixes
  Samples/iOS-SwiftUI-Widgets/Shared/Data/LiveActivityAttributes.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Resources/Entitlements.entitlements
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Sources/LiveActivityConfiguration.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-LiveActivity/Sources/LiveActivityWidget.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Resources/Entitlements.entitlements
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets-WidgetExtension/Sources/SampleWidget.swift
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.pbxproj
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Resources/Entitlements.entitlements
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets/Sources/LiveActivityViewModel.swift
Due: format-swift

chore: Fixes SentryLogHandler tests
  SentryTestUtils/Sources/TestHub.swift
  Tests/SentrySwiftLogTests/SentryLogHandlerTests.swift
Due: format-swift

Remove generated project
  .gitignore
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.pbxproj
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-LiveActivity.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-WidgetControl.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets-WidgetExtension.xcscheme
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI-Widgets.xcscheme
Due: none

Update maxAttachmentSize from 100MB to 200MB
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryOptions.m
  Tests/SentryTests/SentryOptionsTest.m
Due: none

Test: Restore SentryExtensionDetector in ANR tests
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift

Fix: Update Info.plist path in ActionExtension config
  Samples/iOS-Swift/iOS-Swift-ActionExtension.xcconfig
Due: none

Revert "Structured Logs: Add log APIs to `Hub` and `Client` (#6518)"
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryLog+SPM.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
Due: format-swift, format-markdown

Fix file extension
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

ci: Build required check includes merge gate
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests.yml
Due: none

chore: add fastlane code signing setup
  .ruby-version
  Gemfile
  Gemfile.lock
  fastlane/Fastfile
Due: none

Revert "Structured Logs: Add log APIs to `Hub` and `Client` (#6518)" (#6727)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryLog+SPM.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Helper/SentryLogSPMTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
Due: format-swift, format-markdown

chore(deps): Update ruby/setup-ruby to v1.267.0
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/integration-test.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
Due: none

test: Add testPruneReports to flaky tests
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
