Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix(ci): Use CirrusLabs for collecting app metrics
  .github/workflows/release.yml
Due: none

fixed conditional imports
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
Due: format-swift

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

convert SentrySystemEventBreadcrumbs
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySystemEventBreadcrumbs.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySystemEventBreadcrumbs.h
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbs.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix device wrapper
  Samples/iOS-Swift/iOS-Swift/Tools/SentryExposure.h
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Sources/Swift/Integrations/AutoBreadcrumbTracking/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbs.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbsTest.swift
  Tests/SentryTests/SentryCrash/SentryUIDeviceWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryTests.m
Due: format-swift

revert exposure fix
  Samples/iOS-Swift/iOS-Swift/Tools/SentryExposure.h
  Samples/iOS-Swift/iOS-Swift/ViewControllers/InfoForBreadcrumbController.swift
Due: format-swift

WIP
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbDelegate.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTestDelegate.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Remove SentryBreadcrumbTracker implementation and header files, migrating functionality to Swift with updated conditional imports for platform compatibility.
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/include/SentryBreadcrumbTracker.h
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentrySystemEventBreadcrumbs.swift
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
Due: format-swift

Increase timeout
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

Refactor SentryBreadcrumbTracker: Update method signature and remove header file. Adjust usage in InfoForBreadcrumbController to align with new method definition.
  Samples/iOS-Swift/iOS-Swift/Tools/SentryExposure.h
  Samples/iOS-Swift/iOS-Swift/ViewControllers/InfoForBreadcrumbController.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

Increase time for test
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

fix: prevent deadlock in SentryReachability by notifying observers outside the lock (#7246)
  CHANGELOG.md
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift, format-markdown

ref: Use lock.synchronized helper in SentrySession
  Sources/Swift/SentrySession.swift
Due: format-swift

Add missing early return when no videos are generated
  Sources/Swift/Integrations/SessionReplay/SessionReplayRecovery.swift
Due: format-swift

Refactor integration order in SentrySwiftIntegrationInstaller
  Sources/Swift/Core/Integrations/Integrations.swift
Due: format-swift

Add tests for SentryNSDataSwizzlingHelper
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/include/SentryNSDataSwizzlingHelper.h
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
Due: format-swift

Add SentryNSFileManagerSwizzlingHelper and corresponding tests
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
  Sources/Sentry/include/SentryNSFileManagerSwizzlingHelper.h
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
Due: format-swift

Use weak reference for tracker
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
Due: none

refactor: remove unused tracker property from SentryNSDataSwizzling and SentryNSFileManagerSwizzling
  Sources/Swift/Integrations/Performance/IO/SentryNSDataSwizzling.swift
  Sources/Swift/Integrations/Performance/IO/SentryNSFileManagerSwizzling.swift
Due: format-swift

ref: Convert SentryFileIOTrackingIntegration to swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIoTrackingUnitTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Remove duplicate references
  Sentry.xcodeproj/project.pbxproj
Due: none

Rename tests
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
Due: format-swift

ref: Migrate SentrySession from Objective-C to Swift (#7245)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySessionInternal.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySessionInternal.h
  Sources/Swift/SentrySession.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Protocol/SentrySession+Equality.h
  Tests/SentryTests/Protocol/SentrySession+Equality.m
  Tests/SentryTests/SentrySessionTests.swift
  sdk_api.json
Due: format-swift

ref: Use xcode folder references instead of groups
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Exports.swift
  scripts/update-api.sh
  sdk_api.json
Due: format-swift

refactor: Convert `SentryCoreDataTrackingIntegration` to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryCoreDataSwizzling.m
  Sources/Sentry/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/SentryCoreDataTrackingIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryCoreDataSwizzling.h
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/include/SentryCoreDataTracker.h
  Sources/Sentry/include/SentryCoreDataTrackingIntegration.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Use xcode folder references instead of groups (#7253)
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Exports.swift
  scripts/update-api.sh
  sdk_api.json
Due: format-swift

ref: rename SentryLogBatcher to SentryLogBuffer
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix lint errros
  Sources/Sentry/SentryClient.m
Due: none

wip
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

ref: remove Protocol suffix from telemetry buffer types
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBuffer.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
Due: format-swift

feat: Log error message for HTTP 413 responses
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Networking/SentryHttpTransportErrorLogger.swift
  Tests/SentryTests/Networking/SentryHttpTransportErrorLoggerTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

changelog
  CHANGELOG.md
Due: format-markdown

ci(release): Fix changelog-preview permissions
  .github/workflows/changelog-preview.yml
Due: none

ci(release): Fix changelog-preview permissions (#7262)
  .github/workflows/changelog-preview.yml
Due: none

Feedback
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
Due: format-swift

Remove singleton
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Swift/Integrations/Performance/IO/SentryNSDataSwizzling.swift
  Sources/Swift/Integrations/Performance/IO/SentryNSFileManagerSwizzling.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
Due: format-swift

Use guards
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
Due: format-swift

chore: Convert SentrySessionReplayIntegration to Swift (#7102)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestDisplayLinkWrapper.swift
  SentryTestUtils/Sources/TestHub.swift
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/PrivateSentrySDKOnly.h
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryReplayApi.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryHub+SwiftPrivate.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScope+Private.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Sentry/include/SentrySessionReplayIntegration+Private.h
  Sources/Sentry/include/SentrySessionReplayIntegration.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Performance/SentryDisplayLinkWrapper.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionListener.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SessionReplayFileManager.swift
  Sources/Swift/Integrations/SessionReplay/SessionReplayRecovery.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegration+Test.h
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix missing files
  Sentry.xcodeproj/project.pbxproj
Due: none

chore: Convert SentryNSDataSwizzling and SentryNSFileManagerSwizzling to Swift (#7209)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCoreDataTrackingIntegration.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/SentryNSFileManagerSwizzling.m
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
  Sources/Sentry/SentryUIEventTrackingIntegration.m
  Sources/Sentry/include/SentryNSDataSwizzling.h
  Sources/Sentry/include/SentryNSDataSwizzlingHelper.h
  Sources/Sentry/include/SentryNSFileManagerSwizzling.h
  Sources/Sentry/include/SentryNSFileManagerSwizzlingHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Performance/IO/SentryNSDataSwizzling.swift
  Sources/Swift/Integrations/Performance/IO/SentryNSFileManagerSwizzling.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
Due: format-swift
