Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

review-feedback: Don't use force-unwrapping
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

feat(network-details): [test-app] Add testing UI to iOS-Swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

docs: Update SENTRYCRASH.md to remove references to resolved issues
  develop-docs/SENTRYCRASH.md
Due: format-markdown

review-comment: Link replay frontend constants for reference
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

feat(network-details): Add (simplified) URLSession swizzling for response capture
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
Due: format-swift

fix: set bridge before monitors & guard nil handler
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/SentryCrash.m
Due: none

Run format
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryNoOpSpan.m
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryStacktraceBuilder.m
  Sources/Sentry/SentryThreadHandle.cpp
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Tests/SentryProfilerTests/SentryBacktraceTests.mm
  Tests/SentryProfilerTests/SentryProfilerTests.mm
  Tests/SentryTests/SentryCrashReportConverterTests.m
  Tests/SentryTests/SentryOptionsTest.m
  scripts/.clang-format-version
Due: none

docs(SentryCrashBridge): enhance documentation for SentryCrashBridge facade pattern
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
Due: format-swift

fix(SentryCrashWrapper): enable system monitor before reading systemInfo to prevent empty data
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

review-feedback: Remove redundant and possibly flakey tests
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
Due: format-swift

fix(SentryCrash): set NSException bridge before installation to ensure proper monitoring
  Sources/SentryCrash/Recording/SentryCrash.m
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
Due: format-swift

feat(network-details): Handle non-text body content types
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

review-comment: Only rely on bodyData.length for request size
  Sources/Sentry/SentryNetworkTracker.m
Due: none

fix: Guard UTType usage with macOS 11 availability check
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

feat(network-details): [swizzle] Gate swizzling based on SDKOptions#networkDetailAllowUrls
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift

feat(network-details): Add networkDetailHasUrls to RRWebOptionsEvent
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebOptionsEvent.swift
Due: format-swift

feat(network-details): Add request details capture
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

feat(network-details): Extract network bodies
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

feat(network-details): Extract headers
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsHeaderTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

feat(network-details): Add NetworkRequestData -> breadcrumb -> RRBWebEvent
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
Due: format-swift

feat(network-details): Add response details capture
  Sources/Sentry/SentryNetworkTracker.m
Due: none

chore: Add error monitoring solution question to bug report template
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

feat(feedback): implement shake gesture detection (#7579)
  CHANGELOG.md
  Sources/Swift/Integrations/UserFeedback/SentryShakeDetector.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Tests/SentryTests/Integrations/Feedback/SentryShakeDetectorTests.swift
  sdk_api.json
Due: format-swift, format-markdown

chore: Add error monitoring solution question to bug report template (#7670)
  .github/ISSUE_TEMPLATE/bug.yml
Due: none

fix(objc): Fix SentryObjC package resolution and CI failures
  Package.swift
  Package@swift-6.1.swift
  Sources/SentryObjC/Public/SentryObjCFrame.h
  Sources/SentryObjC/Public/SentryObjCMechanism.h
  Sources/SentryObjC/Public/SentryObjCThread.h
  Tests/SentryTests/SentryObjCMetricsApiTests.m.wip
Due: format-swift

ref: Extract getAppStartMeasurement into SentryAppStartMeasurementProvider (#7655)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryTracer+Test.h
  Tests/ThreadSanitizer.sup
Due: format-swift

fix(macos): Fix thread safety in NSException capture
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashExceptionApplication.m
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/SentryNSExceptionCaptureHelper.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryUncaughtNSExceptions.m
  Sources/Sentry/SentryUseNSExceptionCallstackWrapper.m
  Sources/Sentry/include/SentryCrashExceptionApplicationHelper.h
  Sources/Sentry/include/SentryNSExceptionCaptureHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Sentry/include/SentryUncaughtNSExceptions.h
  Sources/Sentry/include/SentryUseNSExceptionCallstackWrapper.h
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Helper/SentryUseNSExceptionCallstackWrapperTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryUncaughtNSExceptionsTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrashExceptionApplicationTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

docs: Add changelog entry for NSException thread safety fix
  CHANGELOG.md
Due: format-markdown

ref: Extract getAppStartMeasurement into SentryAppStartMeasurementProvider
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/Transaction/SentryTracer+Test.h
Due: format-swift

ref: Pass standalone flag to sentryBuildAppStartSpans
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryBuildAppStartSpans.h
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

ref: Remove resetAppStartMeasurementRead from SentryTracer
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/Transaction/SentryTracer+Test.h
Due: format-swift

fix: Fix compilation errors in app start measurement provider tests
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
Due: format-swift

feat: Add enableStandaloneAppStartTracing option
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
Due: format-swift

feat: Implement standalone app start transaction
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentrySpanOperation.m
  Sources/Sentry/include/SentrySpanOperation.h
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
Due: format-swift

ref: Clean up app start measurement provider API
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
Due: format-swift

fix: Remove leftover profilerReferenceID in concurrency test
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
Due: format-swift

ref: Extract isStandaloneAppStartTransaction method
  Sources/Sentry/SentryTracer.m
Due: none

fix linter
  Sources/Sentry/SentryBuildAppStartSpans.m
Due: none

ref: Check origin in isStandaloneAppStartTransaction
  Sources/Sentry/SentryTracer.m
Due: none

ref: Move standalone app start check to Swift helper
  Sources/Sentry/SentryTracer.m
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
