Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

remove not needed
  Sources/Swift/Integrations/Performance/IO/Data+SentryTracing.swift
Due: format-swift

add comment
  Sources/Swift/Integrations/Performance/IO/Data+SentryTracing.swift
Due: format-swift

test(iOS-Swift): in app profile options (#5052)
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/xcshareddata/xcschemes/iOS-ObjectiveC.xcscheme
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ErrorsViewController.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/BenchmarkingViewController.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/Tools/DSNDisplayViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
  Sources/Sentry/SentryProfiler.mm
  develop-docs/README.md
Due: format-swift, format-markdown

test(iOS-Swift): default to ui profiling, trace lifecycle and app start profiling
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/xcshareddata/xcschemes/iOS-ObjectiveC.xcscheme
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  develop-docs/README.md
Due: format-swift, format-markdown

turn off these options
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
Due: none

actually, this cant be overridden in this way, so dont do it at all
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
Due: format-swift

put back schema arg
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
Due: none

fix: Crash in setMeasurement when name is nil
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Transaction/SentryTracer+Test.h
  Tests/SentryTests/Transaction/SentryTracer+Test.m
  Tests/SentryTests/Transaction/SentryTracerTests.swift
  scripts/.clang-format-version
  scripts/.swiftlint-version
Due: format-swift, format-markdown

chore: Bump ClangFormat to 20.1.2
  scripts/.clang-format-version
Due: none

chore: Bump swiftlint to 0.59.0
  scripts/.swiftlint-version
Due: none

chore: Bump ClangFormat to 20.1.2 (#5065)
  scripts/.clang-format-version
Due: none

chore: Bump swiftlint to 0.59.0 (#5066)
  scripts/.swiftlint-version
Due: none

feat(ci): add workflow to build sample projects
  .github/workflows/build-sample-projects.yml
  scripts/sentry-xcodebuild.sh
Due: none

fix: Make setMeasurement thread safe
  CHANGELOG.md
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift, format-markdown

feat add switches to sample to restart SDK with options
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/SceneDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
Due: format-swift

add develop documentation
  .github/workflows/auto-update-tools.yml
Due: none

add more docs
  .github/workflows/auto-update-tools.yml
Due: none

add base branch
  .github/workflows/auto-update-tools.yml
Due: none

change experimental view renderer naming to v2
  CHANGELOG.md
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift/iOS-SwiftClip/AppDelegate.swift
  Samples/iOS-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Sources/Sentry/SentryScreenshot.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Tools/ViewCapture/SentryViewPhotographer.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
  scripts/.swiftlint-version
Due: format-swift, format-markdown

fix changelog
  CHANGELOG.md
Due: format-markdown

change naming of internal types
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Swift/Tools/ViewCapture/SentryMaskRendererV2.swift
  Sources/Swift/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Tools/ViewCapture/SentryViewRendererV2.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
Due: format-swift

feat(ci): add scheduled workflow to update clang-format and swiftlint (#5047)
  .github/workflows/auto-update-tools.yml
  .github/workflows/format-code.yml
  Brewfile-ci-format
  Makefile
  scripts/check-tooling-versions.sh
  scripts/update-tooling-versions.sh
Due: none

merge build files
  .github/workflows/build-sample-projects.yml
  .github/workflows/build.yml
Due: none

fix destination and typos
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests.yml
Due: none

chore: add flag to disable app hang tracking v2 in sample (#5050)
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
Due: format-swift

add additional xcodebuild args
  .github/workflows/build.yml
  scripts/sentry-xcodebuild.sh
Due: none

fix platform
  .github/workflows/build.yml
Due: none

change platforms
  .github/workflows/build.yml
Due: none

revert changes to sentry-xcodebuild.sh
  .github/workflows/build.yml
  scripts/sentry-xcodebuild.sh
Due: none

revert changes to sentry-xcodebuild.sh
  .github/workflows/build.yml
Due: none

option configuration to enable continuous profiling beta
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
Due: format-swift

pr feedback
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
Due: format-swift

fix benchmark
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
Due: format-swift

test(iOS-Swift): default to ui profiling, trace lifecycle and app sta… (#5062)
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/xcshareddata/xcschemes/iOS-ObjectiveC.xcscheme
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  develop-docs/README.md
Due: format-swift, format-markdown

wip
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Tests/SentryProfilerTests/SentryProfileTestFixture.swift
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrency+Test.h
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrencyTests.swift
  Tests/SentryProfilerTests/SentryProfilerSerialization+Test.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

finish writing test and refactoring to fix
  Tests/SentryProfilerTests/SentryProfileTestFixture.swift
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrencyTests.swift
Due: format-swift

fix other test failures
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
Due: format-swift

consolidate
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrencyTests.swift
Due: format-swift

maybe have the repro
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrencyTests.swift
Due: format-swift

trying to integrate SentryTimeToDisplayTracker and SentryUIViewControllerSwizzling
  Tests/SentryProfilerTests/SentryProfiledTracerConcurrencyTests.swift
Due: format-swift
