Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref: adopt V10 traits in sample apps (#8881)
  .github/workflows/build-v10.yml
  Makefile
  Samples/SentrySampleShared/Package.swift
  Samples/SentrySampleShared/Sources/SentrySampleShared/GitInjections.swift
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Samples/iOS-Swift/UITests/Sources/LaunchUITests.swift
  Samples/iOS-Swift/UITests/Sources/SessionReplayUITests.swift
  Samples/iOS-Swift/UITests/Sources/UserFeedbackUITests.swift
  Samples/iOS-SwiftUI/App/Sources/FeedbackScreen.swift
  Samples/iOS-SwiftUI/UITests/Sources/FeedbackUITests.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjCOptions.h
  scripts/set-xcodegen-package-traits.sh
Due: format-swift

fix(samples): Stop camera preview session
  Samples/iOS-Swift/App/Sources/SessionReplayCameraPreviewViewController.swift
Due: format-swift

build: Remove retired camera sample target
  .github/workflows/build-v10.yml
  Makefile
Due: none

test: Improve URLSession loader diagnostics
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

test: Add internal SwiftPM test traits
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  develop-docs/BUILD.md
  develop-docs/TEST.md
Due: format-swift, format-markdown

test: Fix buffer replay fixture so recording actually starts
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiIntegrationTests.swift
Due: format-swift

ref: Add SwiftPM test utility wrappers (#8952)
  .github/workflows/test.yml
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/ClearTestState.swift
  SentryTestUtils/Sources/TestClient.swift
  SentryTestUtils/Sources/TestHub.swift
  SentryTestUtils/SourcesObjC/SentryTestClientWrapper.m
  SentryTestUtils/SourcesObjC/SentryTestHubWrapper.m
  SentryTestUtils/SourcesObjC/SentryTestStateWrapper.m
  SentryTestUtils/SourcesObjC/include/SentryTestClientWrapper.h
  SentryTestUtils/SourcesObjC/include/SentryTestHubWrapper.h
  SentryTestUtils/SourcesObjC/include/SentryTestStateWrapper.h
  SentryTestUtils/SourcesObjC/include/module.modulemap
  SentryTestUtils/SourcesObjCpp/SentryProfilerMocks.h
  SentryTestUtils/SourcesObjCpp/SentryProfilerMocks.mm
  SentryTestUtils/SourcesObjCpp/SentryProfilerMocksSwiftCompatible.h
  SentryTestUtils/SourcesObjCpp/SentryProfilerMocksSwiftCompatible.mm
  SentryTestUtilsTests/Sources/ClearTestStateWrapperTests.swift
  SentryTestUtilsTests/Sources/TestClientWrapperTests.swift
  SentryTestUtilsTests/Sources/TestHubWrapperTests.swift
  Tests/Configuration/SentryTests.xcconfig
  develop-docs/BUILD.md
  develop-docs/TEST.md
Due: format-swift, format-markdown

fix: Strip static SentryObjC debug maps
  .github/file-filters.yml
  .github/workflows/build-sentryobjc-slices.yml
  Makefile
  Samples/macOS-ObjectiveC-Static-CMake/.gitignore
  Samples/macOS-ObjectiveC-Static-CMake/CMakeLists.txt
  Samples/macOS-ObjectiveC-Static-CMake/Sources/main.m
  scripts/build-static-library-sentryobjc.sh
  scripts/build-xcframework-sentryobjc.sh
  scripts/validate-xcframework-format.sh
  scripts/validate-xcframework-sentryobjc-static.sh
  scripts/validate-xcframework.sh
Due: none

test(replay): Skip buffered-replay-id test on Mac Catalyst 26+
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiIntegrationTests.swift
Due: format-swift

docs: Add static debug map changelog
  CHANGELOG.md
Due: format-markdown

fix(ci): Scope static CMake validation
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  Makefile
  scripts/validate-xcframework-sentryobjc-static.sh
Due: none

refactor: Add ObjC compat tests to SwiftPM (#8963)
  .github/file-filters.yml
  .github/workflows/test.yml
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  develop-docs/BUILD.md
  develop-docs/TEST.md
Due: format-swift, format-markdown

fix(samples): define SDK_V10 in switch-v10
  Makefile
  scripts/set-xcodegen-package-traits.sh
Due: none

fix(replay): Use hub for buffered replay ID
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

build(samples): Fix watchOS extension plist
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

build(samples): Finish git info migration
  Samples/SDK-Size/SDK-Size.yml
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/Shared/reset-git-info.sh
Due: none

feat(samples): Add hints support to sample app
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ErrorsViewController.swift
Due: format-swift

fix(samples): define SDK_V10 in switch-v10 (#8980)
  Makefile
  scripts/set-xcodegen-package-traits.sh
Due: none

ref(samples): Migrate camera replay test (#8977)
  .github/workflows/build-v10.yml
  .github/workflows/build.yml
  .gitignore
  Makefile
  Samples/SessionReplay-CameraTest/Configurations/Info.plist
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/PreviewView.swift
  Samples/SessionReplay-CameraTest/Sources/SceneDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/SessionReplayCameraPreviewViewController.swift
  Samples/iOS-Swift/UITests/Sources/SessionReplayUITests.swift
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-swift, format-json

fix: Include full SentryObjC DWARF
  .github/workflows/build-sentryobjc-slices.yml
  scripts/build-static-library-sentryobjc.sh
  scripts/build-xcframework-sentryobjc.sh
  scripts/validate-xcframework-sentryobjc-static.sh
Due: none

docs: Update full DWARF changelog
  CHANGELOG.md
Due: format-markdown

docs(replay): Explain replay cleanup order
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
Due: format-swift

test: Match SwiftPM compiler settings
  .github/workflows/test.yml
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Tests/Configuration/SwiftPM.xcconfig
  develop-docs/BUILD.md
  develop-docs/TEST.md
Due: format-swift, format-markdown

docs: Unify SwiftPM testing instructions
  develop-docs/BUILD.md
  develop-docs/TEST.md
Due: format-markdown

docs: Record static DWARF decision
  develop-docs/DECISIONS.md
Due: format-markdown

fix: Inspect all static library architectures
  scripts/build-static-library-sentryobjc.sh
  scripts/validate-xcframework-sentryobjc-static.sh
Due: none

fix: Resolve the application state at didFinishLaunching when the SDK starts before UIApplication exists
  Sources/Swift/Helper/ThreadSafeApplication.swift
  Tests/SentryTests/SentryThreadsafeApplicationTests.swift
Due: format-swift

Add changelog entry
  CHANGELOG.md
Due: format-markdown

feat(samples): Add hints support to sample app (#8985)
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/ErrorsViewController.swift
Due: format-swift

feat: auto-populate HTTP hints for network events (#8967)
  CHANGELOG.md
  SentryTestUtils/Sources/TestHub.swift
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/SentryObjC/Public/SentryObjCHint.h
  Sources/SentryObjCCompat/SentryObjCHint.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Protocol/SentryHint.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

feat: process attachments before beforeSendWithHint
  CHANGELOG.md
  Sources/Sentry/SentryClient.m
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

docs: Clarify current scope trace precedence
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
Due: format-swift

test: Add scoped span correlation regressions
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
Due: format-swift

fix: Correlate captures with current scope spans
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryScope.m
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
Due: format-swift

test: Align current scope span expectations
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

style: Apply pinned clang-format spacing
  Sources/Sentry/SentryScope.m
Due: none

fix: run attachment processors in fatal session path
  Sources/Sentry/SentryClient.m
Due: none

fix: run attachment processors in session send path
  Sources/Sentry/SentryClient.m
Due: none

fix: Preserve scoped error envelope trace IDs
  Sources/Sentry/SentryClient.m
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
