Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ci: Test local SDK integration variants
  .github/workflows/test-3rd-party-integrations.yml
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryCocoaLumberjackLogger.swift
  3rd-party-integrations/SentryCocoaLumberjack/Tests/SentryCocoaLumberjackLoggerTests.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentryPulse/Sources/SentryPulse.swift
  3rd-party-integrations/SentryPulse/Tests/SentryPulseTests.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryLogHandler.swift
  3rd-party-integrations/SentrySwiftLog/Tests/SentryLogHandlerTests.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryDestination.swift
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

post-merge clean up
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+UnavailableReporter.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ScopeObserverTests.swift
Due: format-swift

ci: Patch all local SDK manifests
  .github/workflows/test-3rd-party-integrations.yml
Due: none

test(network): Add platform envelope snapshots
  Makefile
  Plans/SentryV10_TestServer.xctestplan
  Plans/Sentry_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-catalyst-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-catalyst.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-ios-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-ios.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-tvos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-tvos.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-visionos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-visionos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-catalyst-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-catalyst.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-ios-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-ios.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-tvos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-tvos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-visionos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-visionos.json
  Tests/SentryTests/Integrations/Performance/Network/NetworkEnvelopeSnapshot.swift
Due: format-swift, format-json

test(network): Name macOS envelope snapshots
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-macos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-macos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-macos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-macos.json
  Tests/SentryTests/Integrations/Performance/Network/NetworkEnvelopeSnapshot.swift
Due: format-swift, format-json

test(network): Use local server for details (#8761)
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  Makefile
  Plans/SentryV10_Base.xctestplan
  Plans/SentryV10_TestServer.xctestplan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-catalyst-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-catalyst.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-ios-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-ios.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-macos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-macos.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-tvos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-tvos.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-visionos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/failed-request-event-visionos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-catalyst-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-catalyst.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-ios-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-ios.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-macos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-macos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-tvos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-tvos.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-visionos-v10.json
  Tests/Resources/NetworkEnvelopeSnapshots/successful-request-transaction-visionos.json
  Tests/SentryTests/Integrations/Performance/Network/NetworkEnvelopeSnapshot.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
Due: format-swift, format-json

docs: change alert to IMPORTANT
  CHANGELOG.md
Due: format-markdown

ci: Strip unused ObjC artifacts
  .github/workflows/test-3rd-party-integrations.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

fix: strip ObjC binary targets in prepare-package.sh (#8773)
  scripts/prepare-package.sh
Due: none

ci: remove versioned Package files during 3rd party tests (#8774)
  .github/workflows/test-3rd-party-integrations.yml
Due: none

ref: Migrate app state manager to Swift (#8733)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationLogicTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

test: link KSCrash to V10 test utilities
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryV10.xcscheme
Due: none

test: fix V10 utility scheme reference
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryV10.xcscheme
Due: none

test: complete V10 utility test target
  Plans/SentryV10_Base.xctestplan
  Sentry.xcodeproj/project.pbxproj
Due: none

chore: bump the size limit by 100kb
  Tests/Perf/metrics-test.yml
Due: none

ref: type KSCrash installer monitors
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
Due: format-swift

chore: use internal KSCrash imports
  Makefile
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilter.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ScopeObserver.swift
  Tests/Configuration/SentryV10Catalyst.xcconfig
  scripts/sentry-xcodebuild.sh
Due: format-swift

feat: add SPM traits for 3rd-party integrations
  .github/workflows/test-3rd-party-integrations.yml
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryCocoaLumberjackLogger.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentryCocoaLumberjack/Tests/SentryCocoaLumberjackLoggerTests.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentryPulse/Sources/SentryPulse.swift
  3rd-party-integrations/SentryPulse/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentryPulse/Tests/SentryPulseTests.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryLogHandler.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftLog/Tests/SentryLogHandlerTests.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryDestination.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
Due: format-swift

ref: rename PrecompiledSentry trait to SentryFromBinary
  .github/workflows/test-3rd-party-integrations.yml
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentryPulse/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryTraitValidation.swift
Due: format-swift

docs: add changelog entry for SPM traits
  CHANGELOG.md
Due: format-markdown

docs: add breaking change warning for Swift 6.1 requirement
  CHANGELOG.md
Due: format-markdown

feat: add SPM traits for 3rd-party integrations (#8795)
  .github/workflows/test-3rd-party-integrations.yml
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryCocoaLumberjackLogger.swift
  3rd-party-integrations/SentryCocoaLumberjack/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentryCocoaLumberjack/Tests/SentryCocoaLumberjackLoggerTests.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentryPulse/Sources/SentryPulse.swift
  3rd-party-integrations/SentryPulse/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentryPulse/Tests/SentryPulseTests.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryLogHandler.swift
  3rd-party-integrations/SentrySwiftLog/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftLog/Tests/SentryLogHandlerTests.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryDestination.swift
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryTraitValidation.swift
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
  CHANGELOG.md
Due: format-swift, format-markdown

feat: Add beforeSendTransaction option (#8745)
  CHANGELOG.md
  CHANGELOG_V10.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentryTransaction.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/include/SentryTransaction+Private.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCTransaction.h
  Sources/SentryObjCCompat/SentryObjCEvent.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCTransaction.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsDictionaryTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

release: 9.26.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Swift/Helper/SentryMeta.swift
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

Add a SentryCrash migration ledger in develop-docs
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  Makefile
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryNSExceptionCaptureHelper.m
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+UnavailableReporter.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Sources/Swift/Integrations/SwiftAsyncIntegration.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/Configuration/SentryTestsV10.xcconfig
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiIntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashLegacyRecorderExclusionTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/CrashReport.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
  develop-docs/DECISIONS.md
  develop-docs/README.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-framework.sh
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-swift, format-markdown

add inline docs to the respective scripts and limit their description in the ledger
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-framework.sh
  scripts/verify-v10-sentrycrash-objects.sh
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-markdown

remove the use of rg in the verification scripts for CI
  scripts/verify-v10-sentrycrash-framework.sh
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: none

guard isReservedThread with SENTRY_HAS_THREADS_API to prevent the build error for watchOS@V10
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
Due: none

ref: Migrate SentryANRStoppedResultInternal to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRStoppedResultInternal.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/include/SentryANRStoppedResultInternal.h
  Sources/Sentry/include/SentryANRTrackerInternalDelegate.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/AppHangTracking/SentryANRStoppedResultInternal.swift
  Sources/Swift/Integrations/AppHangTracking/SentryANRTracker.swift
Due: format-swift

ref: Migrate SentryANRTrackerInternalDelegate to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/include/SentryANRTrackerInternalDelegate.h
  Sources/Sentry/include/SentryANRTrackerV1.h
  Sources/Sentry/include/SentryANRTrackerV2.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/AppHangTracking/SentryANRTracker.swift
  Sources/Swift/Integrations/AppHangTracking/SentryANRTrackerInternalDelegate.swift
  Sources/Swift/Integrations/AppHangTracking/SentryANRType.swift
  Tests/SentryTests/Integrations/AppHangTracking/SentryANRTrackerTests.swift
Due: format-swift

ref: Migrate SentryANRTrackerV1 and V2 to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryANRTrackerV2.m
  Sources/Sentry/include/SentryANRTrackerV1.h
  Sources/Sentry/include/SentryANRTrackerV2.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/AppHangTracking/SentryANRTrackerV1.swift
  Sources/Swift/Integrations/AppHangTracking/SentryANRTrackerV2.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix changelog
  CHANGELOG.md
Due: format-markdown

feat!: Remove enableLogs option (#8783)
  3rd-party-integrations/SentryCocoaLumberjack/README.md
  3rd-party-integrations/SentryCocoaLumberjack/Tests/SentryCocoaLumberjackLoggerTests.swift
  3rd-party-integrations/SentryPulse/README.md
  3rd-party-integrations/SentryPulse/Tests/SentryPulseTests.swift
  3rd-party-integrations/SentrySwiftLog/README.md
  3rd-party-integrations/SentrySwiftLog/Tests/SentryLogHandlerTests.swift
  3rd-party-integrations/SentrySwiftyBeaver/README.md
  3rd-party-integrations/SentrySwiftyBeaver/Sources/SentryDestination.swift
  3rd-party-integrations/SentrySwiftyBeaver/Tests/SentryDestinationTests.swift
  CHANGELOG.md
  CHANGELOG_V10.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Samples/iOS-SwiftUI-SPM/Sources/MainApp.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCLoggerTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
  sdk_api_objc.json
Due: format-swift, format-markdown

feat!: Remove enableMetrics option
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  SentryTestUtils/Sources/TestOptions.swift
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

fix comment
  Sources/Swift/Helper/SentrySDK.swift
Due: format-swift

Apply suggestion from @philprime
  CHANGELOG.md
Due: format-markdown

test: Fix Session Replay integration lookup
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

fix(network): Stabilize envelope snapshots
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift
