Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

release: 9.26.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Swift/Helper/SentryMeta.swift
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

Undo changes to `SentryMetricsApiProtocol.swift`
  Sources/Swift/Integrations/Metrics/SentryMetricsApiProtocol.swift
Due: format-swift

ref: Inject currentScopeStorage through initializers
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
Due: format-swift

ref: decouple view hierarchy serialization from SentryCrash
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SentryCrashV10ToolSources.xcconfig
  Sources/Sentry/SentryJSONStreamWriter.c
  Sources/Sentry/SentryJSONStreamWriter.h
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Tests/Configuration/SentryTestsV10.xcconfig
  Tests/SentryTests/Helper/SentryJSONStreamWriterTests.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
  develop-docs/DECISIONS.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-swift, format-markdown

satisfy swiftpm V10 trait
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
Due: none

align SENTRY_JSON_STREAM_MAX_CONTAINERS with the legacy codec
  Sources/Sentry/SentryJSONStreamWriter.h
Due: none

format
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-markdown

ref: decouple view hierarchy serialization from SentryCrash (#8885)
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SentryCrashV10ToolSources.xcconfig
  Sources/Sentry/SentryJSONStreamWriter.c
  Sources/Sentry/SentryJSONStreamWriter.h
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Tests/Configuration/SentryTestsV10.xcconfig
  Tests/SentryTests/Helper/SentryJSONStreamWriterTests.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
  develop-docs/DECISIONS.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-swift, format-markdown

feat: Set app start vitals on standalone children
  CHANGELOG.md
  Sources/Sentry/SentryTracer.m
  Tests/SentryTests/Integrations/Performance/AppStartTracking/AppStartReportingStrategyTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryExtendedAppLaunchTests.swift
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift, format-markdown

chore: Add changelog PR number
  CHANGELOG.md
Due: format-markdown

fix: address PR review comments on xcargs and launch profiling guard
  Sources/Sentry/SentryProfiler.mm
  fastlane/Fastfile
Due: none

fix(profiling): remove SENTRY_UI_TEST_SUPPORT guard from +load
  Sources/Sentry/SentryProfiler.mm
Due: none

fix: restore shell quoting for ARCHS xcargs in run_ui_tests
  fastlane/Fastfile
Due: none

fix(profiling): guard trace profile file write with runtime UI test check
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
Due: none

fix(profiling): restore SENTRY_UI_TEST_SUPPORT in +load guard
  Sources/Sentry/SentryProfiler.mm
Due: none

ref: Route withCurrentScope through storage directly
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryHub+SwiftPrivate.h
  Sources/Swift/HybridSDK/SentryInternalScopeApi.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiTests.swift
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
Due: format-swift

ref(samples): add V10 traits to remaining samples
  Samples/SPM/SPM.yml
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.yml
  Samples/iOS-SwiftUI-SPM/iOS-SwiftUI-SPM.yml
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.yml
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.yml
  Samples/macOS-Swift/macOS-Swift.yml
  Samples/macOS-SwiftUI-SPM/macOS-SwiftUI-SPM.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/tvOS-Swift/tvOS-Swift.yml
  Samples/tvOS-SwiftUI-SPM/tvOS-SwiftUI-SPM.yml
  Samples/visionOS-Swift/visionOS-Swift.yml
  Samples/visionOS-SwiftUI-SPM/visionOS-SwiftUI-SPM.yml
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

ref(samples): adopt V10 traits in iOS sample
  Samples/SentrySampleShared/Package.swift
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

ref(samples): use SentryObjCSDK in ObjC sample
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: none

ref(samples): gate V10 APIs in Swift samples
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Samples/iOS-Swift/UITests/Sources/UserFeedbackUITests.swift
  Samples/iOS-Swift/iOS-Swift.yml
  Samples/iOS-Swift6/iOS-Swift6.yml
  Samples/iOS-SwiftUI/App/Sources/FeedbackScreen.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
Due: format-swift

ref(samples): add SDK_V10 to iOS-Swift extension targets
  Samples/iOS-Swift/iOS-Swift.yml
Due: none

fix(samples): restore data collection config in ObjC sample
  Samples/SentrySampleShared/Package.swift
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
Due: format-swift

ref(samples): skip replay masking fixture test under SDK_V10
  Samples/iOS-Swift/UITests/Sources/SessionReplayUITests.swift
Due: format-swift

ref(samples): skip V10 CLI and widget UI test
  Samples/iOS-SwiftUI/UITests/Sources/FeedbackUITests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.yml
Due: format-swift

build: update clang-format to 23.1.0 and reformat
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  scripts/.clang-format-version
Due: none

ref: Remove currentScopeStorage from SentryHub
  Sources/Sentry/SentryHub.m
Due: none

Undo changes to SentryHub
  Sources/Sentry/SentryHub.m
Due: none

fix: Drop oldest breadcrumbs when merging across scopes
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

ref: Add SentryCurrentScopeStorage for thread-local scope
  Sources/Swift/Helper/SentryCurrentScopeStorage.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryCurrentScopeStorageTests.swift
  scripts/.clang-format-version
  scripts/.swiftlint-version
Due: format-swift

ref: Add scope enrichment via thread-local currentScope
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

ref: Apply currentScope to metrics via thread-local storage
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiTests.swift
Due: format-swift

feat: Expose withCurrentScope API via SentrySDK.internal.scope
  Sources/SentryObjC/Public/SentryObjCInternalScopeApi.h
  Sources/SentryObjCCompat/SentryObjCInternalScopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalScopeApi.swift
  Tests/SentryObjCTests/SentryObjCInternalScopeApiIntegrationTests.m
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

ref: Remove unused defaultMaxFeatureFlags
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/FeatureFlags/SentryFeatureFlagBuffer.swift
Due: format-swift

feat: Track maxFeatureFlags adoption
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

docs: Move changelog entry to Unreleased
  CHANGELOG.md
Due: format-markdown

chore: Regenerate public API
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: none

fix(samples): define SDK_V10 for Clang in SentrySampleShared
  Samples/SentrySampleShared/Package.swift
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

fix(samples): always export ObjC data collection config class
  Samples/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

feat(objc): expose profiling config on SentryObjCOptions
  CHANGELOG.md
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCProfileLifecycle.h
  Sources/SentryObjC/Public/SentryObjCProfileOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCProfileLifecycle.swift
  Sources/SentryObjCCompat/SentryObjCProfileOptions.swift
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

build: ship SentryObjC profiling headers in the framework
  Sentry.xcodeproj/project.pbxproj
Due: none
