Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

revert nullability in session replay
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

ref: Update test to use `SentrySpanInternal` instead of `SentrySpan`
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

fix(tests): Remove fatal error logging in SentryFileManager
  Sources/Sentry/SentryFileManagerHelper.m
Due: none

Remove network tracking option from SentryBaseIntegration
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/include/SentryBaseIntegration.h
Due: none

Enhance SentryNetworkTrackingIntegrationSwiftTests with clearer assertions and error messages.
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
Due: format-swift

chore: Add temporary macro for Swift migration tracking in SentryDefines.h
  Sources/Sentry/Public/SentryDefines.h
Due: none

Add Objective-C id usage linter
  Makefile
  scripts/check-objc-id-usage.py
Due: none

Remove excluded folder and fix SentryScope.h
  Makefile
  Sources/Sentry/Public/SentryScope.h
  scripts/check-objc-id-usage.py
Due: none

docs: add comprehensive documentation for SentrySDK.metrics property
  Sources/Swift/Helper/SentrySDK.swift
Due: format-swift

fix: improve metrics API based on PR feedback
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiTests.swift
Due: format-swift

docs: improve SentryMetricsApiProtocol documentation based on PR feedback
  Sources/Swift/Integrations/Metrics/SentryMetricsApiProtocol.swift
Due: format-swift

refactor: improve SentryMetricsUnit based on PR feedback
  Sources/Swift/Integrations/Metrics/SentryMetricsUnit.swift
Due: format-swift

test: add assertions to metrics disabled tests based on PR feedback
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiTests.swift
Due: format-swift

chore: allow all make commands in Claude settings
  .claude/settings.json
Due: format-json

chore: use explicit allowlist for make commands to prevent flag injection
  .claude/settings.json
Due: format-json

feat: add metrics flushing support to SentrySDK.flush()
  Sources/Sentry/SentryHub.m
  Sources/Swift/Core/Integrations/FlushableIntegration.swift
  Sources/Swift/Integrations/Log/FlushLogsIntegration.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

refactor: enhance flush integration handling in SentryHub
  Sources/Sentry/SentryHub.m
Due: none

refactor: streamline flush method handling in SentryMetricsIntegration
  Sources/Sentry/SentryHub.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

refactor: enable metrics by default and rename recordMetric to captureMetric
  CHANGELOG.md
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/SentryExperimentalOptions.swift
Due: format-swift, format-markdown

fix: remove wildcard patterns from make commands for exact matching
  .claude/settings.json
Due: format-json

rename SentryMetricsUnit to SentryUnit
  sdk_api.json
Due: none

WIP
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApiProtocol.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Protocol/SentryUnit.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBatcherTests.swift
  Tests/SentryTests/Protocol/SentryUnitTests.swift
Due: format-swift

rename SentryMetricsUnit to SentryUnit
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsApiProtocol.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Protocol/SentryUnit.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBatcherTests.swift
  Tests/SentryTests/Protocol/SentryUnitTests.swift
  sdk_api.json
Due: format-swift

fix newline
  Sources/Swift/Integrations/Metrics/SentryMetricsApi.swift
Due: format-swift

Rewrite script in ruby
  Makefile
  scripts/check-objc-id-usage.py
  scripts/check-objc-id-usage.rb
Due: none

Improve script
  scripts/check-objc-id-usage.rb
Due: none

Refactor violation reporting in check-objc-id-usage.rb to allow for quiet mode
  scripts/check-objc-id-usage.rb
Due: none

exclude bumping versions and such
  .claude/settings.json
Due: format-json

Remove nodoc from disabled files
  Samples/SentrySampleShared/SentrySampleShared/DSNStorage.swift
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

chore: Add make commands to Claude settings (#7180)
  .claude/settings.json
Due: format-json

revert wrong disabling
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Sources/Swift/Protocol/SentryLogMessage.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryDsn.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
Due: format-swift

Apply suggestions from code review
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
Due: format-swift

fix missing_docs violations
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Sources/Swift/Protocol/SentryLogMessage.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Sources/Swift/SentryHub.swift
  Sources/Swift/Tools/SentryLogger.swift
Due: format-swift

Update Samples/SentrySampleShared/SentrySampleShared/AssertView.swift
  Samples/SentrySampleShared/SentrySampleShared/AssertView.swift
Due: format-swift

apply fixes
  .swiftlint.yml
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackAPI.swift
Due: format-swift

Update Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/project.pbxproj
Due: none

chore: Merge changes of v8.58.0 back into main (#7173)
  SentryTestUtils/TestInfoPlistWrapper.swift
  SentryTestUtils/TestSessionReplayEnvironmentChecker.swift
  SentryTestUtilsTests/TestInfoPlistWrapperTests.swift
  SentryTestUtilsTests/TestSessionReplayEnvironmentCheckerTests.swift
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Core/Protocol/SentryRedactOptions.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/Protocol/SentryRedactDefaultOptionsTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+SpecialViews.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
  sdk_api.json
Due: format-swift

feat(metrics): Add integration with installation by SDK (#6956)
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  sdk_api.json
Due: format-swift, format-markdown
