Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

fix
  .github/workflows/ui-tests-critical.yml
Due: none

change min target
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcodeproj/project.pbxproj
Due: none

fix path
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

fix
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

fix
  .github/workflows/ui-tests-critical.yml
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

try without booting
  .github/workflows/ui-tests-critical.yml
Due: none

raw build log
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

again fix
  .github/workflows/ui-tests-critical.yml
Due: none

fix
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcconfig
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  fastlane/Fastfile
Due: none

add timestamps
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

fix: Set handled to false for fatal app hangs
  CHANGELOG.md
  Sources/Sentry/SentryANRTrackingIntegration.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift, format-markdown

feat: Enhance CI stability with simulator and test retry improvements
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  CI_FLAKINESS_ANALYSIS.md
  QUICK_START_CI_IMPROVEMENTS.md
  fastlane/Fastfile
  scripts/ci-prepare-simulator.sh
  scripts/monitor-flaky-tests.sh
Due: format-markdown

fix project file
  Sentry.xcodeproj/project.pbxproj
Due: none

Add test logging
  Samples/SentrySampleShared/SentrySampleShared/UIViewControllerExtension.swift
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/SentryScope.m
Due: format-swift

fix: Set handled to false for fatal app hangs (#5514)
  CHANGELOG.md
  Sources/Sentry/SentryANRTrackingIntegration.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift, format-markdown

test: Fix flaky launch UI test
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

test: Fix flaky launch UI test (#5515)
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

test: Remove extra XCUIApplication
  Samples/iOS-Swift/iOS-Swift-UITests/LaunchUITests.swift
Due: format-swift

test: Remove extra XCUIApplication (#5510)
  Samples/iOS-Swift/iOS-Swift-UITests/LaunchUITests.swift
Due: format-swift

ref: Use SPI for SentryUserFeedbackIntegrationDriver
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryScreenshot.m
  Sources/Sentry/SentryScreenshotIntegration.m
  Sources/Sentry/SentryUserFeedbackIntegration.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScreenshot.h
  Sources/Sentry/include/SentryScreenshotIntegration.h
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Tools/SentryScreenshot.swift
  Tests/SentryTests/Integrations/Screenshot/TestSentryScreenShot.swift
  Tests/SentryTests/SentryScreenShotTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Move last round of types to spi
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestDisplayLinkWrapper.swift
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesDelayResult.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebBreadcrumbEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebSpanEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayVideoMaker.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessor.swift
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Sources/Swift/Protocol/SentrySessionListener.swift
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
Due: format-swift

test: Fix flaky Tests for SwiftUI
  .github/workflows/ui-tests.yml
  fastlane/Fastfile
Due: none

feat(spm): Remove swift imports from objc++
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/SentryProfileTimeseries.m
Due: none

fix cl
  CHANGELOG.md
Due: format-markdown

remove xcodeproj
  .gitignore
  Makefile
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcodeproj/project.pbxproj
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

fix
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcconfig
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
Due: none

comments
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

capture screenshots
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  test-crash-and-relaunch-simulator-screenshots/114627_after-install.png
  test-crash-and-relaunch-simulator-screenshots/114633_after-crash.png
  test-crash-and-relaunch-simulator-screenshots/114637_after-crash-check.png
  test-crash-and-relaunch-simulator-screenshots/114643_after-crash-check-after-sleep.png
Due: none

run xcodegen
  .github/workflows/ui-tests-critical.yml
Due: none

Use vars in `ui-tests-common.yml` run commands (#5502)
  .github/workflows/ui-tests-common.yml
Due: none

test: Fix flaky Tests for SwiftUI (#5519)
  .github/workflows/ui-tests.yml
  fastlane/Fastfile
Due: none

fixing Linux build
  .devcontainer/devcontainer.json
  Package.swift
Due: format-swift, format-json

remove screenshots
  test-crash-and-relaunch-simulator-screenshots/114627_after-install.png
  test-crash-and-relaunch-simulator-screenshots/114633_after-crash.png
  test-crash-and-relaunch-simulator-screenshots/114637_after-crash-check.png
  test-crash-and-relaunch-simulator-screenshots/114643_after-crash-check-after-sleep.png
Due: none

format
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
Due: none

another fix
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

upload screenshots
  .github/workflows/ui-tests-critical.yml
  Sentry.xcworkspace/contents.xcworkspacedata
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

ci: Use xcrun for crash UI test (#5512)
  .github/workflows/ui-tests-critical.yml
  .gitignore
  Makefile
  Sentry.xcworkspace/contents.xcworkspacedata
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcconfig
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/AccentColor.colorset/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/ContentView.swift
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/SwiftUICrashTestApp.swift
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  fastlane/Fastfile
Due: format-swift, format-json

Fix build
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
Due: format-swift
