Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

refactor: Rename SentryViewHierarchy to SentryViewHierarchyProvider (#5407)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryViewHierarchyIntegration.m
  Sources/Sentry/SentryViewHierarchyProvider.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryViewHierarchyProvider.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.h
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

Add global event processor to dependency container tests
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift

fix: Add out of bounds handling for array accessor (#5431)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/ArrayAccesses.swift
  SentryTestUtilsTests/ArrayAccessesTests.swift
Due: format-swift

Fix autoreleasepool by fixing notification center wrapper
  SentryTestUtils/TestNSNotificationCenterWrapper.swift
  SentryTestUtilsTests/TestNSNotificationCenterWrapperTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

fix: Restore disable everythig override
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
Due: format-swift

Trigger UI tests on changes in `SentrySampleShared` folder
  .github/workflows/ui-tests.yml
Due: none

Update Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
Due: format-swift

fix: Restore disable everything override (#5434)
  .github/workflows/ui-tests.yml
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
Due: format-swift

Split tests to run pre test action to uninstall app
  .github/workflows/ui-tests-common.yml
  Plans/SwiftUITestSample_Crash.xctestplan
  Plans/SwiftUITestSample_Envelope.xctestplan
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/CrashTests.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/EnvelopeTests.swift
  fastlane/Fastfile
Due: format-swift

Use a separate run for each test
  .github/workflows/ui-tests-critical.yml
  Plans/SwiftUITestSample_All.xctestplan
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
  fastlane/Fastfile
  scripts/test-ui-critical.sh
Due: none

Create individual junit files
  .github/workflows/ui-tests-common.yml
  fastlane/Fastfile
Due: none

Undo changes
  fastlane/Fastfile
Due: none

Fix linter issue
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

Use different targets instead of excluding tests in test plans
  Plans/SwiftUITestSample_Base.xctestplan
  Plans/SwiftUITestSample_Crash.xctestplan
  Plans/SwiftUITestSample_Envelope.xctestplan
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/XCUIApplication+uninstall.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITestsCrashOnly/CrashTests.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITestsEnvelopeOnly/EnvelopeTests.swift
Due: format-swift

Update iOS test workflow to include fastlane command in job name
  .github/workflows/ui-tests-critical.yml
Due: none

Replace sleep with `waitForExistence`
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITestsCrashOnly/CrashTests.swift
Due: format-swift

Cleanup
  Sources/Sentry/SentryFileManager.m
  scripts/.clang-format-version
Due: none

ci: Split tests into individual jobs (#5409)
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  Plans/SwiftUITestSample_Crash.xctestplan
  Plans/SwiftUITestSample_Envelope.xctestplan
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITests/XCUIApplication+uninstall.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITestsCrashOnly/CrashTests.swift
  TestSamples/SwiftUITestSample/SwiftUITestSampleUITestsEnvelopeOnly/EnvelopeTests.swift
  fastlane/Fastfile
  scripts/test-ui-critical.sh
Due: format-swift

Improve error handling for `writeEnvelope:toPath:`
  Sources/Sentry/SentrySerialization.m
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Add more context `dyld` vs `libdyld.dylib`
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  scripts/.clang-format-version
Due: none

Use sentry prefix
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

Add test header file to help testing
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker+Test.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

Reutilize segment search
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker+Test.h
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

test: always wipe all data on disk before starting a new UI test
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
Due: format-swift

test(UI): dont launch after activating
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
Due: format-swift

impr(profiling): always remove launch profile config after starting
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
Due: none

modify test to ensure the config file is only present at the appropriate times
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
Due: format-swift

refactor to get access to the isDebugger check
  Samples/SentrySampleShared/SentrySampleShared.yml
  Samples/SentrySampleShared/SentrySampleUITestShared.xcconfig
  Samples/SentrySampleShared/SentrySampleUITestShared/Info.plist
  Samples/SentrySampleShared/SentrySampleUITestShared/SentryProcessInfo.h
  Samples/SentrySampleShared/SentrySampleUITestShared/SentryProcessInfo.m
  Samples/SentrySampleShared/SentrySampleUITestShared/SentrySampleUITestShared.h
  Samples/iOS-Swift/iOS-Benchmarking/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

test(UI): don't launch after activating when debugging (#5437)
  Samples/SentrySampleShared/SentrySampleShared.yml
  Samples/SentrySampleShared/SentrySampleUITestShared.xcconfig
  Samples/SentrySampleShared/SentrySampleUITestShared/Info.plist
  Samples/SentrySampleShared/SentrySampleUITestShared/SentryProcessInfo.h
  Samples/SentrySampleShared/SentrySampleUITestShared/SentryProcessInfo.m
  Samples/SentrySampleShared/SentrySampleUITestShared/SentrySampleUITestShared.h
  Samples/iOS-Swift/iOS-Benchmarking/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

fix: Stacktrace symbolication of fatal app hangs
  CHANGELOG.md
  Sources/Sentry/SentryANRTrackingIntegration.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
Due: format-swift, format-markdown

fix hybrid SDK trigger
  Sources/Sentry/SentrySessionTracker.m
Due: none

refactor: Move singleton of SentryGlobalEventProcessor to dependency container (#5428)
  SentryTestUtils/ClearTestState.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryGlobalEventProcessor.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryGlobalEventProcessor.h
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

add second button
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/Tools/TriggerAppHang.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

fix ui test
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
Due: format-swift

fixes
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  sdk_api.json
Due: format-swift, format-markdown, format-json

remove trailing comma
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

cleanup and optimizations
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
Due: none

fixed equality
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
Due: format-swift

update session tracking methods for graceful stopping
  Sources/Sentry/SentryAutoSessionTrackingIntegration.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/include/SentrySessionTracker.h
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
