Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

simplify snapshot buffer cleanup
  Sources/Swift/SentryCrash/SentryDefaultThreadInspector+V10.swift
Due: format-swift

use getsentry KSCrash fork
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Tests/ThreadInspectionHarness/Package.swift
  Tests/ThreadInspectionHarness/README.md
Due: format-swift, format-markdown

dramatically improve the inline docs for the SentryThreadSnapshot C-side interface
  Sources/Sentry/include/SentryThreadSnapshot.h
Due: none

also make the README of the ThreadInspectionHarness more usable
  Tests/ThreadInspectionHarness/README.md
Due: format-markdown

success is a non-empty stacktrace
  Sources/Swift/SentryCrash/SentryDefaultThreadInspector+V10.swift
  Tests/SentryTests/SentryCrash/SentryDefaultThreadInspectorV10Tests.swift
Due: format-swift

fix: prepare events off calling thread
  CHANGELOG.md
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/SentryClientTests.swift
  develop-docs/DECISIONS.md
Due: format-swift, format-markdown

build(v10): Drop KSCrash Installations dependency
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  Makefile
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  scripts/generate-sample-v10.sh
Due: format-swift

chore: lint KSCRASH_TODO trackers repo-wide
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-markdown

ci: remove iOS/tvOS 17 unit test jobs
  .github/workflows/test.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-install-simulator-runtime.sh
Due: none

test: Migrate legacy hybrid API tests (#9027)
  Plans/SentryV10_Base.xctestplan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
  Samples/XCFramework-Validation/XCFramework/AppDelegate.swift
  Samples/iOS-Swift/Shared/Headers/iOS-Swift-Bridging-Header.h
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Tests/SentryTests/HybridSDK/SentryInternalApiTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
  Tests/SentryTests/Protocol/SentryUserTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryTracerTests.swift
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-swift, format-markdown

ref(api)!: Remove legacy ObjC hybrid facade
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCPrivateSDKOnly.h
  Sources/SentryObjCCompat/SentryObjCPrivateSDKOnly.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalProfilingApi.swift
  Tests/SentryObjCTests/SentryObjCInternalApiTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiTests.swift
  develop-docs/SENTRY-INTERNAL-API.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

fix: Warn on invalid ANR tracker timeout
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

fix: Update public API dump for TimeInterval
  sdk_api.json
  sdk_api_v10.json
Due: none

fix: Prevent appHangTimeoutInterval of 0 or lower
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Options.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/AppHangTracking/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

cleanup
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiTests.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

ci: remove iOS/tvOS 17 unit test jobs (#9036)
  .github/workflows/test.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-install-simulator-runtime.sh
Due: none

chore: restore clang-format version from main
  scripts/.clang-format-version
Due: none

ref(api)!: Remove legacy hybrid SDK facade (#9030)
  AGENTS.md
  Sentry.xcodeproj/project.pbxproj
  Sources/AGENTS.md
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/PrivateSentrySDKOnly.h
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfileCollector.h
  Sources/Sentry/include/SentryProfilerSerialization.h
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCPrivateSDKOnly.h
  Sources/SentryObjCCompat/SentryObjCPrivateSDKOnly.swift
  Sources/SentryObjCCompat/SentryObjCSDKTracking.swift
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalAppStartApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalProfilingApi.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTrackingIntegration.swift
  Sources/Swift/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryObjCTests/SentryObjCInternalApiTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiTests.swift
  develop-docs/SENTRY-INTERNAL-API.md
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

improved docs
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCSDK.h
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Options.swift
Due: format-swift

feat: KSCrash replay recovery checkpoints
  CHANGELOG_V10.md
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeReplayAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReplayCheckpointTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

docs: add PR number to V10 changelog
  CHANGELOG_V10.md
Due: format-markdown

docs: drop SENTRYCRASH.md replay V10 note
  develop-docs/SENTRYCRASH.md
Due: format-markdown

chore(ci): restore applesimutils
  Makefile
Due: none

fix changelog
  CHANGELOG.md
Due: format-markdown

WIP
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
Due: format-swift

test: Pin URLSession loader task inheritance
  Sources/Swift/Core/Swizzling/SentryTypedSwizzle+URLSessionTask.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
Due: format-swift

fix: Preserve transaction trace in callbacks
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

fix(v10): Gate transaction trace enrichment
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

docs(v10): Note transaction callback trace fix
  CHANGELOG_V10.md
Due: format-markdown

ref(v10): remove enableSigtermReporting
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Markers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Sigterm.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ProcessRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/SigtermScenarioAsserter.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/SentryOptionsTest.m
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ref(v10): deprecate enableSigtermReporting
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
Due: format-swift

fix: suppress deprecation warning in ObjC test
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
Due: none

Run generate-api
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: none

Run make generate
  sdk_api.json
  sdk_api_v10.json
Due: none

fix: Handle new loader replay capture
  Plans/Sentry_TestServer.xctestplan
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNSURLSessionTaskSearchTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

chore: lint KSCRASH_TODO trackers repo-wide (#9035)
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-markdown

Run make generate
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: none

ref(v10): remove enableSigtermReporting (#9019)
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Markers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Sigterm.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ProcessRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/SigtermScenarioAsserter.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/SentryOptionsTest.m
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  sdk_api.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown
