Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: remove doc comments from SentryTransport.swift
  Sources/Swift/Networking/SentryTransport.swift
Due: format-swift

test: drop unused SwiftUI import in SubClassFinder tests
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift

ref: log skipped images in classes(forImage:)
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift

test: rename diff test and apply arrange-act-assert
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift

docs: record arm64e device validation in handoff
  HANDOFF-subclassfinder-fix.md
Due: format-markdown

impr: Reduce slight overhead during SDK start
  CHANGELOG.md
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

test: Drop redundant dispatch assertion from helper
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift

ref: convert SentryViewController to Swift (#8491)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/UIViewController+Sentry.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/UIViewController+Sentry.h
  Sources/Swift/Core/Integrations/Performance/SentryViewController.swift
  Tests/SentryTests/Categories/UIViewControllerSentryTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: rename SentryViewController to top-level func
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Core/Integrations/Performance/SentryViewController.swift
  Sources/Swift/Core/Integrations/Performance/SentryViewControllerHierarchy.swift
  Tests/SentryTests/Categories/UIViewControllerSentryTests.swift
Due: format-swift

docs: clarify why background class inspection is safe
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
Due: format-swift

ref: mark Transport.flush as @discardableResult
  Sources/Sentry/SentryTransportAdapter.m
  Sources/Swift/Networking/SentryTransport.swift
Due: format-swift

ref: use 'of:' label for viewControllerHierarchy
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Core/Integrations/Performance/SentryViewControllerHierarchy.swift
  Tests/SentryTests/Categories/UIViewControllerSentryTests.swift
Due: format-swift

ref: read classlist as AnyClass?, drop unsafeBitCast
  HANDOFF-subclassfinder-fix.md
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift, format-markdown

test: cover null entry in classlist section parsing
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift

ref: convert SentryTransport protocol to Swift (#8443)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/TestTransport.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/include/SentryHttpTransport.h
  Sources/Sentry/include/SentrySpotlightTransport.h
  Sources/Sentry/include/SentryTransport.h
  Sources/Sentry/include/SentryTransportAdapter.h
  Sources/Sentry/include/SentryTransportFactory.h
  Sources/Swift/Networking/SentryTransport.swift
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
  sdk_api_v10.json
Due: format-swift

ref: pass class pointers directly to swizzle block
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
Due: format-swift

ref: rename SentryViewController to top-level func (#8496)
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Core/Integrations/Performance/SentryViewController.swift
  Sources/Swift/Core/Integrations/Performance/SentryViewControllerHierarchy.swift
  Tests/SentryTests/Categories/UIViewControllerSentryTests.swift
Due: format-swift

feat(data-collection): Enable user info defaults in v10 (#8415)
  CHANGELOG_V10.md
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Sources/Swift/Helper/SentrySdkInfo.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentrySDKSettings.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeMetadata.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Protocol/SentrySDKSettingsTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift, format-markdown

impr: Reduce slight overhead during SDK start (#8494)
  CHANGELOG.md
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

docs: sync handoff with current state
  HANDOFF-subclassfinder-fix.md
Due: format-markdown

test: remove length invocation testing from SentryInvalidJSONString (#8453)
  Tests/SentryTests/Helper/SentryDeviceTests.m
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: none

ci: add actionlint pre-commit hook (#8475)
  .github/actionlint.yaml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/build-sentryobjc-slices.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/release-upload-xcframework.yml
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
  .github/workflows/version-bump-util.yml
  .pre-commit-config.yaml
  Brewfile
  Makefile
Due: none

fix: reduce Homebrew cache staleness in CI
  .github/actions/cache-homebrew/action.yml
Due: none

docs: record Finding 3 verdict for PR 8457
  REVIEW-PR-8457.md
Due: format-markdown

docs: mark SubClassFinder Finding 2 as open
  HANDOFF-subclassfinder-fix.md
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

docs: correct classes(forImage:) dyld unload-race comment
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift

handoff
  HANDOFF-subclassfinder-fix.md
Due: format-markdown

Update Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
Due: format-swift

ref: box SentryMetric for ObjC drop path
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Protocol/SentryMetricObjC.swift
  Tests/SentryTests/Protocol/SentryMetricClientReportTests.swift
Due: format-swift

test: apply AAA pattern to depth limit tests
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

docs: move changelog entry to unreleased section
  CHANGELOG.md
Due: format-markdown

ref: remove explicit raw values from SentryDataCategory
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/RateLimitParser.swift
  Sources/Swift/Networking/RateLimits.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryRateLimitsParserTests.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestRateLimits.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift

ref: keep userFeedback case in SentryDataCategory
  Sources/Swift/Networking/SentryDataCategory.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift

fix: reduce Homebrew cache staleness in CI (#8498)
  .github/actions/cache-homebrew/action.yml
Due: none

fix: Adopt scene lifecycle in sample apps (#8351)
  Samples/SentrySampleShared/SentrySampleShared/SampleAppDebugMenu.swift
  Samples/SentrySampleShared/SentrySampleShared/SampleAppUI.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/SentrySampleShared/SentrySampleShared/UIAssert.swift
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/iOS-ObjectiveC-Dynamic/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC-Dynamic/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveC-Static/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC-Static/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC-Static/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC-Static/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC-Static/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveC/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/SceneDelegate.m
  Samples/iOS-ObjectiveCpp-NoModules/App/Configurations/Info.plist
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/SceneDelegate.h
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/SceneDelegate.mm
  Samples/iOS-Swift/App/Configurations/Info.plist
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift/App/Sources/Tools/TopViewControllerInspector.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/iOS-SwiftUI/App/Sources/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/Sources/App.swift
  Samples/tvOS-Swift/App/Configurations/Info.plist
  Samples/tvOS-Swift/App/Sources/AppDelegate.swift
  Samples/tvOS-Swift/App/Sources/SceneDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Configurations/Info.plist
  Samples/tvOS-Swift/AppSBSwift/Sources/AppDelegate.swift
  Samples/tvOS-Swift/AppSBSwift/Sources/SceneDelegate.swift
  Samples/watchOS-Swift/WatchApp/Resources/Base.lproj/Interface.storyboard
Due: format-swift

fix missing semicolon
  Tests/SentryObjCTests/SentryObjCRequestTests.m
Due: none

ci: always run brew update and guard xcodegen version
  .github/actions/cache-homebrew/action.yml
  Makefile
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.yml
  scripts/check-xcodegen-version.sh
Due: none

feat: record trace_metric_byte client reports (#8490)
  CHANGELOG.md
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Sources/Swift/Protocol/SentryMetricObjC.swift
  Sources/Swift/Tools/SentryMetricClientReport.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Protocol/SentryMetricClientReportTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ref: Add Swift synchronized helper
  Sources/Swift/Concurrency/Synchronized.swift
  Tests/SentryTests/Swift/Concurrency/SynchronizedTests.swift
Due: format-swift

ref: remove explicit raw values from SentryDataCategory (#8500)
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/RateLimitParser.swift
  Sources/Swift/Networking/RateLimits.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryDefaultRateLimitsTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryRateLimitsParserTests.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestRateLimits.swift
Due: format-swift
