Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

Add import to Hybrid module
  Sources/Resources/Sentry.modulemap
Due: none

Increase validation timeout
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Update test
  Tests/DuplicatedSDKTest/DuplicatedSDKTest/DuplicatedSDKTestApp.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Use a sync function for tests
  Sources/Swift/Core/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Move LoadValidator out of Swift Core folder
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Update sdk_api
  sdk_api.json
Due: none

fix rebase issues
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
  sdk_api_V9.json
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Update sdk_api jsons
  sdk_api.json
  sdk_api_V9.json
Due: none

Remove import
  Sources/Sentry/include/SentryPrivate.h
Due: none

Fix build issue
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryBinaryImageInfo.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
Due: none

Improve captude of stdout
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Update tests plan to run unit tests first
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/xcshareddata/xcschemes/DuplicatedSDKTest.xcscheme
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xctestplan
Due: none

Fix dlopen guard
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Change diagnostic level to debug in unit tests
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Disable tests parallelization
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xctestplan
Due: none

Increase timeout due to CI slowness
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Apply PR review suggestions
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Tools/LoadValidator.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

chore: add duplicated binary test harness to workspace (#5646)
  Sentry.xcodeproj/project.pbxproj
Due: none

Move SentryBinaryImageInfo to HybridPublic
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/HybridPublic/SentryBinaryImageInfo.h
Due: none

Remove `SentryBinaryImageInfo` from modulemap
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/include/SentryPrivate.h
  sdk_api.json
  sdk_api_V9.json
Due: none

Reset sdk_api.json to main
  sdk_api.json
  sdk_api_V9.json
Due: none

Update broken tests
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashStackEntryMapperTests.swift
Due: format-swift

Fix test
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
Due: none

Avoid nesting
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Fix SentryBinaryImageInfo not available for swift by receiving the parameters.
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Swift/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Add isDebug paramter to `SentryBinaryImageCache`
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
  Tests/SentryTests/SentryBinaryImageCacheTests.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
Due: format-swift

Add comment referencing `SentrySubClassFinder`
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Set debug value before registering the callback
  Sources/Sentry/SentryBinaryImageCache.m
Due: none

Log an error instead of a warning
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Fix unit test
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Update stability jsons
  sdk_api.json
  sdk_api_V9.json
Due: none

Remove unnecesarry impot
  Sources/Sentry/include/SentryPrivate.h
Due: none

Revert extracting `SentryBinaryImageInfo` to a new file
  Sentry.xcodeproj/project.pbxproj
Due: none

Use hasPrefix and update simulator ignored path to `/Library/Developer/CoreSimulator/Volumes`
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Revert extracting `SentryBinaryImageInfo` to a new file
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryBinaryImageInfo.m
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
  Sources/Sentry/include/HybridPublic/SentryBinaryImageInfo.h
Due: none

Fix typo
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Fix support for Xcode 14.0
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
Due: none

Update tests
  Sources/Swift/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift
