Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

build: add SDK_V10 gated example to verify the flag
  Sources/Sentry/Public/SentryDefines.h
  Sources/Swift/Helper/SentrySDK.swift
Due: format-swift

fix: ship dSYMs in SentryObjC-Dynamic xcframework (#8036)
  .github/file-filters.yml
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/build-sentryobjc-slices.yml
  .github/workflows/release.yml
  CHANGELOG.md
  develop-docs/SENTRY-OBJC-BUILD.md
  scripts/assemble-xcframework-sentryobjc.sh
  scripts/build-dynamic-framework-sentryobjc.sh
Due: format-markdown

recreate public api
  sdk_api.json
Due: none

update public api
  sdk_api.json
Due: none

Mark feedback form aliases and conformances unavailable in app extensions (#8040)
  CHANGELOG.md
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/SentrySwiftUI/SentryUserFeedbackFormView.swift
  sdk_api.json
Due: format-swift, format-markdown

release: 9.17.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

fix: add missing DEBUG/RELEASE flags to SentryObjC V10 xcconfig
  Sources/Configuration/SentryObjC.xcconfig
Due: none

chore: Fix changelog conflict
  CHANGELOG.md
Due: format-markdown

chore: Fix changelog conflict (#8043)
  CHANGELOG.md
Due: format-markdown

feat: add SentrySDK.internal structured hybrid SDK API
  Sources/Sentry/include/SentryPrivate.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCInternalApi.h
  Sources/SentryObjC/Public/SentryObjCInternalAppStartApi.h
  Sources/SentryObjC/Public/SentryObjCInternalEnvelopeApi.h
  Sources/SentryObjC/Public/SentryObjCInternalPerformanceApi.h
  Sources/SentryObjC/Public/SentryObjCInternalProfilingApi.h
  Sources/SentryObjC/Public/SentryObjCInternalReplayApi.h
  Sources/SentryObjC/Public/SentryObjCInternalScreenApi.h
  Sources/SentryObjC/Public/SentryObjCInternalScreenshotApi.h
  Sources/SentryObjC/Public/SentryObjCInternalSwizzleApi.h
  Sources/SentryObjC/Public/SentryObjCInternalViewHierarchyApi.h
  Sources/SentryObjCCompat/SentryObjCInternalApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalAppStartApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalEnvelopeApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalPerformanceApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalProfilingApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalReplayApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalScreenApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalScreenshotApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalSwizzleApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalViewHierarchyApi.swift
  Sources/SentryObjCCompat/SentryObjCSDK+Internal.swift
  Sources/Swift/Helper/SentrySDK+Internal.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalAppStartApi.swift
  Sources/Swift/HybridSDK/SentryInternalEnvelopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalProfilingApi.swift
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/HybridSDK/SentryInternalScreenApi.swift
  Sources/Swift/HybridSDK/SentryInternalScreenshotApi.swift
  Sources/Swift/HybridSDK/SentryInternalSwizzleApi.swift
  Sources/Swift/HybridSDK/SentryInternalViewHierarchyApi.swift
  sdk_api_objc.diff.json
  sdk_api_objc.json
Due: format-swift

docs: update changelog
  CHANGELOG.md
Due: format-markdown

Fix changelog formatting and update for 9.17.1
  CHANGELOG.md
Due: format-markdown

ci: add cross-architecture symbol drift detection (#8038)
  .github/file-filters.yml
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/release.yml
  Makefile
  scripts/build-xcframework-local.sh
  scripts/validate-xcframework-symbols.sh
Due: none

fix: bypass forward-declared ObjC types in SPM builds
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Sentry/include/SentryOptionsInternal.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalEnvelopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
Due: format-swift

ci: pin actions/cache to full commit SHA
  .github/workflows/test-cross-platform.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

ref(session-replay): Inline single-use video helpers
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
Due: format-swift

ci: pin actions/cache to full commit SHA (#8045)
  .github/workflows/test-cross-platform.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

ref: extract sdk, debug, breadcrumbs, user sub-APIs
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCInternalApi.h
  Sources/SentryObjC/Public/SentryObjCInternalBreadcrumbApi.h
  Sources/SentryObjC/Public/SentryObjCInternalDebugApi.h
  Sources/SentryObjC/Public/SentryObjCInternalSdkApi.h
  Sources/SentryObjC/Public/SentryObjCInternalUserApi.h
  Sources/SentryObjC/Public/SentryObjCSDK.h
  Sources/SentryObjCCompat/SentryObjCInternalApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalBreadcrumbApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalDebugApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalSdkApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalUserApi.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalBreadcrumbApi.swift
  Sources/Swift/HybridSDK/SentryInternalDebugApi.swift
  Sources/Swift/HybridSDK/SentryInternalSdkApi.swift
  Sources/Swift/HybridSDK/SentryInternalUserApi.swift
  sdk_api_objc.diff.json
  sdk_api_objc.json
Due: format-swift

fix: ensure replay integration is available before configuration
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
Due: format-swift

ref: inject dependencies via provider protocols
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalDebugApi.swift
  Sources/Swift/HybridSDK/SentryInternalEnvelopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

ref(session-replay): Inline single-use video processor helpers
  Sources/Swift/Integrations/SessionReplay/SentryVideoFrameProcessor.swift
Due: format-swift

ref: inline PrivateSentrySDKOnly and add HubProvider
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/HybridSDK/SentryInternalScreenApi.swift
  Sources/Swift/HybridSDK/SentryInternalScreenshotApi.swift
  Sources/Swift/HybridSDK/SentryInternalSdkApi.swift
  Sources/Swift/HybridSDK/SentryInternalViewHierarchyApi.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

ref: use get/set properties for sdk name and version
  Sources/SentryObjC/Public/SentryObjCInternalSdkApi.h
  Sources/SentryObjCCompat/SentryObjCInternalSdkApi.swift
  Sources/Swift/HybridSDK/SentryInternalSdkApi.swift
Due: format-swift

refactor: update parent associations for setName methods and add setVersionString method
  sdk_api_objc.json
Due: none

test: add HybridSDK internal API tests
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Tests/SentryTests/HybridSDK/SentryInternalApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalAppStartApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalBreadcrumbApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalDebugApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalPerformanceApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalSdkApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalUserApiTests.swift
Due: format-swift

rename vc factory
  CHANGELOG.md
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCFeedbackForm.h
  Sources/SentryObjCCompat/SentryObjCFeedbackForm.swift
  Tests/SentryObjCTests/SentryObjCFeedbackFormTests.m
  sdk_api_objc.diff.json
  sdk_api_objc.json
Due: format-swift, format-markdown

revert already released changelog
  CHANGELOG.md
Due: format-markdown

fix: use SENTRY_SWIFT_MIGRATION_ID for hub envelope methods
  Sources/Sentry/include/SentryHub+Private.h
Due: none

docs: document SPM trap for Swift types in ObjC headers
  AGENTS.md
  Sources/AGENTS.md
Due: format-markdown

fix: use __has_include guard for SentryObjCDefines imports
  Sources/SentryObjC/Public/SentryObjCInternalApi.h
  Sources/SentryObjC/Public/SentryObjCInternalPerformanceApi.h
  Sources/SentryObjC/Public/SentryObjCInternalReplayApi.h
  Sources/SentryObjC/Public/SentryObjCInternalScreenApi.h
  Sources/SentryObjC/Public/SentryObjCInternalScreenshotApi.h
  Sources/SentryObjC/Public/SentryObjCInternalViewHierarchyApi.h
Due: none

feat: Expose feedback form APIs in SentryObjC (#8027)
  CHANGELOG.md
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCFeedbackApi.h
  Sources/SentryObjC/Public/SentryObjCFeedbackForm.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCUserFeedbackConfiguration.h
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormConfiguration.h
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormElementOutlineStyle.h
  Sources/SentryObjC/Public/SentryObjCUserFeedbackThemeConfiguration.h
  Sources/SentryObjCCompat/SentryObjCFeedbackApi.swift
  Sources/SentryObjCCompat/SentryObjCFeedbackForm.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackConfiguration.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackFormConfiguration.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackFormElementOutlineStyle.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackThemeConfiguration.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatUserFeedbackConfigurationTests.swift
  Tests/SentryObjCTests/SentryObjCFeedbackApiTests.m
  Tests/SentryObjCTests/SentryObjCFeedbackFormTests.m
  Tests/SentryObjCTests/SentryObjCUserFeedbackConfigurationTests.m
  sdk_api_objc.diff.json
  sdk_api_objc.json
Due: format-swift, format-markdown

ref: deprecate SentryObjCPrivateSDKOnly
  Sources/SentryObjC/Public/SentryObjCPrivateSDKOnly.h
  Sources/SentryObjCCompat/SentryObjCPrivateSDKOnly.swift
Due: format-swift

test: suppress deprecated warnings in PrivateSDKOnly tests
  Tests/SentryObjCTests/SentryObjCPrivateSDKOnlyTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  sdk_api_objc.json
Due: none

feat: add installationID method and property to SentryObjCPrivateSDKOnly
  sdk_api_objc.diff.json
Due: none

fix(session-replay): Fix mixed-frames test using identical timestamps
  Tests/SentryTests/Integrations/SessionReplay/SentryVideoFrameProcessorTests.swift
Due: format-swift

fix: properly start and clean up SDK in internal API tests
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryOptionsInternal.m
  Sources/SentryObjCCompat/SentryObjCInternalApi.swift
  Sources/Swift/Helper/SentrySDK+Internal.swift
  Tests/SentryTests/HybridSDK/SentryInternalApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalAppStartApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalBreadcrumbApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalDebugApiIntegrationTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalDebugApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalPerformanceApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalSdkApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalUserApiTests.swift
Due: format-swift

docs: update internal API spec to match implementation
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

docs: trim internal API spec to focus on specification
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

chore: disable attachments for now
  Sources/Swift/Integrations/KSCrash/KSCrashIntegration.swift
  Sources/Swift/Integrations/KSCrash/KSCrashReportConverter.swift
  Sources/Swift/Integrations/KSCrash/KSCrashReportSink.swift
  Sources/Swift/Integrations/KSCrash/SentryCrashAttachmentsStorage.swift
Due: format-swift

fix: Show feedback form from shake or screenshot without widget
  CHANGELOG.md
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Tests/SentryTests/Integrations/Feedback/UserFeedbackIntegrationTests.swift
Due: format-swift, format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
