Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

feat(data-collection)!: Filter URL query params
  CHANGELOG_V10.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/SentryObjC/Public/SentryObjCDataCollectionDatabaseCollectionOptions.h
  Sources/SentryObjC/Public/SentryObjCDataCollectionOptions.h
  Sources/SentryObjCCompat/SentryObjCDataCollectionDatabaseCollectionOptions.swift
  Sources/SentryObjCCompat/SentryObjCDataCollectionOptions.swift
  Sources/Swift/Core/Tools/UrlSanitized.swift
  Sources/Swift/DataCollection/SentryDataCollection+DatabaseOptions.swift
  Sources/Swift/DataCollection/SentryDataCollection+Options.swift
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Tests/SentryObjCTests/SentryObjCDataCollectionDatabaseCollectionOptionsTests.m
  Tests/SentryObjCTests/SentryObjCDataCollectionOptionsTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/DataCollection/SentryDataCollectionOptionsTests.swift
  Tests/SentryTests/DataCollection/SentryDatabaseCollectionOptionsTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryOptionsTests.swift
  Tests/SentryTests/UrlSanitizedTests.swift
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

more fixes
  Sources/Swift/DataCollection/SentryDataCollection+Options.swift
  Tests/SentryObjCTests/SentryObjCDataCollectionOptionsTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

revert unrelated database.queryParams changes
  Sources/SentryObjC/Public/SentryObjCDataCollectionDatabaseCollectionOptions.h
  Sources/SentryObjCCompat/SentryObjCDataCollectionDatabaseCollectionOptions.swift
  Sources/Swift/DataCollection/SentryDataCollection+DatabaseOptions.swift
  Tests/SentryObjCTests/SentryObjCDataCollectionDatabaseCollectionOptionsTests.m
  Tests/SentryTests/DataCollection/SentryDataCollectionOptionsTests.swift
  Tests/SentryTests/DataCollection/SentryDatabaseCollectionOptionsTests.swift
  Tests/SentryTests/SentryOptionsTests.swift
Due: format-swift

fix(data-collection): Ignore sendDefaultPii for URLs
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

build: regenerate public API for SentryDataCategory
  sdk_api.json
  sdk_api_v10.json
Due: none

ref: convert SentryDataCategory to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestTransport.swift
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryDataCategory.h
  Sources/Sentry/include/SentryDataCategoryMapper.h
  Sources/Sentry/include/SentryEnvelopeRateLimit.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTransport.h
  Sources/Sentry/include/SentryTransportAdapter.h
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/RateLimitParser.swift
  Sources/Swift/Networking/SentryDataCategory+EnvelopeItemType.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  Tests/SentryTests/Networking/RateLimits/TestEnvelopeRateLimitDelegate.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestRateLimits.swift
  Tests/SentryTests/Protocol/SentryClientReportTests.swift
  Tests/SentryTests/Protocol/SentryDiscardedEventTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryTests.m
Due: format-swift

docs: record A2a2 review refinements, set resume point
  SPOTLIGHT_TRANSPORT_SWIFT_CONVERSION.md
Due: format-markdown

fix: prevent SubClassFinder availability crash (#8152)
  CHANGELOG.md
  HANDOFF-subclassfinder-fix.md
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.h
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

test: Exempt private data collection bridge
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
Due: format-swift

test: skip SPM resolution in UI test lane (#8439)
  fastlane/Fastfile
Due: none

test: remove length invocation testing from SentryInvalidJSONString
  Tests/SentryTests/Helper/SentryDeviceTests.m
Due: none

fix(data-collection): Preserve ObjC bridge options
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Tests/SentryTests/DataCollection/SentryDataCollectionOptionsTests.swift
Due: format-swift

test: add new *OS 27 callstack for JSON decoding
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: none

test: remove debug logging
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: none

fix(replay): stop touch tracker when session replay is paused
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryTouchTracker.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryTouchTrackerTests.swift
Due: format-swift

fix: cap view hierarchy serialization depth
  CHANGELOG.md
  Sources/Sentry/SentryViewHierarchyProviderHelper.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift, format-markdown

fix: guard classes(forImage:) to iOS/tvOS/visionOS
  HANDOFF-subclassfinder-fix.md
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
Due: format-swift, format-markdown

ditch changes
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift

ref: Simplify sanitized URL construction
  Sources/Swift/Core/Tools/UrlSanitized.swift
  Tests/SentryTests/UrlSanitizedTests.swift
Due: format-swift

docs: Explain unparseable query fallback
  Sources/Swift/Core/Tools/UrlSanitized.swift
Due: format-swift

fix: Sanitize malformed URL components
  Sources/Swift/Core/Tools/UrlSanitized.swift
  Tests/SentryTests/UrlSanitizedTests.swift
Due: format-swift

fix: Rebuild sanitized URL components
  Sources/Swift/Core/Tools/UrlSanitized.swift
Due: format-swift

fix: Rebuild sanitized URL components (#8458)
  Sources/Swift/Core/Tools/UrlSanitized.swift
Due: format-swift

feat(data-collection)!: Filter URL query params in network tracker (#8414)
  CHANGELOG_V10.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/SentryObjC/Public/SentryObjCDataCollectionOptions.h
  Sources/SentryObjCCompat/SentryObjCDataCollectionOptions.swift
  Sources/Swift/Core/Tools/UrlSanitized.swift
  Sources/Swift/DataCollection/SentryDataCollection+Options.swift
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Tests/SentryObjCTests/SentryObjCDataCollectionOptionsTests.m
  Tests/SentryTests/DataCollection/SentryDataCollectionOptionsTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/UrlSanitizedTests.swift
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

feat(data-collection): Enable V10 user info defaults
  CHANGELOG_V10.md
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Swift/Helper/SentrySdkInfo.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift, format-markdown

ref(telemetry): Rename default user ID flag
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeMetadata.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

small cleanup
  Sources/Swift/Options.swift
Due: format-swift

feat(data-collection): Gate automatic user info
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Sources/Swift/Helper/SentrySdkInfo.swift
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentrySDKSettings.swift
  Tests/SentryTests/Protocol/SentrySDKSettingsTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

test(data-collection): Skip version-specific tests
  CHANGELOG_V10.md
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

ref: split header sanitizer ObjC wrappers
  CHANGELOG_V10.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Core/Tools/HTTPHeaderSanitizationResultObjC.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizerObjC.swift
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Tests/SentryObjCTests/SentryObjCRequestTests.m
  Tests/SentryTests/HTTPHeaderSanitizerTests.swift
Due: format-swift, format-markdown

Update Tests/SentryObjCTests/SentryObjCRequestTests.m
  Tests/SentryObjCTests/SentryObjCRequestTests.m
Due: none

feat: filter v10 headers and cookies
  CHANGELOG_V10.md
  Sources/Sentry/Public/SentryRequest.h
  Sources/Sentry/SentryNetworkTracker.m
  Sources/SentryObjC/Public/SentryObjCRequest.h
  Sources/SentryObjCCompat/SentryObjCRequest.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Sources/Swift/DataCollection/SentryDataCollectionObjCOptions.swift
  Sources/Swift/Protocol/Codable/SentryRequestCodable.swift
  Tests/SentryObjCTests/SentryObjCRequestTests.m
  Tests/SentryTests/HTTPHeaderSanitizerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Protocol/SentryRequestTests.swift
  Tests/SentryTests/Protocol/TestData.swift
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

ref: simplify HTTP header sanitization
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Core/Tools/HTTPHeaderSanitizationResultObjC.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Sources/Swift/Core/Tools/HTTPHeaderSanitizerObjC.swift
  Tests/SentryObjCTests/SentryObjCRequestTests.m
  Tests/SentryTests/HTTPHeaderSanitizerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Protocol/SentryRequestTests.swift
Due: format-swift

test: cover HTTP header sanitizer branches
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Tests/SentryTests/HTTPHeaderSanitizerTests.swift
Due: format-swift

Apply suggestion from @philprime
  Tests/SentryObjCTests/SentryObjCRequestTests.m
Due: none

fix(replay): reset touchTracker.isEnabled on start() to prevent touches staying disabled after stop/start
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

ci: Generate macOS CLI sample project
  .github/workflows/build.yml
Due: none

Revert "test: skip SPM resolution in UI test lane (#8439)"
  fastlane/Fastfile
Due: none

docs: refine SentryDataCategory comments
  Sources/Swift/Networking/SentryDataCategory.swift
Due: format-swift
