Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

reproduce the issue
  Samples/macOS-Swift/Shared/AppDelegate.swift
  Samples/macOS-Swift/Shared/macOS_Swift.entitlements
  Samples/macOS-Swift/macOS-Swift-UITests/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  Samples/macOS-Swift/macOS-Swift.xcodeproj/xcshareddata/xcschemes/macOS-Swift.xcscheme
Due: format-swift

fix wipe data to only remove the launch profile file where it is expected
  Sources/Sentry/SentryProfiler.mm
Due: none

first working iteration; need to add non-sandboxed versions of the sample app
  Samples/iOS-Swift/iOS-Swift/Profiling/NSObject+SentryAppSetup.m
  Samples/macOS-Swift/Shared/NSObject+SentryAppSetup.m
  Samples/macOS-Swift/Shared/ViewController.swift
  Samples/macOS-Swift/macOS-Swift-UITests/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileManager.m
Due: format-swift

wip on macOS ui tests in CI; add nonsandboxed version of test
  .github/workflows/ui-tests.yml
  Samples/macOS-Swift/macOS-Swift-UITests/MacOSSwiftUITests.swift
Due: format-swift

put back things that should be in the fix branch
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryProfiler.mm
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

fix casing of path in CODE_SIGN_ENTITLEMENTS
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
Due: none

remove entitlements file altogether, dont codesign (ui tests failed due to codesign errors, trying to fix)
  Samples/macOS-Swift/Shared/macOS_Swift.entitlements
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
Due: none

fix tests to accurately repro
  Samples/macOS-Swift/Shared/ViewController.swift
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfilerTestHelpers.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryFileManager.h
Due: format-swift

add back file manager test
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

updated fix
  Sources/Sentry/SentryFileManager.m
Due: none

also use the static caches path for in options for default cache path
  Samples/macOS-Swift/Shared/ViewController.swift
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/include/SentryFileManager.h
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

fixed broken test
  Tests/SentryTests/Helper/SentryFileManagerTestExtension.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

final fixes
  Samples/macOS-Swift/Shared/ViewController.swift
  Sources/Sentry/SentryFileManager.m
Due: format-swift

change sandbox check and custom path
  Sources/Sentry/SentryFileManager.m
Due: none

changelog
  CHANGELOG.md
Due: format-markdown

reverting unrelated changes
  Sources/Sentry/SentryOptions.m
  Tests/SentryTests/Helper/SentryFileManagerTestExtension.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

refactored to be unit testable
  SentryTestUtils/SentryFileManager+Test.h
  Sources/Sentry/SentryFileManager.m
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

add comment for usage of NSProcessInfo instead of wrapper
  Sources/Sentry/SentryFileManager.m
Due: none

more reverting of unrelated changes
  Sources/Sentry/SentryOptions.m
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

Fixed formatting
  CHANGELOG.md
Due: format-markdown

change copied iOS-Swift6 ui test job as template to macOS-Swift
  .github/workflows/ui-tests.yml
  fastlane/Fastfile
Due: none

try using skip_codesigning
  fastlane/Fastfile
Due: none

try using new match signing for TestCI in macOS-Swift ui test apps
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  fastlane/Fastfile
Due: none

skip_codesigning is not a valid parameter
  fastlane/Fastfile
Due: none

try to also not sign the ui test runner target
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
Due: none

tried setting up match-managed signing, but it didnt work locally. try pushing one last try with automatic signing on macOS-14
  .github/workflows/ui-tests.yml
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  fastlane/Fastfile
Due: none

DONOTMERGE remove other CI workflows
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/danger.yml
  .github/workflows/format-code.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint.yml
  .github/workflows/release-comment-issues.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
Due: none

DONOTMERGE remove other ui test ci jobs
  .github/workflows/ui-tests.yml
Due: none

fix deployment for swiftui compatibility
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
Due: none

set MACOSX_DEPLOYMENT_TARGET = 10.13
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
Due: none

try macos-13
  .github/workflows/ui-tests.yml
Due: none

use modern toolchain for mac sample build
  .github/workflows/build.yml
Due: none

handle additional edge cases, and test all combinations
  Sources/Sentry/SentryFileManager.m
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

remove the ci run of mac app ui tests for later branch
  .github/workflows/ui-tests.yml
Due: none

update changelog
  CHANGELOG.md
Due: format-markdown

go back to working toolchain version
  .github/workflows/ui-tests.yml
Due: none

correctly gate test runs on ios/macos
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

remove print
  Samples/macOS-Swift/Shared/AppDelegate.swift
Due: format-swift

ci: when commenting about dangerous files, remove previous comments
  .github/workflows/changes-in-high-risk-code.yml
Due: none
