Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

Pass dispatchQueueWrapper as an argument
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Swift/Tools/LoadValidator.swift
  sdk_api_V9.json
Due: format-swift

Update CHANGELOG and modify imports in SentryPrivate.h
  CHANGELOG.md
  Sources/Sentry/include/SentryPrivate.h
Due: format-markdown

meta: log complete raw envelope contents in debug
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentrySerialization.m
Due: none

test: reorganize networking feature flags and add another one
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
Due: format-swift

test: dont use BYOB feedback by default in sample apps
  Samples/Shared/feature-flags.yml
Due: none

Fixes
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/SentrySwiftUI/SentryInternal/SentryInternal.h
  Sources/Swift/Helper/DependencyScope.swift
  Sources/Swift/SentrySDK.swift
  Tests/SentrySwiftUITests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentrySDK+Tests.h
Due: format-swift

fix conditions
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
Due: none

Fix target module for `SomeWork` class
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest/DuplicatedSDKTestApp.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

test: Remove infinity response delay (#5669)
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

chore: Update nokogiri from 1.18.8 to 1.18.9
  Gemfile.lock
Due: none

chore: Update nokogiri from 1.18.8 to 1.18.9 (#5677)
  Gemfile.lock
Due: none

switch to runtime context
  SentryTestUtils/TestSentryNSProcessInfoWrapper.swift
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryExtraContextProvider.m
  Tests/SentryTests/Helper/SentryExtraContextProviderTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

changelog
  CHANGELOG.md
Due: format-markdown

code comment
  Sources/Sentry/SentryCrashWrapper.m
Due: none

Add beforeSendLog with mutable log class
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Swift/Protocol/MutableSentryLog.swift
  Sources/Swift/Protocol/MutableSentryLogLevel.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Protocol/MutableSentryLogLevel.swift
  Tests/SentryTests/Protocol/MutableSentryLogTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

add pr to changelog
  CHANGELOG.md
Due: format-markdown

remove xcode created folder recovered references
  Sentry.xcodeproj/project.pbxproj
Due: none

make public api
  sdk_api.json
  sdk_api_V9.json
Due: none

Fix v9 typo
  Sources/Sentry/Public/SentryDsn.h
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryDebugImageProvider.m
  Sources/Sentry/SentryDsn.m
  sdk_api_V9.json
Due: none

Add comments to clarify validation logic in SentryBinaryImageCache and LoadValidator
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Bump diffMax to 885kb
  Tests/Perf/metrics-test.yml
Due: none

feat: Validate single occurence of Sentry SDK inbinaries (#5298)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/LoadValidator.swift
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/xcshareddata/xcschemes/DuplicatedSDKTest.xcscheme
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xctestplan
  Tests/DuplicatedSDKTest/DuplicatedSDKTest/DuplicatedSDKTestApp.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
  Tests/Perf/metrics-test.yml
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/SentryBinaryImageCacheTests.swift
  Tests/SentryTests/SentryCrash/SentryBinaryImageCacheTests.m
  Tests/SentryTests/SentryCrash/SentryCrashStackEntryMapperTests.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

Fix v9 typo (#5679)
  Sources/Sentry/Public/SentryDsn.h
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryDebugImageProvider.m
  Sources/Sentry/SentryDsn.m
  sdk_api_V9.json
Due: none

ci: add a timeout to app collect metrics
  .github/workflows/release.yml
Due: none

ci: add a timeout to app collect metrics (#5680)
  .github/workflows/release.yml
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

feat(ANR): Ignore frame delays when going into background
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/include/SentryFramesTracker+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
Due: format-swift

Fix typo in comment
  Sources/Sentry/SentryFramesTracker.m
Due: none

Fix spacing
  CHANGELOG.md
Due: format-markdown

fix: mark feedback API as unavailable to app extensions
  Sources/Sentry/Public/SentryFeedbackAPI.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/include/SentryUserFeedbackIntegration.h
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
Due: format-swift

test: dont use BYOB feedback by default in sample apps (#5673)
  Samples/Shared/feature-flags.yml
Due: none

test: reorganize networking feature flags and add another one (#5672)
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
Due: format-swift

Only add category for tests
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/include/SentryFramesTracker+Test.h
  Sources/Sentry/include/SentryPrivate.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

try NS_EXTENSION_UNAVAILABLE instead of API_UNAVAILABLE
  Sources/Sentry/Public/SentryFeedbackAPI.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/include/SentryUserFeedbackIntegration.h
Due: none

plumb in the codecov token secret
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests.yml
Due: none

test: try codecov test analytics (#5658)
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests.yml
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
