Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

test: Remove force_unwrap for Serialization tests (#5019)
  Tests/.swiftlint.yml
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift

chore: Enable non_optional_string_data_conversion
  .swiftlint.yml
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/macOS-Swift/macOS-Swift/AppDelegate.swift
  Samples/tvOS-Swift/tvOS-Swift/AppDelegate.swift
  Samples/watchOS-Swift/watchOS-Swift WatchKit Extension/ExtensionDelegate.swift
  Tests/.swiftlint.yml
Due: format-swift

ci: Remove create and delete simulator scripts
  develop-docs/DECISIONS.md
  scripts/create-simulator.sh
  scripts/delete-simulator.sh
Due: format-markdown

ci: Boot simulators early
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  scripts/ci-boot-simulator.sh
Due: none

fix
  scripts/ci-boot-simulator.sh
Due: none

bundle exec
  .github/workflows/ui-tests.yml
Due: none

fix
  .github/workflows/ui-tests.yml
Due: none

add uses ruby
  .github/workflows/ui-tests.yml
Due: none

fix fastlane
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
Due: none

try again
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
Due: none

chore: Remove destination for analyzer
  .github/workflows/lint.yml
  Makefile
Due: none

undo xcode
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
Due: none

fix analyze error
  Sources/Sentry/SentryDsn.m
Due: none

chore: Update sentry-fastlane-plugin to 1.28.1
  Gemfile.lock
Due: none

backup
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/FailSafe/SentryFailSafe.swift
  Tests/SentryTests/Swift/FailSafe/SentryFailSafeTests.swift
Due: format-swift

fix: Truncation of Swift crash messages
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashReportTests.swift
Due: format-swift, format-markdown

chore: Update sentry-fastlane-plugin to 1.28.1 (#5034)
  Gemfile.lock
Due: none

update clang-format
  scripts/.clang-format-version
Due: none

fix: add platform to chunk envelope item headers
  Sources/Sentry/Profiling/SentryProfilerSerialization.mm
  Sources/Sentry/Public/SentryEnvelopeItemHeader.h
  Sources/Sentry/SentryEnvelopeItemHeader.m
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
Due: format-swift

meta: update clang-format (#5040)
  scripts/.clang-format-version
Due: none

fix(profiling): reevaluate sample rate on fg with new API (#4997)
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfilerDefines.h
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfiler+Private.h
  Sources/Sentry/include/SentrySampling.h
  Sources/Swift/Integrations/Performance/SentryProfileOptions.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

test(profiling): fix broken tests for new API (#4998)
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/include/SentryProfiledTracerConcurrency.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

fix a couple build issues from bad merge i guess
  Sources/Sentry/SentrySessionTracker.m
  Sources/Swift/Integrations/Performance/SentryProfileOptions.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

fixup! Merge branch 'armcknight/profiling/new-continuous-apis/7-combine-public-methods' into armcknight/profiling/new-continuous-apis/8-function-renames
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryProfiler.mm
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

fix: add platform to chunk envelope item headers (#5041)
  Sources/Sentry/Profiling/SentryProfilerSerialization.mm
  Sources/Sentry/Public/SentryEnvelopeItemHeader.h
  Sources/Sentry/SentryEnvelopeItemHeader.m
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
Due: format-swift

fix bad merge conflict resolution
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryProfiler.mm
Due: none

fix bad merge conflict resolution
  Sources/Sentry/Public/SentrySDK.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

ref(profiling): public methods for new API (#4995)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/SentrySDK.m
  Sources/Swift/Integrations/Performance/SentryProfileOptions.swift
  Tests/Configuration/SentryTests.xcconfig
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift, format-markdown

ref(profiling): function renames (#5007)
  SentryTestUtils/SentryLaunchProfiling+Tests.h
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryProfiledTracerConcurrency.h
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

pr feedback
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerDefines.h
  Sources/Sentry/Profiling/SentryProfilerSerialization.mm
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/include/SentryInternalDefines.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

fix tests, analyzer warning
  Sources/Sentry/SentryProfiler.mm
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift

another analyzer warning
  Sources/Sentry/SentryProfiler.mm
Due: none

fix visionOS build
  Sources/Sentry/Public/SentryProfilingConditionals.h
Due: none

fix(profiling): add ui tests for new launch profiling modes (#5008)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift-UITests/ProfilingUITests.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  SentryTestUtils/SentryLaunchProfiling+Tests.h
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Public/SentryProfilingConditionals.h
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryInternalDefines.h
  Sources/Sentry/include/SentryLaunchProfiling.h
  Sources/Sentry/include/SentryOptions+Private.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
Due: format-swift, format-markdown

Revert "NOMAIN: temporarily disable warnings as errors until we figure out how to deal with the deprecated usage in SentryEnabledFeaturesBuilder"
  Sources/Configuration/SDK.xcconfig
  Tests/Configuration/SentryTests.xcconfig
Due: none

trying to work around building with tooling versions both before and after visionOS becamse a thing
  Sources/Sentry/Public/SentryProfilingConditionals.h
Due: none

fix: add condtion to reference UIScreen
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryCrashWrapper.h
Due: none

fix: TestSentryCrashWrapper interface
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.m
Due: none

chore: Enable non_optional_string_data_conversion (#5029)
  .swiftlint.yml
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Samples/macOS-Swift/macOS-Swift/AppDelegate.swift
  Samples/tvOS-Swift/tvOS-Swift/AppDelegate.swift
  Samples/watchOS-Swift/watchOS-Swift WatchKit Extension/ExtensionDelegate.swift
  Tests/.swiftlint.yml
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
