Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix: Add macOS-CLI-Xcode to xcode-ci aggregate
  Makefile
Due: none

feat: Add package traits to xcodegen schema
  schema/xcodegen.schema.json
Due: format-json

ref: convert SentryDataCategory to Swift (#8451)
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestTransport.swift
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryDataCategory.h
  Sources/Sentry/include/SentryDataCategoryMapper.h
  Sources/Sentry/include/SentryEnvelopeRateLimit.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTransport.h
  Sources/Sentry/include/SentryTransportAdapter.h
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Sources/Swift/Networking/RateLimitParser.swift
  Sources/Swift/Networking/SentryDataCategory+EnvelopeItemType.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  Tests/SentryTests/Networking/RateLimits/TestEnvelopeRateLimitDelegate.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/TestRateLimits.swift
  Tests/SentryTests/Protocol/SentryClientReportTests.swift
  Tests/SentryTests/Protocol/SentryDiscardedEventTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryTests.m
  sdk_api.json
  sdk_api_v10.json
Due: format-swift

docs: mark A2a2 merged, set A2 as next work
  SPOTLIGHT_TRANSPORT_SWIFT_CONVERSION.md
Due: format-markdown

Revert "test: skip SPM resolution in UI test lane (#8439)" (#8463)
  fastlane/Fastfile
Due: none

ci: check XcodeGen version drift
  .github/actions/cache-homebrew/action.yml
  .github/file-filters.yml
  .github/workflows/auto-update-tools.yml
  docs/superpowers/plans/2026-07-20-xcodegen-version-drift.md
  docs/superpowers/specs/2026-07-20-xcodegen-version-drift-design.md
  scripts/.xcodegen-version
  scripts/check-tooling-versions.sh
  scripts/update-tooling-versions.sh
Due: format-markdown

docs: remove transient planning files
  docs/superpowers/plans/2026-07-20-xcodegen-version-drift.md
  docs/superpowers/specs/2026-07-20-xcodegen-version-drift-design.md
Due: format-markdown

fix: install XcodeGen before version update
  Makefile
Due: none

ci: check XcodeGen version drift (#8466)
  .github/actions/cache-homebrew/action.yml
  .github/file-filters.yml
  .github/workflows/auto-update-tools.yml
  Makefile
  scripts/.xcodegen-version
  scripts/check-tooling-versions.sh
  scripts/update-tooling-versions.sh
Due: none

feat: install KSCrash with production-safe monitors in SentryKSCrashIntegration
  SentryTestUtils/Sources/TestKSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

fix: remove KSCrashInstallations import from test target to break dep cycle
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashIntegrationTests.swift
Due: format-swift

fix: treat KSCrash alreadyInstalled error as success
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
Due: format-swift

chore: abstract KSCrash to protocols so testutils doesn't need to import it
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstalling.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/KSCrashInstallerTests.swift
  Tests/SentryTests/Integrations/KSCrash/TestSentryKSCrashIntegration.swift
Due: format-swift

ref: rework the API to nest related types
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/KSCrash/KSCrashInstaller.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

test: update to use swift testing because the future is now
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift, format-markdown

changelog: add changelog for feature
  CHANGELOG_V10.md
Due: format-markdown

chore(samples): add package traits to macOS-CLI-Xcode sample config (#8408)
  .github/workflows/build.yml
  .gitignore
  Makefile
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.xcodeproj/project.pbxproj
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.xcodeproj/xcshareddata/xcschemes/macOS-CLI-Xcode.xcscheme
  Samples/macOS-CLI-Xcode/macOS-CLI-Xcode.yml
  schema/xcodegen.schema.json
Due: format-json

chore: correctly disable arm64e for mac catalyst builds
  Sources/Configuration/SentryKSCrash.xcconfig
Due: none

feat(ci): Add label 'autocreated' to create-issue-for-unreferenced-pr.yml
  .github/workflows/create-issue-for-unreferenced-pr.yml
Due: none

ci: add actionlint pre-commit hook
  .github/actionlint.yaml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/build-sentryobjc-slices.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/release-upload-xcframework.yml
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/unit-test-common.yml
  .github/workflows/version-bump-util.yml
  .pre-commit-config.yaml
  Brewfile
  Makefile
Due: none

feat(ci): Add label 'autocreated' to create-issue-for-unreferenced-pr.yml (#8473)
  .github/workflows/create-issue-for-unreferenced-pr.yml
Due: none

ci: add xcodegen version to CI diagnostics
  scripts/ci-diagnostics.sh
Due: none

ci: add xcodegen version to CI diagnostics (#8476)
  scripts/ci-diagnostics.sh
Due: none

docs: add stakeholder feedback to distribution doc
  develop-docs/IMPROVE-SDK-DISTRIBUTION.md
Due: format-markdown

docs: use Craft commit-on-git-repository for cross-repo releases
  develop-docs/IMPROVE-SDK-DISTRIBUTION.md
Due: format-markdown

fix: gate classes(forImage:) to 64-bit archs
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
Due: format-swift

docs: mark A2 re-landed with real enums, set A3 next
  SPOTLIGHT_TRANSPORT_SWIFT_CONVERSION.md
Due: format-markdown

fix: address SubClassFinder review feedback
  CHANGELOG.md
  HANDOFF-subclassfinder-fix.md
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
Due: format-swift, format-markdown

docs: document Transport protocol and SentryFlushResult
  Sources/Swift/Networking/SentryTransport.swift
Due: format-swift

ref: tidy classes(forImage:) comments and image match
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
  Sources/Swift/Helper/SentryObjCRuntimeWrapper.swift
Due: format-swift

ref: hoist magic check out of rebind closure
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift

feat: record trace_metric_byte client reports
  CHANGELOG.md
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Networking/SentryDataCategory.swift
  Sources/Swift/Tools/SentryMetricClientReport.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Networking/SentryDataCategoryMapperTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Protocol/SentryMetricClientReportTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

chore: fix changelog PR number for #8490
  CHANGELOG.md
Due: format-markdown

test: raise macOS deployment target for test targets
  Tests/Configuration/SentryTests.xcconfig
Due: none

test: raise iOS, tvOS, watchOS targets for Swift Testing
  Tests/Configuration/SentryTests.xcconfig
Due: none

docs: note why image count is read once
  Sources/Swift/Helper/SentryDefaultObjCRuntimeWrapper.swift
Due: format-swift

ref: extract shared dropped-item client report helper
  Sources/Sentry/SentryClient.m
Due: none

docs: shorten recordDroppedTraceMetric comment
  Sources/Sentry/include/SentryClient+Private.h
Due: none

test: use arrange-act-assert for trace_metric_byte tests
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

ref: convert SentryViewController to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/UIViewController+Sentry.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/UIViewController+Sentry.h
  Sources/Swift/Core/Integrations/Performance/SentryViewController.swift
  Tests/SentryTests/Categories/UIViewControllerSentryTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
