Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

update surface map
  skills/relay-conformance-audit/SKILL.md
Due: format-markdown

remove rollout plan
  skills/relay-conformance-audit/PLAN.md
Due: format-markdown

chore: add relay-conformance-audit skill (#8574)
  agents.toml
  skills/relay-conformance-audit/SKILL.md
  skills/relay-conformance-audit/references/findings.md
  skills/relay-conformance-audit/references/surface-map.md
Due: format-markdown

chore: update relay-audit surface map
  skills/relay-conformance-audit/references/surface-map.md
Due: format-markdown

changelog: move item to breaking change, add more detail
  CHANGELOG.md
Due: format-markdown

chore(agents): remove huge list of default skills
  agents.toml
Due: none

chore(agents): remove huge list of default skills (#8586)
  agents.toml
Due: none

ref: Add conditional compilation for ENABLE_KSCRASH mode
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryAsyncSafeLog.c
  Sources/Sentry/SentryBacktrace.cpp
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryCrashCompatibility.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashInstallationReporter.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/Integrations/SwiftAsyncIntegration.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryCrash/SentryThreadInspector.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

fix: Log caught Objective-C exceptions
  Sources/Sentry/SentryObjCExceptionHelper.m
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+LayerTraversalCrash.swift
Due: format-swift

docs: Link replay exception troubleshooting
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift

changelog: add admonishment (alert) and explain what the user will see differently
  CHANGELOG.md
Due: format-markdown

fix: Narrow replay exception handling
  Sources/Sentry/SentryObjCExceptionHelper.m
  Sources/Sentry/include/SentryObjCExceptionHelper.h
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+LayerTraversalCrash.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+RealAnimationCrash.swift
Due: format-swift

docs: Link presentation fallback guidance
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift

fix: Preserve replay unmask fallback
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+LayerTraversalCrash.swift
Due: format-swift

ref: rename weakTarget to weakTargetMutex
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
Due: format-swift

feat: Runtime toggle for shake-to-report feedback
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCFeedbackApi.h
  Sources/SentryObjCCompat/SentryObjCFeedbackApi.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackAPI.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Tests/SentryObjCTests/SentryObjCFeedbackApiTests.m
  Tests/SentryTests/Integrations/Feedback/UserFeedbackIntegrationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

ref: Update changelog ref to PR number
  CHANGELOG.md
Due: format-markdown

fix: catch CoreAnimation exceptions in redaction (#8537)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryObjCExceptionHelper.m
  Sources/Sentry/include/SentryObjCExceptionHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+LayerTraversalCrash.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+RealAnimationCrash.swift
Due: format-swift, format-markdown

ref: Rename shake-to-report runtime API methods
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCFeedbackApi.h
  Sources/SentryObjCCompat/SentryObjCFeedbackApi.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackAPI.swift
  Tests/SentryObjCTests/SentryObjCFeedbackApiTests.m
  Tests/SentryTests/Integrations/Feedback/UserFeedbackIntegrationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

feat: add non-terminating unhandled session path
  CHANGELOG.md
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryHub+SwiftPrivate.h
  Sources/SentryObjC/Public/SentryObjCInternalEnvelopeApi.h
  Sources/SentryObjCCompat/SentryObjCInternalEnvelopeApi.swift
  Sources/Swift/Helper/SentryFileManager.swift
  Sources/Swift/HybridSDK/SentryInternalEnvelopeApi.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentrySession.swift
  Tests/SentryObjCTests/SentryObjCInternalEnvelopeApiIntegrationTests.m
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiIntegrationTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySessionTests.swift
  develop-docs/SENTRY-INTERNAL-API.md
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

fix: Preserve network tracker behavior
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryTracePropagation.h
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

chore: fix PR number in changelog
  CHANGELOG.md
Due: format-markdown

ref: Extract network tracker proxy
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackerProxy.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerProxyTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
Due: format-swift

fix: Build trace context with SPM
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryTraceContextSwiftHelper.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryTraceContextSwiftHelper.h
  Sources/Swift/Networking/SentryNetworkTracker.swift
Due: format-swift

feat: public option to disable memory introspection (#8571)
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
  Tests/SentryTests/SentryOptionsDictionaryTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

chore: remove dynamic packages from apple-binaries
  .github/workflows/apple-binaries-archive.yml
  distribution/apple-binaries/LICENSE.md
  distribution/apple-binaries/Package.swift
  distribution/apple-binaries/README.md
  scripts/create-apple-binaries-archive.sh
  scripts/verify-package-sha.sh
Due: format-swift, format-markdown

chore: include CHANGELOG, README, LICENSE in apple-binaries archive
  .github/workflows/apple-binaries-archive.yml
  scripts/create-apple-binaries-archive.sh
Due: none

Revert "chore: include CHANGELOG, README, LICENSE in apple-binaries archive"
  .github/workflows/apple-binaries-archive.yml
  scripts/create-apple-binaries-archive.sh
Due: none

ref: remove unnecessary sed replace for changelog header
  scripts/create-apple-binaries-archive.sh
Due: none

chore: Sample change to changelog
  CHANGELOG.md
Due: format-markdown

release: 9.23.1-alpha.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Sentry/SentryMeta.m
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

ref: remove binary target logic from build scripts
  .claude/settings.json
  .github/last-release-runid
  .github/workflows/api-stability.yml
  .github/workflows/release.yml
  .github/workflows/version-bump-util.yml
  Makefile
  Utils/VersionBump/main.swift
  scripts/bump.sh
  scripts/generate_release_matrix.sh
  scripts/prepare-package.sh
  scripts/update-api.sh
  scripts/update-package-sha.sh
  scripts/verify-package-sha.sh
Due: format-swift, format-json

chore: Changelog for 9.24.0
  CHANGELOG.md
Due: format-markdown

chore: Changelog for 9.24.0 (#8607)
  CHANGELOG.md
Due: format-markdown

release: 9.24.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown
