Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ci: Share Bazel disk cache across workflows
  .github/workflows/lint-swiftlint-formatting.yml
Due: none

revert: Namespace Bazel disk cache by workflow
  .github/workflows/lint-swiftlint-formatting.yml
Due: none

test: Use Swift Testing for extra rules
  Makefile
  linters/SwiftLintCustomRules/BUILD.bazel
  linters/SwiftLintCustomRules/MODULE.bazel
  linters/SwiftLintCustomRules/README.md
  linters/SwiftLintCustomRules/StandaloneObjCExtensionRuleTests.swift
  linters/SwiftLintCustomRules/test.sh
Due: format-swift, format-markdown

ref: Split extra rules into Sources and Tests
  linters/SwiftLintCustomRules/BUILD.bazel
  linters/SwiftLintCustomRules/README.md
  linters/SwiftLintCustomRules/Sources/ExtraRules.swift
  linters/SwiftLintCustomRules/Sources/StandaloneObjCExtensionRule.swift
  linters/SwiftLintCustomRules/Tests/StandaloneObjCExtensionRuleTests.swift
Due: format-swift, format-markdown

docs: Clarify extra-rules lint vs test entrypoints
  linters/SwiftLintCustomRules/README.md
  linters/SwiftLintCustomRules/run.sh
Due: format-markdown

test: Show extra-rules Swift Testing output
  Makefile
  linters/SwiftLintCustomRules/BUILD.bazel
Due: none

ref: Convert performance tracker to Swift (#9141)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryPerformanceTracker.m
  Sources/Sentry/include/SentryDefaultUIViewControllerPerformanceTracker.h
  Sources/Sentry/include/SentryPerformanceTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Performance/SentryPerformanceTracker.swift
  TestApps/iOS-SwiftUI/App/Sources/ContentView.swift
  TestApps/iOS-SwiftUI/App/Sources/FormScreen.swift
Due: format-swift

test: Cover more standalone ObjC category cases
  linters/SwiftLintCustomRules/Tests/StandaloneObjCExtensionRuleTests.swift
Due: format-swift

fix: Keep GraphQL operation tracking opt-in in v10
  CHANGELOG_V10.md
  Sources/Swift/Options.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

docs: Correct GraphQL tracking default in ObjC
  Sources/SentryObjC/Public/SentryObjCOptions.h
Due: none

fix: Serialize connectivity envelope drains
  Sources/Sentry/SentryHttpTransport.m
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

test: consolidate profiler test helpers
  .github/file-filters.yml
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SourcesObjC/SentryTestProfilerWrapper.m
  SentryTestUtils/SourcesObjC/include/SentryFileManager+Test.h
  SentryTestUtils/SourcesObjC/include/SentryLaunchProfiling+Tests.h
  SentryTestUtils/SourcesObjC/include/SentrySDKInternal+Tests.h
  SentryTestUtils/SourcesObjC/include/SentryTestProfilerWrapper.h
  SentryTestUtils/SourcesObjC/include/module.modulemap
  SentryTestUtils/SourcesObjCpp/SentryContinuousProfiler+Test.h
  SentryTestUtils/SourcesObjCpp/SentryTraceProfiler+Test.h
  SentryTestUtils/SourcesObjCpp/module.modulemap
  Sources/Sentry/include/SentryProfilerSerialization+Test.h
  Tests/SentryProfilerTestSupport/include/SentryProfilerTestSupport+ObjCpp.h
  Tests/SentryProfilerTestSupport/include/module.modulemap
  Tests/SentryProfilerTests/ObjC/SentryProfilerTests.mm
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationChangeTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryProfilerTests/SentryApplaunchProfilingMalformedConfigFileTests.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryProfileTestFixture.swift
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  develop-docs/TEST.md
Due: format-swift, format-markdown

docs: Note connectivity drain fix in changelog
  CHANGELOG.md
Due: format-markdown

chore(ci): restore applesimutils (#9039)
  Makefile
Due: none

ci: Refresh SwiftLint Bazel lockfile
  .github/workflows/auto-update-tools.yml
  linters/SwiftLintCustomRules/MODULE.bazel.lock
  linters/SwiftLintCustomRules/README.md
  scripts/update-tooling-versions.sh
Due: format-markdown

chore: add bazelisk to brewfile
  Brewfile
Due: none

test: Make connectivity race regression deterministic
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

fix: migrate managed signal lifecycle to v10
  CHANGELOG_V10.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashManagedSignal.h
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  TestApps/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestApps/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestApps/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestApps/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestApps/CrashE2E/CrashE2E.yml
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/KnownFailures.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashManagedSignalTests.m
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashReportWriterCallbacksTests.m
  Tests/ThreadInspectionHarness/Package.swift
  Tests/ThreadInspectionHarness/README.md
  develop-docs/DECISIONS.md
  develop-docs/KSCrash_MANAGED_SIGNAL_PLUGIN_MAINTENANCE.md
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

fix the watchOS build error
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
Due: none

enable crash persistence before install
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
Due: format-swift

disable Mach for managed runtime
  CHANGELOG_V10.md
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
  Sources/Sentry/include/SentryKSCrashManagedSignal.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashManagedSignalTests.m
  Tests/ThreadInspectionHarness/README.md
  develop-docs/DECISIONS.md
  develop-docs/KSCrash_MANAGED_SIGNAL_PLUGIN_MAINTENANCE.md
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

align managed signal function names
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
  Sources/Sentry/include/SentryKSCrashManagedSignal.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashManagedSignalTests.m
Due: format-swift

clarify callback publication comment
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
Due: none

document nested signal restoration
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
Due: none

chore: switch to bazel run instead of assuming where the binary lives.
  linters/SwiftLintCustomRules/run.sh
Due: none

docs: simplify package test instructions
  develop-docs/TEST.md
Due: format-markdown

fix: migrate managed signal lifecycle to v10 (#9138)
  CHANGELOG_V10.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/KSCrash/SentryKSCrashManagedSignal.c
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashManagedSignal.h
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  TestApps/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestApps/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestApps/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestApps/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestApps/CrashE2E/CrashE2E.yml
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestApps/CrashE2E/Runner/Sources/CrashE2ERunner/KnownFailures.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+IntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashManagedSignalTests.m
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashReportWriterCallbacksTests.m
  Tests/ThreadInspectionHarness/Package.swift
  Tests/ThreadInspectionHarness/README.md
  develop-docs/KSCrash_MANAGED_SIGNAL_PLUGIN_MAINTENANCE.md
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

fix: Flag categories across #if branches
  linters/SwiftLintCustomRules/Sources/StandaloneObjCExtensionRule.swift
  linters/SwiftLintCustomRules/Tests/StandaloneObjCExtensionRuleTests.swift
Due: format-swift

fix: I mistyped the bazel run command
  linters/SwiftLintCustomRules/run.sh
Due: none

chore(agents): Remove XcodeBuildMCP config
  .claude/settings.json
  agents.toml
Due: format-json

fix: Keep standalone ObjC categories
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Core/MetricKit/Event+MetricKit.swift
  Sources/Swift/Helper/SentryNSNotificationCenterWrapper.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Options+Dictionary.swift
Due: format-swift, format-markdown

remove leftovers
  .codex/config.toml
  .cursor/mcp.json
  .mcp.json
Due: format-json

chore(agents): Remove XcodeBuildMCP config (#9173)
  .claude/settings.json
  .codex/config.toml
  .cursor/mcp.json
  .mcp.json
  agents.toml
Due: format-json

feat: Promote experimental options to stable (#9134)
  CHANGELOG.md
  CHANGELOG_V10.md
  SentryTestUtils/Sources/TestOptions.swift
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  TestApps/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestApps/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

test: simplify SDK test bridging header
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

ci: Run visionOS 27 unit tests only on push
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
Due: none

fix: parse fatal sampling option
  Sources/Swift/Options+Dictionary.swift
  Tests/SentryTests/SentryOptionsDictionaryTests.swift
Due: format-swift

test: Stop timing out on the connectivity queue
  Sources/Swift/Networking/SentryReachability.swift
  Tests/SentryTests/Networking/SentryReachabilitySwiftTests.swift
Due: format-swift

fix(replay): drop sync hop in createVideoWith
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift
