Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

update sdk_api.json
  sdk_api.json
Due: none

ref: use setup-xcode action and extract arrange script
  .github/workflows/assemble-xcframework-sentryobjc.yml
  scripts/ci-arrange-xcframework-slices.sh
Due: none

fix: use env var to avoid script injection in workflow
  .github/workflows/assemble-xcframework-sentryobjc.yml
Due: none

fix: use mktemp for unzip directory instead of /tmp
  scripts/ci-arrange-xcframework-slices.sh
Due: none

fix: Add depth limits to data sanitization and JSON encoder (#7857)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryFrame.m
  Sources/Sentry/SentryMechanism.m
  Sources/Sentry/SentryMechanismContext.m
  Sources/Sentry/SentryNSDictionarySanitize.m
  Sources/Sentry/SentryRequest.m
  Sources/Sentry/SentrySpanInternal.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUser.m
  Sources/Sentry/include/SentryArray.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentrySanitizerUtils.h
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/Swift/Persistence/SentryScopePersistentStore+Helper.swift
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
  Sources/Swift/Tools/SentrySanitizerUtils.swift
  Tests/SentryTests/Categories/SentryArrayTests.swift
  Tests/SentryTests/Categories/SentryNSDictionarySanitizeTests.swift
  Tests/SentryTests/Categories/SentrySanitizerUtils+Tests.h
  Tests/SentryTests/Categories/SentrySanitizerUtils+Tests.m
  Tests/SentryTests/Categories/SentrySanitizerUtilsTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
  sdk_api.json
Due: format-swift

fix: Report crashed thread for null function calls (#7866)
  CHANGELOG.md
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/macOS-Swift/App/Sources/CppWrapper.h
  Samples/macOS-Swift/App/Sources/CppWrapper.mm
  Samples/macOS-Swift/App/Sources/ViewController.swift
  Sources/SentryCrash/Recording/Tools/SentryCrashStackCursor_MachineContext.c
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: format-swift, format-markdown

ref: rename SentrySDK to SentryObjcSDK in SentryObjC
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/ViewController.mm
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryObjC.xcscheme
  Sources/SentryObjC/Public/SentryFeedbackApi.h
  Sources/SentryObjC/Public/SentryLastRunStatus.h
  Sources/SentryObjC/Public/SentryLogger.h
  Sources/SentryObjC/Public/SentryMetricsApi.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCDefines.h
  Sources/SentryObjC/Public/SentryObjcSDK.h
  Sources/SentryObjC/Public/SentryOptions.h
  Sources/SentryObjC/SentryObjcSDK.m
  develop-docs/SENTRY-OBJC.md
Due: format-markdown

update sdk_api_objc.json
  sdk_api_objc.json
Due: none

test: provide a dummy NSPrinicipalClass for the SentryTests bundle
  Tests/SentryTests/Info.plist
  Tests/SentryTests/TestUtils/SentryTestsBundlePrincipalClass.m
Due: none

ci: upload SentryTests binary metadata
  .github/file-filters.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-collect-sentrytests-metadata.sh
Due: none

ref: refactor standalone xcframework build script
  .github/workflows/assemble-xcframework-sentryobjc.yml
  Makefile
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

ref: rename SentryObjcSDK to SentryObjCSDK, add file filters
  .github/file-filters.yml
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/ViewController.mm
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryFeedbackApi.h
  Sources/SentryObjC/Public/SentryLastRunStatus.h
  Sources/SentryObjC/Public/SentryLogger.h
  Sources/SentryObjC/Public/SentryMetricsApi.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCDefines.h
  Sources/SentryObjC/Public/SentryObjCSDK.h
  Sources/SentryObjC/Public/SentryOptions.h
  Sources/SentryObjC/SentryObjCSDK.m
  develop-docs/SENTRY-OBJC.md
  sdk_api_objc.json
Due: format-markdown

added important note to changelog
  CHANGELOG.md
Due: format-markdown

fix: harden ObjC bridge and build script
  Sources/SentryObjC/SentryOptionsObjCBridge.m
  Sources/SentryObjC/SentryReplayOptionsObjCBridge.m
  Sources/SentryObjCTypes/Public/SentryObjCBridging.h
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

ci: pin actions to commit SHAs in SentryObjC workflow
  .github/workflows/assemble-xcframework-sentryobjc.yml
Due: none

release: 9.12.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

fix: use Sentry scheme for deployment target extraction
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

fix: shell quoting in api-stability and revert sample dep
  .github/workflows/api-stability.yml
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: none

feat: Add Set conformance to SentryAttributeValue
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Tests/SentryTests/Protocol/SentryAttributeValuableTests.swift
  sdk_api.json
Due: format-swift

Add changelog
  CHANGELOG.md
Due: format-markdown

Move changelog entry back to unreleased
  CHANGELOG.md
Due: format-markdown

add diagnostic crash to the SentryTest bundle principal
  Tests/SentryTests/TestUtils/SentryTestsBundlePrincipalClass.m
  scripts/.clang-format-version
Due: none

fix: drop -sdk flag from deployment target extraction
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

fix: add missing Resources symlink in macOS framework layout
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

fix: read deployment targets from xcconfig instead of xcodebuild
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: none

fix: Add missing changelog entries for 9.12.1
  CHANGELOG.md
Due: format-markdown

fix: Add missing changelog entries for 9.12.1 (#7877)
  CHANGELOG.md
Due: format-markdown

chore(cleanup): Deduplicate logic
  Sources/Swift/Protocol/SentryAttributeValue.swift
Due: format-swift

fix: add xcconfig for SentryObjC* targets to fix CI arch builds
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SentryObjC.xcconfig
Due: none

feat: Add Set conformance to SentryAttributeValue (#7876)
  CHANGELOG.md
  Sources/Swift/Protocol/SentryAttributeValue.swift
  Tests/SentryTests/Protocol/SentryAttributeValuableTests.swift
  sdk_api.json
Due: format-swift, format-markdown

chore: move changelog entry to Unreleased section
  CHANGELOG.md
Due: format-markdown

fix: add arm64e to SentryObjC xcconfig ARCHS
  Sources/Configuration/SentryObjC.xcconfig
Due: none

chore(ci): remove SwiftLint warning to reduce warnings
  Sentry.xcodeproj/project.pbxproj
Due: none

test: dynamically constructed poison class for SentrySubClassFinderTests
  .github/file-filters.yml
  .github/workflows/unit-test-common.yml
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.h
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.m
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
  scripts/ci-collect-sentrytests-metadata.sh
Due: format-swift

ci: Preserve xcframework build logs
  scripts/build-xcframework-slice.sh
Due: none

docs: Add doc link to Session Replay network capture changelog entry
  CHANGELOG.md
Due: format-markdown

chore(ci): Add full GitHub Actions workflow command wrappers
  scripts/ci-utils.sh
Due: none

ci: Build macOS xcframework slices generically
  scripts/build-xcframework-sentryobjc-standalone.sh
  scripts/build-xcframework-slice.sh
Due: none

chore(ci): Refactor scripts to use ci-utils and reduce log noise
  scripts/analyze-languages/analyze-languages.sh
  scripts/check-sentrycrash-imports.sh
  scripts/check-ui-framework-linkage.sh
  scripts/ci-boot-simulator.sh
  scripts/ci-create-simulator.sh
  scripts/ci-diagnostics.sh
  scripts/ci-select-xcode.sh
  scripts/create-cherry-pick-branch.sh
  scripts/resolve-test-destination.sh
  scripts/sentry-xcodebuild.sh
  scripts/update-api.sh
  scripts/update-package-sha.sh
  scripts/verify-package-sha.sh
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
