Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

Structured Logs: Add default attributes (#5593)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryScope.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/Perf/metrics-test.yml
  Tests/SentryTests/Protocol/SentryLogTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift, format-markdown

add comment and make internal
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

use custom public struct SentryLogString instead of CVArg
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Protocol/SentryLogString.swift
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/Protocol/SentryLogStringTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift

add docs
  Sources/Swift/Protocol/SentryLogString.swift
Due: format-swift

remove CVArg support in log attribute
  CHANGELOG.md
  Sources/Swift/Protocol/SentryLogAttribute.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
Due: format-swift, format-markdown

remove swiftlint directive
  Sources/Swift/Protocol/SentryLogAttribute.swift
Due: format-swift

remove unused import
  Sources/Swift/Protocol/SentryLogAttribute.swift
Due: format-swift

generate public api
  sdk_api.json
  sdk_api_V9.json
Due: none

increase diffmax
  CHANGELOG.md
  Tests/Perf/metrics-test.yml
Due: format-markdown

Structured Logs: Add os/device attributes to logs (#5639)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift, format-markdown

increase timeout in test
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests/LaunchUITests.swift
Due: format-swift

fix cl
  CHANGELOG.md
Due: format-markdown

test: Remove infinity response delay
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift

Structured Logs: Buffering & flushing of logs (#5628)
  CHANGELOG.md
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests/LaunchUITests.swift
  SentryTestUtils/TestClient.swift
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/SentryClient+Logs.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/Perf/metrics-test.yml
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
  Tests/SentryTests/SentryLoggerTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

feat(SPM): Build full SDK with SPM
  .github/workflows/build.yml
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift

ref: Remove `SentryDefaultObjCRuntimeWrapper` singleton pattern and use `SentryDependencyContainer`
  Sources/Sentry/SentryDefaultObjCRuntimeWrapper.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultObjCRuntimeWrapper.h
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
Due: none

feat(v9): Remove profiling APIs deprecated in V9 (#5616)
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentrySampling.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/include/SentryLaunchProfiling.h
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Sentry/include/SentrySampling.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  sdk_api_V9.json
Due: format-swift

Update broken tests
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

Structured Logs: Add user attributes to logs (#5637)
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentryTraceContext.m
  Sources/Sentry/SentryUserAccess.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/SentryScope+Private.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Swift/Tools/SentryLogger.swift
  Tests/SentryTests/SentryLoggerTests.swift
Due: format-swift, format-markdown

feat(SPM): Build full SDK with SPM (#5666)
  .github/workflows/build.yml
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift

ref: Remove `SentryDefaultObjCRuntimeWrapper` singleton pattern and use `SentryDependencyContainer` (#5670)
  Sources/Sentry/SentryDefaultObjCRuntimeWrapper.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultObjCRuntimeWrapper.h
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Tests/SentryTests/Helper/SentryTestObjCRuntimeWrapper.m
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

Add basic test capturing print output
  Sources/Swift/Core/Tools/LoadValidator.swift
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

feat: Add class loaded twice validator
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentrySDK.m
  Sources/Swift/Core/Tools/LoadValidator.swift
Due: format-swift

Update min target version
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xctestplan
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Remove headers
  Sources/Swift/Core/Tools/LoadValidator.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Update min target version
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
Due: none

Analyze images on image load
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentrySDK.m
  Sources/Swift/Core/Tools/LoadValidator.swift
Due: format-swift

Add basic test capturing print output
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
Due: none

Fix changelog merge conflict
  CHANGELOG.md
Due: format-markdown

Fix import
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryBinaryImageInfo.m
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
Due: none

Use `SentryDefaultObjCRuntimeWrapper`
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Tools/LoadValidator.swift
Due: format-swift

Move `SentryBinaryImageInfo` into a new file
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
  Sources/Sentry/include/SentryBinaryImageInfo.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Tools/LoadValidator.swift
Due: format-swift

Add unit tests for `LoadValidator`
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Don't use class forwarding
  Sources/Sentry/include/HybridPublic/SentryBinaryImageCache.h
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
