Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

docs: address PR review feedback on V3 hang tracking spec
  develop-docs/APP-HANG-TRACKING.md
Due: format-markdown

ref: ScopeJSON owns state, observer is thin adapter
  Sources/Swift/Integrations/KSCrash/KSCrashIntegration.swift
  Sources/Swift/Integrations/KSCrash/ScopeJSON.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrashScopeObserver.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashScopeObserverTests.swift
Due: format-swift

ref: preassemble cached JSON in ScopeJSON, get() reads one value
  Sources/Swift/Integrations/KSCrash/ScopeJSON.swift
Due: format-swift

fix: reflect extended app start duration in vitals (#8028)
  CHANGELOG.md
  Sources/Sentry/SentryAppStartMeasurement.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurement+Private.h
  Sources/Swift/Integrations/AppStartTracking/SentryExtendedAppLaunchManager.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryExtendedAppLaunchTests.swift
Due: format-swift, format-markdown

chore: fix up isWritingReportCallback
  Sources/Swift/Integrations/KSCrash/KSCrashIntegration.swift
Due: format-swift

release: 9.17.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

support VC based presentation
  CHANGELOG.md
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCFeedbackApi.h
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormController.h
  Sources/SentryObjCCompat/SentryObjCFeedbackApi.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackFormController.swift
  Tests/SentryObjCTests/SentryObjCFeedbackApiTests.m
  Tests/SentryObjCTests/SentryObjCUserFeedbackFormControllerTests.m
  sdk_api_objc.diff.json
  sdk_api_objc.json
Due: format-swift, format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

return wrapeed closueds in getters
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCUserFeedbackConfiguration.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatUserFeedbackConfigurationTests.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

fix: silence retroactive conformance warning (#8032)
  CHANGELOG.md
  Sources/Swift/Core/Helper/Log/SentryLevel.swift
Due: format-swift, format-markdown

fix(objc): add @frozen to fix missing x86_64 symbols
  Sources/SentryObjCCompat/SentryObjCAttributeContent.swift
  Sources/Swift/Protocol/SentryAttributeContent.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Protocol/SentryMetricValue.swift
  Sources/Swift/Protocol/SentryUnit.swift
Due: format-swift

Revert "fix(objc): add @frozen to fix missing x86_64 symbols"
  Sources/SentryObjCCompat/SentryObjCAttributeContent.swift
  Sources/Swift/Protocol/SentryAttributeContent.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Protocol/SentryMetricValue.swift
  Sources/Swift/Protocol/SentryUnit.swift
Due: format-swift

fix(objc): box resilient value types to fix missing x86_64 symbols
  Sources/SentryObjCCompat/Box.swift
  Sources/SentryObjCCompat/SentryObjCAttributeContent.swift
  Sources/SentryObjCCompat/SentryObjCMetric.swift
  Sources/SentryObjCCompat/SentryObjCMetricValue.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCUnit.swift
Due: format-swift

test: update tests to use .metric instead of .wrapped
  Tests/SentryObjCCompatTests/SentryObjCCompatMetricConversionTests.swift
Due: format-swift

fix: add changelog entry for x86_64 symbol fix
  CHANGELOG.md
Due: format-markdown

fix: use PR number in changelog entry
  CHANGELOG.md
Due: format-markdown

ci: add cross-architecture symbol drift detection
  .github/file-filters.yml
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/release.yml
  Makefile
  scripts/build-xcframework-local.sh
  scripts/validate-xcframework-symbols.sh
Due: none

Revert "ci: add cross-architecture symbol drift detection"
  .github/file-filters.yml
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/release.yml
  Makefile
  scripts/build-xcframework-local.sh
  scripts/validate-xcframework-symbols.sh
Due: none

fix(feedback): mark feedback form aliases and conformances unavailable in app extensions
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/SentrySwiftUI/SentryUserFeedbackFormView.swift
Due: format-swift

fix(session-replay): Stabilize video assembly
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryVideoFrameProcessor.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryVideoFrameProcessorTests.swift
Due: format-swift, format-markdown

docs: add KSCrash watchdog comparison to hang tracking spec
  develop-docs/APP-HANG-TRACKING.md
Due: format-markdown

docs: add swizzle sub-object to internal API spec
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

docs: fix replay snippet to use actual SDK paths
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

docs: add address-based debug image lookup to spec
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

docs: fix appStart platform guard and swizzle type
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-markdown

fix(objc): box resilient value types to fix missing x86_64 symbols (#8037)
  CHANGELOG.md
  Sources/SentryObjCCompat/Box.swift
  Sources/SentryObjCCompat/SentryObjCAttributeContent.swift
  Sources/SentryObjCCompat/SentryObjCMetric.swift
  Sources/SentryObjCCompat/SentryObjCMetricValue.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCUnit.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatMetricConversionTests.swift
Due: format-swift, format-markdown

fix: add dSYM generation for SentryObjC xcframework
  scripts/assemble-xcframework-sentryobjc.sh
  scripts/build-dynamic-framework-sentryobjc.sh
Due: none

ci: build dynamic framework in slice job for dSYMs
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/build-sentryobjc-static-slices.yml
Due: none

ci: update release file filters for SentryObjC
  .github/file-filters.yml
Due: none

ci: tar framework slices to preserve symlinks
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/build-sentryobjc-static-slices.yml
Due: none

fix: add changelog for SentryObjC dSYM fix
  CHANGELOG.md
Due: format-markdown

Update changelog
  CHANGELOG.md
Due: format-markdown

fix: use absolute path for dSYM in xcframework assembly
  scripts/assemble-xcframework-sentryobjc.sh
Due: none

ci: rename build-sentryobjc-static-slices workflow
  .github/file-filters.yml
  .github/workflows/build-sentryobjc-slices.yml
  .github/workflows/release.yml
  develop-docs/SENTRY-OBJC-BUILD.md
Due: format-markdown

Fix changelog
  CHANGELOG.md
Due: format-markdown

fix: add changelog entry for extension-safe feedback aliases
  CHANGELOG.md
Due: format-markdown

Apply suggestion from @itaybre
  CHANGELOG.md
Due: format-markdown

build: add SDK_V10 compiler flag for conditional compilation
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryV10.xcscheme
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/Sentry.xcconfig
  Sources/Configuration/SentryObjC.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
