Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix(tests): use raster image in replay disk tests
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift

test(scope): Cover stale transaction names
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
Due: format-swift

fix(scope): Clear stale transaction names
  Sources/Sentry/SentryScope.m
Due: none

fix(samples): align switch-v10 with SDK_V10
  .github/file-filters.yml
  Makefile
  Samples/SentrySampleShared/Package.swift
  scripts/generate-sample-v10.sh
  scripts/set-xcodegen-compiler-flags.sh
  scripts/set-xcodegen-package-traits.sh
  scripts/swap-xcodegen-product-name.sh
Due: format-swift

fix(scope): Correlate captures with bound spans (#8992)
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryScope.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/TelemetryScopeApplier/SentryLogScopeApplier.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/SentryWithCurrentScopeIntegrationTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

test: assert crash screenshot on E2E envelope
  TestSamples/CrashE2E/App/Sources/CrashE2EAttachmentsSetup.swift
  TestSamples/CrashE2E/CrashE2E.yml
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EnvelopeReader.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ScenarioEventAsserter.swift
Due: format-swift

ref(kscrash): lookup screenshot monitor on write
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ScreenshotMonitor.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ScreenshotMonitorTests.swift
Due: format-swift

wip: stitch crash screenshots via sidecar
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ScreenshotMonitor.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EAttachmentsSetup.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ScreenshotMonitorTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
Due: format-swift

ref(kscrash): fix attachment capture diagnostics
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

ref(kscrash): share attachment monitor C API
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

ref(kscrash): use URLs for crash attachment IO
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
Due: format-swift

ref(kscrash): generalize crash attachment sidecar
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ScreenshotMonitor.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+ReportFilterCoreTests.swift
Due: format-swift

ref(kscrash): attach all crash payload files
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
Due: format-swift

ref(test): simplify crash attachment E2E setup
  TestSamples/CrashE2E/App/Sources/CrashE2EAttachmentsSetup.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
Due: format-swift

ref(kscrash): avoid mutex in crash capture
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

ref(kscrash): keep listed crash payload files
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

ref(kscrash): split crash capture from stitch
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

WIP
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+ReportFilterCore.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
Due: format-swift

ref(kscrash): write marker without atomic IO
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
Due: format-swift

ref(kscrash): route screenshot writer through monitor
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
Due: format-swift

fix(screenshot): skip main hop at crash time
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Core/Tools/ViewCapture/SentryScreenshotSource.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
Due: format-swift

fix(kscrash): define v10 screenshot C writer
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
Due: format-swift

ref(kscrash): register screenshot writer in C
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
Due: format-swift

docs: add V10 crash screenshot changelog
  CHANGELOG_V10.md
Due: format-markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

ref(kscrash): use crash-safe KSFileUtils APIs
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
Due: none

docs: mark SCV10-008 screenshots working
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-markdown

ref(kscrash): mark crash-time unsafe calls
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
Due: none

fix(screenshot): restore window-collection logs
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift

ref(screenshot): collapse crash writer callback
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
Due: format-swift

ref(samples): Use XcodeGen plist defaults
  Samples/DistributionSample/DistributionSample.yml
  Samples/SDK-Size/SDK-Size.yml
  Samples/SPM/SPM.yml
  Samples/iOS-ObjectiveC-Dynamic/iOS-ObjectiveC-Dynamic.yml
  Samples/iOS-ObjectiveC-Static/iOS-ObjectiveC-Static.yml
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.yml
  Samples/iOS-Swift/iOS-Swift.yml
  Samples/iOS-Swift6/iOS-Swift6.yml
  Samples/iOS-SwiftUI-SPM/iOS-SwiftUI-SPM.yml
  Samples/iOS-SwiftUI-Widgets/iOS-SwiftUI-Widgets.yml
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
  Samples/macOS-Swift/macOS-Swift.yml
  Samples/macOS-SwiftUI-SPM/macOS-SwiftUI-SPM.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/tvOS-Swift/tvOS-Swift.yml
  Samples/tvOS-SwiftUI-SPM/tvOS-SwiftUI-SPM.yml
  Samples/visionOS-Swift/visionOS-Swift.yml
  Samples/visionOS-SwiftUI-SPM/visionOS-SwiftUI-SPM.yml
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

fix(samples): align switch-v10 with SDK_V10 (#8994)
  .github/file-filters.yml
  Makefile
  Samples/SentrySampleShared/Package.swift
  scripts/generate-sample-v10.sh
  scripts/set-xcodegen-compiler-flags.sh
  scripts/set-xcodegen-package-traits.sh
  scripts/swap-xcodegen-product-name.sh
Due: format-swift

fix(crash): prevent malloc deadlocks in signal handling (#8271)
  CHANGELOG.md
  Sources/Sentry/SentryAsyncSafeLog.h
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_AppState.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.h
  Sources/SentryCrash/Recording/Tools/SentryCrashString.c
  Sources/SentryCrash/Recording/Tools/SentryCrashString.h
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.h
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashString_Tests.m
Due: format-swift, format-markdown

fix(v10): annotate screenshot contract markers
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
Due: format-swift

fix(replay): Return buffered replay id from internal hybrid API (#8976)
  CHANGELOG.md
  Sources/Swift/HybridSDK/SentryInternalReplayApi.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalReplayApiIntegrationTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift, format-markdown

feat: process attachments before beforeSendWithHint (#8989)
  CHANGELOG.md
  Sources/Sentry/SentryClient.m
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

fix(tests): use raster image in replay disk tests (#8990)
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift

Apply batched suggestions from code review
  develop-docs/DECISIONS.md
  scripts/build-static-library-sentryobjc.sh
  scripts/validate-xcframework-sentryobjc-static.sh
Due: format-markdown

docs: Remove invalid CHANGELOG entry
  CHANGELOG.md
Due: format-markdown
