Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

update changelog
  CHANGELOG.md
Due: format-markdown

Add comments to `sign_and_zip.sh`
  scripts/sign_and_zip.sh
Due: none

Add comment to the test workflow
  .github/workflows/test_sign_xcframework.yml
Due: none

Remove extra imports
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebBreadcrumbEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebSpanEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebVideoEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayRecording.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackThemeConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
Due: format-swift

Use same script for zipping xcframeworks and optionally sign them
  Makefile
  scripts/sign_and_zip.sh
  scripts/zip_built_sdks.sh
Due: none

Update make comand name
  .github/workflows/test_sign_xcframework.yml
Due: none

fix(ci): Add all output logs to the upload artifact step (#5274)
  .github/workflows/test.yml
Due: none

Cleanup bash script
  scripts/zip_built_sdks.sh
Due: none

Use `build-signed-xcframework` in framework release
  .github/workflows/release.yml
Due: none

Add fastlane step to release workflow
  .github/workflows/release.yml
Due: none

Remove temporary test workflow
  .github/workflows/test_sign_xcframework.yml
Due: none

Add comment to explain why using ditto
  scripts/zip_built_sdks.sh
Due: none

Add missing foundation
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker+SwiftHelpers.swift
  Sources/Swift/Tools/SentryLog+Configure.swift
Due: format-swift

ci: fastlane match fixes (#5267)
  fastlane/Fastfile
  fastlane/Matchfile
Due: none

ref: Rename `SentryTests copy-Info` to `SentryTests-Info`
  Sentry.xcodeproj/project.pbxproj
  SentryTests-Info.plist
Due: none

ref: Rename `SentryTests copy-Info` to `SentryTests-Info` (#5276)
  Sentry.xcodeproj/project.pbxproj
  SentryTests-Info.plist
Due: none

Remove extra imports (#5275)
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker+SwiftHelpers.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebBreadcrumbEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebSpanEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebVideoEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayRecording.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackThemeConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
  Sources/Swift/Tools/SentryLog+Configure.swift
Due: format-swift

clean up makefile and more workflow file triggers
  .github/workflows/build-xcframework.yml
  .github/workflows/build.yml
  Makefile
Due: none

try a reusable workflow
  .github/workflows/build-xcframework-variant.yml
  .github/workflows/build-xcframework.yml
Due: none

fix dep names
  .github/workflows/build-xcframework.yml
Due: none

DONOTMERGE remove all but xcfw job
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/danger.yml
  .github/workflows/format-code.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-prettier.yml
  .github/workflows/lint-shellcheck.yml
  .github/workflows/lint.yml
  .github/workflows/release-comment-issues.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

Update imports format
  Sources/Sentry/Public/SentryError.h
  Sources/Sentry/Public/SentryFeedbackAPI.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Sentry/Public/SentrySpanProtocol.h
  Sources/Sentry/Public/SentryTraceHeader.h
  Sources/Sentry/Public/SentryTransactionContext.h
Due: none

more work factoring out workflow
  .github/workflows/build-xcframework-variant.yml
  .github/workflows/build-xcframework.yml
Due: none

fixup! more work factoring out workflow
  .github/workflows/build-xcframework-variant.yml
Due: none

Update imports format (#5278)
  Sources/Sentry/Public/SentryError.h
  Sources/Sentry/Public/SentryFeedbackAPI.h
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentryReplayApi.h
  Sources/Sentry/Public/SentrySpanProtocol.h
  Sources/Sentry/Public/SentryTraceHeader.h
  Sources/Sentry/Public/SentryTransactionContext.h
Due: none

again fix tests
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Tests/SentryTests/SentryCrash/SentryCrashCxaThrowSwapper_Tests.mm
Due: none

add testflight
  .github/workflows/testflight.yml
Due: none

remove testflight
  .github/workflows/testflight.yml
Due: none

cleanup
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

test: Remove unused SampleError enum
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/SampleError.swift
Due: format-swift

test: Remove unused SampleError enum (#5279)
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/SampleError.swift
Due: format-swift

revert merge errors
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
Due: format-swift

Use low priority queue for dispatch queue wrapper
  Sources/Sentry/SentryDispatchFactory.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/SentryDispatchQueueProviderProtocol.h
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Networking/SentryDispatchFactoryTests.m
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.m
Due: format-swift

Fix lint issue
  Tests/SentryTests/Networking/SentryDispatchFactoryTests.m
Due: none

Update CHANGELOG and add test for session tracker auto-start functionality
  CHANGELOG.md
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift, format-markdown

Adds changelog
  CHANGELOG.md
Due: format-markdown

Adds comment to explain why QOS_CLASS_UTILITY is considered a low priority
  Sources/Sentry/SentryDispatchFactory.m
Due: none

Adds reference in the comment
  Sources/Sentry/SentryDispatchFactory.m
Due: none

WIP
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/include/SentrySessionTracker.h
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

WIP
  Sources/Sentry/SentrySessionTracker.m
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
