Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

simplify naming/comments
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryNSDictionarySanitize.m
Due: none

test: Fix test naming convention in SentryLevelMapperTests (#7684)
  Tests/SentryTests/Helper/SentryLevelMapperTests.swift
Due: format-swift

update comments
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
Due: format-swift

update comment
  Sources/Swift/Options.swift
Due: format-swift

feat(samples): Add UI test targets to Makefile
  AGENTS.md
  Makefile
  Samples/AGENTS.md
Due: format-markdown

also support watchdog termination
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTracker.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fixes
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
Due: format-markdown

feat: Add `SentrySDK.lastRunStatus` to distinguish unknown, no-crash and crash (#7469)
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Swift/Helper/SentryLastRunStatus.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTracker.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKTests.swift
  sdk_api.json
Due: format-swift, format-markdown

fix refactor rename gone wrong
  CHANGELOG.md
  Sources/Sentry/SentryBreadcrumb.m
Due: format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

ref: Convert ConcurrentRateLimitsDictionary to Swift (#7687)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryConcurrentRateLimitsDictionary.m
  Sources/Sentry/include/SentryConcurrentRateLimitsDictionary.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Networking/ConcurrentRateLimitsDictionary.swift
  Sources/Swift/Networking/DefaultRateLimits.swift
  Tests/SentryTests/Networking/RateLimits/SentryConcurrentRateLimitsDictionaryTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix(ci): Use default token for auto-update-tools on pull requests
  .github/workflows/auto-update-tools.yml
Due: none

use nonisolated(unsafe) for multithreaded mutation tests
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
Due: format-swift

fix(ci): Use default token for auto-update-tools on pull requests (#7697)
  .github/workflows/auto-update-tools.yml
Due: none

chore(samples): Add UI test targets to Makefile (#7689)
  AGENTS.md
  Makefile
  Samples/AGENTS.md
Due: format-markdown

ci: Bump tahoe iOS simulator from 26.2 to 26.3
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
Due: none

ci: Bump Xcode from 26.2 to 26.3
  .github/workflows/build.yml
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
Due: none

ci: Use iOS 26.3.1 simulator runtime on tahoe
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
Due: none

fix(ci): Support patch versions in runtime loading
  scripts/ci-ensure-runtime-loaded.sh
Due: none

fix(ci): Resolve simulator runtime build version for xcodebuild
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
  scripts/ci-ensure-runtime-loaded.sh
  scripts/sentry-xcodebuild.sh
Due: none

fix(ci): Use BSD-compatible sed instead of gawk
  scripts/sentry-xcodebuild.sh
Due: none

ci: Bump tahoe iOS simulator from 26.2 to 26.3 (#7698)
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
  scripts/sentry-xcodebuild.sh
Due: none

Restore simulator OS version
  .github/workflows/test.yml
Due: none

fix: Detect development builds via provisioning profile entitlement
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
  Sources/Swift/Helper/SentryMobileProvisionParser.swift
  Tests/SentryTests/Helper/SentryMobileProvisionParserTests.swift
Due: format-swift

rmove test which assumes mututla exclusive values
  Tests/SentryTests/Helper/SentryMobileProvisionParserTests.swift
Due: format-swift

add cl entry
  CHANGELOG.md
Due: format-markdown

fix: Make SentryBreadcrumb thread-safe to prevent crashes in addBreadcrumb (#7665)
  CHANGELOG.md
  Sources/Sentry/Public/SentryBreadcrumb.h
  Sources/Sentry/SentryArray.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryNSDictionarySanitize.m
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
Due: format-swift, format-markdown

impr: Align app lifecycle breadcrumb states with app context
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
Due: format-swift

review-comment: Remove ObjC bridge for network detail URL properties
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
Due: format-swift

feat(network-details): Run make generate-public-api
  sdk_api.json
Due: none

review-comment: Don't replace URLSession with Data(contentsOf:)
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

review-comment: Remove dead code
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

review-comment: Move array extension to dedicated Tools folder
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
  Samples/iOS-Swift/iOS-Swift/Tools/ArrayExtensions.swift
Due: format-swift

review-feedback: Don't use force-unwrapping
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

review-comment: Don't enable session replay in sample app
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

feat(network-details): [test-app] Add testing UI to iOS-Swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
Due: format-swift

review-feedback: Move binary body creation to extension
  Samples/iOS-Swift/iOS-Swift/Data+RandomBytes.swift
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
Due: format-swift

review-comment: reset UI after test runs
  Samples/iOS-Swift/iOS-Swift/NetworkTestingViewController.swift
Due: format-swift
