Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

update changelog
  CHANGELOG.md
Due: format-markdown

chore(dx): Add more test conventions to AGENTS.md (#7079)
  AGENTS.md
Due: format-markdown

fix compilation of macOS tests
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
Due: format-swift

revert changes
  CHANGELOG.md
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentrySpan.h
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/Transaction/SentrySpanTests.swift
Due: format-swift, format-markdown

update changelog and fix test conditions for UIKit and visionOS
  CHANGELOG.md
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift, format-markdown

simplified conditional compilation
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

fix: ensure test isolation in SentryTimeToDisplayTrackerTest
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
Due: format-swift

change timeout of visionOS tests
  .github/workflows/test.yml
Due: none

test: Fix visionOS compilation of tests (#7081)
  .github/workflows/test.yml
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/TestDisplayLinkWrapper.swift
  Tests/SentryTests/Helper/SentryDeviceTests.m
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/TestSentryNSApplication.swift
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
  Tests/SentryTests/UIImageHelperTests.swift
  scripts/sentry-xcodebuild.sh
Due: format-swift

refactor: Rename and enhance view type exclusion options in SentryRedactOptions
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Core/Protocol/SentryRedactOptions.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/Protocol/SentryRedactDefaultOptionsTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  Tests/SentryTests/ViewCapture/TestRedactOptions.swift
Due: format-swift

fix failing tests
  Sentry.xcodeproj/project.pbxproj
  Sources/SentrySwiftUI/Preview/PreviewRedactOptions.swift
  Sources/Swift/Core/Protocol/SentryRedactOptions.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+Common.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift

chore: Remove V9 SDK API scripts and fixed project references
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  Makefile
  Sentry.xcodeproj/project.pbxproj
  sdk_api.json
  sdk_api_V9.json
Due: none

update clang-format
  scripts/.clang-format-version
Due: none

cleanup
  Sources/Sentry/SentryBuildAppStartSpans.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentrySpan.h
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

fix: Dynamically access isiOSAppOnVision property to prevent crashes on older SDKs
  Sources/Swift/Helper/SentryProcessInfo.swift
Due: format-swift

test: Add Options Documentation Sync Tests (#7075)
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParser.swift
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParserTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/PropertyExtractor.swift
  Tests/SentryTests/OptionsInSyncWithDocs/PropertyExtractorTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/README.md
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
Due: format-swift, format-markdown

chore(deps): bump codecov/test-results-action from 1.1.1 to 1.2.1 (#7087)
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
Due: none

Update sdk_api.json
  sdk_api.json
Due: none

Update api stability job
  .github/workflows/api-stability.yml
Due: none

Fix missing frameworks
  Sentry.xcodeproj/project.pbxproj
Due: none

Bump Xcode to 26.2
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

Remove macos-13 runner
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

Rename UI Test job to `UI Tests - Check` as requried
  .github/workflows/ui-tests.yml
Due: none

chore: Remove duplicate file in project
  Sentry.xcodeproj/project.pbxproj
Due: none

Run generate api
  sdk_api.json
Due: none

chore: Remove V9 SDK API scripts and fixed project references (#7089)
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  Makefile
  Sentry.xcodeproj/project.pbxproj
  scripts/.clang-format-version
  sdk_api_V9.json
Due: none

Fix race condition in metric kit delegate
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

Fix builds in Xocde 15.2
  Sources/Swift/Integrations/Screenshot/SentryScreenshotOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
Due: format-swift

Update sdk_api
  sdk_api.json
Due: none

chore: Remove duplicate file in project (#7093)
  Sentry.xcodeproj/project.pbxproj
  sdk_api.json
Due: none

Remove swift5.9 check
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
Due: format-swift

Remove header import
  Sources/Sentry/include/SentryPrivate.h
Due: none

chore: Remove swift5.9 checks
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Helper/SentrySwizzleWrapper.swift
  Sources/Swift/Integrations/Log/FlushLogsIntegration.swift
  Sources/Swift/Integrations/Performance/SentryDisplayLinkWrapper.swift
  Sources/Swift/Integrations/Performance/SentryUIViewControllerPerformanceTracker.swift
  Sources/Swift/Integrations/Session/SessionTracker.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

Fix race condition in metric kit delegate (#7091)
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

chore: Remove swift5.9 checks (#7098)
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Helper/SentrySwizzleWrapper.swift
  Sources/Swift/Integrations/Log/FlushLogsIntegration.swift
  Sources/Swift/Integrations/Performance/SentryDisplayLinkWrapper.swift
  Sources/Swift/Integrations/Performance/SentryUIViewControllerPerformanceTracker.swift
  Sources/Swift/Integrations/Session/SessionTracker.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

ref: HangTracker integration in Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryANRTrackingIntegration.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/ANR/SentryANRTracker.swift
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Helper/SentryExtensionDetector.swift
  Sources/Swift/Integrations/SentryHangTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

chore: Convert SentrySessionReplayIntegration to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestDisplayLinkWrapper.swift
  SentryTestUtils/Sources/TestHub.swift
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/PrivateSentrySDKOnly.h
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryReplayApi.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySwizzleWrapperHelper.m
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentryHub+SwiftPrivate.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScope+Private.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Sentry/include/SentrySessionReplayIntegration+Private.h
  Sources/Sentry/include/SentrySessionReplayIntegration.h
  Sources/Sentry/include/SentrySwizzleWrapperHelper.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Log/FlushLogsIntegration.swift
  Sources/Swift/Integrations/Performance/SentryDisplayLinkWrapper.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegration+Test.h
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
