Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix: Cleanup SessionReplay when maximum duration reached (#7421)
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift, format-markdown

fix: revert TelemetryScopeApplier gating of user attributes on sendDefaultPII
  CHANGELOG.md
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift, format-markdown

chore: Move changelog entry #7379 to `Unreleased` section
  CHANGELOG.md
Due: format-markdown

chore: Move changelog entry #7379 to `Unreleased` section (#7438)
  CHANGELOG.md
Due: format-markdown

docs: clarify trace_id and span_id source in TelemetryScopeApplier
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
Due: format-swift

chore: Add CocoaPods token keep-alive workflow to maintain session validity
  .github/workflows/cocoapods-keepalive.yml
Due: none

Trigger job on PR for testing
  .github/workflows/cocoapods-keepalive.yml
Due: none

Remove testing code
  .github/workflows/cocoapods-keepalive.yml
Due: none

Make sure cocoapods is installed
  .github/workflows/cocoapods-keepalive.yml
Due: none

chore: Add CocoaPods token keep-alive workflow to maintain session validity (#7440)
  .github/workflows/cocoapods-keepalive.yml
Due: none

release: 9.4.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

chore: Add missing platforms to ReadME
  README.md
Due: format-markdown

Making setOutput in SentrySDKLog public to make it possible to forward logs to the JS console
  Sources/Swift/Core/Tools/SentrySDKLog.swift
Due: format-swift

replace sentryspm with sentryswift
  .github/workflows/build.yml
  Package.swift
  Samples/iOS-SwiftUI-SPM/Sources-watchOS/ContentView.swift
  Samples/iOS-SwiftUI-SPM/Sources-watchOS/MainApp.swift
  Samples/iOS-SwiftUI-SPM/Sources/ContentView.swift
  Samples/iOS-SwiftUI-SPM/Sources/MainApp.swift
  Samples/macOS-SwiftUI-SPM/Sources/ContentView.swift
  Samples/macOS-SwiftUI-SPM/Sources/MainApp.swift
  Samples/tvOS-SwiftUI-SPM/Sources/ContentView.swift
  Samples/tvOS-SwiftUI-SPM/Sources/MainApp.swift
  Samples/visionOS-SwiftUI-SPM/Sources/ContentView.swift
  Samples/visionOS-SwiftUI-SPM/Sources/MainApp.swift
  Sources/SentrySPM/SentrySPM.swift
  scripts/prepare-package.sh
Due: format-swift

fix in build.yml
  .github/workflows/build.yml
Due: none

chore: Add missing platforms to ReadME (#7442)
  README.md
Due: format-markdown

fix: revert TelemetryScopeApplier gating of user attributes on sendDefaultPII (#7437)
  CHANGELOG.md
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift, format-markdown

fix: address PR feedback for hang tracker (#6237)
  CHANGELOG.md
  Sources/Swift/Core/Integrations/ANR/SentryHangTracker.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationHangTracker.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackerIntegrationTests.swift
Due: format-swift, format-markdown

ref: apply code review feedback for hang tracker
  Sources/Swift/Core/Integrations/ANR/SentryHangTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackerTests.swift
Due: format-swift

cleanup
  Package.swift
Due: format-swift

fix: synchronize currentHangId access in watchdog termination hang tracker
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationHangTracker.swift
Due: format-swift

Revert "chore: Add CocoaPods token keep-alive workflow to maintain session va…"
  .github/workflows/cocoapods-keepalive.yml
Due: none

fix: clear callbackId in watchdog hang tracker stop()
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationHangTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationHangTrackerTests.swift
Due: format-swift

Revert "chore: Add CocoaPods token keep-alive workflow to maintain session va…" (#7445)
  .github/workflows/cocoapods-keepalive.yml
Due: none

refactor: Move span_id from log attributes to item top-level
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryMetric.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryItem.swift
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
  Tests/SentryTests/TelemetryScopeApplier/TelemetryScopeApplierTests.swift
Due: format-swift

chore: Remove App Store Connect credentials from CI workflows where not necessary
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/benchmarking.yml
  .github/workflows/release.yml
Due: none

Remove 3rd-party-integrations filter from unit test in file-filters.yml
  .github/file-filters.yml
Due: none

chore: update reference in cross-platform test workflow from v8 to main
  .github/workflows/test-cross-platform.yml
Due: none

Add ci-utils.sh to file-filters.yml
  .github/file-filters.yml
Due: none

chore: update reference in cross-platform test workflow from v8 to main (#7449)
  .github/workflows/test-cross-platform.yml
Due: none

chore: Add dedicated CI workflow for 3rd-party integrations (#6945)
  .github/file-filters.yml
  .github/workflows/test-3rd-party-integrations.yml
  .github/workflows/test.yml
Due: none

add option for legacy hang tracker; fix potential null handling race condition
  Sources/Swift/Core/Integrations/ANR/SentryHangTracker.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

fix tests
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

update public API
  sdk_api.json
Due: none

fix: Set installationId as fallback userId (#4036)
  Sources/Sentry/SentryClient.m
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

refactor: Convert SentryPredicateDescriptor to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCoreDataTracker.m
  Sources/Sentry/SentryPredicateDescriptor.m
  Sources/Sentry/include/SentryPredicateDescriptor.h
  Sources/Swift/Tools/SentryPredicateDescriptor.swift
  Tests/SentryTests/SentryPredicateDescriptorTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

refactor: Convert SentrySystemWrapper to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/TestSentrySystemWrapper.swift
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/SentrySystemWrapper.mm
  Sources/Sentry/include/SentryProfilerDefines.h
  Sources/Sentry/include/SentrySystemWrapper.h
  Sources/Swift/Helper/SentrySystemWrapper.swift
  Tests/SentryProfilerTests/SentrySystemWrapperTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  develop-docs/OBJC_TO_SWIFT_CONVERSION.md
  develop-docs/README.md
Due: format-swift, format-markdown

fix(profiler): Remove mach.h import from SentryProfilerDefines.h
  Sources/Sentry/include/SentryProfilerDefines.h
Due: none

fix: use TASK_VM_INFO_REV1_COUNT equivalent in memoryFootprintBytes
  Sources/Swift/Helper/SentrySystemWrapper.swift
Due: format-swift

docs: clarify PR review workflow and label usage
  CONTRIBUTING.md
Due: format-markdown
