Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

build(samples): add shared accent color
  Samples/Shared/SampleAssets.xcassets/AccentColor.colorset/Contents.json
Due: format-json

honor the arm64e blocker for KSCrash/V10 on mac catalys
  Sources/Configuration/SentrySwiftUI.xcconfig
Due: none

fix: Avoid URLSession task monitor contention
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Concurrency/Synchronized.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Networking/URLSessionTask+AssociatedValues.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
  Tests/SentryTests/Swift/Concurrency/SynchronizedTests.swift
Due: format-swift, format-markdown

test: verify network breadcrumbs end to end
  Plans/Sentry_TestServer.xctestplan
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift, format-markdown

isolate V9 and V10 Xcode targets
  CHANGELOG_V10.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/Sentry.xcconfig
  Sources/Configuration/SentryKSCrash.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Tests/Configuration/SentryTests.xcconfig
  Tests/Configuration/SentryTestsKSCrash.xcconfig
Due: format-markdown

avoid duplicate SDK test dependencies
  Sentry.xcodeproj/project.pbxproj
  Tests/Configuration/SentryTests.xcconfig
Due: none

fix: change watchdog termination persistence
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  develop-docs/DECISIONS.md
Due: format-swift, format-markdown

chore: clean up after refactor
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
Due: format-swift

chore: rework the watchdog breadcrumb processor to make the seperation of concerns a little clearer
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
Due: format-swift

test: add more tests for the love of the game
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

chore: remove all integrations on second start call, rotate file paths on uninstall of the watchdog
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/MockWatchdogTerminationBreadcrumbProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessorTests.swift
Due: format-swift

chore: merge changelog entry after rebase on main
  CHANGELOG.md
Due: format-markdown

chore: remove a comment
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationBreadcrumbProcessor.swift
Due: format-swift

test: verify HTTP span timing end to end
  Plans/Sentry_TestServer.xctestplan
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  test-server/Sources/App/routes.swift
Due: format-swift, format-markdown

fix: improve tar command in create_tgz_from_staging function
  scripts/ci-utils.sh
Due: none

fix: use env var for version input in release workflow
  .github/workflows/release.yml
Due: none

fix: stamp sentry-cocoa version in 3rd-party archives (#8699)
  .github/workflows/3rd-party-integrations-archive.yml
  .github/workflows/release.yml
  scripts/ci-utils.sh
  scripts/create-3rd-party-integration-archive.sh
Due: none

fix: guard enableStandaloneAppStartTracing with platform check
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
Due: format-swift

test: update tests for MetricKit enabled by default in v10
  SentryTestUtils/Sources/TestOptions.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

feat: enable logging by default in v10 (#8717)
  CHANGELOG_V10.md
  Sources/Swift/Options.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

fix: update LoadValidator error message (#8710)
  CHANGELOG.md
  Sources/Swift/Tools/LoadValidator.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift, format-markdown

feat: enable swiftAsyncStacktraces by default in v10
  CHANGELOG_V10.md
Due: format-markdown

chore: update changelog PR reference
  CHANGELOG_V10.md
Due: format-markdown

test: update default features for v10 async stacktraces
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

chore: remove duplicate changelog entry
  CHANGELOG_V10.md
Due: format-markdown

feat: promote standalone app start out of experimental (#8715)
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

test: disable MetricKit in integration installer tests
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
Due: format-swift

chore: update SwiftLint rules in Options.swift
  Sources/Swift/Options.swift
Due: format-swift

test: expect SwiftAsync integration in v10 tests
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

feat: enable MetricKit integration by default in v10 (#8716)
  CHANGELOG_V10.md
  SentryTestUtils/Sources/TestOptions.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

fix: address PR review feedback
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
Due: format-swift

fix: add platform guard for standaloneAppStartTracing feature flag
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
Due: format-swift

fix: remove erroneous #if !SDK_V10 in SentryExperimentalOptions
  Sources/Swift/SentryExperimentalOptions.swift
Due: format-swift

feat: enable swiftAsyncStacktraces by default in v10 (#8718)
  CHANGELOG_V10.md
  Sources/Swift/Options.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

fix: use #else to avoid unreachable code warning in v10
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
Due: format-swift

ref(replay): Remove preview display link
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
Due: format-swift
