Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

remove generic set in favor of single flag for feature flags
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Options.swift
  Sources/Swift/Scope.swift
  Sources/Swift/Span.swift
  Tests/SentryTests/FeatureFlags/SentryOptionsFeatureFlagsUsageTests.swift
  Tests/SentryTests/FeatureFlags/SentryOptionsSdkFeaturesTests.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ref: simplify Replay detail serialization
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

test: avoid Catalyst alert presentation
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

fix(replay)!: Filter captured network headers (#8566)
  CHANGELOG_V10.md
  Sources/Swift/Core/Tools/HTTPHeaderSanitizer.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
  Tests/SentryTests/SentryTestSetup.swift
Due: format-swift, format-markdown

ref: drop redundant nil-unwraps in serialize
  Sources/Swift/Tools/SentryEnvelopeItemHeader.swift
Due: format-swift

ref: convert SentryMeta to Swift (#8670)
  .github/file-filters.yml
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryEvent.m
  Sources/Sentry/SentryMeta.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryMeta.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryMeta.swift
  Tests/SentryTests/Helper/SentryMetaTests.swift
  Tests/SentryTests/Networking/SentryDsnTests.m
  Tests/SentryTests/SentryInterfacesTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryTests.m
  Utils/VersionBump/main.swift
Due: format-swift

test: Exercise real download and upload tasks
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  test-server/Sources/App/routes.swift
Due: format-swift

ref: Clean up test server
  .claude/settings.json
  .github/file-filters.yml
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  .gitignore
  Makefile
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  develop-docs/TEST.md
  scripts/start-test-server.sh
  test-server/.gitignore
  test-server/Makefile
  test-server/Package.resolved
  test-server/Package.swift
  test-server/Public/example.json
  test-server/Public/sentry-logo-black.png
  test-server/Sources/App/Controllers/.gitkeep
  test-server/Sources/App/configure.swift
  test-server/Sources/App/routes.swift
  test-server/Sources/Run/main.swift
  test-server/Tests/AppTests/AppTests.swift
Due: format-swift, format-markdown, format-json

docs: add installation instructions to README (#8662)
  README.md
Due: format-markdown

fix(docs): remove duplicate entries from changelog
  CHANGELOG.md
Due: format-markdown

fix(docs): remove duplicate entries from changelog (#8693)
  CHANGELOG.md
Due: format-markdown

ref: convert SentryEnvelopeItemHeader to Swift (#8668)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeItemHeader.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/SentryEnvelopeAttachmentHeader.h
  Sources/Sentry/include/SentryEnvelopeItemHeader.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelopeAttachmentHeader.swift
  Sources/Swift/Tools/SentryEnvelopeItemHeader.swift
  Tests/SentryTests/Protocol/SentryEnvelopeItemHeaderTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

release: 9.25.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Swift/Helper/SentryMeta.swift
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

chore(kscrash): bump KSCrash to 2.6.0-beta.5
  CHANGELOG_V10.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift, format-markdown

ci: Replace secrets: inherit with explicit secret maps
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/nightly-test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

ref: remove benchmark workflow and infrastructure
  .github/workflows/benchmarking.yml
  .sauce/benchmarking-config.yml
  Plans/iOS-Benchmarking_Base.xctestplan
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/Profiling/BenchmarkingViewController.swift
  Samples/iOS-Swift/App/Sources/Profiling/ProfilingCPUWork.swift
  Samples/iOS-Swift/App/Sources/Tools/SentryBenchmarking.h
  Samples/iOS-Swift/App/Sources/Tools/SentryBenchmarking.mm
  Samples/iOS-Swift/Benchmarking/Configurations/Info.plist
  Samples/iOS-Swift/Benchmarking/Configurations/iOS-Benchmarking.xcconfig
  Samples/iOS-Swift/Benchmarking/Resources/.gitkeep
  Samples/iOS-Swift/Benchmarking/Sources/.gitkeep
  Samples/iOS-Swift/Benchmarking/Sources/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/Shared/Headers/iOS-Swift-Bridging-Header.h
  Samples/iOS-Swift/iOS-Swift.yml
  fastlane/Fastfile
  scripts/process-benchmark-raw-results.py
Due: format-swift

fix: stamp sentry-cocoa version in 3rd-party archives
  .github/workflows/3rd-party-integrations-archive.yml
  .github/workflows/release.yml
  scripts/create-3rd-party-integration-archive.sh
Due: none

docs: add mirroring documentation (#8679)
  develop-docs/MIRRORING.md
  develop-docs/README.md
Due: format-markdown

Update develop-docs/RELEASE.md
  develop-docs/RELEASE.md
Due: format-markdown

Update formatting in RELEASE.md for better readability of release targets and descriptions
  develop-docs/RELEASE.md
Due: format-markdown

Fix link
  develop-docs/RELEASE.md
Due: format-markdown

docs: add distribution channels and workflow to RELEASE.md (#8681)
  develop-docs/RELEASE.md
Due: format-markdown

test: assert version stamp in archive CI
  .github/workflows/3rd-party-integrations-archive.yml
Due: none

ci: Replace secrets: inherit with explicit secret maps (#8697)
  .github/workflows/assemble-sentryobjc-dynamic-xcframework.yml
  .github/workflows/assemble-sentryobjc-static-xcframework.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/nightly-test.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

WIP
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
Due: format-swift

chore: bump KSCrash to 2.6.0-beta.5 (#8695)
  CHANGELOG_V10.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
Due: format-swift, format-markdown

doc: add code comment on why we dispatch to main
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift

ref: remove benchmark workflow and infrastructure (#8698)
  .github/workflows/benchmarking.yml
  .sauce/benchmarking-config.yml
  Plans/iOS-Benchmarking_Base.xctestplan
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/Profiling/BenchmarkingViewController.swift
  Samples/iOS-Swift/App/Sources/Profiling/ProfilingCPUWork.swift
  Samples/iOS-Swift/App/Sources/Tools/SentryBenchmarking.h
  Samples/iOS-Swift/App/Sources/Tools/SentryBenchmarking.mm
  Samples/iOS-Swift/Benchmarking/Configurations/Info.plist
  Samples/iOS-Swift/Benchmarking/Configurations/iOS-Benchmarking.xcconfig
  Samples/iOS-Swift/Benchmarking/Resources/.gitkeep
  Samples/iOS-Swift/Benchmarking/Sources/.gitkeep
  Samples/iOS-Swift/Benchmarking/Sources/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/Shared/Headers/iOS-Swift-Bridging-Header.h
  Samples/iOS-Swift/iOS-Swift.yml
  fastlane/Fastfile
  scripts/process-benchmark-raw-results.py
Due: format-swift

test: Avoid network task overfulfillment
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

chore: read -[UIApplication applicationState] from the main thread (#8672)
  CHANGELOG.md
  Sources/Swift/Helper/SentryApplication.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift, format-markdown

test: Mark Swift profiling test as flaky
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

ci: Fix test server startup
  .github/workflows/test-v10.yml
  .github/workflows/test.yml
  test-server/Makefile
Due: none

fix changelog
  CHANGELOG.md
Due: format-markdown

test: Mark Swift profiling test as flaky (#8704)
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
Due: none

test: keep swizzle excludes as fallback in sample
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
Due: format-swift
