Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ci: Diagnose xcframework slice builds
  scripts/build-xcframework-slice.sh
Due: none

chore(ci): Standardize usage, logging, and grouping across CI scripts
  scripts/assemble-xcframework.sh
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-slice.sh
  scripts/bump.sh
  scripts/ci-enable-permissions.sh
  scripts/ci-ensure-runtime-loaded.sh
  scripts/compress-xcframework.sh
  scripts/generate_release_matrix.sh
  scripts/pod-lib-lint.sh
  scripts/prepare-package.sh
  scripts/remove-architectures.sh
  scripts/start-test-server.sh
  scripts/validate-xcframework-format.sh
Due: none

fix(ci): Avoid ((var++)) under set -e which exits when var is 0
  scripts/ci-boot-simulator.sh
  scripts/validate-xcframework-format.sh
Due: none

ci: Build Catalyst slices generically
  scripts/build-xcframework-slice.sh
Due: none

ci: Validate XCFramework architectures
  .github/workflows/assemble-xcframework-sentryobjc.yml
  .github/workflows/assemble-xcframework-variant.yml
  scripts/build-xcframework-local.sh
  scripts/compress-xcframework.sh
  scripts/validate-xcframework-architectures.sh
Due: none

chore(dx): add and remove default .agents skills
  .codex/config.toml
  agents.toml
Due: none

chore(dx): add and remove default .agents skills (#7885)
  .codex/config.toml
  agents.toml
Due: none

ci: Fail XCFramework validation on jq errors
  scripts/validate-xcframework-architectures.sh
Due: none

chore(ci): Replace echo with log_info across CI scripts
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  fastlane/Fastfile
  scripts/analyze-languages/analyze-languages.sh
  scripts/assemble-xcframework.sh
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-slice.sh
  scripts/bump.sh
  scripts/check-sentrycrash-imports.sh
  scripts/check-ui-framework-linkage.sh
  scripts/ci-boot-simulator.sh
  scripts/ci-create-simulator.sh
  scripts/ci-diagnostics.sh
  scripts/ci-enable-permissions.sh
  scripts/ci-ensure-runtime-loaded.sh
  scripts/ci-select-xcode.sh
  scripts/ci-utils.sh
  scripts/compress-xcframework.sh
  scripts/generate_release_matrix.sh
  scripts/pod-lib-lint.sh
  scripts/prepare-package.sh
  scripts/remove-architectures.sh
  scripts/resolve-test-destination.sh
  scripts/sentry-xcodebuild.sh
  scripts/start-test-server.sh
  scripts/update-api.sh
  scripts/validate-xcframework-format.sh
  scripts/verify-package-sha.sh
Due: none

fix linebreaks
  .github/workflows/release.yml
Due: none

ci: Validate XCFramework architectures (#7883)
  .github/workflows/assemble-xcframework-sentryobjc.yml
  .github/workflows/assemble-xcframework-variant.yml
  scripts/build-xcframework-local.sh
  scripts/compress-xcframework.sh
  scripts/validate-xcframework-architectures.sh
Due: none

chore(ci): Reduce CI log noise and standardize shell scripts (#7879)
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  Sentry.xcodeproj/project.pbxproj
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  fastlane/Fastfile
  scripts/analyze-languages/analyze-languages.sh
  scripts/assemble-xcframework.sh
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-slice.sh
  scripts/bump.sh
  scripts/check-sentrycrash-imports.sh
  scripts/check-ui-framework-linkage.sh
  scripts/ci-boot-simulator.sh
  scripts/ci-create-simulator.sh
  scripts/ci-diagnostics.sh
  scripts/ci-enable-permissions.sh
  scripts/ci-ensure-runtime-loaded.sh
  scripts/ci-select-xcode.sh
  scripts/ci-utils.sh
  scripts/compress-xcframework.sh
  scripts/create-cherry-pick-branch.sh
  scripts/generate_release_matrix.sh
  scripts/pod-lib-lint.sh
  scripts/prepare-package.sh
  scripts/remove-architectures.sh
  scripts/resolve-test-destination.sh
  scripts/sentry-xcodebuild.sh
  scripts/start-test-server.sh
  scripts/update-api.sh
  scripts/update-package-sha.sh
  scripts/validate-xcframework-format.sh
  scripts/verify-package-sha.sh
Due: none

ci: Use release-version input in SentryObjC workflow
  .github/workflows/assemble-xcframework-sentryobjc.yml
Due: none

fix: restore macOS generic destination for slice builds
  scripts/build-xcframework-slice.sh
Due: none

fix: use string variable for macOS destination flag
  scripts/build-xcframework-slice.sh
Due: none

fix: restore pre-merge build-xcframework-slice.sh
  scripts/build-xcframework-slice.sh
Due: none

fix: properly merge build-xcframework-slice.sh
  scripts/build-xcframework-slice.sh
Due: none

fix: Crash with AVAssetDownloadTask in setState
  Sources/Sentry/SentryNetworkTracker.m
Due: none

fix: Add changelog entry for AVAssetDownloadTask crash
  CHANGELOG.md
Due: format-markdown

fix: Move changelog entry to Unreleased section
  CHANGELOG.md
Due: format-markdown

Update changelog for AVAssetDownloadTask crash fix
  CHANGELOG.md
Due: format-markdown

fix: Defensive type checks for malformed recrash reports
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Tests/SentryTests/SentryCrash/SentryCrashTests.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

docs: Add changelog entry for GH-7888
  CHANGELOG.md
Due: format-markdown

docs: add AVAssetDownloadURLSession crash warning to 9.12.x changelogs
  CHANGELOG.md
Due: format-markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

docs: add AVAssetDownloadURLSession crash warning to 9.12.x changelogs (#7893)
  CHANGELOG.md
Due: format-markdown

SentryCrashJSONCodec: fix 'succesful' -> 'successful' typo in doc comment
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.h
Due: none

chore(docs): 'succesful' -> 'successful' typo in doc comment (#7894)
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.h
Due: none

fix: Crash with AVAssetDownloadTask in setState (#7891)
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
Due: format-markdown

fix: Defensive type checks for malformed recrash reports (#7892)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Tests/SentryTests/SentryCrash/SentryCrashTests.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown

release: 9.13.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

docs: Clarify comment resolution workflow
  CONTRIBUTING.md
Due: format-markdown

docs: Clarify comment resolution workflow (#7895)
  CONTRIBUTING.md
Due: format-markdown

refactoring
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryBinaryImageCacheTests.swift
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
Due: format-swift

don’t change isDebug flag
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
Due: format-swift

test that standalone clinet starts cache
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

keep api stable
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/SentryCrash/SentryCrashReporter.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
  Tests/SentryTests/SentryCrash/TestSentryCrashWrapper.swift
Due: format-swift

add cl entry
  CHANGELOG.md
Due: format-markdown

use the result instead of the unresolved workflow input
  .github/workflows/unit-test-common.yml
Due: none

test: dynamically registered poison class for `SentrySubClassFinderTests` (#7880)
  .github/file-filters.yml
  .github/workflows/unit-test-common.yml
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.h
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.m
  Tests/SentryTests/Integrations/Performance/SentrySubClassFinderTests.swift
  scripts/ci-collect-sentrytests-metadata.sh
Due: format-swift
