Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

feat: inject trace headers at task creation
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryTracePropagation.h
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerProxyTests.swift
Due: format-swift

test: deflake HTTP breadcrumb assertion
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
Due: format-swift

fix: Inherit parentSampleRate and parentSampleRand when the parent decided sampling
  CHANGELOG.md
  Sources/Sentry/SentrySampling.m
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift, format-markdown

feat: KSCrash crash-time view hierarchy
  CHANGELOG_V10.md
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/SentryStoredCrashReportProcessor.m
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitor.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+CrashE2ETestHook.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Installer.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashTimeAttachmentsAsserter.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrash+AttachmentsMonitorTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
Due: format-swift, format-markdown

test: cover V10 view-hierarchy writer install
  Sources/Sentry/KSCrash/SentryKSCrashReportWriterCallbacks.c
  Sources/Sentry/include/SentryKSCrashReportWriterCallbacks.h
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
Due: format-swift

docs: Fix changelog PR reference
  CHANGELOG.md
Due: format-markdown

docs: Drop duplicated changelog entries
  CHANGELOG.md
Due: format-markdown

fix: VH writer teardown and V9 window hop
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/Tools/SentryViewHierarchyProvider.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift

fix: Mark mach and signal crashes as `synthetic` (#9004)
  CHANGELOG.md
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: format-markdown

fix: clear replayId when Session Replay stops
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift, format-markdown

docs: add PR number to V10 changelog
  CHANGELOG_V10.md
Due: format-markdown

ci: restore V10 VH migration markers
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
Due: format-swift

ref(v10): remove enableSigtermReporting
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Markers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime+Sigterm.swift
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/IOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner+Sigterm.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/MacOSPlatformRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/ProcessRunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/SigtermScenarioAsserter.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/SentryOptionsTest.m
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

fix: Prevent appHangTimeoutInterval of 0 or lower
  CHANGELOG.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Options.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/AppHangTracking/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

ref: unify session finalizer for V9 and V10
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+Integration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/Integrations/Session/PreviousRunSessionFinalizer.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/KSCrash/MockKSCrashInstaller.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

ref: update migration ledger and source contract
  develop-docs/SENTRYCRASH.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  scripts/verify-v10-sentrycrash-source-contract.sh
Due: format-markdown

fix: Warn on invalid ANR tracker timeout
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

docs: add changelog entry for #9010
  CHANGELOG.md
Due: format-markdown

feat: add breadcrumb text extraction option
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: add changelog entry for #9011
  CHANGELOG.md
Due: format-markdown

feat: add mask-aware interaction breadcrumb labels
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryAutoBreadcrumbTrackingIntegration.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackingIntegrationTests.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

fix: preserve ancestor masks for excluded subtrees
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderMaskingTests.swift
Due: format-swift

Update Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

feat(breadcrumbs): extract child text for interactions
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

fix(breadcrumbs): deduplicate configuration titles
  Sources/Swift/Integrations/Breadcrumbs/SentryChildTextExtractor.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerButtonTests.swift
Due: format-swift

fix(breadcrumbs): avoid mutating buttons during text extraction
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

docs: add changelog entry for #8974
  CHANGELOG.md
Due: format-markdown

fix(breadcrumbs): bound child text traversal
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Sources/Swift/Integrations/Breadcrumbs/SentryChildTextExtractor.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

chore: replace completed SENTRY_DISABLE_SENTRYCRASH_V10 markers
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  scripts/.clang-format-version
Due: format-swift

test: Migrate legacy hybrid API tests
  Plans/SentryV10_Base.xctestplan
  Plans/Sentry_Base.xctestplan
  Plans/Sentry_Flaky.xctestplan
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Tests/SentryTests/HybridSDK/SentryInternalApiTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Protocol/SentryBreadcrumbTests.swift
  Tests/SentryTests/Protocol/SentryUserTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryTracerTests.swift
  develop-docs/SENTRY-INTERNAL-API.md
Due: format-swift, format-markdown

chore: separate brew commands to see which is failing
  Makefile
Due: none

chore: untap problematic repo
  Makefile
Due: none

ref(api)!: Remove legacy hybrid SDK facade
  AGENTS.md
  Samples/XCFramework-Validation/XCFramework/AppDelegate.swift
  Samples/iOS-Swift/Shared/Headers/iOS-Swift-Bridging-Header.h
  Sentry.xcodeproj/project.pbxproj
  Sources/AGENTS.md
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/Public/PrivateSentrySDKOnly.h
  Sources/Sentry/Public/Sentry.h
  Sources/Sentry/Public/SentryWithoutUIKit.h
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfileCollector.h
  Sources/Sentry/include/SentryProfilerSerialization.h
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/SentryObjCCompat/SentryObjCPrivateSDKOnly.swift
  Sources/SentryObjCCompat/SentryObjCSDKTracking.swift
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Sources/Swift/HybridSDK/SentryInternalAppStartApi.swift
  Sources/Swift/HybridSDK/SentryInternalPerformanceApi.swift
  Sources/Swift/HybridSDK/SentryInternalProfilingApi.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTrackingIntegration.swift
  Sources/Swift/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  develop-docs/SENTRY-INTERNAL-API.md
  develop-docs/SENTRYCRASH_V10_MIGRATION_LEDGER.md
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

chore: uninstall the dep bitrise wants
  Makefile
Due: none

chore: add comment stating why this is needed :/
  Makefile
Due: none

test: Migrate sample hybrid API callers
  Samples/XCFramework-Validation/XCFramework/AppDelegate.swift
  Samples/iOS-Swift/Shared/Headers/iOS-Swift-Bridging-Header.h
Due: format-swift

chore: uninstall applesimutils from the CI (#9028)
  Makefile
Due: none

fix: clear replayId when Session Replay stops (#9017)
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift, format-markdown

omit unattempted remote stacks
  Sources/Swift/SentryCrash/SentryDefaultThreadInspector+V10.swift
  Tests/SentryTests/SentryCrash/SentryDefaultThreadInspectorV10Tests.swift
Due: format-swift
