Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

fix: Infinite Session Replay Processing Loop
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplayError.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift, format-markdown

try wekself in replay integration
  Sources/Sentry/SentrySessionReplayIntegration.m
Due: none

fix: Add masking for PDFView
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ProjectProposal.pdf
  Samples/iOS-Swift/iOS-Swift/ViewControllers/SentryPDFViewController.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

add missing header imports
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryBreadcrumb.m
  Sources/Sentry/SentryCrashIntegrationSessionHandler.m
  Sources/Sentry/SentryDateUtil.m
  Sources/Sentry/SentryDefaultRateLimits.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDsn.m
  Sources/Sentry/SentryGeo.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryRetryAfterHeaderParser.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/SentryUIEventTracker.m
  Sources/Sentry/SentryUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryUser.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
Due: none

changelog
  CHANGELOG.md
Due: format-markdown

fix: Infinite Session Replay Processing Loop (#5765)
  CHANGELOG.md
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplayError.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryOnDemandReplayTests.swift
Due: format-swift, format-markdown

ref: Remove SentryApplication forward declaration (#5763)
  Sources/Sentry/include/SentryApplication.h
Due: none

again
  CHANGELOG.md
Due: format-markdown

Add xcbeautify to build with SPM
  .github/workflows/build.yml
Due: none

Fix changelog for 8.54.0 (#5767)
  CHANGELOG.md
Due: format-markdown

fix: Memory leak in SentrySessionReplayIntegration
  CHANGELOG.md
  Sources/Sentry/SentrySessionReplayIntegration.m
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift, format-markdown

add uploading of logs
  .github/workflows/build.yml
Due: none

add comment to explain test
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

Apply suggestions from code review
  Samples/iOS-Swift/iOS-Swift/ViewControllers/SentryPDFViewController.swift
Due: format-swift

ci: Add a generic flag for the test type
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
Due: none

Fix: Energy reporting should report energy not time
  CHANGELOG.md
  SentryTestUtils/TestSentrySystemWrapper.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/SentrySystemWrapper.mm
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentrySystemWrapper.h
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentrySystemWrapperTests.swift
  Tests/SentryProfilerTests/SentryTraceProfilerTests.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift, format-markdown

ci: Add more screenshots to debug crash test errors
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/ContentView.swift
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: format-swift

Restore change
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: none

Fix: Energy reporting should report energy not time (#5768)
  CHANGELOG.md
  SentryTestUtils/TestSentrySystemWrapper.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryMetricProfiler.m
  Sources/Sentry/SentrySystemWrapper.mm
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentrySystemWrapper.h
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentrySystemWrapperTests.swift
  Tests/SentryProfilerTests/SentryTraceProfilerTests.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift, format-markdown

Add energy consuming buttons for sample app
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/Tools/EnergyConsumer.swift
Due: format-swift

ci: Add a generic flag for the test type (#5772)
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
Due: none

ci: Update simulator boot process to set iOS version based on Xcode version
  scripts/ci-boot-simulator.sh
Due: none

ci: Add more screenshots to debug crash test errors (#5773)
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/ContentView.swift
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: format-swift

Use parameters instead of fixed values
  scripts/ci-boot-simulator.sh
Due: none

ci: Run Cocoapods integration test on iOS 18.5
  Samples/iOS-Cocoapods-Swift6/fastlane/Fastfile
Due: none

ci: Run Cocoapods integration test on iOS 18.5 (#5776)
  Samples/iOS-Cocoapods-Swift6/fastlane/Fastfile
Due: none

ci: Update simulator boot process to set iOS version based on Xcode version (#5775)
  scripts/ci-boot-simulator.sh
Due: none

Add energy consuming buttons for sample app (#5774)
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/Tools/EnergyConsumer.swift
Due: format-swift

fix: Memory leak in SentrySessionReplayIntegration (#5770)
  CHANGELOG.md
  Sources/Sentry/SentrySessionReplayIntegration.m
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift, format-markdown

undo changelog
  CHANGELOG.md
Due: format-markdown

remove testapplication
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

set dsn
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

use correct test dsn
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

update sdk api
  sdk_api.json
  sdk_api_V9.json
Due: none

fix dsn
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

increase timeout
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

fix: Add masking for PDFView (#5766)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ProjectProposal.pdf
  Samples/iOS-Swift/iOS-Swift/ViewControllers/SentryPDFViewController.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown
