Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

feat(V9): Make span read only in v9
  CHANGELOG-v9.md
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/include/SentryScope+Private.h
  sdk_api_V9.json
Due: format-markdown

Remove `Sentry-Dynamic-WithARM64e` from Package.swift for PR
  .github/actions/prepare-package.swift/action.yml
  .github/workflows/release.yml
Due: none

Add `iphonesimulator` sdk to build list
  scripts/generate_release_matrix.sh
Due: none

ci: Bump iOS and tvOS versions to 18.6
  .github/workflows/test.yml
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

ci: Bump iOS and tvOS versions to 18.6 (#5942)
  .github/workflows/test.yml
Due: none

ref: Make SentrySerializable private for SentryEvent
  CHANGELOG-v9.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryEvent.h
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/include/SentryEvent+Serialize.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/SessionReplay/SentryReplayEvent.swift
  sdk_api_V9.json
Due: format-swift, format-markdown

feat(v9): Remove deprecated setExtraValue
  CHANGELOG-v9.md
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentrySpanProtocol.h
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/include/SentryNoOpSpan.h
  Sources/Sentry/include/SentrySpan.h
  sdk_api_V9.json
Due: format-markdown

ci: Use iOS18.5
  .github/workflows/test.yml
Due: none

Use 18.5 instead of latest
  .github/workflows/build.yml
Due: none

ci: Use iOS18.5 since 18.6 seems to be unavailable sometimes (#5944)
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

release: 8.55.0
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

chore: Fix changelog version
  CHANGELOG.md
Due: format-markdown

Fix merge main conflicts
  CHANGELOG.md
Due: format-markdown

feat(V9): Make span read only in v9 (#5866)
  CHANGELOG-v9.md
  Sources/Sentry/Public/SentryScope.h
  Sources/Sentry/include/SentryScope+Private.h
  sdk_api_V9.json
Due: format-markdown

feat(v9): Remove deprecated setExtraValue (#5864)
  CHANGELOG-v9.md
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/Public/SentrySpanProtocol.h
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/include/SentryNoOpSpan.h
  Sources/Sentry/include/SentrySpan.h
  sdk_api_V9.json
Due: format-markdown

ref: Make SentrySerializable private for SentryEvent (#5840)
  CHANGELOG-v9.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryEvent.h
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/include/SentryEvent+Serialize.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/SessionReplay/SentryReplayEvent.swift
  sdk_api_V9.json
Due: format-swift, format-markdown

fix(feedback): Add padding to tap area of widget button
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
Due: format-swift

update changelog
  CHANGELOG.md
Due: format-markdown

fix: Add null-handling for parsed DSN in SentryHTTPTransport (#5800)
  CHANGELOG.md
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/include/SentryHttpTransport.h
  Tests/SentryTests/Networking/SentryHttpTransportFlushIntegrationTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentryTransportFactoryTests.swift
Due: format-swift, format-markdown

chore(ci): Add CI debug script
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  scripts/ci-debug-xcode-env.sh
  scripts/ci-utils.sh
Due: none

Update .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-common.yml
Due: none

Update .github/workflows/codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

small sed fix
  scripts/ci-debug-xcode-env.sh
Due: none

fix shellcheck
  scripts/ci-debug-xcode-env.sh
Due: none

fix: Update lost event recording to include quantity in SentryClient
  Sources/Sentry/SentryClient.m
Due: none

Update CI workflows to use iOS 18.6, Xcode 16.4, and macOS 15
  .github/workflows/build.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

Add auto-update-tools workflow with conditional execution
  .github/file-filters.yml
  .github/workflows/auto-update-tools.yml
Due: none

Remove unnecessary path triggers from auto-update-tools workflow
  .github/workflows/auto-update-tools.yml
Due: none

Allow auto-update tools workflow to run on non-PR events
  .github/workflows/auto-update-tools.yml
Due: none

fix(feedback): Add padding to tap area of widget button (#5949)
  CHANGELOG.md
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
Due: format-swift, format-markdown

Address PR review
  Sources/Sentry/SentryClient.m
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

Fix test assertion
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

chore: Fix changelog version (#5945)
  CHANGELOG.md
Due: format-markdown

Add comment
  .github/actions/prepare-package.swift/action.yml
Due: none

rename to ci-diagnostics; add to path filters
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  scripts/ci-diagnostics.sh
Due: none

fix the script positions
  .github/workflows/api-stability.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
Due: none

Split slices and variant into base and additional arrays
  scripts/generate_release_matrix.sh
Due: none

Test running all combinations
  scripts/generate_release_matrix.sh
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
