Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

PR feedback
  CHANGELOG.md
  SentryTestUtils/TestDispatchFactory.swift
  Sources/Sentry/SentryDispatchFactory.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryMetricProfiler.mm
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryTransportFactory.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/SentryDispatchSourceProviderProtocol.h
  Sources/Swift/Core/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryTouchTrackerTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/TestSentryViewHierarchyProvider.swift
  Tests/SentryTests/Networking/SentryDispatchFactoryTests.m
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.m
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
Due: format-swift, format-markdown

ci: cache xcframework builds (#5449)
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/build-xcframework-variant-slices.yml
Due: none

print launch env again to help pinpoint logs in xcresult
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
Due: format-swift

Rename `SentrLogSwift` to SentrySDKLog
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/ClearTestState.swift
  SentryTestUtils/SentryLogExtensions.swift
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryLogC.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentryProfileTimeseries.mm
  Sources/Sentry/SentrySDK.m
  Sources/Swift/Core/Integrations/Performance/SwizzleClassNameExclude.swift
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryGraphicsImageRenderer.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryPixelBuffer.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryTouchTracker.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessor.swift
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Sources/Swift/Protocol/Codable/DecodeArbitraryData.swift
  Sources/Swift/Protocol/Codable/NSNumberDecodableWrapper.swift
  Sources/Swift/Protocol/Codable/SentryCodable.swift
  Sources/Swift/Tools/SentryLogSwift+Configure.swift
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryProfilerTests/SentryTraceProfilerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentryLogSwift.swift
  Tests/SentryTests/Helper/SentryLogSwiftTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryBaseIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessorTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashStackCursorSelfThreadTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/Transaction/SentrySpanTests.swift
  develop-docs/README.md
Due: format-swift, format-markdown

remove duplicate imports
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/SentryLogC.m
  Sources/Sentry/SentrySDK.m
Due: none

Rename SentryLogLevel to SentryLog.Level and restore previous ObjC SentryLogLevel in SentryDefines.h
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Public/SentryDefines.h
  Sources/Swift/Protocol/Codable/SentryLogCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogLevelCodable.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Tests/SentryTests/Protocol/SentryLogLevelTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

Use new naming
  Sources/Swift/Tools/SentryURLRequestFactory.swift
Due: format-swift

rename files
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Tools/SentrySDKLog+Configure.swift
  Tests/SentryTests/Helper/SentrySDKLog.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
Due: format-swift

Add docs link to toSeverityNumber()
  Sources/Swift/Protocol/SentryLogLevel.swift
Due: format-swift

Rename SentryLogAttribute to SentryLog.Attribute and change it to an enum with associated types
  Sources/Swift/Protocol/Codable/SentryLogAttributeCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogCodable.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogAttribute.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

Add encodeToJSONData helper with correct date encoding strategy
  Sources/Swift/Protocol/Codable/SentryCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogCodable.swift
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

Fix failing SentrySDKLogTests
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
Due: format-swift

run clang format
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryAsyncLog.h
  Sources/Sentry/SentryAsyncLog.m
  Sources/Sentry/SentryLogC.m
  Sources/Sentry/include/SentryAsyncLog.h
  Sources/Sentry/include/SentryPrivate.h
Due: none

run swiftlint —fix
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

PR comments
  .github/workflows/build.yml
Due: none

remove new sentry log classes
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Protocol/Codable/SentryCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogAttributeCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogCodable.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogAttribute.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
  Tests/SentryTests/Protocol/SentryLogLevelTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

Revert "remove new sentry log classes"
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Protocol/Codable/SentryCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogAttributeCodable.swift
  Sources/Swift/Protocol/Codable/SentryLogCodable.swift
  Sources/Swift/Protocol/SentryLog.swift
  Sources/Swift/Protocol/SentryLogAttribute.swift
  Sources/Swift/Protocol/SentryLogLevel.swift
  Tests/SentryTests/Protocol/Codable/SentryCodableTests.swift
  Tests/SentryTests/Protocol/SentryLogAttributeTests.swift
  Tests/SentryTests/Protocol/SentryLogLevelTests.swift
  Tests/SentryTests/Protocol/SentryLogTests.swift
Due: format-swift

Increase validation timeout
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Use a sync function for tests
  Sources/Swift/Core/Tools/LoadValidator.swift
  Tests/SentryTests/Swift/Core/Tools/LoadValidatorTests.swift
Due: format-swift

Full spm (#5359)
  .github/workflows/build.yml
  Package.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryEventSwiftHelper.m
  Sources/Sentry/include/SentryEventSwiftHelper.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Exports.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayEvent.swift
  Sources/Swift/Protocol/Codable/SentryBreadcrumbCodable.swift
  Sources/Swift/Protocol/Codable/SentryDebugMetaCodable.swift
  Sources/Swift/Protocol/Codable/SentryEventCodable.swift
  Sources/Swift/Protocol/Codable/SentryExceptionCodable.swift
  Sources/Swift/Protocol/Codable/SentryFrameCodable.swift
  Sources/Swift/Protocol/Codable/SentryGeoCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismCodable.swift
  Sources/Swift/Protocol/Codable/SentryMechanismMetaCodable.swift
  Sources/Swift/Protocol/Codable/SentryMessage.swift
  Sources/Swift/Protocol/Codable/SentryNSErrorCodable.swift
  Sources/Swift/Protocol/Codable/SentryRequestCodable.swift
  Sources/Swift/Protocol/Codable/SentryStacktraceCodable.swift
  Sources/Swift/Protocol/Codable/SentryThreadCodable.swift
  Sources/Swift/Protocol/Codable/SentryUserCodable.swift
  develop-docs/README.md
Due: format-swift, format-markdown

ci: upload xcframeworks as expected by craft
  .github/workflows/release.yml
Due: none

set dependnency on other verification jobs
  .github/workflows/release.yml
Due: none

Update test
  Tests/DuplicatedSDKTest/DuplicatedSDKTest/DuplicatedSDKTestApp.swift
  Tests/DuplicatedSDKTest/Unit Tests/Unit_Tests.swift
Due: format-swift

Update sdk_api
  sdk_api.json
Due: format-json

Move LoadValidator out of Swift Core folder
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Tools/LoadValidator.swift
Due: format-swift

Sentry extra packages Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.mm
  Sources/Sentry/SentryExtraPackages.m
  Sources/Sentry/SentrySdkInfo.m
  Sources/Sentry/include/SentryExtraPackages.h
  Sources/Swift/Core/Helper/SentryExtraPackages.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
Due: format-swift

PR feedback
  Sources/Swift/Core/Helper/SentryExtraPackages.swift
Due: format-swift

lock
  Sources/Swift/Core/Helper/SentryExtraPackages.swift
Due: format-swift

ci: cache unit test builds
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/test.yml
Due: none

Fix build
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryProfileCollector.h
  Sources/Sentry/SentryProfileCollector.mm
Due: none

test: add a start profile button to mac sample app
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/ViewController.swift
Due: format-swift

ref: Convert SentryExtraPackages to Swift (#5453)
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryExtraPackages.m
  Sources/Sentry/SentryProfileCollector.h
  Sources/Sentry/SentryProfileCollector.mm
  Sources/Sentry/SentrySdkInfo.m
  Sources/Sentry/include/SentryExtraPackages.h
  Sources/Swift/Core/Helper/SentryExtraPackages.swift
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
Due: format-swift

ref: SentrySDKPackage in Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentrySdkInfo.m
  Sources/Sentry/SentrySdkPackage.m
  Sources/Sentry/include/SentrySdkPackage.h
  Sources/Swift/Helper/SentrySdkPackage.swift
Due: format-swift

test: dont gate data wipe to only tests
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryFileManager.h
Due: none

actually, just compile it into debug builds
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryFileManager.h
Due: none

test: add a start profile button to mac sample app (#5477)
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/ViewController.swift
Due: format-swift

chore: remove discrepancy from comment
  Sources/Swift/Core/Tools/SentryLog.swift
Due: format-swift

remove string noise
  Sources/Swift/Core/Tools/SentryLog.swift
Due: format-swift

ref: SentrySDKPackage in Swift (#5478)
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentrySdkInfo.m
  Sources/Sentry/SentrySdkPackage.m
  Sources/Sentry/include/SentrySdkPackage.h
  Sources/Swift/Helper/SentrySdkPackage.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
