Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

feat(network-details): Add response details capture
  Sources/Sentry/SentryNetworkTracker.m
Due: none

review-comment: Synchronize access to shared network details data
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
Due: format-swift

review-feedback: Document usage of objc_getAssociatedState key
  Sources/Sentry/SentryNetworkTracker.m
Due: none

feat(network-details): Add NetworkRequestData -> breadcrumb -> RRBWebEvent
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
Due: format-swift

ci: Update Xcode version in CI workflow and add Notification Service Extension paths in Fastfile
  .github/workflows/build.yml
  fastlane/Fastfile
Due: none

manual cleanup and fixed Objective-C sample
  CHANGELOG.md
  Package@swift-6.2.swift
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  Tests/SentryTests/SentryObjCMetricsApiTests.m.wip
  sdk_api_objc.json
Due: format-swift, format-markdown

chore(ci): replace Xcode 26.4 with Xcode 26.4.1
  .github/workflows/build.yml
Due: none

chore(ci): replace Xcode 26.4 with Xcode 26.4.1 (#7830)
  .github/workflows/build.yml
Due: none

feat(objc): introduce SentryObjCTypes target
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryMetricsApi.h
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryRedactRegionType.h
  Sources/SentryObjC/Public/SentrySDK.h
  Sources/SentryObjC/Public/SentryUnit.h
  Sources/SentryObjC/SentryMetricsApiImpl.m
  Sources/SentryObjC/SentryRedactRegionType.m
  Sources/SentryObjC/SentryUnit.m
  Sources/SentryObjCBridge/SentryObjCBridge.swift
  Sources/SentryObjCTypes/Public/SentryObjCAttributeContent.h
  Sources/SentryObjCTypes/Public/SentryObjCAttributeContent.m
  Sources/SentryObjCTypes/Public/SentryObjCMetric.h
  Sources/SentryObjCTypes/Public/SentryObjCMetric.m
  Sources/SentryObjCTypes/Public/SentryObjCMetricValue.h
  Sources/SentryObjCTypes/Public/SentryObjCMetricValue.m
  Sources/SentryObjCTypes/Public/SentryObjCRedactRegionType.h
  Sources/SentryObjCTypes/Public/SentryObjCRedactRegionType.m
  Sources/SentryObjCTypes/Public/SentryObjCTypes.h
  Sources/SentryObjCTypes/Public/SentryObjCUnit.h
  Sources/SentryObjCTypes/Public/SentryObjCUnit.m
  develop-docs/SENTRY-OBJC.md
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-sentryobjc-standalone.sh
Due: format-swift, format-markdown

fix(objc): use __has_include for SentryObjCTypes imports
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/SentryMetricsApiImpl.m
  Sources/SentryObjCTypes/Public/SentryObjCTypes.h
  scripts/extract-objc-api.sh
  sdk_api_objc.json
Due: none

chore(ci): remove duplicate Homebrew update
  .github/workflows/auto-update-tools.yml
Due: none

build(objc): wire SentryObjCTypes into xcframework release flow
  .github/workflows/assemble-xcframework-sentryobjc.yml
  Makefile
  scripts/build-xcframework-variant.sh
  scripts/generate_release_matrix.sh
Due: none

ref: remove session replay environment checker and related options
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestSessionReplayEnvironmentChecker.swift
  SentryTestUtilsTests/Sources/TestSessionReplayEnvironmentCheckerTests.swift
  Sources/Sentry/SentryReplayApi.m
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Helper/InfoPlist/SentryInfoPlistKey.swift
  Sources/Swift/Helper/InfoPlist/SentryXcodeVersion.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentChecker.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayEnvironmentCheckerProvider.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/InfoPlist/SentryInfoPlistKeyTests.swift
  Tests/SentryTests/Helper/InfoPlist/SentryInfoPlistWrapperTests.swift
  Tests/SentryTests/Helper/InfoPlist/SentryXcodeVersionTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayApiTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayEnvironmentCheckerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/SentryHubTests.swift
  sdk_api.json
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Use branch `chore/remove_enableSessionReplayInUnreliableEnvironment` for RN
  .github/workflows/test-cross-platform.yml
Due: none

rename `i` to `index` defaultLoadedImageNamesProvider()
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
Due: format-swift

Bump number to 86
  scripts/check-sentrycrash-imports.sh
Due: none

fix: race in SentryFramesTracker listeners
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
Due: format-swift

fix: add changelog entry for SentryFramesTracker listener race (#7839)
  CHANGELOG.md
Due: format-markdown

Clarify purpose of typealias and function for testing.
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
Due: format-swift

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

rename idx to nextIndex
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
Due: none

rename mh parameter to header
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
Due: none

add unit tests covering the max images paths
  Tests/SentryTests/SentryCrash/SentryCrashBinaryImageCacheTests.m
Due: none

apply remaining rename changes
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
Due: format-markdown

update changelog
  CHANGELOG.md
Due: format-markdown

clean up callbacks and index retrieval and saturation
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
Due: none

update cl entry
  CHANGELOG.md
Due: format-markdown

don’t appen nul terminator in test for expectations,update buffers from upstream and add comments
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
Due: none

fix: prevent memory strings in stack overflow crash reports
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryCrashReportConverterTests.m
Due: none

add cl entry
  CHANGELOG.md
Due: format-markdown

update cl
  CHANGELOG.md
Due: format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

fix: Fix JSON encoding of infinite numeric values in crash reports (#7802)
  CHANGELOG.md
  Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodec.c
  Tests/SentryTests/SentryCrash/SentryCrashJSONCodec_Tests.m
Due: format-markdown

docs(changelog): structure SentryObjC entry under Features
  CHANGELOG.md
Due: format-markdown

build(spm): align SentryObjC deps with Xcode graph
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
Due: format-swift

build(objc): disable DEFINES_MODULE on SentryObjCBridge
  Sentry.xcodeproj/project.pbxproj
Due: none

build(scripts): drop dead use_workspace option
  scripts/build-xcframework-slice.sh
  scripts/build-xcframework-variant.sh
Due: none

feat(network-details): Add type-safe SentryUrlMatchable protocol for URL filtering
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Protocol/SentryUrlMatchable.swift
  Sources/Swift/Protocol/SentryUrlMatcher.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
Due: format-swift

review-comment: Remove ObjC bridge for network detail URL properties
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
