Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix(metrickit): Send only known app and OS context
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXManager+Metadata.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift, format-markdown

test(metrickit): Assert dropped app and OS attributes
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

fix: Avoid evaluating filtered SDK debug logging (#9283)
  CHANGELOG.md
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationAttributesProcessorTests.swift
Due: format-swift, format-markdown

ref: Check willLog once per SDK log call
  Sources/Swift/Core/Tools/SentrySDKLog.swift
Due: format-swift

ref: Convert SentryLaunchProfiling to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/SourcesObjC/SentryTestProfilerWrapper.m
  SentryTestUtils/SourcesObjC/SentryTestStateWrapper.m
  SentryTestUtils/SourcesObjC/include/SentryLaunchProfiling+Tests.h
  SentryTestUtils/SourcesObjC/include/SentryTestProfilerWrapper.h
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
  Sources/Sentry/Profiling/SentryProfileConfiguration.m
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilerTestHelpers.m
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryLaunchProfiling.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryProfileConfiguration.h
  Sources/Sentry/include/SentryProfiler+Private.h
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Swift/Integrations/Performance/SentryPerformanceTracker.swift
  Sources/Swift/Integrations/Performance/SentryTimeToDisplayTracker.swift
  Sources/Swift/Profiling/SentryLaunchProfiling.swift
  Tests/SentryProfilerTests/SentryAppLaunchProfilingTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationChangeTests.swift
  Tests/SentryProfilerTests/SentryAppStartProfilingConfigurationTests.swift
  Tests/SentryProfilerTests/SentryApplaunchProfilingMalformedConfigFileTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryVCTrackerLaunchProfilingTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  develop-docs/ARCHITECTURE.md
Due: format-swift, format-markdown

fix: crash-time hang reading scene window (#9282)
  CHANGELOG.md
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Tests/SentryTests/MockUIScene.h
  Tests/SentryTests/MockUIScene.m
  Tests/SentryTests/SentryUIApplicationTests.swift
Due: format-swift, format-markdown

fix(metrickit): Use diagnostic app and OS versions (#9266)
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXManager+Metadata.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Helper/SentryReleaseName.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Helper/SentryReleaseNameTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

ci: Keep package test results outside workspace
  .github/workflows/test.yml
Due: none

Remove SentryObjC SDK frames from current-thread stacktraces
  Sources/Swift/SentryCrash/SentryFrameRemover.swift
  Tests/SentryTests/SentryCrash/SentryFrameRemoverTests.swift
Due: format-swift

Add changelog entry
  CHANGELOG.md
Due: format-markdown

ref: Check willLog once per SDK log call (#9284)
  Sources/Swift/Core/Tools/SentrySDKLog.swift
Due: format-swift

ref(metrickit): Split into multiple files; added documentation
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Core/Extensions/SequenceExtensions.swift
  Sources/Swift/Core/MetricKit/MXSample.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStack.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Sources/Swift/Core/MetricKit/SentryMXFrame.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMXSample.swift
  Sources/Swift/Core/MetricKit/SentryMXSampleFrame.swift
Due: format-swift

fix: Remove SentryObjC SDK frames from current-thread stacktraces (#9286)
  CHANGELOG.md
  Sources/Swift/SentryCrash/SentryFrameRemover.swift
  Tests/SentryTests/SentryCrash/SentryFrameRemoverTests.swift
Due: format-swift, format-markdown

feat: Add MetricKit hang culprit reporting
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCMetricKitOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCMetricKitOptions.swift
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Sources/Swift/Core/MetricKit/SentryMXHangCulpritIdentifier.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitOptions.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatOptionsTests.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryTests/Integrations/MetricKit/SentryMXHangCulpritIdentifierTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: Note MetricKit hang reporting mode
  CHANGELOG.md
Due: format-markdown

ci: Add run-full-ci label to tooling update PRs
  .github/workflows/auto-update-tools.yml
Due: none

test: Verify willLog runs once per SDK log call
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
Due: format-swift

release: 9.30.1
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Swift/Helper/SentryMeta.swift
  distribution/apple-binaries/Package.swift
Due: format-swift, format-markdown

docs: Remove test dependency migration notes
  develop-docs/TEST.md
Due: format-markdown

feat(metrickit): Add diagnostic report option
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+CallStackTreeProviding.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+DiagnosticReport.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+Options.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTests.swift
  sdk_api.json
  sdk_api_v10.json
Due: format-swift, format-markdown

feat(metrickit): Remove enableMetricKit in v10
  CHANGELOG_V10.md
  SentryTestUtils/Sources/TestOptions.swift
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+Options.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  TestApps/SentrySampleShared/Sources/SentrySampleShared/SentrySDKWrapper.swift
  TestApps/iOS-SwiftUI-SPM/Sources/MainApp.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/ObjC/SentryOptionsTest.m
  Tests/SentryTests/SentryClientTests.swift
  develop-docs/KSCRASH_DOWNSTREAM_AUDIT.md
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

docs(metrickit): Name v10 replacement for enableMetricKit
  Sources/SentryObjC/Public/SentryObjCOptions.h
Due: none

ref(metrickit): Move DiagnosticReport helpers to their file
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+DiagnosticReport.swift
Due: format-swift

feat(metrickit): Parse diagnostic reports from dictionary
  CHANGELOG.md
  Sources/Swift/Core/MetricKit/SentryMetricKit+DiagnosticReport.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+Options.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/SentryOptionsTests.swift
Due: format-swift, format-markdown

test(metrickit): Split integration init tests
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationInitTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

feat(objc): Expose MetricKit diagnostic reports
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCMetricKitDiagnosticReport.h
  Sources/SentryObjC/Public/SentryObjCMetricKitOptions.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCMetricKitDiagnosticReport.swift
  Sources/SentryObjCCompat/SentryObjCMetricKitOptions.swift
  Sources/Swift/Core/MetricKit/SentryMetricKit+Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatMetricKitOptionsTests.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryObjCTests/SentryObjCMetricKitOptionsTests.m
  sdk_api.json
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

test: Separate SDK header exposure
  SentryTestUtils/SourcesObjC/include/SentryTestSDKHeaders.h
  SentryTestUtils/SourcesObjC/include/SentryTestUtilsObjC.h
Due: none

test: Unify test SDK header imports
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/SourcesObjC/include/SentryTestUtilsObjC-SDKHeaders.h
  SentryTestUtils/SourcesObjC/include/SentryTestUtilsObjC.h
  SentryTestUtilsTests/Sources/TestSdkHeaderImportsTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  develop-docs/TEST.md
Due: format-swift, format-markdown

test: Use default helper header layout
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  SentryTestUtils/SourcesObjCpp/include/SentryContinuousProfiler+Test.h
  SentryTestUtils/SourcesObjCpp/include/SentryProfilerMocks.h
  SentryTestUtils/SourcesObjCpp/include/SentryProfilerMocksSwiftCompatible.h
  SentryTestUtils/SourcesObjCpp/include/SentryTraceProfiler+Test.h
  SentryTestUtils/SourcesObjCpp/include/module.modulemap
  Tests/Configuration/SentryTests.xcconfig
  develop-docs/TEST.md
Due: format-swift, format-markdown

docs(changelog): Add entry for the split MetricKit PR
  CHANGELOG.md
Due: format-markdown

fix(metrickit): Isolate events from earlier runs
  CHANGELOG.md
  SentryTestUtils/Sources/TestClient.swift
  SentryTestUtils/SourcesObjC/SentryTestClientWrapper.m
  SentryTestUtils/SourcesObjC/include/SentryTestClientWrapper.h
  Sources/Sentry/SentryClient+Attachments.m
  Sources/Sentry/SentryClient+EventSending.m
  Sources/Sentry/SentryClient+SessionsAndCrashes.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryEvent+Private.h
  Sources/Swift/Core/MetricKit/SentryMXManager+Metadata.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerMetadataTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift, format-markdown

feat(breadcrumbs): extract child text for interactions
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
  Tests/SentryTests/Integrations/Breadcrumbs/SentryBreadcrumbTrackerTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
