Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

fix: Fix removing value from context not updating observer context
  CHANGELOG.md
  Sources/Sentry/SentryScope.m
  Tests/SentryTests/SentryScopeSwiftTests.swift
  Tests/SentryTests/SentryScopeTests.m
Due: format-swift, format-markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

change(profiling): deprecate old trace-and continuous profiling API (#4854)
  CHANGELOG.md
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentrySDK.h
Due: format-markdown

fix lint length violation
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
Due: format-swift

fix: profiling sampling only noncontinuous (#4955)
  Sources/Sentry/SentryHub.m
Due: none

test: disallow starting continuous profiler if SDK is closed
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
Due: format-swift

move warnings to top
  Sources/Sentry/Public/SentrySDK.h
Due: none

move to sdk tests and add more
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

add new tests like the old ones and add initial checks to start/stop methods
  Sources/Sentry/SentrySDK.m
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix: Correctly finish TTFD span when no new frame (#4941)
  CHANGELOG.md
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryTimeToDisplayTrackerTest.swift
Due: format-swift, format-markdown

feat: Send fatal app hang session updates (#4921)
  CHANGELOG.md
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryCrashIntegrationSessionHandler.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/SentryCrashIntegrationSessionHandler.h
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentrySDK+Private.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKIntegrationTestsBase.swift
  scripts/.clang-format-version
Due: format-swift, format-markdown

fix: Only delete envelopes when receiving HTTP 200 (#4956)
  CHANGELOG.md
  Sources/Sentry/SentryHttpTransport.m
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
Due: format-swift, format-markdown

fix: Set foreground true for watchdog terminations (#4953)
  CHANGELOG.md
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationsTrackerTests.swift
Due: format-swift, format-markdown

tests: Add test isolation and cleanup to Data tracing tests (#4951)
  Tests/SentryTests/Integrations/Performance/IO/DataSentryTracingIntegrationTests.swift
Due: format-swift

impr: Avoid creating unnecessary UI transactions (#4957)
  CHANGELOG.md
  Sources/Sentry/SentryUIEventTrackerTransactionMode.m
  Tests/SentryTests/Integrations/UIEvents/SentryUIEventTrackerTests.swift
Due: format-swift, format-markdown

feat: Send fatal app hang session updates (#4921)
  CHANGELOG.md
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryCrashIntegrationSessionHandler.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/SentryCrashIntegrationSessionHandler.h
  Sources/Sentry/include/SentryFileManager.h
  Sources/Sentry/include/SentryHub+Private.h
  Sources/Sentry/include/SentrySDK+Private.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKIntegrationTestsBase.swift
Due: format-swift, format-markdown

Format code
  Sources/Sentry/SentrySDK.m
Due: none

undo whitespace change
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix order of doc items
  Sources/Sentry/Public/SentrySDK.h
Due: none

fix changelog
  CHANGELOG.md
Due: format-markdown

fix formatting
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

add new tests like the old ones and add initial checks to start/stop methods
  Sources/Sentry/Public/SentrySDK.h
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift
