Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: Use DefaultTelemetryBufferDataForwardingTriggers for metrics buffer
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

chore: Clarify maxAppStartDuration comment (#7468)
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
Due: format-swift

ref: Use DefaultTelemetryBufferDataForwardingTriggers for metrics buffer (#7483)
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

ref: Remove isEnabled check from DefaultSentryMetricsTelemetryBuffer
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
Due: format-swift

ref: Remove isEnabled check from DefaultSentryMetricsTelemetryBuffer (#7484)
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
Due: format-swift

ref: Replace DefaultSentryMetricsTelemetryBuffer with DefaultTelemetryBuffer
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

ref: Route metrics through TelemetryProcessor pipeline
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Core/Integrations/FlushableIntegration.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryScheduler.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/TelemetryProcessor/SentryDefaultTelemetryProcessorTests.swift
Due: format-swift

feat: Add `make analyze-languages` to chart language trends over time
  .gitignore
  Makefile
  scripts/analyze-languages.sh
Due: none

fix: Add weak linkage for C++ ABI exception functions
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: none

feat: Use a runloop observer for watchdog termination tracking
  CHANGELOG.md
  Sources/Swift/HangTracker.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift, format-markdown

Add tests and comments
  Sources/Swift/HangTracker.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift

format + final review feedback
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
Due: format-markdown

format
  CHANGELOG.md
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
Due: format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

defensive fix, reset g_hasThreadStarted if pthread_create fails
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
Due: none

update comments
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashCachedData.h
  Tests/SentryTests/SentryCrash/SentryCrashCachedData_Tests.m
Due: none

chore: Add MCP server config for team
  .claude/settings.json
  .mcp.json
  .xcodebuildmcp/config.yaml
  AGENTS.md
Due: format-markdown, format-json

Update .mcp.json
  .mcp.json
Due: format-json

Update AGENTS.md
  AGENTS.md
Due: format-markdown

ref: Replace DefaultSentryMetricsTelemetryBuffer with DefaultTelemetryBuffer (#7485)
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

clenup con thread creation failure
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
Due: none

feat: Accept optional SINCE date for analyze-languages
  Makefile
  scripts/analyze-languages.sh
Due: none

fix: Resolve data race crash in monitorCachedData (#7423)
  CHANGELOG.md
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashCachedData.h
  Tests/SentryTests/SentryCrash/SentryCrashCachedData_Tests.m
  Tests/SentryTests/SentryCrash/TestThread.h
  Tests/SentryTests/SentryCrash/TestThread.m
Due: format-markdown

fix(metrics): Add missing spanId encoding to SentryMetric
  Sources/Swift/Protocol/SentryMetric.swift
  Tests/SentryTests/Protocol/SentryMetricTests.swift
Due: format-swift

ref: Clarify comments per review feedback
  Sources/Swift/Tools/TelemetryScopeApplier/TelemetryScopeApplier.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

feat: Add GitHub Actions workflow for language trends report
  .github/workflows/language-trends.yml
  develop-docs/README.md
  scripts/analyze-languages.sh
Due: format-markdown

test: Temporarily trigger language-trends on feature branch
  .github/workflows/language-trends.yml
Due: none

docs: Clarify how to download the language trends report
  develop-docs/README.md
Due: format-markdown

fix: Correct artifact filename to language-trends.html
  .github/workflows/language-trends.yml
  develop-docs/README.md
Due: format-markdown

ref: Rename workflow to analyze-language-trends.yml
  .github/workflows/analyze-language-trends.yml
  develop-docs/README.md
Due: format-markdown

ref: Run language trends analysis daily at 3 AM UTC
  .github/workflows/analyze-language-trends.yml
  develop-docs/README.md
Due: format-markdown

docs: Explain why fetch-depth: 0 is needed
  .github/workflows/analyze-language-trends.yml
Due: none

fix: Use origin/main when local main branch doesn't exist
  scripts/analyze-languages.sh
Due: none

test: Temporarily trigger on feature branch to test fix
  .github/workflows/analyze-language-trends.yml
Due: none

ref: Start language analysis from 2019 and remove temp branch trigger
  .github/workflows/analyze-language-trends.yml
  scripts/analyze-languages.sh
Due: none

docs: Clarify why analysis starts from 2019
  .github/workflows/analyze-language-trends.yml
  scripts/analyze-languages.sh
Due: none

feat: Deploy language trends report to GitHub Pages
  .github/workflows/analyze-language-trends.yml
  develop-docs/README.md
Due: format-markdown

ref: Rename step and fix outdated default comment
  .github/workflows/analyze-language-trends.yml
  scripts/analyze-languages.sh
Due: none

ref: Remove COCOA-1119 test for async logging scenario
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift
