Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

Add new files
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

Make class final
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
Due: format-swift

Fix objc function name
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

v9Config
  Sources/Configuration/DeploymentTargets.xcconfig
  Sources/Sentry/Public/SentryDefines.h
Due: none

Fix dispatch block in Swift
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

fix: Fix XCFramework version including commit sha on release
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: format-markdown

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

fix: mac sample searchpaths (#5491)
  Samples/Shared/Config/Linking.xcconfig
Due: none

fix: Fix XCFramework version including commit sha on release (#5493)
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/release.yml
  CHANGELOG.md
Due: format-markdown

chore: bump changelog
  CHANGELOG.md
Due: format-markdown

release: 8.53.1-alpha
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Samples/Shared/Config/Versioning.xcconfig
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

release: 8.53.1
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Samples/Shared/Config/Versioning.xcconfig
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

fix tests
  Tests/SentryTests/Helper/SentryLogTests.swift
Due: format-swift

Mark exceptions as fatal for macOS
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashExceptionApplicationHelper.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/include/SentrySDK+Private.h
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

chore: logging timestamp tweaks (#5480)
  Sources/Swift/Core/Tools/SentryLog.swift
  Tests/SentryTests/Helper/SentryLogTests.swift
Due: format-swift

Add more SPI
  Sources/Swift/Core/Integrations/ANR/SentryANRTrackerV2Delegate.swift
  Sources/Swift/Core/Integrations/ANR/SentryANRType.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesDelayResult.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryDefaultViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewScreenshotProvider.swift
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebBreadcrumbEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayRecording.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/SessionReplay/SentryTouchTracker.swift
  Sources/Swift/Integrations/SessionReplay/SentryVideoInfo.swift
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
Due: format-swift

Add more SPI (#5498)
  Sources/Swift/Core/Integrations/ANR/SentryANRTrackerV2Delegate.swift
  Sources/Swift/Core/Integrations/ANR/SentryANRType.swift
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesDelayResult.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryDefaultViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryRedactViewHelper.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewScreenshotProvider.swift
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebBreadcrumbEvent.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayRecording.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayDelegate.swift
  Sources/Swift/Integrations/SessionReplay/SentryTouchTracker.swift
  Sources/Swift/Integrations/SessionReplay/SentryVideoInfo.swift
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
Due: format-swift

test: Data race in testReportFullyDisplayed
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

pr review
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

chore: Add warning to 8.53.0
  CHANGELOG.md
Due: format-markdown

Use env vars in GH action run commands (#5485)
  .github/workflows/release-comment-issues.yml
  .github/workflows/release.yml
Due: none

Use vars in `ui-tests-common.yml` run commands
  .github/workflows/ui-tests-common.yml
Due: none

chore: Add warning to 8.53.0 (#5500)
  CHANGELOG.md
Due: format-markdown

remove cl entry
  CHANGELOG.md
Due: format-markdown

Remove added refernce to Core
  Sentry.xcodeproj/project.pbxproj
Due: none

change object version back to 55
  Sentry.xcodeproj/project.pbxproj
Due: none

V9 scheme
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/DeploymentTargets.xcconfig
Due: none

fix cl
  CHANGELOG.md
Due: format-markdown

cleanup
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessor.swift
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
Due: format-swift

format
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationContextProcessor.swift
Due: format-swift

Make dispatch queue wrapper public
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Integrations/UIEvents/SentryUIEventTrackerTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

Make dispatch queue wrapper public (#5504)
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Integrations/UIEvents/SentryUIEventTrackerTests.swift
  Tests/SentryTests/Transaction/SentryTracerTests.swift
Due: format-swift

ci: dry-run releases for non-dispatched workflows (ie PR check runs)
  .github/workflows/release.yml
Due: none

tests: Disable spotlight in UI tests
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
Due: format-swift

tests: Disable spotlight in UI tests (#5509)
  Samples/iOS-Swift/iOS-Swift-UITests/BaseUITest.swift
Due: format-swift

test: Data race in testReportFullyDisplayed (#5499)
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ci: Use xcrun for critical crash UI test
  .github/workflows/ui-tests-critical.yml
  Sentry.xcworkspace/contents.xcworkspacedata
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.xcodeproj/project.pbxproj
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/AccentColor.colorset/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/Assets.xcassets/Contents.json
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/ContentView.swift
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/SwiftUICrashTestApp.swift
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
Due: format-swift, format-json

fix
  .github/workflows/ui-tests-critical.yml
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
