Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

Enable `unswizzle` method only in test environments
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
Due: format-swift

Fix integration stop clearing tracker
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
Due: format-swift

fix: Ensure tracker is cleared when integration is stopped
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
  Sources/Sentry/include/SentryNSDataSwizzlingHelper.h
  Sources/Sentry/include/SentryNSFileManagerSwizzlingHelper.h
  Sources/Swift/Integrations/Performance/IO/SentryNSDataSwizzling.swift
  Sources/Swift/Integrations/Performance/IO/SentryNSFileManagerSwizzling.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
Due: format-swift

PR feedback
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerExtension.swift
Due: format-swift

Fix pragma pop location
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
Due: none

Fix project missing files
  Sentry.xcodeproj/project.pbxproj
Due: none

Fix UITest
  Samples/iOS-Swift/iOS-Swift/ViewControllers/ViewLifecycleTestViewController.swift
Due: format-swift

ref: Migrate SentryDebugImageProviderInternal to Swift (#7282)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDebugImageProviderInternal.m
  Sources/Sentry/include/SentryDebugImageProviderInternal.h
  Sources/Sentry/include/SentryFormatter.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/SentryCrash/SentryDebugImageProvider.swift
  Tests/SentryTests/Helper/SentryFormatterTests.swift
  Tests/SentryTests/SentryCrash/SentryDebugImageProviderTests.swift
Due: format-swift

Refactor UIViewController swizzling + add more tests
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Integrations/Performance/SentryPerformanceTrackingIntegration.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

fix: Ensure tracker is cleared when integration is stopped (#7295)
  Sources/Sentry/SentryNSDataSwizzlingHelper.m
  Sources/Sentry/SentryNSFileManagerSwizzlingHelper.m
  Sources/Sentry/include/SentryNSDataSwizzlingHelper.h
  Sources/Sentry/include/SentryNSFileManagerSwizzlingHelper.h
  Sources/Swift/Integrations/Performance/IO/SentryNSDataSwizzling.swift
  Sources/Swift/Integrations/Performance/IO/SentryNSFileManagerSwizzling.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingHelperTests.swift
Due: format-swift

chore: Fix Changelog
  CHANGELOG.md
Due: format-markdown

chore: Fix Changelog (#7300)
  CHANGELOG.md
Due: format-markdown

release: 9.3.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

fix: Add SPI import to SentryByteCountFormatterTests
  Tests/SentryTests/Helper/SentryByteCountFormatterTests.swift
Due: format-swift

ref: Migrate SentryDebugImageProviderInternal to Swift (#7282)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/NSLocale+Sentry.m
  Sources/Sentry/SentryByteCountFormatter.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryFileIOTrackerHelper.m
  Sources/Sentry/include/NSLocale+Sentry.h
  Sources/Sentry/include/SentryByteCountFormatter.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Helper/SentryByteCountFormatter.swift
  Sources/Swift/Core/Helper/SentryLocale.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationObjCTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Migrate code to swift (#7297)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/NSLocale+Sentry.m
  Sources/Sentry/SentryByteCountFormatter.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryFileIOTrackerHelper.m
  Sources/Sentry/include/NSLocale+Sentry.h
  Sources/Sentry/include/SentryByteCountFormatter.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Helper/SentryByteCountFormatter.swift
  Sources/Swift/Core/Helper/SentryLocale.swift
  Tests/SentryTests/Helper/SentryByteCountFormatterTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationObjCTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Remove unnecessary @objcMembers and @objc annotations
  Sources/Swift/Core/Integrations/ANR/SentryANRTrackerV2Delegate.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryDefaultViewRenderer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewRendererV2.swift
  Sources/Swift/Protocol/SentryLog.swift
Due: format-swift

refactor: Convert `SentryCoreDataTrackingIntegration` to Swift (#7255)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryCoreDataSwizzling.m
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Sentry/SentryCoreDataTrackingIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryCoreDataSwizzling.h
  Sources/Sentry/include/SentryCoreDataSwizzlingHelper.h
  Sources/Sentry/include/SentryCoreDataTracker.h
  Sources/Sentry/include/SentryCoreDataTrackingIntegration.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataSwizzling.swift
  Sources/Swift/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTracker+Test.h
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerExtension.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerTest.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackingIntegrationTest.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Use same loop than ObjC (just in case)
  Sources/Sentry/SentryCoreDataSwizzlingHelper.m
  Sources/Swift/Core/Integrations/Performance/SentrySubClassFinder.swift
Due: format-swift

Minor improvements
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

ref: Migrate SentryInstallation to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryInstallation.m
  Sources/Sentry/include/SentryInstallation.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/SentryInstallation.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/State/SentryInstallation+Test.h
  Tests/SentryTests/State/SentryInstallationTests.swift
Due: format-swift

ref: Convert `SentryAppStartTrackingIntegration` to swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppStartTrackerHelper.m
  Sources/Sentry/SentryAppStartTrackingIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentryAppStartTracker.h
  Sources/Sentry/include/SentryAppStartTrackerHelper.h
  Sources/Sentry/include/SentryAppStartTrackingIntegration.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/Integrations/Integrations.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTracker.swift
  Sources/Swift/Integrations/AppStartTracking/SentryAppStartTrackingIntegration.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Remove `Dynamic` use
  Sources/Swift/Core/Integrations/FramesTracking/SentryFramesTracker.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

test: add test filtering for faster iteration
  AGENTS.md
  Makefile
  scripts/sentry-xcodebuild.sh
Due: format-markdown

ref: rename TEST to ONLY_TESTING to align with xcode
  AGENTS.md
  Makefile
  scripts/sentry-xcodebuild.sh
Due: format-markdown

ref: add -T short option for --only-testing parameter
  scripts/sentry-xcodebuild.sh
Due: none

ref: rename EXTRA_ARGS to ONLY_TESTING_ARG and -T to -ot
  Makefile
  scripts/sentry-xcodebuild.sh
Due: none

ref: Extract scope logic from telemetry buffers
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsBuffer.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Sources/Swift/Tools/SentryScopeApplier.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBuffer.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferMetadata.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferScope.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferScopeTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferTests.swift
Due: format-swift

ref: remove -ot short option to avoid confusion
  scripts/sentry-xcodebuild.sh
Due: none

ref: simplify Makefile by removing duplicated conditional logic
  Makefile
Due: none

cleanup
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryScopeApplier.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsBufferTests.swift
  Tests/SentryTests/SentryLogBufferTests.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferScopeTests.swift
Due: format-swift

test: Agents.md run subset of tests for fast iteration (#7313)
  AGENTS.md
  Makefile
  scripts/sentry-xcodebuild.sh
Due: format-markdown

ref: Rename protocols and merge SentryScopeApplier
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryScopeApplier.swift
  Sources/Swift/Tools/TelemetryBuffer/TelemetryBufferScope.swift
  Tests/SentryTests/TelemetryBuffer/TelemetryBufferScopeTests.swift
Due: format-swift

ref: Add applyScope toMetric back to protocol
  Sources/Sentry/SentryClient.m
  Sources/Swift/Tools/SentryScopeApplier.swift
Due: format-swift

ref: Split scope applier into separate protocols for ObjC and Swift
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryScopeApplier.swift
Due: format-swift

ref: Make installationId lazy to avoid file I/O on calling thread
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Tools/SentryScopeApplier.swift
Due: format-swift

Apply PR feedback
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Tools/SentryDispatchFactory.swift
  Sources/Swift/Tools/SentryLogBuffer.swift
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.m
Due: format-swift

Remove URL and use file path
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
Due: format-swift

WIP
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestSentryDispatchSemaphore.swift
  Sources/Swift/Core/Integrations/ANR/SentryHangTracker.swift
  Sources/Swift/HangTracker.swift
  Sources/Swift/Helper/SentryDispatchSemaphore.swift
  Sources/Swift/Integrations/WatchdogTerminations/SentryWatchdogTerminationHangTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackerTestHelpers.swift
  Tests/SentryTests/Integrations/ANR/SentryHangTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationSwiftTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift, format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
