Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

Use GNU17
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/Sentry.xcconfig
Due: none

Restore xcconfig changes
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/Sentry.xcconfig
Due: none

Remove GCC_C_LANGUAGE_STANDARD
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/Sentry.xcconfig
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

Update tests to check building with both package files
  .github/workflows/release.yml
Due: none

Only delete newer package files
  .github/workflows/release.yml
Due: none

ci: Lint Package.swift differences on CI
  .github/workflows/lint-package-diff.yml
  .gitignore
  Makefile
  Utils/expected_package_diff.patch
Due: none

Update job name
  .github/workflows/lint-package-diff.yml
Due: none

Rename job to `Check` instead of `Lint`
  .github/workflows/check-package-diff.yml
Due: none

Update trigger path in check-package-diff workflow to match package file naming convention
  .github/workflows/check-package-diff.yml
Due: none

Add error message if check fails
  Makefile
  Utils/expected_package_diff.patch
Due: none

Update message
  Makefile
Due: none

Remove change in Changelog
  CHANGELOG.md
Due: format-markdown

ci: Fix location of VC inspector being behind another button
  Samples/iOS-Swift/iOS-Swift/Tools/TopViewControllerInspector.swift
Due: format-swift

ci: Fix location of VC inspector being behind another button (#5973)
  Samples/iOS-Swift/iOS-Swift/Tools/TopViewControllerInspector.swift
Due: format-swift

meta: Add comment explaining why the crash was moved to onAppear (#5899)
  TestSamples/SwiftUICrashTest/SwiftUICrashTest/SwiftUICrashTestApp.swift
Due: format-swift

ci: Set device used for `ui_tests_ios_swift6`
  .github/workflows/ui-tests.yml
Due: none

Bump Xcode to 16.4
  .github/workflows/ui-tests.yml
Due: none

ci: Check Package.swift differences on CI (#5854)
  .github/workflows/check-package-diff.yml
  .gitignore
  Makefile
  Utils/expected_package_diff.patch
Due: none

ci: Bump Xcode & set device used for `ui_tests_ios_swift6` (#5976)
  .github/workflows/ui-tests.yml
Due: none

PR feedback
  CHANGELOG.md
Due: format-markdown

Create character set only once
  Sources/Swift/Core/Helper/SentryBaggageSerialization.swift
Due: format-swift

Convert SentryAppState to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/TestFileManager.swift
  SentryTestUtilsTests/TestFileManagerTests.swift
  Sources/Sentry/SentryAppStartTracker.m
  Sources/Sentry/SentryAppState.m
  Sources/Sentry/SentryAppStateManager.m
  Sources/Sentry/SentryFileManager.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentryWatchdogTerminationLogic.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/SentryAppState.h
  Sources/Swift/SentryAppState.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Helper/SentryAppStateTests.swift
  Tests/SentryTests/Protocol/SentryAppState+Equality.h
  Tests/SentryTests/Protocol/TestData.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

ref: Convert SentryInAppLogic to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryBinaryImageCache.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryCrashReportConverter.m
  Sources/Sentry/SentryCrashStackEntryMapper.m
  Sources/Sentry/SentryInAppLogic.m
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Sentry/SentryThreadInspector.m
  Sources/Sentry/SentryUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/SentryUseNSExceptionCallstackWrapper.m
  Sources/Sentry/include/SentryInAppLogic.h
  Sources/Swift/Core/Helper/SentryInAppLogic.swift
  Tests/SentryTests/SentryCrash/SentryCrashReportSinkTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashStackEntryMapperTests.swift
  Tests/SentryTests/SentryCrash/SentryInAppLogicTests.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
  Tests/SentryTests/SentryCrash/TestThreadInspector.swift
  Tests/SentryTests/SentryKSCrashReportConverterTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

PR feedback
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryCrash/SentryUIDeviceWrapperTests.swift
Due: format-swift

ref: Convert SentryUIDevice to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/SentryTestUtils-ObjC-BridgingHeader.h
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryExtraContextProvider.h
  Sources/Sentry/SentryExtraContextProvider.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentryUIDeviceWrapper.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryUIDeviceWrapper.h
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryCrash/SentryUIDeviceWrapperTests.swift
  Tests/SentryTests/SentryCrash/TestSentryUIDeviceWrapper.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix: Race condition in SentryApplication and Swift implementation
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryCrashIntegration.m
  Sources/Sentry/SentryCrashWrapper.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryNSApplication.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/SentryUIApplication.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/SentryViewHierarchyProvider.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryApplication.h
  Sources/Sentry/include/SentryNSApplication.h
  Sources/Sentry/include/SentryUIApplication.h
  Sources/Swift/Helper/SentryApplication+UIKit.swift
  Sources/Swift/Helper/SentryApplication.swift
  Sources/Swift/Helper/ThreadSafeApplication.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryScreenShotTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/SentryUIApplication+Private.h
  Tests/SentryTests/SentryUIApplicationTests.swift
  Tests/SentryTests/SentryViewHierarchyProviderTests.swift
  Tests/SentryTests/TestSentryNSApplication.swift
  Tests/SentryTests/TestSentryUIApplication.swift
Due: format-swift

feat: Replace `user.ipAddress = {{auto}}` with a new settings.infer_ip property in the sdk metadata
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentrySDKSettings.m
  Sources/Sentry/SentrySdkInfo.m
  Sources/Sentry/include/SentrySDKSettings.h
  Sources/Sentry/include/SentrySdkInfo.h
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
  Tests/SentryTests/Networking/SentryNSURLRequestBuilderTests.swift
  Tests/SentryTests/Protocol/SentryEnvelopeTests.swift
  Tests/SentryTests/Protocol/SentrySDKSettings+Equality.h
  Tests/SentryTests/Protocol/SentrySDKSettings+Equality.m
  Tests/SentryTests/Protocol/SentrySDKSettingsTests.swift
  Tests/SentryTests/Protocol/SentrySdkInfo+Equality.m
  Tests/SentryTests/Protocol/SentrySdkInfoNilTests.m
  Tests/SentryTests/Protocol/SentrySdkInfoTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

Use `SENTRY_UNWRAP_NULLABLE` to cast var
  Tests/SentryTests/Protocol/SentrySDKSettings+Equality.m
Due: none

Move script to a file
  .github/workflows/release.yml
  scripts/generate_release_matrix.sh
Due: none

ci: Reduce number of variants built on PRs
  .github/workflows/release.yml
Due: none

Use env variable for github output
  .github/workflows/release.yml
Due: none

Use echo
  .github/workflows/release.yml
Due: none

Pass sdklist to assemble xcframework
  .github/workflows/release.yml
  scripts/generate_release_matrix.sh
Due: none

Checkout code
  .github/workflows/release.yml
Due: none

Update file permissions
  scripts/generate_release_matrix.sh
Due: none

Add script to release.yml trigger
  .github/workflows/release.yml
Due: none

Fix variable name
  .github/workflows/release.yml
Due: none

Add SentrySwiftUI to build list
  scripts/generate_release_matrix.sh
Due: none

Build `Sentry-Dynamic`
  scripts/generate_release_matrix.sh
Due: none
