Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

update to correct version
  Sources/Configuration/Versioning.xcconfig
Due: none

fix bad merge conflict resolution
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/Shared/Config/Versioning.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
Due: none

rerun workflow on changes
  .github/workflows/ui-tests.yml
Due: none

add current project version back
  Samples/Shared/Config/Versioning.xcconfig
Due: none

fix(testflight): generate project, and use correct path
  .github/workflows/testflight.yml
  fastlane/Fastfile
Due: none

ci: ios swftui xcodegen (#5166)
  .github/workflows/ui-tests.yml
  .gitignore
  Makefile
  Plans/iOS-SwiftUI_Base.xctestplan
  Samples/Shared/LoremIpsum.txt
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcodeproj/project.pbxproj
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcodeproj/xcshareddata/xcschemes/iOS-SwiftUI.xcscheme
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/Versioning.xcconfig
Due: none

fix more paths
  fastlane/Fastfile
Due: none

ci: ios15 swiftui xcodegen (#5167)
  .gitignore
  Makefile
  Plans/iOS15-SwiftUI.xctestplan
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcodeproj/project.pbxproj
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcodeproj/xcshareddata/xcschemes/iOS15-SwiftUI.xcscheme
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/Info.plist
  Sentry.xcodeproj/project.pbxproj
Due: none

fix infoplist paths
  fastlane/Fastfile
Due: none

fill in missing infoplist stuff
  Samples/visionOS-Swift/visionOS-Swift/Info.plist
Due: none

ci: visionos swift xcodegen (#5168)
  .gitignore
  Makefile
  Plans/visionOS-Swift_Base.xctestplan
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.xcodeproj/project.pbxproj
  Samples/visionOS-Swift/visionOS-Swift.xcodeproj/xcshareddata/xcschemes/visionOS-Swift.xcscheme
  Samples/visionOS-Swift/visionOS-Swift.yml
  Samples/visionOS-Swift/visionOS-Swift/Info.plist
  Samples/visionOS-Swift/visionOS-Swift/LoremIpsum.txt
  Sentry.xcodeproj/project.pbxproj
Due: none

Update .github/workflows/testflight.yml
  .github/workflows/testflight.yml
Due: none

ci: macos swiftui xcodegen (#5169)
  .gitignore
  Makefile
  Samples/SampleAssets.xcassets/AppIcon.appiconset/128 1.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/16 1.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/256 1.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/256 2.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/32 1.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/32 2.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/512 1.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/512 2.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/64.png
  Samples/SampleAssets.xcassets/AppIcon.appiconset/Contents.json
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/1024 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/128 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/16 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/256 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/256 2.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/32 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/32 2.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/512 1.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/512 2.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/64.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/Contents.json
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/macOS-SwiftUI/Info.plist
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcconfig
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/xcshareddata/xcschemes/macOS-SwiftUI.xcscheme
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI/Info.plist
  Sentry.xcodeproj/project.pbxproj
Due: format-json

ci: macos swift xcodegen (#5170)
  .gitignore
  Makefile
  Samples/macOS-Swift/Shared/CppWrapper.mm
  Samples/macOS-Swift/Shared/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcodeproj/project.pbxproj
  Samples/macOS-Swift/macOS-Swift.xcodeproj/xcshareddata/xcschemes/macOS-Swift.xcscheme
  Samples/macOS-Swift/macOS-Swift.yml
  Sentry.xcodeproj/project.pbxproj
Due: none

fix(testflight): generate project, and use correct path (#5188)
  .github/workflows/testflight.yml
  fastlane/Fastfile
Due: none

fix ui test steps
  .github/workflows/ui-tests.yml
Due: none

Format code
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: none

remove macos xcscheme
  Samples/macOS-Swift/macOS-Swift.xcodeproj/xcshareddata/xcschemes/macOS-Swift.xcscheme
Due: none

ci: ios objectivec xcodegen (#5171)
  .github/workflows/ui-tests.yml
  .gitignore
  Makefile
  Plans/iOS-ObjectiveC_Base.xctestplan
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests/Info.plist
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/project.pbxproj
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/xcshareddata/xcschemes/iOS-ObjectiveC.xcscheme
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  Sentry.xcodeproj/project.pbxproj
Due: format-swift

test: Add more CppExceptions to macOS sample
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/CppSample.cpp
  Samples/macOS-Swift/Shared/CppSample.hpp
  Samples/macOS-Swift/Shared/CppWrapper.h
  Samples/macOS-Swift/Shared/CppWrapper.mm
  Samples/macOS-Swift/Shared/ViewController.swift
Due: format-swift

fix: Reporting unhandled C++ exception message
  CHANGELOG.md
  Samples/macOS-Swift/Shared/CppSample.cpp
  Sources/Sentry/SentryCrashReportConverter.m
  Tests/SentryTests/SentryKSCrashReportConverterTests.m
Due: format-markdown

ci: Run UI Tests for SwiftUI with Xcode 16
  .github/workflows/ui-tests.yml
Due: none

ci: Run UI Tests for SwiftUI with Xcode 16 (#5191)
  .github/workflows/ui-tests.yml
Due: none

chore: Fix VersionBump Util
  Utils/VersionBump/main.swift
Due: format-swift

test: Add more CppExceptions to macOS sample (#5189)
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/CppSample.cpp
  Samples/macOS-Swift/Shared/CppSample.hpp
  Samples/macOS-Swift/Shared/CppWrapper.h
  Samples/macOS-Swift/Shared/CppWrapper.mm
  Samples/macOS-Swift/Shared/ViewController.swift
Due: format-swift

fix
  Utils/VersionBump/main.swift
Due: format-swift

more fixes
  Utils/VersionBump/main.swift
Due: format-swift

chore: Fix version in Versioning.xcconfig
  Sources/Configuration/Versioning.xcconfig
Due: none

chore: Fix version in Versioning.xcconfig (#5194)
  Sources/Configuration/Versioning.xcconfig
Due: none

chore: Fix VersionBump Util (#5192)
  Utils/VersionBump/main.swift
Due: format-swift

ci: Remove CameraTest xcconfig from version bump
  .github/workflows/version-bump-util.yml
  Utils/VersionBump/main.swift
Due: format-swift

break it
  Utils/VersionBump/main.swift
Due: format-swift

fix it again
  Utils/VersionBump/main.swift
Due: format-swift

WIP
  Sources/Sentry/SentryDependencyContainerInternalBridge.m
  Sources/Sentry/include/SentryDependencyContainerInternalBridge.h
  Sources/SentrySwiftUI/SentryInternal/SentryInternal.h
  Sources/SentrySwiftUI/SentryTracedView.swift
  Tests/SentrySwiftUITests/SentryTraceViewModelTest.swift
Due: format-swift

ci: watchos swift xcodegen (#5180)
  .gitignore
  Makefile
  Plans/watchOS-Swift-WatchKit-App_Base.xctestplan
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/1024 2.png
  Samples/Shared/SampleAssets.xcassets/AppIcon.appiconset/Contents.json
  Samples/watchOS-Swift/watchOS-Swift WatchKit App/Base.lproj/Interface.storyboard
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
  Samples/watchOS-Swift/watchOS-Swift.xcodeproj/project.pbxproj
  Samples/watchOS-Swift/watchOS-Swift.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Samples/watchOS-Swift/watchOS-Swift.xcodeproj/xcshareddata/xcschemes/watchOS-Swift WatchKit App.xcscheme
  Samples/watchOS-Swift/watchOS-Swift.yml
  Sentry.xcodeproj/project.pbxproj
Due: format-json

updates and fixes after merge
  Samples/SentrySampleShared/SentrySampleShared.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-Swift/iOS-Swift.yml
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS13-Swift/iOS13-Swift.xcconfig
  Samples/iOS13-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS13-Swift/iOS13-Swift/MainViewController.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/macOS-Swift/Shared/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
Due: format-swift

wip with scripts to build all sample apps in one command
  .build-sample-apps.tmuxinator.yml
  Brewfile
  Makefile
  scripts/build-sample-apps.sh
Due: none

clean up configs
  Samples/SessionReplay-CameraTest/Config/Architectures.xcconfig
  Samples/SessionReplay-CameraTest/Config/AssetCatalog.xcconfig
  Samples/SessionReplay-CameraTest/Config/BuildOptions.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangAnalyzer.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangCppLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangModules.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangObjCLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangPreprocessing.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarnings.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsCpp.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsObjC.xcconfig
  Samples/SessionReplay-CameraTest/Config/CodeGeneration.xcconfig
  Samples/SessionReplay-CameraTest/Config/Deployment.xcconfig
  Samples/SessionReplay-CameraTest/Config/Linking.xcconfig
  Samples/SessionReplay-CameraTest/Config/Localization.xcconfig
  Samples/SessionReplay-CameraTest/Config/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Config/SearchPaths.xcconfig
  Samples/SessionReplay-CameraTest/Config/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Config/Signing.xcconfig
  Samples/SessionReplay-CameraTest/Config/Swift.xcconfig
  Samples/SessionReplay-CameraTest/Config/Versioning.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/macOS-Swift/Shared/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
Due: none

Update .github/workflows/version-bump-util.yml
  .github/workflows/version-bump-util.yml
Due: none
