Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

chore(ci): Add UI testing for iOS 26.0
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

chore: Add share extension target to sample iOS-Swift (#5812)
  .github/workflows/build.yml
  .gitignore
  Samples/iOS-Swift/iOS-Swift-ShareExtension.xcconfig
  Samples/iOS-Swift/iOS-Swift-ShareExtension/Base.lproj/MainInterface.storyboard
  Samples/iOS-Swift/iOS-Swift-ShareExtension/Info.plist
  Samples/iOS-Swift/iOS-Swift-ShareExtension/ShareViewController.swift
  Samples/iOS-Swift/iOS-Swift.yml
  fastlane/Fastfile
Due: format-swift

add missing arguments
  .github/workflows/ui-tests.yml
Due: none

remove fastlane extra args
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests.yml
Due: none

small fixes
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

small fixes
  .github/workflows/ui-tests-critical.yml
Due: none

add missing parameter
  .github/workflows/ui-tests-critical.yml
Due: none

apply feedback from PR review
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
Due: none

chore(ci): Add UI testing for iOS 26.0 (#6122)
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

increase timeout to 10
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
Due: format-swift

fix(session-replay): Add exemption for CameraUI traversal for iOS 26.0 (#6045)
  CHANGELOG.md
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/Info.plist
  Sources/Swift/Core/Tools/ViewCapture/SentryUIRedactBuilder.swift
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests.swift
Due: format-swift, format-markdown

fix: Replace string literal with NSData for newline in breadcrumb processor
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
Due: none

fix: Add null checks for envelope item data in session migration and serialization
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentrySerialization.m
  Tests/SentryTests/Helper/SentryMigrateSessionInitTests.m
  Tests/SentryTests/Helper/SentryMigrateSessionInitTests.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift

fix: Always execute async even if called from main thread
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Update changelog number
  CHANGELOG.md
Due: format-markdown

ci: Test with static lib
  Sources/Configuration/SDK.xcconfig
  TestSamples/SwiftUICrashTest/test-crash-and-relaunch.sh
  fastlane/Fastfile
Due: none

Rename old method to `dispatchAsyncOnMainQueueIfNotMainThread` to reflect the behavior
  SentryTestUtils/TestSentryDispatchQueueWrapper.swift
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfilerState.mm
  Sources/Sentry/Profiling/SentryProfilingSwiftHelpers.m
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Sources/Sentry/SentryANRTrackerV1.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/SentrySubClassFinder.m
  Sources/Sentry/SentryTimeToDisplayTracker.m
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/SentryProfilingSwiftHelpers.h
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Core/Helper/SentryUIDeviceWrapper.swift
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
Due: format-swift

Remove `SENTRY_HAS_REACHABILITY` macro and enable SentryReachability to all platforms
  Sources/Sentry/Public/SentryDefines.h
  Sources/Sentry/SentryBreadcrumbTracker.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Networking/SentryReachability.swift
Due: format-swift

Fix comment placement
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

PR review fixes
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
Due: format-swift

Fix build
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

ci: Run unit tests on macOS, catalyst, tvOS 26
  .github/workflows/test.yml
Due: none

also skip install
  .github/workflows/test.yml
Due: none

fix apple tv
  .github/workflows/test.yml
Due: none

improve assert of testShouldRemoveAttachmentsFromEventEnvelope
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
Due: format-swift

fix(ui-tests): Fix duplicate accessibility identifiers
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Samples/iOS-Swift/iOS-Swift-UITests/ViewLifecycleUITests.swift
  Samples/iOS-Swift/iOS-Swift-UITests/XCTest+Delay.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
Due: format-swift

Add testing guidelines document
  .cursor/rules/testing.md
Due: format-markdown

refactor: Add nullability-handling to SentryMsgPackSerializer with converted tests
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryMsgPackSerializer.m
  Sources/Sentry/include/SentryMsgPackSerializer.h
  Tests/SentryTests/SentryMsgPackSerializerTests.m
  Tests/SentryTests/SentryMsgPackSerializerTests.swift
Due: format-swift

fix: Replace string literal with NSData for newline in breadcrumb processor (#6127)
  Sources/Sentry/Processors/SentryWatchdogTerminationBreadcrumbProcessor.m
Due: none

Fix tests on macOS catalyst
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
Due: format-swift

remove redundant wait
  Samples/iOS-Swift/iOS-Swift-UITests/ViewLifecycleUITests.swift
Due: format-swift

test: Remove duplicate bridging headers
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

chore: Fix minor typos for dispatch queue wrapper
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

chore: Fix minor typos for dispatch queue wrapper (#6146)
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
Due: format-swift

Add availabiltiy check and skip
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

fix(ui-tests): Fix duplicate accessibility identifiers and camera crashes (#6138)
  Samples/iOS-Swift/iOS-Swift-UITests/SessionReplayUITests.swift
  Samples/iOS-Swift/iOS-Swift-UITests/XCTest+Delay.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

lint
  Sources/Sentry/SentrySDKInternal.m
Due: none

PR comments
  CHANGELOG.md
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDKInternal.m
Due: format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
