Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix(objc): publish V10 profile headers
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SentryObjC.xcconfig
  Sources/SentryObjC/Public/SentryObjC.modulemap
Due: none

fix: address a TOCTOU issue by centralizing (most) of the logic from SentrySDK.start(with:) to +[SentrySDKInternal startWithOptions:]
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

ci: add changelog duplicate section check
  .github/file-filters.yml
  .github/workflows/lint-changelog.yml
  .markdownlint-cli2.jsonc
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  scripts/check-changelog.sh
  scripts/markdownlint/changelog-no-duplicate-sections.cjs
  scripts/markdownlint/changelog-no-duplicate-sections.test.cjs
Due: format-markdown

fix(samples): match v9 watchOS V10 xcodebuild
  Makefile
Due: none

test: Stabilize profiling integration tests
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiIntegrationTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
Due: format-swift

ci: run changelog check in make lint
  Makefile
Due: none

docs: merge duplicate changelog sections
  CHANGELOG.md
Due: format-markdown

fix: appease dprint
  .markdownlint-cli2.jsonc
Due: none

fix(test): Gate profiler helper by platform
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
Due: format-swift

test: Stabilize profiling integration tests (#8931)
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiIntegrationTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
Due: format-swift

ref: Refactor MetricKit diagnostics
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

ci(samples): restore unpaired watchOS destination
  Makefile
  scripts/resolve-test-destination.sh
Due: none

ref: Use internal MetricKit logger
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
Due: format-swift

fix: Allow start reinit with a warning
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

fix: remove unused hasStarted
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDKInternal.h
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

fix: Synchronize trace profiler getter
  Sources/Sentry/Profiling/SentryTraceProfiler.mm
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
Due: format-swift

docs: Add trace profiler fix changelog
  CHANGELOG.md
Due: format-markdown

feat(objc): expose profiling on SentryObjCOptions
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCProfileLifecycle.h
  Sources/SentryObjC/Public/SentryObjCProfileOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCProfileLifecycle.swift
  Sources/SentryObjCCompat/SentryObjCProfileOptions.swift
  sdk_api_objc.diff.json
  sdk_api_objc.json
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

chore: add PR number to changelog
  CHANGELOG.md
Due: format-markdown

chore: drop duplicate ObjC profiling changelog
  CHANGELOG.md
Due: format-markdown

chore(objc): restore docs and API from origin/main
  Sources/SentryObjC/Public/SentryObjCOptions.h
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: none

fix: Isolate macOS sample plist updates
  Samples/macOS-Swift/macOS-Swift.yml
Due: none

test: Harden trace profiler lock test
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
Due: format-swift

test: Stabilize concurrent hub captures
  Tests/SentryTests/SentryHubTests.swift
Due: format-swift

test(samples): Improve MetricKit diagnostics
  .gitignore
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/MetricKitViewController.swift
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

fix: Avoid recursive view loading
  CHANGELOG.md
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
  Tests/SentryTests/TestSentryUIApplication.swift
Due: format-swift, format-markdown

feat: add Hints API for beforeSend callbacks
  .claude/artifacts/hints-api-analysis.html
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCHint.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCHint.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Options.swift
  Sources/Swift/Protocol/SentryHint.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/Protocol/SentryHintTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

docs: add changelog entry for Hints API
  .claude/artifacts/hints-api-analysis.html
  CHANGELOG.md
Due: format-markdown

Update changelog
  CHANGELOG.md
Due: format-markdown

ref: Refactor MetricKit diagnostics (#8934)
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Sources/Swift/Core/MetricKit/SentryMetricKitIntegration.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

ci: install markdownlint-cli2 via Homebrew
  .github/file-filters.yml
  .github/workflows/lint-changelog.yml
  Brewfile
  Makefile
  scripts/check-changelog.sh
Due: none

ci: pick unpaired watchOS simulators
  scripts/resolve-test-destination.sh
Due: none

impr: Deprecate App Hang tracking
  CHANGELOG.md
  SentryTestUtils/Sources/TestOptions.swift
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjC/Public/SentryObjCSDK.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/SentryObjCCompat/SentryObjCSDK.swift
  Sources/Swift/Helper/SentrySDK.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryObjCTests/SentryObjCExperimentalOptionsTests.m
  Tests/SentryObjCTests/SentryObjCInternalPerformanceApiIntegrationTests.m
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryObjCTests/SentryObjCSDKTests.m
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/Integrations/AppHangTracking/SentryHangTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  sdk_api.json
Due: format-swift, format-markdown

docs: Correct changelog PR reference
  CHANGELOG.md
Due: format-markdown

docs: Move changelog entry to Unreleased
  CHANGELOG.md
Due: format-markdown

build(samples): set V10 traits with yq
  Makefile
  scripts/set-xcode-project-traits.py
  scripts/set-xcodegen-package-traits.sh
Due: none

fix: Preserve App Hang timeout in test options
  SentryTestUtils/Sources/TestOptions.swift
  SentryTestUtilsTests/Sources/TestConstantTests.swift
Due: format-swift

impr: Remove deprecated App Hang tracking tests
  SentryTestUtilsTests/Sources/TestConstantTests.swift
Due: format-swift

test: Fix watchdog tests for v10
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
Due: format-swift

feat: Warn on duplicate SDK start (#8928)
  CHANGELOG.md
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/SentrySDKInternal.h
  Sources/Swift/Helper/SentrySDK.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
