Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

Remove watchOS tests
  .github/workflows/nightly-test.yml
Due: none

chore: Fix watchOS tests and add them to nightly job
  .github/workflows/nightly-test.yml
  Makefile
  SentryTestUtils/Sources/TestNSNotificationCenterWrapper.swift
  Sources/Sentry/SentryDevice.m
  Tests/SentryTests/Helper/SentryDeviceTests.m
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParser.swift
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParserTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashCPU_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_Signal_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKThreadTests.swift
  Tests/SentryTests/TestSentryUIApplication.swift
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

Skip test on watchOS
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
Due: format-swift

Add `throws`
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
Due: format-swift

feat: Use full flamegraph for metrickit app hangs
  CHANGELOG.md
  Sources/Sentry/Public/SentryFrame.h
  Sources/Sentry/SentryFrame.m
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  sdk_api.json
Due: format-swift, format-markdown

fix: Support test apps in dev environments (#7624)
  Samples/iOS-SwiftUI/iOS-SwiftUI/Info.plist
Due: none

PR feedback
  Sources/Sentry/Public/SentryFrame.h
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift

feat: Use full flamegraph for metrickit app hangs (#7185)
  CHANGELOG.md
  Sources/Sentry/Public/SentryFrame.h
  Sources/Sentry/SentryFrame.m
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree+Parsing.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
  sdk_api.json
Due: format-swift, format-markdown

test: Fix flaky HangTracker deallocated test
  Sources/Swift/HangTracker.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift

ref(feedback): simplify deinit shake cleanup
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
Due: format-swift

ref: Revert changes to already-merged samples
  Samples/visionOS-SwiftUI-SPM/visionOS-SwiftUI-SPM.yml
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

ref(samples): Restructure SPM sample
  Samples/SPM/App/Configurations/Info.plist
  Samples/SPM/App/Configurations/SPM.entitlements
  Samples/SPM/App/Configurations/SPM.xcconfig
  Samples/SPM/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/Contents.json
  Samples/SPM/App/Sources/ContentView.swift
  Samples/SPM/App/Sources/SPMTestApp.swift
  Samples/SPM/SPM.yml
Due: format-swift, format-json

ref(samples): Restructure SDK-Size sample
  Samples/SDK-Size/App/Configurations/Info.plist
  Samples/SDK-Size/App/Configurations/SDK-Size.entitlements
  Samples/SDK-Size/App/Configurations/SDK-Size.xcconfig
  Samples/SDK-Size/App/Sources/App.swift
  Samples/SDK-Size/App/Sources/ContentView.swift
  Samples/SDK-Size/SDK-Size.yml
Due: format-swift

ref(samples): Restructure DistributionSample sample
  Samples/DistributionSample/App/Configurations/.gitkeep
  Samples/DistributionSample/App/Configurations/DistributionSample.xcconfig
  Samples/DistributionSample/App/Configurations/Info.plist
  Samples/DistributionSample/App/Resources/.gitkeep
  Samples/DistributionSample/App/Sources/App.swift
  Samples/DistributionSample/App/Sources/Constants.swift
  Samples/DistributionSample/App/Sources/ContentView.swift
  Samples/DistributionSample/App/Sources/UpdateUtil.swift
  Samples/DistributionSample/DistributionSample.yml
Due: format-swift

ref(samples): Restructure SessionReplay-CameraTest sample
  Samples/SessionReplay-CameraTest/Configurations/Info.plist
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
Due: format-json

ref(samples): Restructure SDK-Size sample (#7645)
  Samples/SDK-Size/App/Configurations/Info.plist
  Samples/SDK-Size/App/Configurations/SDK-Size.entitlements
  Samples/SDK-Size/App/Configurations/SDK-Size.xcconfig
  Samples/SDK-Size/App/Sources/App.swift
  Samples/SDK-Size/App/Sources/ContentView.swift
  Samples/SDK-Size/SDK-Size.yml
Due: format-swift

ref(samples): Restructure SPM sample (#7644)
  Samples/SPM/App/Configurations/Info.plist
  Samples/SPM/App/Configurations/SPM.entitlements
  Samples/SPM/App/Configurations/SPM.xcconfig
  Samples/SPM/App/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SPM/App/Resources/Assets.xcassets/Contents.json
  Samples/SPM/App/Sources/ContentView.swift
  Samples/SPM/App/Sources/SPMTestApp.swift
  Samples/SPM/SPM.yml
Due: format-swift, format-json

test: Fix flaky HangTracker deallocated test (#7639)
  Sources/Swift/HangTracker.swift
  Tests/SentryTests/Integrations/ANR/HangTrackerTests.swift
Due: format-swift

chore(ci): Adds a Nightly Job with unit tests for less frequent devices (#7632)
  .github/workflows/nightly-test.yml
  scripts/ci-boot-simulator.sh
  scripts/sentry-xcodebuild.sh
Due: none

test: Add crash when SentryInitializeForGettingSubclassesNotCalled is called
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.m
Due: none

ref(samples): Restructure iOS-ObjectiveC sample
  Samples/iOS-ObjectiveC/App/Configurations/Info.plist
  Samples/iOS-ObjectiveC/App/Configurations/iOS-ObjectiveC.entitlements
  Samples/iOS-ObjectiveC/App/Configurations/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveC/App/Resources/Tongariro.jpg
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveC/App/Sources/AppDelegate.m
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.h
  Samples/iOS-ObjectiveC/App/Sources/InitializerViewController.m
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.h
  Samples/iOS-ObjectiveC/App/Sources/NoARCCrash.m
  Samples/iOS-ObjectiveC/App/Sources/ViewController.h
  Samples/iOS-ObjectiveC/App/Sources/ViewController.m
  Samples/iOS-ObjectiveC/App/Sources/main.m
  Samples/iOS-ObjectiveC/UITests/Configurations/Info.plist
  Samples/iOS-ObjectiveC/UITests/Configurations/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/UITests/Resources/.gitkeep
  Samples/iOS-ObjectiveC/UITests/Sources/LaunchUITests.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
Due: format-swift

chore(CI): Improve package preparation script to support multiple Package.swift files
  scripts/prepare-package.sh
Due: none

chore(CI): Add prepare-package.sh to CI file filters
  .github/file-filters.yml
Due: none

ref(samples): Restructure iOS-ObjectiveCpp-NoModules sample
  Samples/iOS-ObjectiveCpp-NoModules/App/Configurations/Info.plist
  Samples/iOS-ObjectiveCpp-NoModules/App/Configurations/iOS-ObjectiveCpp-NoModules.entitlements
  Samples/iOS-ObjectiveCpp-NoModules/App/Configurations/iOS-ObjectiveCpp-NoModules.xcconfig
  Samples/iOS-ObjectiveCpp-NoModules/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-ObjectiveCpp-NoModules/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.h
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/AppDelegate.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/ViewController.h
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/ViewController.mm
  Samples/iOS-ObjectiveCpp-NoModules/App/Sources/main.mm
  Samples/iOS-ObjectiveCpp-NoModules/iOS-ObjectiveCpp-NoModules.yml
Due: none

ref(samples): Restructure macOS-Swift sample
  Samples/macOS-Swift/App/Configurations/Info.plist
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/App/Configurations/macOS-Swift.entitlements
  Samples/macOS-Swift/App/Configurations/macOS-Swift.xcconfig
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/macOS-Swift/App/Resources/Tongariro.jpg
  Samples/macOS-Swift/App/Sources/AppDelegate.swift
  Samples/macOS-Swift/App/Sources/CppSample.cpp
  Samples/macOS-Swift/App/Sources/CppSample.hpp
  Samples/macOS-Swift/App/Sources/CppWrapper.h
  Samples/macOS-Swift/App/Sources/CppWrapper.mm
  Samples/macOS-Swift/App/Sources/DiskWriteException.swift
  Samples/macOS-Swift/App/Sources/MetadataViewController.swift
  Samples/macOS-Swift/App/Sources/MetricsViewController.swift
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.h
  Samples/macOS-Swift/App/Sources/NSObject+SentryAppSetup.m
  Samples/macOS-Swift/App/Sources/RaiseNSExceptionInLayoutNSView.swift
  Samples/macOS-Swift/App/Sources/SwiftUIView.swift
  Samples/macOS-Swift/App/Sources/ViewController.swift
  Samples/macOS-Swift/App/Sources/macOS-Swift-Bridging-Header.h
  Samples/macOS-Swift/UITests/Resources/.gitkeep
  Samples/macOS-Swift/UITests/Sources/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift.yml
Due: format-swift

ref(samples): Restructure macOS-SwiftUI sample
  Samples/macOS-SwiftUI/App/Configurations/Info.plist
  Samples/macOS-SwiftUI/App/Configurations/macOS-SwiftUI.entitlements
  Samples/macOS-SwiftUI/App/Configurations/macOS-SwiftUI.xcconfig
  Samples/macOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/macOS-SwiftUI/App/Sources/ContentView.swift
  Samples/macOS-SwiftUI/App/Sources/macOS_SwiftUIApp.swift
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI/Info.plist
Due: format-swift, format-json

chore(CI): Improve package preparation script to support multiple Package.swift files (#7649)
  .github/file-filters.yml
  scripts/prepare-package.sh
Due: none

test: Add crash when SentryInitializeForGettingSubclassesNotCalled is called (#7637)
  Tests/SentryTests/Integrations/Performance/SentryInitializeForGettingSubclassesNotCalled.m
Due: none

ref(samples): Restructure iOS-Swift6 sample
  Samples/iOS-Swift6/App/Configurations/Info.plist
  Samples/iOS-Swift6/App/Configurations/iOS-Swift6.entitlements
  Samples/iOS-Swift6/App/Configurations/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/App/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-Swift6/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift6/App/Sources/AppDelegate.swift
  Samples/iOS-Swift6/App/Sources/SceneDelegate.swift
  Samples/iOS-Swift6/App/Sources/ViewController.swift
  Samples/iOS-Swift6/UITests/Configurations/Info.plist
  Samples/iOS-Swift6/UITests/Configurations/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/UITests/Resources/.gitkeep
  Samples/iOS-Swift6/UITests/Sources/UITests.swift
  Samples/iOS-Swift6/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.yml
Due: format-swift

ref: Extract getAppStartMeasurement into SentryAppStartMeasurementProvider
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryAppStartMeasurementProvider.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/SentryAppStartMeasurementProvider.h
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartMeasurementProviderTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentryTracer+Test.h
Due: format-swift

ref(samples): Restructure iOS15-SwiftUI sample
  Samples/iOS15-SwiftUI/Configurations/Info.plist
  Samples/iOS15-SwiftUI/Configurations/iOS15-SwiftUI.entitlements
  Samples/iOS15-SwiftUI/Configurations/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS15-SwiftUI/Sources/App.swift
  Samples/iOS15-SwiftUI/Sources/ContentView.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
Due: format-swift, format-json

impr(feedback): add debug logging to shake detection
  Sources/Swift/Integrations/UserFeedback/SentryShakeDetector.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
Due: format-swift

fix(feedback): prevent displayingForm stuck when presenter is nil
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
Due: format-swift

ref(samples): Restructure iOS-SwiftUI sample
  Samples/iOS-SwiftUI/App/Configurations/Info.plist
  Samples/iOS-SwiftUI/App/Configurations/iOS-SwiftUI.entitlements
  Samples/iOS-SwiftUI/App/Configurations/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/App/Headers/iOS-SwiftUI-Bridging-Header.h
  Samples/iOS-SwiftUI/App/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
  Samples/iOS-SwiftUI/App/Sources/FormScreen.swift
  Samples/iOS-SwiftUI/App/Sources/LoremIpsumView.swift
  Samples/iOS-SwiftUI/App/Sources/SwiftUIApp.swift
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentryDefines.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanProtocol.h
  Samples/iOS-SwiftUI/App/Sources/TestHeaders/SentrySpanStatus.h
  Samples/iOS-SwiftUI/App/Sources/UIKitScreen.swift
  Samples/iOS-SwiftUI/UITests/Configurations/Info.plist
  Samples/iOS-SwiftUI/UITests/Configurations/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/UITests/Resources/.gitkeep
  Samples/iOS-SwiftUI/UITests/Sources/FeedbackUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/LaunchUITests.swift
  Samples/iOS-SwiftUI/UITests/Sources/UIApplicationSwizzleTests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure iOS15-SwiftUI sample (#7657)
  Samples/iOS15-SwiftUI/Configurations/Info.plist
  Samples/iOS15-SwiftUI/Configurations/iOS15-SwiftUI.entitlements
  Samples/iOS15-SwiftUI/Configurations/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/iOS15-SwiftUI/Sources/App.swift
  Samples/iOS15-SwiftUI/Sources/ContentView.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
Due: format-swift, format-json

ref(samples): Restructure SessionReplay-CameraTest sample (#7648)
  Samples/SessionReplay-CameraTest/Configurations/Info.plist
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.entitlements
  Samples/SessionReplay-CameraTest/Configurations/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Assets.xcassets/Contents.json
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/LaunchScreen.storyboard
  Samples/SessionReplay-CameraTest/Resources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
Due: format-json

chore: Fix watchOS tests and add them to nightly job (#7633)
  .github/workflows/nightly-test.yml
  Makefile
  SentryTestUtils/Sources/TestNSNotificationCenterWrapper.swift
  Sources/Sentry/SentryDevice.m
  Tests/SentryTests/Helper/SentryDeviceTests.m
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXManagerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Networking/TestSentryReachability.swift
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParser.swift
  Tests/SentryTests/OptionsInSyncWithDocs/MdxOptionsParserTests.swift
  Tests/SentryTests/OptionsInSyncWithDocs/SentryOptionsDocumentationSyncTests.swift
  Tests/SentryTests/PrivateSentrySDKOnlyTests.swift
  Tests/SentryTests/SentryCrash/SentryCrashCPU_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
  Tests/SentryTests/SentryCrash/SentryCrashMonitor_Signal_Tests.m
  Tests/SentryTests/SentryCrash/SentryCrashWrapperTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentrySDKThreadTests.swift
  Tests/SentryTests/TestSentryUIApplication.swift
  Tests/SentryTests/Transaction/SentryBuildAppStartSpansTests.swift
Due: format-swift

ref(samples): Restructure DistributionSample sample (#7646)
  Samples/DistributionSample/App/Configurations/.gitkeep
  Samples/DistributionSample/App/Configurations/DistributionSample.xcconfig
  Samples/DistributionSample/App/Configurations/Info.plist
  Samples/DistributionSample/App/Resources/.gitkeep
  Samples/DistributionSample/App/Sources/App.swift
  Samples/DistributionSample/App/Sources/Constants.swift
  Samples/DistributionSample/App/Sources/ContentView.swift
  Samples/DistributionSample/App/Sources/UpdateUtil.swift
  Samples/DistributionSample/DistributionSample.yml
Due: format-swift
