Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

docs: Add documentation regarding HybridSDK target removal
  develop-docs/DECISIONS.md
Due: format-markdown

refactor item batcher
  SentryTestUtils/Sources/TestCurrentDateProvider.swift
  Sources/Sentry/SentryClient.m
  Sources/Swift/Core/Helper/SentryCurrentDateProvider.swift
  Sources/Swift/Tools/SentryItemBatcher.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryItemBatcherTests.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
Due: format-swift

chore: Add flutter cross platform integration test
  .github/workflows/test-cross-platform.yml
Due: none

Add missing platform to script
  .github/workflows/test-cross-platform.yml
Due: none

Change target branch
  .github/workflows/test-cross-platform.yml
Due: none

Improve sed command
  .github/workflows/test-cross-platform.yml
Due: none

Log dependencies
  .github/workflows/test-cross-platform.yml
Due: none

Updates
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift

Fixes
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/ContentView.swift
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
  Tests/Resources/MetricKitCallstacks/per-thread-flamegraph.json
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift, format-json

Simplify
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
  Tests/SentryTests/Integrations/MetricKit/SentryMetricKitIntegrationTests.swift
Due: format-swift

fix: Use correct parsing for stackframes
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFormatterSwift.m
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Sentry/include/SentryFormatterSwift.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
Due: format-swift

Testing
  Tests/Resources/MetricKitCallstacks/not-per-thread.json
  Tests/SentryTests/Integrations/MetricKit/SentryMXCallStackTreeTests.swift
Due: format-swift, format-json

more
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/ContentView.swift
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
  Sources/Swift/Core/MetricKit/SentryMXManager.swift
Due: format-swift

Update changelog
  CHANGELOG.md
  Sources/Sentry/SentryMetricKitIntegration.m
Due: format-markdown

refactor item batcher into protocols
  AGENTS.md
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  Sources/Swift/Tools/Batcher/BatchStorage.swift
  Sources/Swift/Tools/Batcher/Batcher.swift
  Sources/Swift/Tools/Batcher/BatcherConfig.swift
  Sources/Swift/Tools/Batcher/BatcherItem.swift
  Sources/Swift/Tools/Batcher/BatcherScope.swift
  Sources/Swift/Tools/Batcher/InMemoryBatchStorage.swift
  Sources/Swift/Tools/SentryItemBatcher.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/Batcher/BatcherScopeTests.swift
  Tests/SentryTests/Batcher/BatcherTests.swift
  Tests/SentryTests/Batcher/InMemoryBatchStorageTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/SentryClient+TestInit.h
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryItemBatcherTests.swift
Due: format-swift, format-markdown

cleanup
  Sources/Swift/Tools/Batcher/Batcher.swift
  Tests/SentryTests/Protocol/SentryAttributeTests.swift
Due: format-swift

Update Sources/Swift/Protocol/SentryAttribute.swift
  Sources/Swift/Protocol/SentryAttribute.swift
Due: format-swift

Enhance Batcher and TestCurrentDateProvider functionality
  SentryTestUtils/Sources/TestCurrentDateProvider.swift
  Sources/Swift/Tools/Batcher/Batcher.swift
  Tests/SentryTests/Batcher/BatcherScopeTests.swift
  Tests/SentryTests/Batcher/BatcherTests.swift
Due: format-swift

Remove extra log check
  Sources/Sentry/SentryHub.m
Due: none

Remove extra log check (#7027)
  Sources/Sentry/SentryHub.m
Due: none

Update develop-docs/DECISIONS.md
  develop-docs/DECISIONS.md
Due: format-markdown

Add examples of team workload
  develop-docs/DECISIONS.md
Due: format-markdown

chore: Bumps macOS-14 runner to macOS-15
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/lint-swiftlint-formatting.yml
Due: none

chore: Remove assembly workflow files from UI test fitler
  .github/file-filters.yml
Due: none

Remove scripts too
  .github/file-filters.yml
Due: none

chore: Cleanup file filter for required files modified
  .github/file-filters.yml
Due: none

Update .github/file-filters.yml
  .github/file-filters.yml
Due: none

Remove whitespace
  .github/file-filters.yml
Due: none

Bump macOS-14's Xcode to 16.2
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-boot-simulator.sh
Due: none

Remove `create_device` and `install_platforms`
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/unit-test-common.yml
  scripts/ci-install-platforms.sh
Due: none

chore: Bumps macOS-14 runner to macOS-15 (#7029)
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/lint-swiftlint-formatting.yml
Due: none

chore: Remove assembly workflow files from UI test filter (#7030)
  .github/file-filters.yml
Due: none

chore: Cleanup file filter for required files modified (#7031)
  .github/file-filters.yml
Due: none

fix: Outdated app launch comment
  Sources/Sentry/include/HybridPublic/SentryAppStartMeasurement.h
Due: none

chore(dx): Add test naming convention to AGENTS.md
  AGENTS.md
Due: format-markdown

chore(dx): Add test naming convention to AGENTS.md (#7036)
  AGENTS.md
Due: format-markdown

apply feedback from PR review
  Sources/Swift/Tools/Batcher/BatchStorage.swift
  Sources/Swift/Tools/Batcher/Batcher.swift
  Sources/Swift/Tools/Batcher/InMemoryBatchStorage.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/Batcher/BatcherTests.swift
  Tests/SentryTests/Batcher/InMemoryBatchStorageTests.swift
Due: format-swift

change batcher capture items guard to check for item count
  Sources/Swift/Tools/Batcher/Batcher.swift
Due: format-swift

rename storage flush to clear
  Sources/Swift/Tools/Batcher/BatchStorage.swift
  Sources/Swift/Tools/Batcher/Batcher.swift
  Sources/Swift/Tools/Batcher/InMemoryBatchStorage.swift
  Tests/SentryTests/Batcher/BatcherTests.swift
  Tests/SentryTests/Batcher/InMemoryBatchStorageTests.swift
Due: format-swift

ref: Use CryptoKit instead of CommonCrypto in SentryDsn
  CHANGELOG.md
  Sources/Configuration/DeploymentTargets.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Swift/SentryDsn.swift
  Tests/SentryTests/Networking/SentryDsnTests.m
Due: format-swift, format-markdown
