Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

fix: Handle EOF in sentrycrashfu_readBytesFromFD to prevent infinite loop
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
Due: none

fix: Handle EOF in sentrycrashfu_readBytesFromFD to prevent infinite loop
  CHANGELOG.md
Due: format-markdown

ref(session-replay): Remove duplicate guard
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

feat(network-details): Extract network details data to Session Replay (#7590)
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebOptionsEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverter.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySRDefaultBreadcrumbConverterTests.swift
Due: format-swift

feat(network-details): Add experimental flag and changelog for network details capture
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
Due: format-swift, format-markdown

docs: Add PR #7854 to network details changelog entry
  CHANGELOG.md
Due: format-markdown

Run make generate
  sdk_api.json
Due: none

Update iOS device name in CodeQL workflow
  .github/workflows/codeql-analysis.yml
Due: none

Add 'resolve-test-destination' action and update workflows to utilize it
  .github/actions/resolve-test-destination/action.yml
  .github/file-filters.yml
  .github/workflows/nightly-test.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
Due: none

Remove `latest` as default value
  .github/workflows/test.yml
Due: none

Fix SentryInvalidJSONStringTests
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: format-swift

Specifically skip `__CFStringEncodeByteStream`
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: none

feat(network-details): Add experimental flag and changelog (#7854)
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Swift/Helper/SentryEnabledFeaturesBuilder.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsObjcTests.m
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  sdk_api.json
Due: format-swift, format-markdown

fix: Fix format string argument order in SentryCrashReportStore (#7852)
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
Due: none

fix: Handle EOF in sentrycrashfu_readBytesFromFD to prevent infinite loop (#7853)
  CHANGELOG.md
  Sources/SentryCrash/Recording/Tools/SentryCrashFileUtils.c
Due: format-markdown

release: 9.12.0
  .github/last-release-runid
  3rd-party-integrations/SentryCocoaLumberjack/Package.swift
  3rd-party-integrations/SentryPulse/Package.swift
  3rd-party-integrations/SentrySwiftLog/Package.swift
  3rd-party-integrations/SentrySwiftyBeaver/Package.swift
  CHANGELOG.md
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sentry.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
Due: format-swift, format-markdown

fix(SentryObjC): Guard sessionReplay property behind SENTRY_OBJC_REPLAY_SUPPORTED
  Sources/SentryObjC/Public/SentryOptions.h
Due: none

fix: Handle extra length call in SentryInvalidJSONString
  Tests/SentryTests/Helper/SentryInvalidJSONStringTests.swift
  Tests/SentryTests/TestUtils/SentryInvalidJSONString.m
Due: format-swift

fix: Bridge beforeSendMetric mutations
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Plans/Sentry_Base.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjCBridge/SentryObjCBridgeTypeConversions.swift
  Sources/SentryObjCTypes/Public/SentryObjCMetric.h
  Sources/SentryObjCTypes/Public/SentryObjCMetric.m
  Tests/SentryObjCBridgeTests/SentryObjCBridgeMetricConversionTests.swift
  Tests/SentryObjCTypesTests/SentryObjCMetricTests.m
  sdk_api_objc.json
Due: format-swift

fix: Update SentryCrash import check to include .hpp files
  scripts/check-sentrycrash-imports.sh
Due: none

ci: add SentryCrash import ratchet to PR checks (#7723)
  .github/file-filters.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/lint-sentrycrash-imports.yml
  Makefile
  scripts/check-sentrycrash-imports.sh
Due: none

Remove Cirrus Labs references
  .github/workflows/fast-pr-checks.yml
  .github/workflows/nightly-test.yml
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
Due: none

Extract script to a file
  .github/actions/resolve-test-destination/action.yml
  scripts/resolve-test-destination.sh
Due: none

Source CI Utils
  scripts/resolve-test-destination.sh
Due: none

Fix path
  .github/actions/resolve-test-destination/action.yml
Due: none

Update release and test workflows to include platform specification and resolve test destination
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Remove default value
  .github/workflows/unit-test-common.yml
Due: none

Fixes
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
Due: none

Fix typos
  .github/workflows/build.yml
Due: none

remove codesigning for ObjC targets
  Sentry.xcodeproj/project.pbxproj
Due: none

fix: Exclude ObjC wrapper targets from distribution tests
  Package.swift
  scripts/prepare-package.sh
Due: format-swift

ref: Move ObjC metric test to SentryObjCBridgeTests
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Tests/SentryObjCTypesTests/SentryObjCMetricTests.m
Due: format-swift

docs: Add SentryObjC guidance to AGENTS.md
  AGENTS.md
  Tests/AGENTS.md
Due: format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

fix: Only strip Package.swift for DistributionSample
  .github/workflows/build.yml
Due: none

fix changelog
  CHANGELOG.md
Due: format-markdown

fix: Report crashed thread for null function calls
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/macOS-Swift/App/Sources/CppWrapper.h
  Samples/macOS-Swift/App/Sources/CppWrapper.mm
  Samples/macOS-Swift/App/Sources/ViewController.swift
  Sources/SentryCrash/Recording/Tools/SentryCrashStackCursor_MachineContext.c
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: format-swift

fix layout
  Samples/macOS-Swift/App/Resources/Base.lproj/Main.storyboard
Due: none

add cl entry
  CHANGELOG.md
Due: format-markdown
