Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

add SentryCrashMach_O_Tests
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.h
  Sources/SentryCrash/Recording/Tools/SentryCrashMach-O.c
  Tests/SentryCrashTests/SentryCrashCxaThrowSwapperTests.m
  Tests/SentryTests/SentryCrash/SentryCrashMach-OTests.m
Due: none

pr review
  Tests/SentryTests/Helper/SentryAsyncSafeLog.m
Due: none

remove logging added to sdk for separate PR
  Sources/Sentry/Profiling/SentryLaunchProfiling.m
Due: none

use more descriptive fatalError messages
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
Due: format-swift

try overwriting all objectVersion numbers to the earliest one that originally appeared
  Samples/Carthage-Validation/XCFramework/XCFramework.xcodeproj/project.pbxproj
  Samples/SentrySampleShared-Swift/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/iOS-Cocoapods-Swift6/iOS-Cocoapods-Swift6.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcodeproj/project.pbxproj
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
  Samples/visionOS-Swift/visionOS-Swift.xcodeproj/project.pbxproj
  Sentry.xcodeproj/project.pbxproj
  TestSamples/SwiftUITestSample/SwiftUITestSample.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/Perf/test-app-plain/test-app-plain.xcodeproj/project.pbxproj
  Tests/Perf/test-app-sentry/test-app-sentry.xcodeproj/project.pbxproj
Due: none

test: more feature flags (#5104)
  Samples/iOS-Swift/PerformanceBenchmarks/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift-UITests/UserFeedbackUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/EnvironmentVariableTableViewCell.swift
  Samples/iOS-Swift/iOS-Swift/Extensions/UIViewExtension.swift
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/FeaturesViewController.swift
  Samples/iOS-Swift/iOS-Swift/LaunchArgumentTableViewCell.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  develop-docs/README.md
Due: format-swift, format-markdown

make a couple more easy moves to the shared wrapper
  Samples/SentrySampleShared-Swift/SentrySampleShared-Swift/Extensions/SpanExtension.swift
  Samples/SentrySampleShared-Swift/SentrySampleShared-Swift/Extensions/UIViewExtension.swift
  Samples/SentrySampleShared-Swift/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift/UIViewControllerExtension.swift
Due: format-swift

fixup! try overwriting all objectVersion numbers to the earliest one that originally appeared
  Samples/SentrySampleShared-Swift/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
Due: none

ci: use latest macos with default xcode to build sample apps
  .github/workflows/build.yml
Due: none

ci: dont specify a default xcode value inside the script
  scripts/ci-select-xcode.sh
Due: none

use macos-15
  .github/workflows/build.yml
Due: none

also for iOS-Swift; remove the step that just lists schemes
  .github/workflows/build.yml
Due: none

Revert "fixup! try overwriting all objectVersion numbers to the earliest one that originally appeared"
  Samples/SentrySampleShared-Swift/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
Due: none

Revert "try overwriting all objectVersion numbers to the earliest one that originally appeared"
  Samples/Carthage-Validation/XCFramework/XCFramework.xcodeproj/project.pbxproj
  Samples/SentrySampleShared-Swift/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/iOS-Cocoapods-Swift6/iOS-Cocoapods-Swift6.xcodeproj/project.pbxproj
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcodeproj/project.pbxproj
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcodeproj/project.pbxproj
  Samples/visionOS-Swift/visionOS-Swift.xcodeproj/project.pbxproj
  Sentry.xcodeproj/project.pbxproj
  TestSamples/SwiftUITestSample/SwiftUITestSample.xcodeproj/project.pbxproj
  Tests/DuplicatedSDKTest/DuplicatedSDKTest.xcodeproj/project.pbxproj
  Tests/Perf/test-app-plain/test-app-plain.xcodeproj/project.pbxproj
  Tests/Perf/test-app-sentry/test-app-sentry.xcodeproj/project.pbxproj
Due: none

add xcconfig files replicating project settings
  Samples/SessionReplay-CameraTest/Architectures.xcconfig
  Samples/SessionReplay-CameraTest/AssetCatalog.xcconfig
  Samples/SessionReplay-CameraTest/BuildOptions.xcconfig
  Samples/SessionReplay-CameraTest/ClangAnalyzer.xcconfig
  Samples/SessionReplay-CameraTest/ClangCppLanguage.xcconfig
  Samples/SessionReplay-CameraTest/ClangLanguage.xcconfig
  Samples/SessionReplay-CameraTest/ClangModules.xcconfig
  Samples/SessionReplay-CameraTest/ClangObjCLanguage.xcconfig
  Samples/SessionReplay-CameraTest/ClangPreprocessing.xcconfig
  Samples/SessionReplay-CameraTest/ClangWarnings.xcconfig
  Samples/SessionReplay-CameraTest/ClangWarningsCpp.xcconfig
  Samples/SessionReplay-CameraTest/ClangWarningsObjC.xcconfig
  Samples/SessionReplay-CameraTest/CodeGeneration.xcconfig
  Samples/SessionReplay-CameraTest/Deployment.xcconfig
  Samples/SessionReplay-CameraTest/Linking.xcconfig
  Samples/SessionReplay-CameraTest/Localization.xcconfig
  Samples/SessionReplay-CameraTest/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Plist.xcconfig
  Samples/SessionReplay-CameraTest/SearchPaths.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/Signing.xcconfig
  Samples/SessionReplay-CameraTest/Swift.xcconfig
  Samples/SessionReplay-CameraTest/Versioning.xcconfig
Due: none

add xcodegen to brewfile and a make task
  Brewfile
  Makefile
Due: none

get the project generating
  .gitignore
  Makefile
  Samples/SessionReplay-CameraTest.yml
  Samples/SessionReplay-CameraTest/Config/Architectures.xcconfig
  Samples/SessionReplay-CameraTest/Config/AssetCatalog.xcconfig
  Samples/SessionReplay-CameraTest/Config/BuildOptions.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangAnalyzer.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangCppLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangModules.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangObjCLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangPreprocessing.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarnings.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsCpp.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsObjC.xcconfig
  Samples/SessionReplay-CameraTest/Config/CodeGeneration.xcconfig
  Samples/SessionReplay-CameraTest/Config/Deployment.xcconfig
  Samples/SessionReplay-CameraTest/Config/Linking.xcconfig
  Samples/SessionReplay-CameraTest/Config/Localization.xcconfig
  Samples/SessionReplay-CameraTest/Config/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Config/Plist.xcconfig
  Samples/SessionReplay-CameraTest/Config/SearchPaths.xcconfig
  Samples/SessionReplay-CameraTest/Config/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Config/Signing.xcconfig
  Samples/SessionReplay-CameraTest/Config/Swift.xcconfig
  Samples/SessionReplay-CameraTest/Config/Versioning.xcconfig
  Samples/SessionReplay-CameraTest/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Swift.xcconfig
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

fix a couple last issues
  .gitignore
  Makefile
  Samples/SessionReplay-CameraTest/Config/BuildOptions.xcconfig
  Samples/SessionReplay-CameraTest/Config/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Config/Plist.xcconfig
  Samples/SessionReplay-CameraTest/Config/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/xcshareddata/xcschemes/SessionReplay-CameraTest.xcscheme
  Samples/SessionReplay-CameraTest/Sources/Info.plist
  Samples/SessionReplay-CameraTest/project.yml
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Sentry.xcworkspace/contents.xcworkspacedata
Due: none

try to run the make task only for the project using xcodegen generation
  .github/workflows/build.yml
Due: none

need xcodegen
  .github/workflows/build.yml
Due: none

fix if checks
  .github/workflows/build.yml
Due: none

fixup! fix if checks
  .github/workflows/build.yml
Due: none

fix build of the generated sample project
  .github/workflows/build.yml
Due: none

fixup! fix build of the generated sample project
  .github/workflows/build.yml
Due: none

ci: use xcodegen to generate project just for the iOS-Swift app and tests
  .gitignore
  Makefile
  Samples/SessionReplay-CameraTest/Config/ClangCppLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Config/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Config/Signing.xcconfig
  Samples/SessionReplay-CameraTest/Config/Swift.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcconfig
  Samples/Shared/Config/Architectures.xcconfig
  Samples/Shared/Config/AssetCatalog.xcconfig
  Samples/Shared/Config/BuildOptions.xcconfig
  Samples/Shared/Config/ClangAnalyzer.xcconfig
  Samples/Shared/Config/ClangCppLanguage.xcconfig
  Samples/Shared/Config/ClangLanguage.xcconfig
  Samples/Shared/Config/ClangModules.xcconfig
  Samples/Shared/Config/ClangObjCLanguage.xcconfig
  Samples/Shared/Config/ClangPreprocessing.xcconfig
  Samples/Shared/Config/ClangWarnings.xcconfig
  Samples/Shared/Config/ClangWarningsCpp.xcconfig
  Samples/Shared/Config/ClangWarningsObjC.xcconfig
  Samples/Shared/Config/CodeGeneration.xcconfig
  Samples/Shared/Config/Deployment.xcconfig
  Samples/Shared/Config/Linking.xcconfig
  Samples/Shared/Config/Localization.xcconfig
  Samples/Shared/Config/Metal.xcconfig
  Samples/Shared/Config/Packaging.xcconfig
  Samples/Shared/Config/SearchPaths.xcconfig
  Samples/Shared/Config/Signing.xcconfig
  Samples/Shared/Config/Swift.xcconfig
  Samples/Shared/Config/Versioning.xcconfig
  Samples/iOS-Swift/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/project.yml
Due: none

get ui testing working
  Plans/iOS-Swift_Base.xctestplan
  Samples/iOS-Swift/project.yml
Due: none

wip
  Utils/VersionBump/main.swift
Due: format-swift

use a single source of truth for configured version using correct setting
  Samples/iOS-Swift/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcconfig
  Sentry.xcodeproj/project.pbxproj
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
Due: none

tweaks
  Samples/iOS-Swift/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcconfig
  Samples/iOS-Swift/project.yml
Due: none

host iOS-Swift from within Samples/, not Samples/iOS-Swift
  .gitignore
  Makefile
  Samples/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift.xcconfig
  Samples/iOS-Swift.yml
  Samples/iOS-Swift/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcconfig
Due: none

wip ci
  .github/workflows/ui-tests.yml
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
Due: none

wip
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
Due: format-swift

feat(feedback): bring your own button
  Samples/iOS-Swift/iOS-Swift-UITests/UserFeedbackUITests.swift
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  Samples/iOS-Swift/iOS-Swift/ErrorsViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
Due: format-swift

simplify
  Samples/iOS-Swift/iOS-Swift-UITests/UserFeedbackUITests.swift
Due: format-swift

flake out a timing issue due to completion block
  Samples/iOS-Swift/iOS-Swift-UITests/UserFeedbackUITests.swift
Due: format-swift

changelog
  CHANGELOG.md
Due: format-markdown

move iOS-SwiftClip to the xcodegen spec
  Samples/iOS-Swift.yml
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-SwiftClip.xcconfig
Due: none

copy over other plist keys from generation settings
  Samples/iOS-Swift/iOS-SwiftClip/Info.plist
Due: none

include the performance benchmarks
  .github/workflows/benchmarking.yml
  .sauce/benchmarking-config.yml
  Plans/iOS-Swift-Benchmarking_Base.xctestplan
  Samples/iOS-Benchmarking.xcconfig
  Samples/iOS-Swift.yml
  Samples/iOS-Swift/iOS-Benchmarking/Info.plist
  Samples/iOS-Swift/iOS-Benchmarking/SentryProcessInfo.h
  Samples/iOS-Swift/iOS-Benchmarking/SentryProcessInfo.m
  Samples/iOS-Swift/iOS-Benchmarking/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-SwiftClip/Info.plist
  develop-docs/README.md
  fastlane/Fastfile
Due: format-markdown

fixup! include the performance benchmarks
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift-Benchmarking.xcscheme
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift.xcscheme
  develop-docs/README.md
Due: format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
