Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref(sample): Restore preview mask opacity
  Samples/iOS-SwiftUI/App/Sources/ContentView.swift
Due: format-swift

chore: Add masking preview changelog
  CHANGELOG.md
Due: format-markdown

fix(replay): resize masking preview
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
Due: format-swift

fix: Preserve replay network details
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
Due: format-swift

fix: Retain network tracker state semantics
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Networking/URLSessionTask+AssociatedValues.swift
Due: format-swift

ref!(feedback): remove deprecated widget types in v10
  CHANGELOG_V10.md
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
  Sources/Swift/Integrations/UserFeedback/UserFeedbackIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Feedback/UserFeedbackIntegrationTests.swift
Due: format-swift, format-markdown

feat!: Default diagnostic logs to warning
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Options.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

Update Sources/SentryObjC/Public/SentryObjCInternalApi.h
  Sources/SentryObjC/Public/SentryObjCInternalApi.h
Due: none

ref: Migrate app state manager to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDefaultAppStateManager.m
  Sources/Sentry/include/SentryDefaultAppStateManager.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/AppState/SentryAppStateManager.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Integrations/Performance/AppStartTracking/SentryAppStartTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationLogicTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Update Tests/AGENTS.md
  Tests/AGENTS.md
Due: format-markdown

chore: change docs comment gating
  Sources/SentryObjC/Public/SentryObjCOptions.h
Due: none

feat(internal-api): Add hybrid serialization APIs (#8708)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCInternalApi.h
  Sources/SentryObjC/Public/SentryObjCInternalScopeApi.h
  Sources/SentryObjC/Public/SentryObjCInternalSerializerApi.h
  Sources/SentryObjCCompat/SentryObjCInternalApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalScopeApi.swift
  Sources/SentryObjCCompat/SentryObjCInternalSerializerApi.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/HybridSDK/SentryInternalScopeApi.swift
  Sources/Swift/HybridSDK/SentryInternalSerializerApi.swift
  Tests/SentryObjCTests/SentryObjCInternalScopeApiIntegrationTests.m
  Tests/SentryObjCTests/SentryObjCInternalSerializerApiIntegrationTests.m
  Tests/SentryTests/HybridSDK/SentryInternalScopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalSerializerApiTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

address review feedback
  .github/workflows/build-v10.yml
  .github/workflows/test-v10.yml
  CHANGELOG_V10.md
  Makefile
  Plans/SentryV10_Base.xctestplan
  Plans/SentryV10_TestServer.xctestplan
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcodeproj/xcshareddata/xcschemes/SentryV10.xcscheme
  Sources/Configuration/Sentry.xcconfig
  Sources/Configuration/SentryV10.xcconfig
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/CrashE2E.yml
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  Tests/Configuration/SentryTestsV10.xcconfig
  Tests/SentryTests/SentryTestSetup.swift
  scripts/extract-objc-compat-api.sh
Due: format-swift, format-markdown

fix(feedback): Gate widget icon in V10
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonMegaphoneIconView.swift
Due: format-swift

test: verify network tracking end to end (#8722)
  Plans/Sentry_TestServer.xctestplan
  Tests/AGENTS.md
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  test-server/Sources/App/routes.swift
Due: format-swift, format-markdown

feat!: Default diagnostic logs to warning (#8732)
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/Swift/Options.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

ref!(feedback): remove deprecated widget types in v10 (#8731)
  CHANGELOG_V10.md
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackWidgetConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonMegaphoneIconView.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
  Sources/Swift/Integrations/UserFeedback/UserFeedbackIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/Feedback/UserFeedbackIntegrationTests.swift
Due: format-swift, format-markdown

test: Stabilize replay network details test
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
Due: format-swift

fix: avoid URLSession task monitor contention (#8497)
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Concurrency/Synchronized.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails+Capture.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayNetworkDetails.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Networking/URLSessionTask+AssociatedValues.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsIntegrationTests.swift
  Tests/SentryTests/Swift/Concurrency/SynchronizedTests.swift
Due: format-swift, format-markdown

fix: release replay frames when video render times out
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryVideoFrameProcessor.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryVideoFrameProcessorTests.swift
Due: format-swift

fix: collapse hidden screenshot stack
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

fix(replay): Report capture phase durations
  CHANGELOG.md
  SentryTestUtils/Sources/TestSentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryScreenshotSource.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewScreenshotProvider.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplayIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
Due: format-swift, format-markdown

fix cl
  CHANGELOG.md
Due: format-markdown

ref: compile legacy SentryCrash recorder out of V10
  Package.swift
  Package@swift-6.1.swift
  Package@swift-6.2.swift
  Sources/Configuration/SentryV10.xcconfig
  Sources/Sentry/PrivateSentrySDKOnly.m
  Sources/Sentry/SentryNSExceptionCaptureHelper.m
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Sources/Swift/Core/Helper/SentryBinaryImageCache.swift
  Sources/Swift/HybridSDK/SentryInternalApi.swift
  Sources/Swift/Integrations/KSCrash/SentryKSCrash+UnavailableReporter.swift
  Sources/Swift/Integrations/Screenshot/SentryScreenshotIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashInstallationReporter.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/Integrations/SwiftAsyncIntegration.swift
  Sources/Swift/Integrations/ViewHierarchy/SentryViewHierarchyIntegration.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  Sources/Swift/SentryDependencyContainer.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  Tests/Configuration/SentryTestsV10.xcconfig
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalProfilingApiIntegrationTests.swift
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashLegacyRecorderExclusionTests.swift
  Tests/SentryTests/Integrations/Screenshot/SentryScreenshotIntegrationTests.swift
  Tests/SentryTests/Integrations/SentrySwiftIntegrationInstallerTests.swift
  Tests/SentryTests/Integrations/ViewHierarchy/SentryViewHierarchyIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/CrashReport.swift
  Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKInternalTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryScopeSwiftTests.swift
Due: format-swift

ref(replay): Unify screenshot metadata callbacks
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewScreenshotProvider.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
Due: format-swift

docs: update changelog
  CHANGELOG.md
Due: format-markdown

set 999 priority on addScreenshotButtonHeightConstraint button
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
Due: format-swift

fix: release replay frames when video render times out (#8741)
  Sources/Swift/Integrations/SessionReplay/SentryOnDemandReplay.swift
  Sources/Swift/Integrations/SessionReplay/SentryVideoFrameProcessor.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryVideoFrameProcessorTests.swift
Due: format-swift

feat: Add screenshot picker to feedback (#8655)
  CHANGELOG.md
  Samples/iOS-Swift/App/Resources/Base.lproj/Main.storyboard
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormConfiguration.h
  Sources/SentryObjCCompat/SentryObjCUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController+PHPicker.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Tests/SentryObjCTests/SentryObjCUserFeedbackConfigurationTests.m
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryUserFeedbackConfigurationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

fix(replay): Preserve screenshot provider compatibility
  Sources/Swift/Core/Tools/ViewCapture/SentryViewPhotographer.swift
  Sources/Swift/Core/Tools/ViewCapture/SentryViewScreenshotProvider.swift
  Sources/Swift/Integrations/SessionReplay/Preview/SentryMaskingPreviewView.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/ViewCapture/SentryViewPhotographerTests.swift
Due: format-swift

ci: Check V10 API stability
  .github/file-filters.yml
  .github/workflows/api-stability.yml
Due: none

fix(v10): Update public API baseline
  sdk_api_v10.json
Due: none

exclude SentryCrash from V10 SPM traits
  .github/file-filters.yml
  .github/workflows/build-v10.yml
  Sources/Sentry/SentryCrashReportSink.m
  Sources/Sentry/SentryCrashScopeObserver.m
  Sources/SentryCrash/Installations/SentryCrashInstallation.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitorType.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_AppState.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_CPPException.cpp
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_MachException.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_NSException_StackCursor.m
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_Signal.c
  Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m
  Sources/SentryCrash/Recording/SentryCrash.m
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/SentryCrashC.c
  Sources/SentryCrash/Recording/SentryCrashCachedData.c
  Sources/SentryCrash/Recording/SentryCrashDoctor.m
  Sources/SentryCrash/Recording/SentryCrashReport.c
  Sources/SentryCrash/Recording/SentryCrashReportFixer.c
  Sources/SentryCrash/Recording/SentryCrashReportStore.c
  Sources/SentryCrash/Recording/Tools/SentryCrashCxaThrowSwapper.c
  Sources/SentryCrash/Reporting/Filters/SentryCrashReportFilterBasic.m
  Sources/SentryCrash/Reporting/Filters/Tools/SentryDictionaryDeepSearch.m
  Sources/Swift/Integrations/SentryCrash/SentryCrashBridge.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashInstallationReporter.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegrationSessionHandler.swift
  Sources/Swift/SentryCrash/SentryCrashSwift.swift
  Sources/Swift/SentryCrash/SentryDefaultCrashReporter.swift
  scripts/verify-v10-sentrycrash-recorder-objects.sh
Due: format-swift

fix(replay): Avoid retaining untimed screenshot callbacks
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

ci: Check V10 API stability (#8742)
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  sdk_api_v10.json
Due: none

test: enable UIKit masking tests
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+UIKit.swift
Due: format-swift

added V10 Unity ABI shim
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryCxaThrowCompatibility.cpp
  Sources/Sentry/SentrySDKInternal.m
  TestSamples/CrashE2E/App/Sources/CrashE2ECrashTriggers.swift
  TestSamples/CrashE2E/App/Sources/CrashE2EObjCBridge.mm
  TestSamples/CrashE2E/App/Sources/CrashE2ERuntime.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/Config.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/CrashE2ERunner.swift
  TestSamples/CrashE2E/Runner/Sources/CrashE2ERunner/EventAssertions.swift
  Tests/SentryTests/Integrations/KSCrash/SentryCxaThrowCompatibilityTests.mm
  Tests/SentryTests/Integrations/KSCrash/SentryKSCrashLegacyRecorderExclusionTests.swift
Due: format-swift

chore: clean Xcode project diff
  Sentry.xcodeproj/project.pbxproj
Due: none

test: clarify UITextView assertion
  Tests/SentryTests/ViewCapture/SentryUIRedactBuilderTests+UIKit.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
