Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

Add unit tests for SentryCrashDynamicLinker
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.h
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

test: Improve trigger fully blocking app hang
  Samples/iOS-Swift/iOS-Swift/Tools/TriggerAppHang.swift
Due: format-swift

refactor: Move singleton of SentryGlobalEventProcessor to dependency container
  SentryTestUtils/ClearTestState.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryGlobalEventProcessor.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryGlobalEventProcessor.h
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

Update tests
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

chore: Update CHANGELOG.md (#5411)
  CHANGELOG.md
Due: format-markdown

improve comment
  Samples/iOS-Swift/iOS-Swift/Tools/TriggerAppHang.swift
Due: format-swift

fixed key for screenshot provider
  Sources/Sentry/SentryDependencyContainer.m
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
Due: format-swift

update tests
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

Improve tests
  Sources/SentryCrash/Recording/SentryCrashBinaryImageCache.c
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
  Tests/SentryTests/SentryCrash/SentryCrashDynamicLinkerTests.m
Due: none

ci: Use helper function to run tests in fastlane
  fastlane/Fastfile
Due: none

Fix configuration var not found
  fastlane/Fastfile
Due: none

Add missing parameters
  fastlane/Fastfile
Due: none

Add else case
  Sources/SentryCrash/Recording/Tools/SentryCrashDynamicLinker.c
Due: none

put back SwiftUI-UIWindow workaround to display debug menu
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
Due: format-swift

test: fix Extra tab scrollview width in iOS-Swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
Due: none

ci: Use helper function to run tests in fastlane (#5429)
  fastlane/Fastfile
Due: none

test: more override config (#5201)
  Samples/SentrySampleShared/SentrySampleShared/EnvironmentVariableTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/FeatureFlagCell.swift
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/LaunchArgumentTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/SampleAppDebugMenu.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
Due: format-swift

test: fix Extra tab scrollview width in iOS-Swift (#5430)
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
Due: none

infoplist is generated now
  Integration/Info.plist
Due: none

version of script and sources that works to validate static xcframework in an iOS app
  Integration/Info.plist
  Integration/MultiPlatformSampleApp.xcodeproj/project.pbxproj
  Integration/MultiPlatformSampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Integration/Sources/App.swift
  Integration/Sources/ContentView.swift
  scripts/package-integration-test.sh
Due: format-swift

expect xcframeworks to already be in location; can build/move as a local task, but theyll be downloaded to the right place in ci
  .github/workflows/release.yml
  Integration/Info.plist
  scripts/package-integration-test.sh
Due: none

updates with only failure currently being visionos cocoapods but still need maccatalyst and carthage
  .gitignore
  Integration/Info.plist
  Integration/MultiPlatformSampleApp.xcodeproj/project.pbxproj
  Integration/MultiPlatformSampleApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Makefile
  scripts/package-integration-test.sh
Due: none

updates with only failure currently being visionos cocoapods but still need maccatalyst and carthage
  .gitignore
  scripts/package-integration-test-local.sh
Due: none

get carthage ios working
  .gitignore
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-variant.sh
  scripts/create-carthage-json.sh
  scripts/package-integration-test-local.sh
  scripts/package-integration-test.sh
Due: none

delete tracked infoplist as its generated by xcodegen
  Integration/Info.plist
Due: none

install build tooling for xcodegen
  .github/workflows/integration-test.yml
Due: none

fix broken path
  scripts/build-xcframework-slice.sh
Due: none

wip improving scripts
  Makefile
  scripts/assemble-xcframework.sh
  scripts/build-xcframework-local.sh
  scripts/build-xcframework-slice.sh
  scripts/build-xcframework-variant.sh
  scripts/create-carthage-json.sh
  scripts/package-integration-test-local.sh
  scripts/package-integration-test.sh
Due: none

add make init to right job, remove unused workflow file
  .github/workflows/integration-test.yml
  .github/workflows/release.yml
  scripts/build-xcframework-variant.sh
Due: none

set up ruby environment
  .github/workflows/release.yml
Due: none

unzip the fw artifacts after downloading
  .github/workflows/release.yml
Due: none

use later macos image so theres arm64 arch available for mac build
  .github/workflows/release.yml
Due: none

DONOTMERGE remove other workflows
  .github/workflows/api-stability.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/danger.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-dprint.yml
  .github/workflows/lint-shellcheck.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint.yml
  .github/workflows/release-comment-issues.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

extract integration job to reusable workflow
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/package-integration-test.yml
  .github/workflows/release.yml
Due: none

fixed session in hub reset
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

fix: Add out of bounds handling for array accessor
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/ArrayAccesses.swift
  SentryTestUtilsTests/ArrayAccessesTests.swift
Due: format-swift

refactor session tracker to use constructor-injection
  Sources/Sentry/SentryAutoSessionTrackingIntegration.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionTracker.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentrySessionTracker.h
  Tests/SentryProfilerTests/SentryProfilingPublicAPITests.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
Due: format-swift

fix double unwrap
  SentryTestUtilsTests/ArrayAccessesTests.swift
Due: format-swift
