Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

ref: remove SentrySwiftUI from release matrix
  scripts/generate_release_matrix.sh
Due: none

ref: remove SentrySwiftUI from API stability checks
  .github/file-filters.yml
  .github/workflows/api-stability.yml
  AGENTS.md
  scripts/update-api.sh
  sdk_api_sentryswiftui.json
Due: format-markdown

docs: add installation instructions to README
  README.md
Due: format-markdown

docs: clarify pre-built vs compile-from-source install
  README.md
Due: format-markdown

docs: discourage redundant internal comments (#8656)
  REVIEWS.md
  Sources/AGENTS.md
Due: format-markdown

ref: polish init swizzling option and samples
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/App/Sources/AppDelegate.swift
  Samples/iOS-Swift/App/Sources/ExtraViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/ConvenienceInitViewController.swift
  Samples/iOS-Swift/App/Sources/ViewControllers/SubClassFinderRegressionViewController.swift
  Samples/iOS-Swift/UITests/Sources/SubClassFinderRegressionUITests.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
  Tests/SentryTests/SentryExperimentalOptionsTests.swift
Due: format-swift

test: cover missing SentryEnabledFeaturesBuilder cases
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

style: drop blank line after options init
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

test: drop redundant experimental options tests
  Tests/SentryTests/SentryExperimentalOptionsTests.swift
Due: format-swift

test: assert VC init funnel does not over-retain
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
Due: format-swift

ref: drop init unswizzling and trim comments
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
Due: none

test: cover missing SentryEnabledFeaturesBuilder cases (#8665)
  Tests/SentryTests/Helper/SentryEnabledFeaturesBuilderTests.swift
Due: format-swift

test: assert init funnel never scans images
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

fix: restore init unswizzling to stop funnel leak
  GH-8548-HANDOFF.md
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
Due: format-swift, format-markdown

chore: update relay-audit surface map (#8585)
  skills/relay-conformance-audit/references/surface-map.md
Due: format-markdown

fix: preserve InternalApi options contract after close
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

use getOptions()
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController+PHPicker.swift
Due: format-swift

ref: convert SentryNetworkTracker to Swift (#8502)
  .github/file-filters.yml
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Headers/SentryTestUtils-ObjC-BridgingHeader.h
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentryTraceContextSwiftHelper.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryNetworkTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Sentry/include/SentryScope+PrivateSwift.h
  Sources/Sentry/include/SentryTraceContextSwiftHelper.h
  Sources/Sentry/include/SentryTracePropagation.h
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackerProxy.swift
  Sources/Swift/Integrations/Performance/Network/SentryNetworkTrackingIntegration.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/Networking/URLSessionTask+AssociatedValues.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryTests/HybridSDK/SentryInternalEnvelopeApiTests.swift
  Tests/SentryTests/HybridSDK/SentryInternalScreenApiTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerProxyTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

show error alert
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormConfiguration.h
  Sources/SentryObjCCompat/SentryObjCUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController+PHPicker.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Tests/SentryObjCTests/SentryObjCUserFeedbackConfigurationTests.m
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryUserFeedbackConfigurationTests.swift
  sdk_api.json
  sdk_api_objc.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift

ref: Address envelope streaming review feedback
  Sources/Swift/Helper/SentryFileManager.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
Due: format-swift

Update CHANGELOG_V10.md
  CHANGELOG_V10.md
Due: format-markdown

fix: Retain screenshot picker delegate
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController+PHPicker.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
Due: format-swift

fix: Remove Replay gating on dataCollection
  CHANGELOG_V10.md
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryObjC/Public/SentryObjC.h
  Sources/SentryObjC/Public/SentryObjCReplayNetworkBodyCapture.h
  Sources/SentryObjC/Public/SentryObjCReplayOptions.h
  Sources/SentryObjCCompat/SentryObjCReplayNetworkBodyCapture.swift
  Sources/SentryObjCCompat/SentryObjCReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/RRWeb/SentryRRWebOptionsEvent.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Sources/Swift/SentryDependencyContainer.swift
  Tests/SentryObjCCompatTests/SentryObjCCompatEnumConversionTests.swift
  Tests/SentryObjCTests/SentryObjCReplayOptionsTests.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkDetailSwizzlingTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsNetworkTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  sdk_api_objc_v10.diff.json
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

test: Remove unused TestNetworkTracker test double
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackingIntegrationSwiftTests.swift
Due: format-swift

fix: Disable screenshot picker by default
  Samples/iOS-Swift/App/Sources/FeedbackViewController.swift
  Sources/SentryObjC/Public/SentryObjCUserFeedbackFormConfiguration.h
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

ref: pass the init funnel a delegate
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
  Sources/Swift/Core/Integrations/Performance/SentryUIViewControllerSwizzling.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingHelperTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerSwizzlingTests.swift
Due: format-swift

docs: record iOS 15 probe split into a separate PR
  GH-8548-HANDOFF.md
Due: format-markdown

ref(data-collection)!: Remove sendDefaultPii
  CHANGELOG_V10.md
  Sources/SentryObjC/Public/SentryObjCOptions.h
  Sources/SentryObjCCompat/SentryObjCOptions.swift
  Sources/Swift/Options+Dictionary.swift
  Sources/Swift/Options.swift
  Tests/SentryObjCTests/SentryObjCOptionsTests.m
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  Tests/SentryTests/SentryOptionsTests.swift
  Tests/SentryTests/Transaction/SentryTraceContextTests.swift
  sdk_api_objc_v10.json
  sdk_api_v10.json
Due: format-swift, format-markdown

docs: restore helper header comments
  SentryTestUtils/Sources/ClearTestState.swift
  Sources/Sentry/include/SentryUIViewControllerSwizzlingHelper.h
Due: format-swift

test: Expect scrubbed V10 network body values
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

test: check GH-1355 on real iOS 15 devices
  .github/workflows/benchmarking.yml
  .sauce/benchmarking-config.yml
  Samples/iOS-Swift/Benchmarking/Sources/GH1355OldOrderingTests.m
  Sources/Sentry/SentryUIViewControllerSwizzlingHelper.m
Due: none

test: drop the 15m cap on the iOS 15 suite
  .sauce/benchmarking-config.yml
Due: none

test: run only the iOS 15 suite on this branch
  .github/workflows/benchmarking.yml
Due: none

feat(data-collection): Filter failed headers
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/SentryClientTests.swift
Due: format-swift

docs: Add failed header changelog entry
  CHANGELOG_V10.md
  Sources/Swift/Networking/SentryNetworkTracker.swift
Due: format-swift, format-markdown

fix: Preserve repeated form field shape when scrubbing
  Sources/Swift/DataCollection/SentryDataCollection+KeyValueFilter.swift
  Tests/SentryTests/Networking/SentryReplayNetworkDetailsBodyTests.swift
Due: format-swift

ref: convert SentryEnvelopeItemHeader to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryEnvelopeAttachmentHeader.m
  Sources/Sentry/SentryEnvelopeItemHeader.m
  Sources/Sentry/SentryEnvelopeRateLimit.m
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/SentryEnvelopeAttachmentHeader.h
  Sources/Sentry/include/SentryEnvelopeItemHeader.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Tools/SentryEnvelopeAttachmentHeader.swift
  Sources/Swift/Tools/SentryEnvelopeItemHeader.swift
  Tests/SentryTests/Protocol/SentryEnvelopeItemHeaderTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

feat: expose init swizzling option to ObjC consumers
  CHANGELOG.md
  GH-8548-HANDOFF.md
  Sources/SentryObjC/Public/SentryObjCExperimentalOptions.h
  Sources/SentryObjCCompat/SentryObjCExperimentalOptions.swift
  sdk_api_objc.json
  sdk_api_objc_v10.json
Due: format-swift, format-markdown

fix: retain empty collected headers
  Sources/Swift/Networking/SentryNetworkTracker.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

docs: record that the iOS 15 probe never ran
  GH-8548-HANDOFF.md
Due: format-markdown
