Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

ref(samples): Restructure visionOS-SwiftUI-SPM with App layout
  Samples/visionOS-SwiftUI-SPM/App/Resources/Info.plist
  Samples/visionOS-SwiftUI-SPM/App/Sources/ContentView.swift
  Samples/visionOS-SwiftUI-SPM/App/Sources/MainApp.swift
  Samples/visionOS-SwiftUI-SPM/visionOS-SwiftUI-SPM.yml
Due: format-swift

ref(samples): Restructure watchOS-Swift with Extension and WatchApp
  Samples/watchOS-Swift/.gitignore
  Samples/watchOS-Swift/Extension/Configuration/Info.plist
  Samples/watchOS-Swift/Extension/Configuration/watchOS-Swift-Extension.entitlements
  Samples/watchOS-Swift/Extension/Configuration/watchOS-Swift-Extension.xcconfig
  Samples/watchOS-Swift/Extension/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  Samples/watchOS-Swift/Extension/Resources/PushNotificationPayload.apns
  Samples/watchOS-Swift/Extension/Resources/Tongariro.jpg
  Samples/watchOS-Swift/Extension/Sources/ContentView.swift
  Samples/watchOS-Swift/Extension/Sources/ExtensionDelegate.swift
  Samples/watchOS-Swift/Extension/Sources/HostingController.swift
  Samples/watchOS-Swift/Extension/Sources/MetricsView.swift
  Samples/watchOS-Swift/Extension/Sources/NotificationController.swift
  Samples/watchOS-Swift/Extension/Sources/NotificationView.swift
  Samples/watchOS-Swift/WatchApp/Configuration/Info.plist
  Samples/watchOS-Swift/WatchApp/Configuration/watchOS-Swift-App.entitlements
  Samples/watchOS-Swift/WatchApp/Configuration/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/WatchApp/Resources/Base.lproj/Interface.storyboard
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: format-swift, format-json

ref(samples): Restructure SwiftUITestSample and SwiftUICrashTest
  TestSamples/SwiftUICrashTest/SwiftUICrashTest.yml
  TestSamples/SwiftUITestSample/SwiftUITestSample.yml
Due: none

ref: Update project files for sample restructure
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcworkspace/contents.xcworkspacedata
  SentryTestUtilsTests/TestInfoPlistWrapperTests.swift
  SentryTestUtilsTests/TestSessionReplayEnvironmentCheckerTests.swift
Due: format-swift

Fixes
  Sources/Swift/Core/Tools/SentrySDKLog.swift
  Tests/SentryTests/Helper/SentrySDKLogTests.swift
Due: format-swift

ref(samples): Add .gitkeep to empty Sources, Resources, Configuration dirs
  Samples/DistributionSample/App/Configuration/.gitkeep
  Samples/iOS-ObjectiveC/UITests/Resources/.gitkeep
  Samples/iOS-Swift/App/Resources/.gitkeep
  Samples/iOS-Swift/App/Sources/.gitkeep
  Samples/iOS-Swift/AppClip/Sources/.gitkeep
  Samples/iOS-Swift/Benchmarking/Sources/.gitkeep
  Samples/iOS-Swift/IntentExtension/Resources/.gitkeep
  Samples/iOS-Swift/UITests/Resources/.gitkeep
  Samples/iOS-Swift/UITests/Sources/.gitkeep
  Samples/iOS-Swift6/UITests/Resources/.gitkeep
  Samples/iOS-SwiftUI/UITests/Resources/.gitkeep
  Samples/macOS-Swift/UITests/Resources/.gitkeep
  Samples/tvOS-Swift/AppSBSwift/Resources/.gitkeep
  Samples/watchOS-Swift/Extension/Configuration/.gitkeep
Due: none

docs: Add Sample Projects section to AGENTS.md
  AGENTS.md
Due: format-markdown

fix(ci): Update CI simulator runtimes and fix watchOS build destination
  .github/workflows/test.yml
  Makefile
Due: none

ref(samples): Move image to resource for iOS Objective-C sample
  Samples/iOS-ObjectiveC/App/Resources/Tongariro.jpg
Due: none

ref(samples): Add bridging header to Headers in iOS-SwiftUI
  Samples/iOS-SwiftUI/App/Configuration/iOS-SwiftUI.xcconfig
  Samples/iOS-SwiftUI/App/Headers/iOS-SwiftUI-Bridging-Header.h
Due: none

prevent onLastRunStatus from being called twice, don’t us emagic vals
  Sources/Sentry/SentrySDKInternal.m
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
Due: format-swift

rename onLastRunStatus to onLastRunStatusDetermined
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryOptionsInternal.m
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/SentryCrash/SentryCrashIntegration.swift
  Sources/Swift/Options.swift
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

fix cl
  CHANGELOG.md
Due: format-markdown

chore(core): Add SDK history doc
  develop-docs/README.md
  develop-docs/SDK_HISTORY.md
Due: format-markdown

add comments
  Sources/Sentry/SentryNetworkTracker.m
Due: none

handle suspended -> cancelled case
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

fix(ci): Update CI simulator runtimes and fix watchOS build destination (#7502)
  .github/workflows/test.yml
  Makefile
Due: none

don’t reset start date on resume
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

don’t fix changelog for already released section
  CHANGELOG.md
Due: format-markdown

fix: Guard against empty commit range in analyze-languages script
  scripts/analyze-languages.sh
Due: none

also test span status
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

fix: Include unmapped files in scope percentage denominator
  scripts/analyze-languages.sh
Due: none

fix: Don't finish network spans for suspended URL session tasks (#7471)
  CHANGELOG.md
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift, format-markdown

Fix optional chaining for window property access
  Sources/Swift/Integrations/Breadcrumbs/SentryBreadcrumbTracker.swift
Due: format-swift

Update Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
Due: format-swift

refactor: Use Bundler for github-linguist in analyze-languages
  .github/workflows/analyze-language-trends.yml
  Makefile
  scripts/analyze-languages/Gemfile
  scripts/analyze-languages/Gemfile.lock
  scripts/analyze-languages/analyze-languages.sh
Due: none

ref: Extract content type into EnvelopeContentType enum
  Sources/Swift/Tools/TelemetryProcessor/TelemetryScheduler.swift
Due: format-swift

fix: Use Int instead of Int64 for metric counter parsing in tests
  Tests/SentryTests/TelemetryProcessor/SentryDefaultTelemetryProcessorTests.swift
Due: format-swift

Update Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
Due: format-swift

fix: Use .ruby-version instead of hardcoded Ruby version
  .github/workflows/analyze-language-trends.yml
Due: none

Update .github/workflows/analyze-language-trends.yml
  .github/workflows/analyze-language-trends.yml
Due: none

ref: Remove unused dependencies from SentryMetricsIntegration
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/SentryDependencyContainer.swift
Due: format-swift

refactor: Extract Python chart generation and use named parameters
  .github/workflows/analyze-language-trends.yml
  AGENTS.md
  Makefile
  scripts/analyze-languages/analyze-languages.sh
  scripts/analyze-languages/generate-chart.py
Due: format-markdown

Update scripts/analyze-languages/analyze-languages.sh
  scripts/analyze-languages/analyze-languages.sh
Due: none

fix: Fix Chart.js tick callback and update requirements header
  scripts/analyze-languages/generate-chart.py
Due: none

chore: Remove feature branch trigger from workflow
  .github/workflows/analyze-language-trends.yml
Due: none

chore: Add `make analyze-languages` to chart language trends (#7486)
  .github/workflows/analyze-language-trends.yml
  .gitignore
  AGENTS.md
  Makefile
  develop-docs/README.md
  develop-docs/github-pages/index.html
  scripts/analyze-languages/Gemfile
  scripts/analyze-languages/Gemfile.lock
  scripts/analyze-languages/analyze-languages.sh
  scripts/analyze-languages/generate-chart.py
Due: format-markdown

fix: Check client isEnabled before capturing metrics
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
Due: format-swift

ref: Route metrics through TelemetryProcessor
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Swift/Core/Integrations/FlushableIntegration.swift
  Sources/Swift/Integrations/Metrics/SentryMetricsIntegration.swift
  Sources/Swift/SentryClient.swift
  Sources/Swift/SentryDependencyContainer.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryProcessor.swift
  Sources/Swift/Tools/TelemetryProcessor/TelemetryScheduler.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsApiE2ETests.swift
  Tests/SentryTests/Integrations/Metrics/SentryMetricsIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/TelemetryProcessor/SentryDefaultTelemetryProcessorTests.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
