Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: no-commit-to-branch

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
    - id: check-github-actions
    - id: check-github-workflows
      args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
    - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift" ]
        args:
          - "format-swift"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++" ]
        args:
          - "lint"

      - id: format-markdown
        name: Format Markdown
        description: 'Format Markdown'
        language: node
        files: ^.*\.md$
        types_or: [markdown]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

      - id: format-json
        name: Format JSON
        description: 'Format JSON'
        language: node
        files: ^.*\.json$
        types_or: [json]
        entry: prettier --write --ignore-unknown --config .prettierrc
        additional_dependencies: ["prettier@3.5.0"]

Remove unnecesary code
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Sources/Swift/Persistence/SentryScopeTagsPersistentStore.swift
  Sources/Swift/Persistence/SentryScopeUserPersistentStore.swift
Due: format-swift

Update tests
  Tests/SentryTests/Persistence/SentryScopeContextPersistentStoreTests.swift
  Tests/SentryTests/Persistence/SentryScopeTagsPersistentStoreTests.swift
  Tests/SentryTests/Persistence/SentryScopeUserPersistentStoreTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

Fix builds
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

Add tests for `SentryWatchdogTerminationTagsProcessor`
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationTagsProcessorTests.swift
Due: format-swift

Delete .devcontainer directory
  .devcontainer/devcontainer.json
Due: format-json

feat: Record dist and evironment for watchdog termination events
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentryWatchdogTerminationScopeObserver.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryWatchdogTerminationScopeObserver.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationDistProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationEnvironmentProcessor.swift
  Sources/Swift/Persistence/SentryScopeDistPersistentStore.swift
  Sources/Swift/Persistence/SentryScopeEnvironmentPersistentStore.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationDistProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationEnvironmentProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationDistProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationEnvironmentProcessor.swift
  Tests/SentryTests/Persistence/TestSentryScopeDistPersistentStore.swift
  Tests/SentryTests/Persistence/TestSentryScopeEnvironmentPersistentStore.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

Update changlog
  CHANGELOG.md
Due: format-markdown

feat: Record extra and tracecontext for watchdog termination events
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentryWatchdogTerminationScopeObserver.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryWatchdogTerminationScopeObserver.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationExtrasProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationTraceContextProcessor.swift
  Sources/Swift/Persistence/SentryScopeExtrasPersistentStore.swift
  Sources/Swift/Persistence/SentryScopeTraceContextPersistentStore.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationExtrasProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationTraceContextProcessorTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationExtrasProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationTraceContextProcessor.swift
  Tests/SentryTests/Persistence/TestSentryScopeExtrasPersistentStore.swift
  Tests/SentryTests/Persistence/TestSentryScopeTraceContextPersistentStore.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

test(feedback): use correct property in objc sample app
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
Due: none

feat: Record level and fingerprint for watchdog termination events
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySDK.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentryWatchdogTerminationScopeObserver.m
  Sources/Sentry/SentryWatchdogTerminationTracker.m
  Sources/Sentry/SentryWatchdogTerminationTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentrySerialization.h
  Sources/Sentry/include/SentryWatchdogTerminationScopeObserver.h
  Sources/Sentry/include/SentryWatchdogTerminationTracker.h
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationFingerprintProcessor.swift
  Sources/Swift/Integrations/WatchdogTerminations/Processors/SentryWatchdogTerminationLevelProcessor.swift
  Sources/Swift/Persistence/SentryScopeFingerprintPersistentStore.swift
  Sources/Swift/Persistence/SentryScopeLevelPersistentStore.swift
  Tests/SentryTests/Helper/SentryDependencyContainerTests.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationFingerprintProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationLevelProcessor.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationLevelProcessorTests.swift
  Tests/SentryTests/Persistence/SentryScopeLevelPersistentStoreTests.swift
  Tests/SentryTests/Persistence/TestSentryScopeFingerprintPersistentStore.swift
  Tests/SentryTests/Persistence/TestSentryScopeLevelPersistentStore.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

feat: Enhance tests for SentryWatchdogTerminationTracker with full attribute validation
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
Due: format-swift

Fix metrics CI
  .github/workflows/release.yml
Due: none

Fix metrics CI (#5540)
  .github/workflows/release.yml
Due: none

Remove app extension only flag
  Package.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Sentry.podspec
  Sources/Configuration/Sentry.xcconfig
  Sources/Sentry/Public/SentryDefines.h
  Tests/Configuration/SentryTests.xcconfig
  sdk_api.json
Due: format-swift, format-json

Add changelog
  CHANGELOG.md
Due: format-markdown

PR feedback
  Sentry.podspec
Due: none

fix GCC_PREPROCESSOR_DEFINITIONS from TEST/TESTCI to SENTRY_ prefixed versions
  Samples/Shared/Config/ClangPreprocessing.xcconfig
Due: none

Fix tests
  SentryTestUtils/ClearTestState.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationContextProcessorTests.swift
  Tests/SentryTests/Persistence/SentryScopeContextPersistentStoreTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

PR feedback
  Sources/Sentry/SentrySessionReplayIntegration.m
  Tests/SentryTests/Persistence/SentryScopeContextPersistentStoreTests.swift
Due: format-swift

Fix crash in file manager
  CHANGELOG.md
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
Due: format-swift, format-markdown

Fix other nullable case
  Sources/Sentry/SentrySessionReplayIntegration.m
Due: none

Fix prewarmed swiftui tests
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests/LaunchUITests.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
Due: format-swift

Remove app extension only flag (#5524)
  CHANGELOG.md
  Package.swift
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Sentry.podspec
  Sources/Configuration/Sentry.xcconfig
  Sources/Sentry/Public/SentryDefines.h
  Tests/Configuration/SentryTests.xcconfig
  sdk_api.json
Due: format-swift, format-markdown, format-json

gracefully handle missing profile debug files
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
Due: format-swift

add more logging
  Sources/Sentry/Profiling/SentryProfilerSerialization.mm
  Sources/Sentry/Profiling/SentryProfilerTestHelpers.m
Due: none

Fix crash in file manager (#5535)
  CHANGELOG.md
  SentryTestUtils/ClearTestState.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Persistence/SentryScopeContextPersistentStore.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationScopeObserverTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackerTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/SentryWatchdogTerminationTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/WatchdogTerminations/TestSentryWatchdogTerminationContextProcessorTests.swift
  Tests/SentryTests/Persistence/SentryScopeContextPersistentStoreTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift, format-markdown

trigger ui tests to run on sample app shared xcconfig changes
  .github/workflows/ui-tests.yml
Due: none

test: explicitly set code coverage to true in all test plans
  Plans/SentrySwiftUI_Base.xctestplan
  Plans/Sentry_Base.xctestplan
  Plans/SwiftUITestSample_Base.xctestplan
  Plans/iOS-ObjectiveC_Base.xctestplan
  Plans/iOS-Swift6_Base.xctestplan
  Plans/iOS-SwiftUI_Base.xctestplan
  Plans/iOS-Swift_Base.xctestplan
  Plans/iOS13-Swift_Base.xctestplan
  Plans/tvOS-Swift_Base.xctestplan
Due: none

fix ref to test plan
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

changelog
  CHANGELOG.md
Due: format-markdown

attempt to use correct UIWindow initializer for SwiftUI
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
Due: format-swift

add ui test to iOS-SwiftUI
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests/FeedbackUITests.swift
Due: format-swift

wip by marking things as unavailable to extensions
  Sources/Sentry/include/SentryUserFeedbackIntegration.h
Due: none

complete implementation and fix changelog
  CHANGELOG.md
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackIntegrationDriver.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidget.swift
Due: format-swift, format-markdown
