Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

ci: Remove CameraTest xcconfig from version bump (#5195)
  .github/workflows/version-bump-util.yml
  Utils/VersionBump/main.swift
Due: format-swift

trying to use correct destinations for all schemes; stuck on watchOS
  scripts/build-sample-apps.sh
Due: none

dont need to manually sign iOS-SwiftUI-UITests
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests.xcconfig
Due: none

move SentrySDKOverrides and SentrySDKWrapper to shared lib
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
  Samples/iOS-Swift/iOS-Swift/EnvironmentVariableTableViewCell.swift
  Samples/iOS-Swift/iOS-Swift/FeaturesViewController.swift
  Samples/iOS-Swift/iOS-Swift/LaunchArgumentTableViewCell.swift
  Samples/iOS-Swift/iOS-Swift/Profiling/ProfilingViewController.swift
Due: format-swift

replace all sdk starts with SentrySDKWrapper.shared.startSentry()
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/iOS-Swift6/iOS-Swift6/AppDelegate.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/iOS13-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS15-SwiftUI/iOS15-SwiftUI/App.swift
  Samples/macOS-Swift/Shared/AppDelegate.swift
  Samples/macOS-SwiftUI/macOS-SwiftUI/macOS_SwiftUIApp.swift
  Samples/tvOS-Swift/tvOS-SBSwift/AppDelegate.swift
  Samples/tvOS-Swift/tvOS-Swift/AppDelegate.swift
  Samples/watchOS-Swift/watchOS-Swift WatchKit Extension/ExtensionDelegate.swift
Due: format-swift

share the launch args and environment vars to every sample app
  Samples/Shared/feature-flags.yml
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.yml
  Samples/iOS-Swift/iOS-Swift.yml
  Samples/iOS-Swift6/iOS-Swift6.yml
  Samples/iOS-SwiftUI/iOS-SwiftUI.yml
  Samples/iOS13-Swift/iOS13-Swift.yml
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.yml
  Samples/macOS-Swift/macOS-Swift.yml
  Samples/macOS-SwiftUI/macOS-SwiftUI.yml
  Samples/tvOS-Swift/tvOS-Swift.yml
  Samples/visionOS-Swift/visionOS-Swift.yml
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

move FeaturesViewController to shared lib
  Samples/SentrySampleShared/SentrySampleShared/EnvironmentVariableTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/LaunchArgumentTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
Due: format-swift

move feature flags area from tab bar item to pushed view from extras area
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/iOS-Swift/iOS-Benchmarking/SentrySDKPerformanceBenchmarkTests.m
  Samples/iOS-Swift/iOS-Swift/Base.lproj/Main.storyboard
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

use updated versioninig config file from sample apps
  Samples/SentrySampleShared/SentrySampleShared.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC-UITests.xcconfig
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcconfig
  Samples/iOS-Swift/iOS-Benchmarking.xcconfig
  Samples/iOS-Swift/iOS-Swift-UITests.xcconfig
  Samples/iOS-Swift/iOS-Swift.xcconfig
  Samples/iOS-Swift/iOS-Swift/Sample.xcconfig
  Samples/iOS-Swift/iOS-SwiftClip.xcconfig
  Samples/iOS-Swift6/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6/iOS-Swift6.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI-UITests.xcconfig
  Samples/iOS-SwiftUI/iOS-SwiftUI.xcconfig
  Samples/iOS13-Swift/iOS13-Swift-UITests.xcconfig
  Samples/iOS13-Swift/iOS13-Swift.xcconfig
  Samples/iOS15-SwiftUI/iOS15-SwiftUI.xcconfig
  Samples/macOS-Swift/Shared/macOS-Swift.xcconfig
  Samples/macOS-Swift/macOS-Swift-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.xcconfig
  Samples/macOS-Swift/macOS-Swift-Sandboxed.xcconfig
  Samples/macOS-Swift/macOS-Swift-UITests.xcconfig
  Samples/macOS-Swift/macOS-Swift.xcconfig
  Samples/macOS-SwiftUI/macOS-SwiftUI.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-SBSwift.xcconfig
  Samples/tvOS-Swift/tvOS-Swift-UITests.xcconfig
  Samples/tvOS-Swift/tvOS-Swift.xcconfig
  Samples/visionOS-Swift/visionOS-Swift.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-App.xcconfig
  Samples/watchOS-Swift/watchOS-Swift-Extension.xcconfig
Due: none

remove project-defined value to use from config instead
  Sentry.xcodeproj/project.pbxproj
Due: none

only compile in iOS
  Samples/SentrySampleShared/SentrySampleShared/EnvironmentVariableTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/FeaturesViewController.swift
  Samples/SentrySampleShared/SentrySampleShared/LaunchArgumentTableViewCell.swift
Due: format-swift

remove debug
  scripts/build-sample-apps.sh
Due: none

remaining swift-based apps
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/iOS-Swift/iOS-SwiftClip/AppDelegate.swift
  Samples/visionOS-Swift/visionOS-Swift/VisionOSSwiftApp.swift
Due: format-swift

move more session replay config options behind feature flags
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
Due: format-swift

move logic to restart SDK from camera sample app to shared sdk overrides
  Samples/SentrySampleShared/SentrySampleShared/EnvironmentVariableTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/LaunchArgumentTableViewCell.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/SessionReplay-CameraTest/Sources/AppDelegate.swift
  Samples/SessionReplay-CameraTest/Sources/Base.lproj/Main.storyboard
  Samples/SessionReplay-CameraTest/Sources/ViewController.swift
  Samples/iOS-Swift/iOS-Swift/AppDelegate.swift
Due: format-swift

remove noisy repetitive logging
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

fix visionOS build
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

release: 8.50.1-beta.0
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Samples/Shared/Config/Versioning.xcconfig
  Samples/iOS-Swift/iOS-Swift/Sample.xcconfig
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Configuration/SDK.xcconfig
  Sources/Configuration/SentrySwiftUI.xcconfig
  Sources/Configuration/Versioning.xcconfig
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

fix test
  Tests/SentryTests/SentryKSCrashReportConverterTests.m
Due: none

chore: Fix prettier formatting issues
  .github/workflows/version-bump-util.yml
Due: none

Format code
  .github/workflows/version-bump-util.yml
Due: none

ci: Add separate Prettier linting workflow
  .github/workflows/lint-prettier.yml
  .github/workflows/lint.yml
Due: none

fixes
  .github/workflows/lint-prettier.yml
  .github/workflows/lint.yml
Due: none

ci: Move shellcheck into its on workflow
  .github/workflows/lint-shellcheck.yml
  .github/workflows/lint.yml
Due: none

chore: Fix prettier formatting issues (#5203)
  .github/workflows/version-bump-util.yml
Due: none

add why
  .github/workflows/lint-shellcheck.yml
Due: none

chore: Changelog prep for 8.50.1
  CHANGELOG.md
Due: format-markdown

linting issues
  .github/workflows/lint-shellcheck.yml
Due: none

remove branch
  .github/workflows/lint-shellcheck.yml
Due: none

fix changelog
  CHANGELOG.md
Due: format-markdown

ref: Fix compiler errors for async safe logs
  .github/workflows/build.yml
Due: none

wording
  .github/workflows/build.yml
Due: none

fix it
  Sources/Sentry/SentrySessionReplaySyncC.c
Due: none

fix
  .github/workflows/build.yml
Due: none

fix: Add missing App Sandbox entitlements for macOS
  Samples/SentrySampleShared/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/SentrySampleShared/SentrySampleShared.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Samples/macOS-Swift/Shared/Base.lproj/Main.storyboard
  Samples/macOS-Swift/Shared/MetadataViewController.swift
  Samples/macOS-Swift/macOS-Swift-Other.entitlements
  Samples/macOS-Swift/macOS-Swift-Sandboxed-Other.entitlements
  Samples/macOS-Swift/macOS-Swift-Sandboxed.entitlements
  Samples/macOS-Swift/macOS-Swift-UITests/MacOSSwiftUITests.swift
  Samples/macOS-Swift/macOS-Swift.entitlements
  Samples/macOS-Swift/macOS-Swift.yml
Due: format-swift

chore: Changelog prep for 8.50.1 (#5206)
  CHANGELOG.md
Due: format-markdown

ci: Add separate prettier linting workflow (#5204)
  .github/workflows/lint-prettier.yml
  .github/workflows/lint.yml
Due: none

ref: Fix compiler errors for async safe logs (#5207)
  .github/workflows/build.yml
  Sources/Sentry/SentrySessionReplaySyncC.c
Due: none

ci: Move shellcheck into its on workflow (#5205)
  .github/workflows/lint-shellcheck.yml
  .github/workflows/lint.yml
Due: none

revert changes
  Samples/SentrySampleShared/SentrySampleShared.xcodeproj/project.pbxproj
  Samples/SentrySampleShared/SentrySampleShared.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
