Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

pin deps
  .github/workflows/ui-tests.yml
Due: none

internal: Add abnormal mechanism to SentrySession (#4842)
  Sources/Sentry/SentrySession.m
  Sources/Sentry/include/SentrySession.h
  Tests/SentryTests/SentrySessionTests.swift
Due: format-swift

rename SentrySpanKey to SentrySpanDataKey
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Swift/Transactions/SentrySpanDataKey.swift
  Sources/Swift/Transactions/SentrySpanKey.swift
  Sources/Swift/Transactions/SentrySpanOperation.swift
  Tests/SentryTests/Transactions/SentrySpanKeyTests.swift
Due: format-swift

docs: add warning for experimental feature
  Sources/SentrySwiftUI/SentryTracedView.swift
Due: format-swift

refactor: Add origin as parameter to file IO tracker (#4860)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryNSDataSwizzling.m
  Sources/Sentry/SentryNSFileManagerSwizzling.m
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Swift/Transactions/SentrySpanDataKey.swift
  Sources/Swift/Transactions/SentrySpanOperation.swift
  Sources/Swift/Transactions/SentryTraceOrigin.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerTests.swift
  Tests/SentryTests/Transactions/SentrySpanKeyTests.swift
  Tests/SentryTests/Transactions/SentrySpanOperationTests.swift
  Tests/SentryTests/Transactions/SentryTraceOriginTests.swift
Due: format-swift

added develop docs on test plans
  develop-docs/README.md
  develop-docs/xcode_test_plan_uicapture_playback.png
  develop-docs/xcode_test_plan_uicapture_settings.png
Due: format-markdown

added xcetstplan to test workflow triggers
  .github/workflows/test.yml
Due: none

add upload of xcresult on failure
  .github/workflows/ui-tests.yml
  Plans/SentryProfilerTests_Base.xctestplan
  Plans/SentrySwiftUI_Base.xctestplan
  Plans/SentryTests_Base.xctestplan
  Plans/Sentry_Base.xctestplan
  Plans/SwiftUITestSample_Base.xctestplan
  Plans/iOS-ObjectiveC_Base.xctestplan
  Plans/iOS-Swift-Benchmarking_Base.xctestplan
  Plans/iOS-Swift6_Base.xctestplan
  Plans/iOS-SwiftUI_Base.xctestplan
  Plans/iOS-Swift_Base.xctestplan
  Plans/iOS13-Swift_Base.xctestplan
  Plans/iOS15-SwiftUI.xctestplan
  Plans/macOS-SwiftUI_Base.xctestplan
  Plans/macOS-Swift_Base.xctestplan
  Plans/tvOS-Swift_Base.xctestplan
  Plans/visionOS-Swift_Base.xctestplan
  Plans/watchOS-Swift-WatchKit-App_Base.xctestplan
  fastlane/Fastfile
Due: none

add tests plans to workflow event paths
  .github/workflows/test.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

removed comments of if checks
  .github/workflows/ui-tests.yml
Due: none

WIP: last minute tweaks to apis to align implementation and docs
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/SentrySDKWrapper.swift
  Sources/Sentry/Public/SentrySDK.h
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackFormConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/Configuration/SentryUserFeedbackThemeConfiguration.swift
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackWidgetButtonView.swift
Due: format-swift

WIP: we need to make these changes in the public release pr
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sources/Sentry/Public/SentrySDK.h
Due: format-swift

change the init parameter to be more generic for future expansion possibilities
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
Due: format-swift

Format code
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormViewModel.swift
Due: format-swift

use SentryId instead of String
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
Due: format-swift

followups
  Sources/Sentry/SentryClient.m
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

WIP: expose necessary interfaces publicly
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/Public/SentrySDK.h
  Sources/Sentry/include/SentryOptions+Private.h
  Sources/Sentry/include/SentrySDK+Private.h
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
Due: format-swift

Revert "WIP: we need to make these changes in the public release pr"
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Sources/Sentry/Public/SentrySDK.h
Due: format-swift

use the new api
  Samples/iOS-ObjectiveC/iOS-ObjectiveC.xcodeproj/project.pbxproj
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

add screenshot to attach via the manual call to submit feedback
  Samples/Shared/screenshot.png
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
Due: none

changelog
  CHANGELOG.md
Due: format-markdown

Format code
  Sources/Sentry/SentryClient.m
Due: none

fix test failure and add some missing ones
  Sources/Swift/Integrations/UserFeedback/SentryFeedback.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
Due: format-swift

fix: Add directory Pods and *.xcarchive to ignored paths in format-clang
  Makefile
Due: none

chore(ci): revert Yarn v4 to Yarn Classic
  package.json
  yarn.lock
Due: format-json

remove makefile install
  Makefile
Due: none

fix: change warning to experiment
  Sources/SentrySwiftUI/SentryTracedView.swift
Due: format-swift

wip
  .github/workflows/test.yml
  .github/workflows/ui-tests.yml
  .gitignore
  fastlane/Fastfile
Due: none

wip
  CHANGELOG.md
  Sources/Sentry/SentryNSDataSwizzling.m
  Sources/Sentry/SentryNSFileManagerSwizzling.m
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
Due: format-swift, format-markdown

Update Sources/Swift/SentryExperimentalOptions.swift
  Sources/Swift/SentryExperimentalOptions.swift
Due: format-swift

wip
  Samples/watchOS-Swift/watchOS-Swift.xcodeproj/xcshareddata/xcschemes/watchOS-Swift WatchKit App.xcscheme
  Sources/Sentry/SentryNSDataSwizzling.m
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationTests.swift
Due: format-swift

revert changes
  Samples/watchOS-Swift/watchOS-Swift.xcodeproj/xcshareddata/xcschemes/watchOS-Swift WatchKit App.xcscheme
Due: none

chore(docs): fix path to Xcode screenshots
  develop-docs/README.md
Due: format-markdown

chore(ci): revert Yarn v4 to Yarn Classic in pre-commit checks (#4876)
  Makefile
  package.json
  yarn.lock
Due: format-json

fix: Add directory Pods and *.xcarchive to ignored paths in format-clang (#4875)
  Makefile
Due: none

refactor: Add shared file IO tracker to dependency injection container (#4861)
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Sentry/include/SentryPrivate.h
Due: none

squash rebase changes
  CHANGELOG.md
  Sentry.xcodeproj/project.pbxproj
  Sources/Swift/Integrations/Performance/IO/FileManager+SentryTracing.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker+SwiftHelpers.swift
  Tests/SentryTests/Integrations/Performance/IO/FileManagerTracingIntegrationTests.swift
Due: format-swift, format-markdown

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
