Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

fix: Improve flaky tests at SentryDispatchQueueWrapperSwiftTests (#6383)
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.swift
Due: format-swift

Bump timeout values
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: none

chore: Add tests for SentryCrashContext (#6373)
  Sentry.xcodeproj/project.pbxproj
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext_Apple.h
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
  Tests/SentryTests/SentryCrash/TestThread.h
  Tests/SentryTests/SentryCrash/TestThread.m
Due: none

fix: Fix thread deallocation (#6375)
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
Due: none

Fix typo in changelog
  CHANGELOG.md
Due: format-markdown

chore(ci): Add timeout to UI tests
  .github/workflows/ui-tests-common.yml
Due: none

fix: Wrong Frame Delay when becoming active (#6381)
  CHANGELOG.md
  Sources/Sentry/SentryDelayedFramesTracker.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/include/SentryDelayedFramesTracker.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
Due: format-swift, format-markdown

fix: Wrong Frame Delay when becoming active
  CHANGELOG.md
  Sources/Sentry/SentryDelayedFramesTracker.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/include/SentryDelayedFramesTracker.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackerTests.swift
Due: format-swift, format-markdown

ref: Remove SentrySDK from trace propagation class (#6354)
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/include/SentryTracePropagation.h
Due: none

feat: Add propagating of traceparent
  CHANGELOG.md
  Sources/Sentry/Public/SentryOptions.h
  Sources/Sentry/SentryNetworkTracker.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryTracePropagation.m
  Sources/Sentry/SentyOptionsInternal.m
  Sources/Sentry/include/SentryTracePropagation.h
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryTracePropagationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
  sdk_api.json
Due: format-swift, format-markdown

ci(v8): Bump Xcode from 26.0 to 26.0.1
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

chore(ci): Add timeout to UI tests (#6391)
  .github/workflows/ui-tests-common.yml
Due: none

ci(v8): Bump Xcode from 26.0 to 26.0.1 (#6394)
  .github/workflows/test.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
Due: none

chore: Enforce Xcode 16 for update-api script
  scripts/update-api.sh
Due: none

test: Ensure test is server running (#6300)
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
Due: format-swift

ci: Add v8.x branch to workflows (#6321)
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/version-bump-util.yml
Due: none

chore: Explain v8 branch (#6323)
  develop-docs/DECISIONS.md
  develop-docs/RELEASE.md
Due: format-markdown

fix(session-replay): Add detection for potential PII leaks disabling session replay
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayIntegrationTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
Due: format-swift

update changelog & docs; cleanup
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

Fixes and cleanup
  CHANGELOG.md
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKOverrides.swift
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Samples/Shared/feature-flags.yml
  Samples/iOS-SwiftUI/iOS-SwiftUI/Info.plist
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestInfoPlistWrapper.swift
  SentryTestUtilsTests/TestInfoPlistWrapperTests.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Swift/Helper/SentryInfoPlistError.swift
  Sources/Swift/Helper/SentryInfoPlistKey.swift
  Sources/Swift/Helper/SentryInfoPlistWrapper.swift
  Sources/Swift/Helper/SentryInfoPlistWrapperProvider.swift
  Sources/Swift/Integrations/SessionReplay/SentryReplayOptions.swift
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
  Sources/Swift/SentryExperimentalOptions.swift
  Tests/SentryTests/Helper/SentryInfoPlistWrapperTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentryReplayOptionsTests.swift
  Tests/SentryTests/Integrations/SessionReplay/SentrySessionReplayTests.swift
  sdk_api.json
  sdk_api_V9.json
Due: format-swift, format-markdown

cleanup
  Samples/iOS-SwiftUI/iOS-SwiftUI/Info.plist
  Sources/Swift/Integrations/SessionReplay/SentrySessionReplay.swift
Due: format-swift

add warnings to changelog
  CHANGELOG.md
Due: format-markdown

docs: Add note to README with reference to v8 branch
  README.md
Due: format-markdown

docs: Add note to README with reference to v9 on main branch
  README.md
Due: format-markdown

update api
  sdk_api.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: format-markdown

chore(ci): Migrate danger workflow from v2 to v3
  .github/workflows/danger.yml
Due: none

chore(ci): Migrate danger workflow from v2 to v3 (#6403)
  .github/workflows/danger.yml
Due: none

Improve tests + rename crashed thread to calling thread
  Sources/SentryCrash/Recording/Tools/SentryCrashMachineContext.c
  Tests/SentryTests/SentryCrash/SentryCrashMachineContextTests.m
Due: none

Update changelog
  CHANGELOG.md
Due: format-markdown

ref: Move ThreadInspector initialization to Swift
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultThreadInspector.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/SentryCrash/SentryThreadInspector.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerTest.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerSwiftHelpersTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/TestThreadInspector.swift
Due: format-swift

ref: Move ThreadInspector initialization to Swift (#6404)
  Sources/Sentry/SentryANRTrackingIntegration.m
  Sources/Sentry/SentryDefaultThreadInspector.m
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDefaultThreadInspector.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/SentryCrash/SentryThreadInspector.swift
  Tests/SentryTests/Integrations/ANR/SentryANRTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Integrations/Performance/CoreData/SentryCoreDataTrackerTest.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackerSwiftHelpersTests.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryCrash/TestThreadInspector.swift
Due: format-swift

ref: Create file io tracker Swift interface
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryFileIOTracker.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentryNSDataSwizzling.m
  Sources/Sentry/SentryNSFileManagerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryFileIOTracker.h
  Sources/Sentry/include/SentryNSDataSwizzling.h
  Sources/Sentry/include/SentryNSFileManagerSwizzling.h
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker+SwiftHelpers.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracking.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
Due: format-swift

Fixes
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/SentryFileIOTrackerHelper.m
  Sources/Sentry/SentryFileIOTrackingIntegration.m
  Sources/Sentry/SentryNSDataSwizzling.m
  Sources/Sentry/SentryNSFileManagerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Sentry/include/SentryFileIOTrackerHelper.h
  Sources/Sentry/include/SentryNSDataSwizzling.h
  Sources/Sentry/include/SentryNSFileManagerSwizzling.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Integrations/Performance/IO/Data+SentryTracing.swift
  Sources/Swift/Integrations/Performance/IO/FileManager+SentryTracing.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker+SwiftHelpers.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracking.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryFileIOTrackingIntegrationObjCTests.m
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

More
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Swift/Helper/Dependencies.swift
  Sources/Swift/Integrations/Performance/IO/Data+SentryTracing.swift
  Sources/Swift/Integrations/Performance/IO/FileManager+SentryTracing.swift
  Sources/Swift/Integrations/Performance/IO/SentryFileIOTracker.swift
  Tests/SentryTests/Integrations/Performance/IO/SentryNSFileManagerSwizzlingTests.m
Due: format-swift

chore(ci): Enable logs for ANR tests
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1Tests.swift
Due: format-swift

test: Ensure both listeners are added before continuing ANR thread execution
  Tests/SentryTests/Integrations/ANR/SentryANRTrackerV1Tests.swift
Due: format-swift

pr feedback
  scripts/update-api.sh
Due: none

chore: Enforce Xcode 16 for update-api script (#6396)
  scripts/update-api.sh
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
