Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift

format-markdown:
  name: Format Markdown
  description: Format Markdown
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

format-json:
  name: Format JSON
  description: Format JSON
  language: node
  entry: prettier --write --ignore-unknown --config .prettierrc
  additional_dependencies:
  - prettier@3.5.0

update tv and watch app project specs
  Samples/tvOS-Swift/tvOS-Swift.yml
  Samples/watchOS-Swift/watchOS-Swift.yml
Due: none

remove unused asset catalogs
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image Wide.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-SBSwift/Assets.xcassets/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Back.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Front.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon - App Store.imagestack/Middle.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Back.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Front.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Content.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/App Icon.imagestack/Middle.imagestacklayer/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image Wide.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/App Icon & Top Shelf Image.brandassets/Top Shelf Image.imageset/Contents.json
  Samples/tvOS-Swift/tvOS-Swift/Assets.xcassets/Contents.json
Due: format-json

remove unused asset catalog
  Samples/iOS-Swift6/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/iOS-Swift6/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/iOS-Swift6/Assets.xcassets/Contents.json
Due: format-json

fix ui tests
  .github/workflows/ui-tests.yml
Due: none

investigate issues in changes-in-high-risk-code.yml
  .github/file-filters.yml
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fix changes-in-high-risk-code.yml
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fix(ci): Use response data of GitHub API call
  .github/file-filters.yml
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fix: Detect AppHangsV2 when tracing not enabled
  CHANGELOG.md
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryFramesTrackingIntegration.m
  Sources/Sentry/include/HybridPublic/SentryBaseIntegration.h
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
Due: format-swift, format-markdown

Revert changes moved to #5183
  .github/file-filters.yml
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fix(ci): Use response data of GitHub API call (#5183)
  .github/file-filters.yml
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fix(ci): Handle errors of deleting previous high-risk warnings
  .github/workflows/changes-in-high-risk-code.yml
Due: none

WIP
  .github/workflows/changes-in-high-risk-code.yml
Due: none

fixed call to delete
  .github/workflows/changes-in-high-risk-code.yml
Due: none

Fix profiler
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/SentryOptions+Private.h
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift

fix macos
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
Due: format-swift

fix(ci): Add missing parameters to delete high-risk comments (#5185)
  .github/workflows/changes-in-high-risk-code.yml
Due: none

refactor: Add UIViewController performance tracker to dependency container (#5162)
  SentryTestUtils/ClearTestState.swift
  Sources/Sentry/SentryDependencyContainer.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryPerformanceTrackingIntegration.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentryUIViewControllerPerformanceTracker.m
  Sources/Sentry/SentryUIViewControllerSwizzling.m
  Sources/Sentry/include/HybridPublic/SentryDependencyContainer.h
  Sources/Sentry/include/SentryUIViewControllerPerformanceTracker.h
  Sources/SentrySwiftUI/SentryInternal/SentryInternal.h
  Sources/SentrySwiftUI/SentryTracedView.swift
  Tests/SentryTests/Integrations/Performance/SentryPerformanceTrackingIntegrationTests.swift
  Tests/SentryTests/Integrations/Performance/UIViewController/SentryUIViewControllerPerformanceTrackerTests.swift
  Tests/SentryTests/SentryHubTests.swift
  Tests/SentryTests/SentrySDKTests.swift
Due: format-swift

Update Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentryProfiler.mm
Due: none

fix: Detect AppHangsV2 when tracing not enabled (#5184)
  CHANGELOG.md
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryFramesTrackingIntegration.m
  Sources/Sentry/SentryOptions.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/include/HybridPublic/SentryBaseIntegration.h
  Sources/Sentry/include/SentryOptions+Private.h
  Tests/SentryProfilerTests/SentryContinuousProfilerTests.swift
  Tests/SentryTests/Integrations/Performance/FramesTracking/SentryFramesTrackingIntegrationTests.swift
  Tests/SentryTests/SentryOptionsTest.m
Due: format-swift, format-markdown

revert changelog
  CHANGELOG.md
Due: format-markdown

fix formatting issues
  Sources/Sentry/SentryDependencyContainer.m
Due: none

Format code
  Sources/Sentry/SentryProfiler.mm
Due: none

Add preview
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
Due: format-swift

ci: camera sample with xcodegen (#5106)
  .github/workflows/build.yml
  .gitignore
  Brewfile
  Brewfile-ci-build
  Makefile
  Samples/SessionReplay-CameraTest/Config/Architectures.xcconfig
  Samples/SessionReplay-CameraTest/Config/AssetCatalog.xcconfig
  Samples/SessionReplay-CameraTest/Config/BuildOptions.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangAnalyzer.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangCppLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangModules.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangObjCLanguage.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangPreprocessing.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarnings.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsCpp.xcconfig
  Samples/SessionReplay-CameraTest/Config/ClangWarningsObjC.xcconfig
  Samples/SessionReplay-CameraTest/Config/CodeGeneration.xcconfig
  Samples/SessionReplay-CameraTest/Config/Deployment.xcconfig
  Samples/SessionReplay-CameraTest/Config/Linking.xcconfig
  Samples/SessionReplay-CameraTest/Config/Localization.xcconfig
  Samples/SessionReplay-CameraTest/Config/Packaging.xcconfig
  Samples/SessionReplay-CameraTest/Config/SearchPaths.xcconfig
  Samples/SessionReplay-CameraTest/Config/SessionReplay-CameraTest.xcconfig
  Samples/SessionReplay-CameraTest/Config/Signing.xcconfig
  Samples/SessionReplay-CameraTest/Config/Swift.xcconfig
  Samples/SessionReplay-CameraTest/Config/Versioning.xcconfig
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.pbxproj
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/xcshareddata/xcschemes/SessionReplay-CameraTest.xcscheme
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.yml
  Samples/SessionReplay-CameraTest/Sources/Info.plist
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Sentry.xcodeproj/project.pbxproj
  develop-docs/README.md
Due: format-markdown

Update Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
  Sources/Swift/Integrations/UserFeedback/SentryUserFeedbackFormController.swift
Due: format-swift

meta: add emerge tools cocoa devs as code owners 🎉
  .github/CODEOWNERS
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

ci: ios swift6 xcodegen (#5116)
  .github/workflows/ui-tests.yml
  .gitignore
  Makefile
  Plans/iOS-Swift6_Base.xctestplan
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS-Swift6.xcscheme
  Samples/iOS-Swift/iOS-Swift6/Assets.xcassets/AccentColor.colorset/Contents.json
  Samples/iOS-Swift/iOS-Swift6/Assets.xcassets/AppIcon.appiconset/Contents.json
  Samples/iOS-Swift/iOS-Swift6/Assets.xcassets/Contents.json
  Samples/iOS-Swift/iOS-Swift6/Info.plist
  Samples/iOS-Swift6-UITests.xcconfig
  Samples/iOS-Swift6-UITests/Info.plist
  Samples/iOS-Swift6-UITests/UITests.swift
  Samples/iOS-Swift6.xcconfig
  Samples/iOS-Swift6.yml
  Samples/iOS-Swift6/AppDelegate.swift
  Samples/iOS-Swift6/Base.lproj/LaunchScreen.storyboard
  Samples/iOS-Swift6/Base.lproj/Main.storyboard
  Samples/iOS-Swift6/Info.plist
  Samples/iOS-Swift6/SceneDelegate.swift
  Samples/iOS-Swift6/ViewController.swift
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-swift, format-json

use shared lorem ipsum text file and screenshot; fix objc app
  Samples/SentrySampleShared/SentrySampleShared/GitInjections.swift
  Samples/SentrySampleShared/SentrySampleShared/LoremIpsum.txt
  Samples/SentrySampleShared/SentrySampleShared/LoremIpsumText.swift
  Samples/SentrySampleShared/SentrySampleShared/screenshot.png
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/AppDelegate.m
  Samples/iOS-ObjectiveC/iOS-ObjectiveC/ViewController.m
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
  Samples/iOS-Swift/iOS-Swift/TransactionsViewController.swift
  Samples/iOS-Swift/iOS-Swift/ViewControllers/LoremIpsumViewController.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/LoremIpsumView.swift
  Samples/iOS-SwiftUI/iOS-SwiftUI/SwiftUIApp.swift
  Samples/visionOS-Swift/visionOS-Swift/LoremIpsumView.swift
Due: format-swift

add needed missing infoplist keys/values
  Samples/iOS13-Swift/iOS13-Swift/Info.plist
Due: none

rerun workflows when changing the xcodegen specs or xcconfigs
  .github/workflows/benchmarking.yml
  .github/workflows/build.yml
  .github/workflows/ui-tests.yml
Due: none

ci: move iOS13-Swift under xcodegen mgmt (#5117)
  .gitignore
  Makefile
  Plans/iOS13-Swift_Base.xctestplan
  Samples/iOS-Swift/iOS-Swift.xcodeproj/project.pbxproj
  Samples/iOS-Swift/iOS-Swift.xcodeproj/xcshareddata/xcschemes/iOS13-Swift.xcscheme
  Samples/iOS-Swift/iOS13-Swift/Info.plist
  Samples/iOS13-Swift-UITests.xcconfig
  Samples/iOS13-Swift-UITests/Info.plist
  Samples/iOS13-Swift-UITests/LaunchUITest.swift
  Samples/iOS13-Swift.xcconfig
  Samples/iOS13-Swift.yml
  Samples/iOS13-Swift/iOS13-Swift/AppDelegate.swift
  Samples/iOS13-Swift/iOS13-Swift/Base.lproj/Main.storyboard
  Samples/iOS13-Swift/iOS13-Swift/Info.plist
  Samples/iOS13-Swift/iOS13-Swift/MainViewController.swift
  Samples/iOS13-Swift/iOS13-Swift/SceneDelegate.swift
  Samples/iOS13-Swift/iOS13-Swift/SwiftUIView.swift
  Samples/iOS13-Swift/iOS13-Swift/SwiftUIViewController.swift
  Samples/iOS13-Swift/iOS13-Swift/iOS13-Swift-Bridging-Header.h
  Samples/iOS13-Swift/iOS13-Swift/iOS13-Swift.entitlements
  Sentry.xcodeproj/project.pbxproj
  Sentry.xcworkspace/contents.xcworkspacedata
Due: format-swift

removing project that shouldve been removed previously
  Samples/SessionReplay-CameraTest/SessionReplay-CameraTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Due: none

fix bad merge conflict resolution
  Samples/iOS13-Swift/iOS13-Swift/iOS13-Swift/Info.plist
Due: none

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$
