Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

.pre-commit-config.yaml:

## You can find more hooks here https://pre-commit.com/hooks.html

repos:
  - repo: local
    hooks:
      - id: check-versions
        name: Check development environment tooling versions
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        fail_fast: true
        args:
          - "check-versions"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: ^sdk_api.*\.json$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-clang
        name: Format ObjC, ObjC++, C, and C++
        entry: make
        language: system
        types_or: ["objective-c", "objective-c++", "c", "c++"]
        args:
          - "format-clang"

      - id: format-swift
        name: Format Swift
        entry: make
        language: system
        types_or: ["swift"]
        args:
          - "format-swift-staged"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        exclude: ^sdk_api.*\.json$
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.{yaml,yml}$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: lint
        name: Run Linters
        entry: make
        language: system
        types_or: ["swift", "objective-c", "objective-c++", "c", "c++"]
        args:
          - "lint-staged"

Remove extra ","
  Package@swift-5.9.swift
Due: format-swift

Fix formatting in expected_package_diff.patch by removing an extra comma in linkerSettings
  Utils/expected_package_diff.patch
Due: none

Fix build issue with SPM
  Package@swift-5.9.swift
Due: format-swift

Update Package.swift
  Package.swift
  Utils/expected_package_diff.patch
Due: format-swift

chore(ci): Bump SDK size limit to unblock PRs
  Tests/Perf/metrics-test.yml
Due: none

Update file filters
  .github/file-filters.yml
Due: none

Add visionOS validation job
  .github/workflows/release.yml
  Samples/visionOS-SPM/.gitignore
  Samples/visionOS-SPM/Package.swift
  Samples/visionOS-SPM/Sources/visionOS-SPM/ContentView.swift
  Samples/visionOS-SPM/Sources/visionOS-SPM/main.swift
Due: format-swift

Remove SentryVisionOS helper to trigger a failed build
  Package@swift-5.9.swift
Due: format-swift

chore(ci): Bump SDK size limit to unblock PRs (#6091)
  .github/file-filters.yml
  Tests/Perf/metrics-test.yml
Due: none

Convert `SentryScreenFrames` to Swift
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/TestFramesTracker.swift
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryContinuousProfiler.mm
  Sources/Sentry/Profiling/SentryProfiledTracerConcurrency.mm
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.h
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.m
  Sources/Sentry/SentryFramesTracker.m
  Sources/Sentry/SentryProfiler.mm
  Sources/Sentry/SentryScreenFrames.m
  Sources/Sentry/SentrySpan.m
  Sources/Sentry/SentryTracer.m
  Sources/Sentry/include/HybridPublic/PrivateSentrySDKOnly.h
  Sources/Sentry/include/HybridPublic/SentryScreenFrames.h
  Sources/Sentry/include/SentryProfileTimeseries.h
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Tests/SentryProfilerTests/SentryProfilerTests.mm
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

ref: Convert SentryClientReport to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClientReport.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryClientReport.h
  Sources/Swift/Tools/SentryClientReport.swift
Due: format-swift

ref: Convert SentryClientReport to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClientReport.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryClientReport.h
  Sources/Swift/Tools/SentryClientReport.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix tests
  Sources/Sentry/SentryHttpTransport.m
  Sources/Swift/Tools/SentryClientReport.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Protocol/SentryClientReportTests.swift
Due: format-swift

Fix Changelog: Move PR 5800 to unreleased
  CHANGELOG.md
Due: format-markdown

Fix Changelog: Move PR 5800 to unreleased (#6097)
  CHANGELOG.md
Due: format-markdown

Refactor: Update SwiftLint rules and configuration
  .swiftlint.yml
  Tests/.swiftlint.yml
Due: none

fix setup and add sentry sdk start
  Samples/iOS-Swift/iOS-Swift-ShareExtension.xcconfig
  Samples/iOS-Swift/iOS-Swift-ShareExtension/Info.plist
  Samples/iOS-Swift/iOS-Swift-ShareExtension/ShareViewController.swift
  Samples/iOS-Swift/iOS-Swift.yml
Due: format-swift

fix codesigning setup
  fastlane/Fastfile
Due: none

fix setup
  fastlane/Fastfile
Due: none

fix debugv9 setup
  .github/workflows/build.yml
  .gitignore
  Samples/iOS-Swift/iOS-Swift-ShareExtension.xcconfig
  Samples/iOS-Swift/iOS-Swift.yml
  fastlane/Fastfile
Due: none

fix info.plist
  Samples/iOS-Swift/iOS-Swift-ShareExtension/Info.plist
  fastlane/Fastfile
Due: none

revert build script
  .github/workflows/build.yml
Due: none

comment
  Tests/SentryTests/Integrations/SentryCrash/SentryCrashReportTests.swift
Due: format-swift

chore(workflows): Add workflow to track all PRs as issues (#6064)
  .github/workflows/create-issue-for-unreferenced-pr.yml
Due: none

fix GH actions job name
  .github/workflows/test.yml
Due: none

chore: Update SwiftLint rules and configuration (#6098)
  .swiftlint.yml
  Tests/.swiftlint.yml
Due: none

Update Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHttpTransport.m
Due: none

style
  Sources/Sentry/SentryHttpTransport.m
Due: none

ref: Convert SentryClientReport to Swift (#6095)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryClientReport.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/include/SentryClientReport.h
  Sources/Swift/Tools/SentryClientReport.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Protocol/SentryClientReportTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

Fix build on watchOS
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.h
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.m
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
Due: format-swift

Import SentryDefines
  Sources/Sentry/Profiling/SentryProfilingScreenFramesHelper.h
Due: none

Fix build error on `iOS-Swift`
  Samples/iOS-Swift/iOS-Swift/ExtraViewController.swift
Due: format-swift

Add @_spi(Private) to `SentryFrameInfoTimeSeries`
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
Due: format-swift

ref: Convert SentryReplayRecording serialization to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/SentrySerialization.h
  Sources/Swift/Helper/SentrySerialization+ReplayRecording.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift

Fix build on Xcode 14
  Sources/Swift/Core/Integrations/FramesTracking/SentryScreenFrames.swift
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

ref: Convert SentryReplayRecording serialization to Swift (#6100)
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/include/SentrySerialization.h
  Sources/Swift/Helper/SentrySerialization+ReplayRecording.swift
  Tests/SentryTests/Helper/SentrySerializationTests.swift
Due: format-swift

Fix Typo
  Tests/SentryTests/Swift/Profiling/SentryScreenFramesTests.swift
Due: format-swift

ref: Convert SentryEnvelopeItemType to Swift
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/Profiling/SentryProfilerSerialization.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryDataCategoryMapper.m
  Sources/Sentry/SentryEnvelope.m
  Sources/Sentry/SentryHttpTransport.m
  Sources/Sentry/SentryHub.m
  Sources/Sentry/SentryMigrateSessionInit.m
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySerialization.m
  Sources/Sentry/SentrySpotlightTransport.m
  Sources/Sentry/SentryTransaction.m
  Sources/Sentry/include/HybridPublic/SentryEnvelopeItemType.h
  Sources/Swift/Helper/SentryEnvelopeItemType.swift
  Tests/SentryTests/Helper/SentryFileManagerTests.swift
  Tests/SentryTests/Integrations/Feedback/SentryFeedbackTests.swift
  Tests/SentryTests/Networking/RateLimits/SentryEnvelopeRateLimitTests.swift
  Tests/SentryTests/Networking/SentryHttpTransportTests.swift
  Tests/SentryTests/Networking/SentrySpotlightTransportTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentrySDKTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
  Tests/SentryTests/Transaction/SentrySpanTests.swift
Due: format-swift

Rename SentryVisionHelper to SentryCppHelper and add add it to every platform
  Package.swift
  Package@swift-5.9.swift
  Sources/SentryCppHelper/SentryCppHelper.swift
  Utils/expected_package_diff.patch
Due: format-swift

Exclude SentryCppHelper
  Package.swift
  Package@swift-5.9.swift
Due: format-swift
