Repository getsentry/sentry-cocoa: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-swift, format-markdown, format-json, format-yaml

format-swift:
  name: Format Swift
  entry: make
  language: system
  args:
  - format-swift-staged

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

chore(deps): bump actions/checkout from 5 to 6 (#6888)
  .github/workflows/api-stability.yml
  .github/workflows/assemble-xcframework-variant.yml
  .github/workflows/auto-update-tools.yml
  .github/workflows/benchmarking.yml
  .github/workflows/build-xcframework-variant-slices.yml
  .github/workflows/build.yml
  .github/workflows/changes-in-high-risk-code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/fast-pr-checks.yml
  .github/workflows/integration-test.yml
  .github/workflows/lint-clang-formatting.yml
  .github/workflows/lint-cocoapods-specs.yml
  .github/workflows/lint-dprint-formatting.yml
  .github/workflows/lint-shellcheck-formatting.yml
  .github/workflows/lint-swift-formatting.yml
  .github/workflows/lint-swiftlint-formatting.yml
  .github/workflows/lint-xcode-analyze.yml
  .github/workflows/objc-conversion-analysis.yml
  .github/workflows/release-upload-xcframework.yml
  .github/workflows/release.yml
  .github/workflows/size-analysis.yml
  .github/workflows/test-cross-platform.yml
  .github/workflows/test.yml
  .github/workflows/testflight.yml
  .github/workflows/ui-tests-common.yml
  .github/workflows/ui-tests-critical.yml
  .github/workflows/ui-tests.yml
  .github/workflows/unit-test-common.yml
  .github/workflows/version-bump-util.yml
Due: none

Remove unused code
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
Due: format-swift

chore: Changelog for 9.0.0-rc.1
  CHANGELOG.md
Due: format-markdown

chore: Changelog for 9.0.0-rc.1 (#6894)
  CHANGELOG.md
Due: format-markdown

Change the `http.response.status_code` for spans to int
  Sources/Sentry/SentryNetworkTracker.m
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerIntegrationTestServerTests.swift
  Tests/SentryTests/Integrations/Performance/Network/SentryNetworkTrackerTests.swift
Due: format-swift

add cl entry
  CHANGELOG.md
Due: format-markdown

fix test
  Samples/iOS-Swift/iOS-Swift/ViewControllers/TraceTestViewController.swift
Due: format-swift

release: 9.0.0-rc.1
  .github/last-release-runid
  CHANGELOG.md
  Package.swift
  Sentry.podspec
  SentryPrivate.podspec
  SentrySwiftUI.podspec
  Sources/Sentry/SentryMeta.m
  Tests/HybridSDKTest/HybridPod.podspec
Due: format-swift, format-markdown

ref: Remove unused session.user
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionInternal.m
  Sources/Sentry/include/SentrySessionInternal.h
  Sources/Swift/SentrySession.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Protocol/SentrySession+Equality.m
  Tests/SentryTests/SentrySessionTests.swift
Due: format-swift

Add WIP for setting up window presenter
  Samples/SPM/SPM/ContentView.swift
  Samples/SPM/SPM/SPMTestApp.swift
  Sources/Sentry/SentryFeedbackAPIHelper.m
  Sources/Sentry/include/SentryFeedbackAPIHelper.h
  Sources/Swift/Integrations/UserFeedback/SentryFeedbackAPI.swift
Due: format-swift

Remove unused code (#6892)
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
Due: format-swift

Flush logs when app terminates or resigns active
  Sentry.xcodeproj/project.pbxproj
  SentryTestUtils/Sources/TestClient.swift
  Sources/Sentry/SentryBaseIntegration.m
  Sources/Sentry/SentryClient.m
  Sources/Sentry/SentryLogFlushIntegration.m
  Sources/Sentry/SentrySDKInternal.m
  Sources/Sentry/include/HybridPublic/SentryBaseIntegration.h
  Sources/Sentry/include/SentryClient+Private.h
  Sources/Sentry/include/SentryLogFlushIntegration.h
  Sources/Swift/AppState/SentryAppState.swift
  Sources/Swift/AppState/SentryAppStateListener.swift
  Sources/Swift/AppState/SentryAppStateManager.swift
  Tests/SentryTests/Helper/SentryAppStateManagerTests.swift
  Tests/SentryTests/Integrations/Logs/SentryLogFlushIntegrationTests.swift
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: format-swift

fix deadlock issue
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/SentryLogBatcherTests.swift
Due: format-swift

add tests for sentrycrashct_swap_cxa_throw
  Sources/Sentry/SentryAsyncSafeLog.h
  Tests/SentryTests/SentryCrash/SentryCrashCxaThrowSwapper_Tests.mm
Due: none

fix: Move file manager URL constructing to Swift
  CHANGELOG.md
  Sources/Sentry/SentryFileManagerHelper.m
  Sources/Sentry/include/SentryFileManagerHelper.h
  Sources/Swift/Helper/SentryFileManager.swift
Due: format-swift, format-markdown

chore: Add integrations documentation to developer-docs section
  develop-docs/INTEGRATIONS.md
Due: format-markdown

add tests for rebind_with_section
  Tests/SentryTests/SentryCrash/SentryCrashCxaThrowSwapper_Tests.mm
Due: none

fix: UIWindow being possibly accesed from a background thread in SentryCrashWrapper
  Sources/Sentry/SentryDependencyContainerSwiftHelper.m
  Sources/Sentry/include/SentryDependencyContainerSwiftHelper.h
  Sources/Swift/Helper/SentryApplication.swift
  Sources/Swift/Helper/SentryApplicationExtensions.swift
  Sources/Swift/SentryCrash/SentryCrashWrapper.swift
Due: format-swift

Update changelog
  CHANGELOG.md
Due: format-markdown

chore: Cleanup unused test integration
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

fix: Ensure SentrySDK.close resets everything on the main thread
  Sources/Sentry/SentrySDKInternal.m
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

chore: Cleanup unused test integration (#6906)
  Tests/SentryTests/SentrySDKInternalTests.swift
Due: format-swift

Fix test
  Tests/SentryTests/TestSentryUIApplication.swift
Due: format-swift

fix: Use correct parsing for stackframes
  Sentry.xcodeproj/project.pbxproj
  Sources/Sentry/SentryFormatterSwift.m
  Sources/Sentry/SentryMetricKitIntegration.m
  Sources/Sentry/include/SentryFormatterSwift.h
  Sources/Sentry/include/SentryPrivate.h
  Sources/Swift/Core/MetricKit/SentryMXCallStackTree.swift
Due: format-swift

rename group name
  Sentry.xcodeproj/project.pbxproj
  Tests/SentryTests/Integrations/Log/SentryLogFlushIntegrationTests.swift
Due: format-swift

move into existing confitional block
  Sources/Sentry/SentrySDKInternal.m
Due: none

Use dispatch_queue_set_specific/dispatch_get_specific to get corrrect queue
  CHANGELOG.md
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
  Sources/Sentry/include/_SentryDispatchQueueWrapperInternal.h
  Sources/Swift/Helper/SentryDispatchQueueWrapper.swift
  Sources/Swift/Tools/SentryLogBatcher.swift
  Tests/SentryTests/Networking/SentryDispatchQueueWrapperTests.m
Due: format-swift, format-markdown

cleanup queu specific key
  Sources/Sentry/_SentryDispatchQueueWrapperInternal.m
Due: none

check client for nil
  Sources/Sentry/SentryLogFlushIntegration.m
Due: none

ref: Remove unused session.user (#6897)
  Sources/Sentry/SentryScope.m
  Sources/Sentry/SentrySessionInternal.m
  Sources/Sentry/include/SentrySessionInternal.h
  Sources/Swift/SentrySession.swift
  Tests/SentryTests/Integrations/Session/SentrySessionTrackerTests.swift
  Tests/SentryTests/Protocol/SentrySession+Equality.m
  Tests/SentryTests/SentrySessionTests.swift
Due: format-swift

add reproducer sample
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

ref: Move session replay integration out of hybrid SDK
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentrySessionReplayHybridSDK.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentrySessionReplayHybridSDK.h
  Sources/Sentry/include/SentryBaseIntegration.h
  Sources/Sentry/include/SentryIntegrationProtocol.h
  Sources/Sentry/include/SentrySessionReplayIntegration.h
Due: none

ref: Move session replay integration out of hybrid SDK
  Sentry.xcodeproj/project.pbxproj
  Sources/Resources/Sentry.modulemap
  Sources/Sentry/SentrySessionReplayHybridSDK.m
  Sources/Sentry/SentrySessionReplayIntegration.m
  Sources/Sentry/include/HybridPublic/SentrySessionReplayHybridSDK.h
  Sources/Sentry/include/SentryBaseIntegration.h
  Sources/Sentry/include/SentryIntegrationProtocol.h
  Sources/Sentry/include/SentrySessionReplayIntegration.h
  Tests/SentryTests/SentryTests-Bridging-Header.h
Due: none

fix: implement transaction tags getter/setter for beforeSend
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
  Sources/Sentry/SentryTransaction.m
  Tests/SentryTests/SentryClientTests.swift
  Tests/SentryTests/Transaction/SentryTransactionTests.swift
Due: format-swift

docs: update tags property documentation for transactions
  CHANGELOG.md
  Sources/Sentry/Public/SentryEvent.h
Due: format-markdown

revert debug code from SentrySDKWrapper
  Samples/SentrySampleShared/SentrySampleShared/SentrySDKWrapper.swift
Due: format-swift

Use `dispatchSyncOnMainQueue` + update startTimestamp inside the block
  Sources/Sentry/SentrySDKInternal.m
Due: none

Use `UIWindow.screen.bounds`
  Sources/Swift/Helper/SentryApplicationExtensions.swift
Due: format-swift

Path conditions:
  format-swift: any of: \.swift$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-json: any of: ^.*\.json$ and \.json$ and not (^sdk_api.*\.json$)
  format-yaml: any of: ^.*\.{yaml,yml}$ and \.(yaml|yml)$
